Repository hashicorp/packer, pull requests merged in 2018-06, with the labels that each got.

#6343 Update puppet provisioner docs
  website/source/docs/provisioners/puppet-server.html.md
Labels: bug, docs, provisioner/puppet

#6336 install doc : avoid name conflict
  website/source/docs/install/index.html.md
Labels: docs, enhancement, pr/needs-review

#6307 add qemu templates
  website/source/community-tools.html.md
Labels: enhancement, website

#4538 builder/vmware: correctly default export format to ovf
  builder/vmware/iso/builder.go
  builder/vmware/iso/step_export.go
Labels: builder/vmware

#4663 Debug prompt between provisioner scripts
  packer/build.go
  packer/provisioner.go
  packer/provisioner_test.go
Labels: core, enhancement

#6230 use xargs to check for formatting
  Makefile
  scripts/gofmtcheck.sh
Labels: core

#6322 Remove the VC product line
  builder/scaleway/builder_test.go
  website/source/docs/builders/scaleway.html.md
Labels: builder/scaleway, docs, enhancement

#6375 Fix typo in updated install doc command: enc -> env
  website/source/intro/getting-started/install.html.md
Labels: bug, docs

#6377 Update info on format of the credentials file
  website/source/docs/builders/amazon.html.md
Labels: docs, enhancement

#6415 Fixes VMWare Builder issue regarding DHCP-less NAT networks.
  builder/vmware/common/driver.go
Labels: bug, builder/vmware

#6407 Pass context into OCI client
  builder/oracle/oci/artifact.go
  builder/oracle/oci/driver.go
  builder/oracle/oci/driver_mock.go
  builder/oracle/oci/driver_oci.go
  builder/oracle/oci/step_create_instance.go
  builder/oracle/oci/step_get_default_credentials.go
  builder/oracle/oci/step_image.go
  builder/oracle/oci/step_instance_info.go
Labels: builder/oracle-oci, enhancement

#6340 Add new post processor googlecompute-import
  command/plugin.go
  post-processor/compress/notes.txt
  post-processor/compress/post-processor.go
  post-processor/compress/tar_fix.go
  post-processor/compress/tar_fix_go110.go
  post-processor/googlecompute-import/artifact.go
  post-processor/googlecompute-import/artifact_test.go
  post-processor/googlecompute-import/post-processor.go
  vendor/google.golang.org/api/gensupport/go18.go
  vendor/google.golang.org/api/gensupport/media.go
  vendor/google.golang.org/api/gensupport/not_go18.go
  vendor/google.golang.org/api/gensupport/send.go
  vendor/google.golang.org/api/storage/v1/storage-api.json
  vendor/google.golang.org/api/storage/v1/storage-gen.go
  vendor/vendor.json
  website/source/docs/post-processors/googlecompute-import.html.md
Labels: builder/google, new-plugin-contribution

#6292 build: Remove old versions of Go on Travis CI
  .travis.yml
Labels: build
