Repository hashicorp/packer, pull requests merged in 2018-03, with the labels that each got.

#5944 Add support for optionally building Azure VMs with additional disks.
  builder/azure/arm/artifact.go
  builder/azure/arm/artifact_test.go
  builder/azure/arm/builder.go
  builder/azure/arm/capture_template.go
  builder/azure/arm/capture_template_test.go
  builder/azure/arm/config.go
  builder/azure/arm/config_test.go
  builder/azure/arm/step_delete_additional_disks.go
  builder/azure/arm/step_delete_additional_disks_test.go
  builder/azure/arm/step_get_additional_disks.go
  builder/azure/arm/step_get_additional_disks_test.go
  builder/azure/arm/template_factory.go
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment11.approved.json
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment12.approved.json
  builder/azure/arm/template_factory_test.go
  builder/azure/common/constants/stateBag.go
  builder/azure/common/template/template.go
  builder/azure/common/template/template_builder.go
  builder/azure/common/template/template_builder_test.TestBuildWindows01.approved.json
  builder/azure/common/template/template_builder_test.TestBuildWindows02.approved.json
  builder/azure/common/template/template_builder_test.go
  website/source/docs/builders/azure.html.md
Labels: builder/azure

#5968 azure: correct function name spelling
  builder/azure/arm/artifact.go
Labels: builder/azure

#5974 azure: better error message
  builder/azure/arm/config.go
Labels: builder/azure

#5967 azure: fix commands, improve UX
  contrib/azure-setup.sh
Labels: builder/azure

#5928 Builder GoogleCompute: Allows to specify GCE service account build VM
  builder/googlecompute/config.go
  builder/googlecompute/driver.go
  builder/googlecompute/driver_gce.go
  builder/googlecompute/step_create_instance.go
  website/source/docs/builders/googlecompute.html.md
Labels: builder/google, enhancement

#5992 builder/docker: Small doc update
  website/source/docs/builders/docker.html.md
Labels: builder/docker, docs

#5973 try fixing powershell env var script which was breaking with cygwin
  provisioner/powershell/provisioner.go
  provisioner/powershell/provisioner_test.go
Labels: provisioner/powershell, windows-guest

#5987 send multibyte scancodes accurately to virtualbox
  builder/virtualbox/common/step_type_boot_command.go
Labels: builder/virtualbox, waiting-reply

#6005 azure: support concurrent deployments in the same resource group
  builder/azure/arm/TestVirtualMachineDeployment05.approved.txt
  builder/azure/arm/builder.go
  builder/azure/arm/config.go
  builder/azure/arm/template_factory.go
  builder/azure/arm/template_factory_test.TestPlanInfo01.approved.json
  builder/azure/arm/template_factory_test.TestPlanInfo02.approved.json
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment03.approved.json
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment04.approved.json
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment05.approved.json
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment06.approved.json
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment07.approved.json
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment08.approved.json
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment09.approved.json
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment10.approved.json
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment11.approved.json
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment12.approved.json
  builder/azure/arm/tempname.go
  builder/azure/arm/tempname_test.go
  builder/azure/common/template/template_builder.go
  builder/azure/common/template/template_builder_test.TestBuildLinux00.approved.json
  builder/azure/common/template/template_builder_test.TestBuildLinux01.approved.json
  builder/azure/common/template/template_builder_test.TestBuildLinux02.approved.json
  builder/azure/common/template/template_builder_test.TestBuildWindows00.approved.json
  builder/azure/common/template/template_builder_test.TestBuildWindows01.approved.json
  builder/azure/common/template/template_builder_test.TestBuildWindows02.approved.json
  builder/azure/common/template/template_parameters.go
  website/source/docs/builders/azure.html.md
Labels: builder/azure

#6009 fixing marketplace sample
  examples/azure/marketplace_plan_info.json
Labels: builder/azure

#6003 azure: respect -force for managed image deletion
  builder/azure/arm/builder.go
Labels: builder/azure

#6014 add note that packer doesn't support windows containers
  website/source/docs/builders/docker.html.md
Labels: builder/docker, docs

#6019 Fix aws credentials
  builder/amazon/common/access_config.go
  website/source/docs/builders/amazon.html.md
Labels: bug, builder/amazon

#6018 Update the deprecation date
  website/source/docs/commands/push.html.md
  website/source/docs/post-processors/atlas.html.md
  website/source/docs/templates/push.html.md
Labels: docs

#6036 add clarity to error message in vsphere-template postprocessor
  post-processor/vsphere-template/post-processor.go
Labels: docs, enhancement

#6040 azure: unit tests for naming temp resources
  builder/azure/arm/config_test.go
Labels: builder/azure

#6023 Adding details to PACKER_BUILD_NAME to have it clear in the documentation how the variable is created
  website/source/docs/post-processors/shell-local.html.md
  website/source/docs/provisioners/powershell.html.md
  website/source/docs/provisioners/shell.html.md
  website/source/docs/provisioners/windows-shell.html.md
Labels: docs

#5985 Handle multiple devices per VMware network type
  builder/vmware/common/driver.go
  builder/vmware/common/driver_mock.go
  builder/vmware/common/driver_parser.go
  builder/vmware/iso/step_create_vmx.go
Labels: bug, builder/vmware

#5893 Allow using private ip addresses for oracle oci builder
  builder/oracle/oci/config.go
  builder/oracle/oci/config_test.go
  builder/oracle/oci/driver_mock.go
  builder/oracle/oci/driver_oci.go
  builder/oracle/oci/step_instance_info.go
  builder/oracle/oci/step_instance_info_test.go
  builder/oracle/oci/step_test.go
  website/source/docs/builders/oracle-oci.html.md
Labels: builder/oracle-oci, enhancement

#6033 handle errors uploading files more gracefully
  communicator/ssh/communicator.go
  provisioner/shell/provisioner.go
Labels: bug, communicator/ssh

#5998 allow users of AWS to use the dynamically-generated admin password wh…
  builder/amazon/common/step_get_password.go
  common/step_http_server.go
  helper/common/shared_state.go
  provisioner/powershell/provisioner.go
  website/source/docs/provisioners/powershell.html.md
Labels: builder/amazon, communicator/winrm, enhancement

#6038 [WIP] LXD fixes and feature requests
  builder/lxd/config.go
  builder/lxd/step_lxd_launch.go
Labels: builder/lxd, enhancement

#6053 freebsd > 9 required note.
  website/source/downloads.html.erb
Labels: website

#6065 use InventoryDirectory as inventory when set
  provisioner/ansible/provisioner.go
Labels: bug, provisioner/ansible-remote

#6080 builder/qemu: Avoid warning when using raw format
  builder/qemu/step_resize_disk.go
Labels: builder/qemu, enhancement

#6067 VirtualBox fixes
  builder/virtualbox/common/step_type_boot_command.go
Labels: bug, builder/virtualbox

#6056 Modify ebssurrogate builder to snapshot all launch devices
  builder/amazon/ebssurrogate/builder.go
  builder/amazon/ebssurrogate/root_block_device.go
  builder/amazon/ebssurrogate/step_register_ami.go
  builder/amazon/ebssurrogate/step_register_ami_test.go
  builder/amazon/ebssurrogate/step_snapshot_new_root.go
  builder/amazon/ebssurrogate/step_snapshot_volumes.go
Labels: bug, builder/amazon

#6084 Set tar header format to tar.FormatGNU
  post-processor/vagrant/util.go
Labels: bug, post-processor/vagrant

#6085 conditionally set tar header on go >= 1.10
  post-processor/vagrant/tar_fix.go
  post-processor/vagrant/tar_fix_go110.go
  post-processor/vagrant/util.go
Labels: build-failure, core
