Repository hashicorp/packer, pull requests merged in 2018-12, with the labels that each got.

#7071 Ignore an already-scheduled reboot
  provisioner/windows-restart/provisioner.go
Labels: provisioner/windows-restart

#7103 Add note about using ssh_interface for WinRM
  website/source/docs/templates/communicator.html.md
Labels: docs

#7115 feat(provisioner/ansible): Provide extra SSH args
  provisioner/ansible-local/provisioner.go
  provisioner/ansible/provisioner.go
Labels: community-supported plugin, provisioner/ansible-remote

#7078 Elevated support for puppet-* & chef-client provisioners
  packer/provisioner_mock.go
  provisioner/chef-client/provisioner.go
  provisioner/elevated.go
  provisioner/elevated_test.go
  provisioner/powershell/elevated.go
  provisioner/powershell/provisioner.go
  provisioner/powershell/provisioner_test.go
  provisioner/puppet-masterless/provisioner.go
  provisioner/puppet-server/provisioner.go
  website/source/docs/provisioners/chef-client.html.md
  website/source/docs/provisioners/puppet-masterless.html.md
  website/source/docs/provisioners/puppet-server.html.md
Labels: enhancement, provisioner/puppet, windows-guest

#7124 clarify use of split function in docs
  website/source/docs/templates/engine.html.md
Labels: core, docs, enhancement

#7127 Added change support to docker-import post processor.
  builder/docker/driver.go
  builder/docker/driver_docker.go
  builder/docker/driver_mock.go
  post-processor/docker-import/post-processor.go
  website/source/docs/post-processors/docker-import.html.md
Labels: builder/docker, community-supported plugin
