Repository hashicorp/packer, pull requests merged in 2018-09, with the labels that each got.

#6411 add support for disk compaction to esx5 builder
  builder/vmware/iso/builder.go
  builder/vmware/iso/driver_esx5.go
  command/fix.go
  fix/fixer.go
  fix/fixer_vmware_compaction.go
  fix/fixer_vmware_compaction_test.go
  website/source/docs/builders/vmware-iso.html.md.erb
Labels: builder/vmware-esxi, enhancement

#6674 fix docker email fixer
  command/fix_test.go
  fix/fixer_docker_email.go
  fix/fixer_pp_manifest_filename.go
  fix/fixer_pp_manifest_filename_test.go
  fix/fixer_pp_vagrant_override.go
  fix/fixer_pp_vagrant_override_test.go
  fix/helpers.go
Labels: bug, core

#5366 Fix recurring bug #3878, make destination ESXi host selectable in con…
  post-processor/vsphere/post-processor.go
  website/source/docs/post-processors/vsphere.html.md
Labels: bug, post-processor/vsphere

#6701 OpenStack: SSH keypair is not attached
  builder/openstack/builder.go
  builder/openstack/step_run_source_server.go
Labels: bug, builder/openstack, regression

#6688 support ssh with private ip address
  builder/alicloud/ecs/builder.go
  builder/alicloud/ecs/run_config_test.go
  builder/alicloud/ecs/step_config_eip.go
  builder/alicloud/ecs/step_config_public_ip.go
  website/source/docs/builders/alicloud-ecs.html.md
Labels: builder/alicloud, enhancement, need-documentation

#6719 support adding tags to image
  builder/alicloud/ecs/builder.go
  builder/alicloud/ecs/builder_acc_test.go
  builder/alicloud/ecs/image_config.go
  builder/alicloud/ecs/image_config_test.go
  builder/alicloud/ecs/step_create_tags.go
  website/source/docs/builders/alicloud-ecs.html.md
Labels: builder/alicloud, enhancement

#6720 fix attaching keypair error due to missing keypair name
  builder/alicloud/ecs/builder.go
  builder/alicloud/ecs/builder_acc_test.go
  builder/alicloud/ecs/step_attach_keypair.go
  builder/alicloud/ecs/step_check_source_image.go
  builder/alicloud/ecs/step_config_vpc.go
  builder/alicloud/ecs/step_config_vswitch.go
  builder/alicloud/ecs/step_create_image.go
  builder/alicloud/ecs/step_create_instance.go
  builder/alicloud/ecs/step_delete_images_snapshots.go
  builder/alicloud/ecs/step_mount_disk.go
  builder/alicloud/ecs/step_pre_validate.go
Labels: bug, builder/alicloud, regression

#6729 builder/digitalocean: pass config as a pointer so that ssh configuration is correctly set
  builder/digitalocean/builder.go
  builder/digitalocean/step_create_droplet.go
  builder/digitalocean/step_droplet_info.go
  builder/digitalocean/step_power_off.go
  builder/digitalocean/step_shutdown.go
  builder/digitalocean/step_snapshot.go
Labels: bug, builder/digitalocean

#6512 Use DescribeRegions for aws region validation
  builder/amazon/chroot/builder_test.go
  builder/amazon/common/access_config.go
  builder/amazon/common/access_config_test.go
  builder/amazon/common/ami_config.go
  builder/amazon/common/ami_config_test.go
  builder/amazon/common/regions.go
  builder/amazon/ebs/builder_test.go
  builder/amazon/ebsvolume/builder_test.go
  builder/amazon/instance/builder_test.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/ec2iface/interface.go
  vendor/vendor.json
Labels: builder/amazon, enhancement

#6702 Add disk_format option for OpenStack builder
  builder/openstack/builder.go
  builder/openstack/image_config.go
  builder/openstack/step_create_image.go
  website/source/docs/builders/openstack.html.md
Labels: builder/openstack, enhancement

#6751 WIP: openstack: use source_image_name to find UUID
  builder/openstack/builder.go
  builder/openstack/step_create_volume.go
  builder/openstack/step_run_source_server.go
  builder/openstack/step_source_image_info.go
Labels: bug, builder/openstack
