Repository hashicorp/packer, pull requests merged in 2018-04, with the labels that each got.

#6082 Fixing Hyper-V ISO builder CopyExportedVirtualMachine PowerShell
  common/powershell/hyperv/hyperv.go
Labels: bug, builder/hyperv

#6089 Validate destination image name.
  builder/oracle/classic/config.go
  builder/oracle/classic/config_test.go
Labels: builder/oracle-classic, enhancement

#6088 Expose more source ami data in the template
  builder/amazon/common/interpolate_build_info.go
  builder/amazon/common/interpolate_build_info_test.go
  builder/amazon/common/step_create_tags.go
  builder/amazon/common/step_modify_ami_attributes.go
  builder/amazon/common/step_run_source_instance.go
  builder/amazon/common/step_run_spot_instance.go
  builder/amazon/common/tags.go
  builder/amazon/ebsvolume/step_tag_ebs_volumes.go
  website/source/docs/builders/amazon-chroot.html.md
  website/source/docs/builders/amazon-ebs.html.md
  website/source/docs/builders/amazon-ebssurrogate.html.md
  website/source/docs/builders/amazon-ebsvolume.html.md
  website/source/docs/builders/amazon-instance.html.md
Labels: builder/amazon, enhancement

#6095 prevent panics when cleaning up resources that haven't been created.
  builder/oracle/classic/step_create_instance.go
  builder/oracle/classic/step_create_ip_reservation.go
  builder/oracle/classic/step_security.go
  builder/oracle/classic/step_snapshot.go
Labels: bug, builder/oracle-classic

#6079 add user data and user data file to oracle oci builder
  builder/oracle/oci/config.go
  builder/oracle/oci/driver_oci.go
  website/source/docs/builders/oracle-oci.html.md
Labels: builder/oracle-oci, enhancement

#6096 Fixes the DHCP lease and configuration pathfinders for VMware Player.
  builder/vmware/common/driver.go
  builder/vmware/common/driver_fusion5.go
  builder/vmware/common/driver_fusion6.go
  builder/vmware/common/driver_player5.go
  builder/vmware/common/driver_player_unix.go
  builder/vmware/common/driver_workstation9.go
Labels: bug, builder/vmware, pr/needs-review

#6107 Allow Ansible to use a custom inventory file
  provisioner/ansible/provisioner.go
  website/source/docs/provisioners/ansible.html.md
Labels: enhancement, provisioner/ansible-remote

#6113 Do 6078
  builder/azure/arm/builder.go
  builder/azure/arm/config.go
  builder/azure/arm/step_save_winrm_password.go
  website/source/docs/provisioners/powershell.html.md
Labels: builder/azure, communicator/winrm, enhancement

#6106 Add a common package for specifying useragent and adopt that everywhere
  builder/azure/arm/azure_client.go
  builder/azure/common/devicelogin.go
  builder/googlecompute/driver_gce.go
  builder/scaleway/config.go
  common/step_download.go
  helper/useragent/useragent.go
  helper/useragent/useragent_test.go
Labels: core, enhancement

#3891 Allow to upload files created on-the-fly
  provisioner/file/provisioner.go
  provisioner/file/provisioner_test.go
  website/source/docs/provisioners/file.html.md
Labels: enhancement, provisioner/file

#6111 Restrict deregistered AMIs to those owned by self.
  builder/amazon/common/step_deregister_ami.go
Labels: builder/amazon, enhancement

#6110 replace QueryEscape with url.URL hack to fix encoding of spaces
  post-processor/vsphere/post-processor.go
  post-processor/vsphere/post-processor_test.go
Labels: bug, post-processor/vsphere

#4563 builder/vmware-iso: Fail on wrong remote_type value
  builder/vmware/iso/builder.go
  builder/vmware/iso/builder_test.go
Labels: builder/vmware-esxi, enhancement

#6132 analytics script adjustments
  website/source/layouts/layout.erb
Labels: website

#6137 Azure setup.sh improvement
  contrib/azure-setup.sh
Labels: builder/azure, enhancement

#6157 update aliyungo common package
  vendor/github.com/denverdino/aliyungo/common/client.go
  vendor/github.com/denverdino/aliyungo/common/endpoint.go
  vendor/github.com/denverdino/aliyungo/common/endpoints.xml
  vendor/github.com/denverdino/aliyungo/common/regions.go
  vendor/github.com/denverdino/aliyungo/common/types.go
  vendor/vendor.json
Labels: builder/alicloud, enhancement

#6158 Add an example for FreeBSD
  examples/azure/freebsd.json
Labels: builder/azure

#5941 Adds Support to configure hyper-v disk block size
  builder/hyperv/common/driver.go
  builder/hyperv/common/driver_mock.go
  builder/hyperv/common/driver_ps_4.go
  builder/hyperv/common/step_create_vm.go
  builder/hyperv/iso/builder.go
  builder/hyperv/iso/builder_test.go
  common/powershell/hyperv/hyperv.go
  website/source/docs/builders/hyperv-iso.html.md
Labels: builder/hyperv, enhancement

#6165 Update amazon.html.md
  website/source/docs/builders/amazon.html.md
Labels: builder/amazon, docs

#6039 builder/triton: Add support to Skip TLS Verification of Triton Certificate
  builder/triton/access_config.go
  website/source/docs/builders/triton.html.md
Labels: builder/triton, enhancement

#6041 builder/openstack: Add instance_name config to OpenStack builder
  builder/openstack/builder.go
  builder/openstack/run_config.go
  website/source/docs/builders/openstack.html.md
Labels: builder/openstack, enhancement

#6074 Fix error with VMware vmx builder at compacting stage
  builder/vmware/vmx/builder.go
  builder/vmware/vmx/step_clone_vmx.go
  builder/vmware/vmx/step_clone_vmx_test.go
Labels: bug, builder/vmware

#6166 forcefully stop parallels vm.
  builder/parallels/common/driver.go
  builder/parallels/common/driver_9.go
  builder/parallels/common/step_run.go
Labels: builder/parallels, enhancement

#6178 clarify how to change google compute's firewall settings.
  website/source/docs/builders/googlecompute.html.md
Labels: builder/google, docs

#6141 fix winrm password access in google compute
  builder/googlecompute/step_create_windows_password.go
  website/source/docs/provisioners/powershell.html.md
Labels: builder/google, communicator/winrm, enhancement

#6160 Fixes for PowerShell using ssh communicator
  provisioner/powershell/provisioner.go
  provisioner/powershell/provisioner_test.go
  website/source/docs/provisioners/powershell.html.md
Labels: communicator/ssh, provisioner/powershell, regression

#6187 pass MacAddress to StepCreateVM
  builder/hyperv/iso/builder.go
Labels: bug, builder/hyperv

#5454 Autocomplete for top-level commands
  .travis.yml
  command/build.go
  command/fix.go
  command/inspect.go
  command/push.go
  command/validate.go
  main.go
  vendor/github.com/mitchellh/cli/README.md
  vendor/github.com/mitchellh/cli/autocomplete.go
  vendor/github.com/mitchellh/cli/cli.go
  vendor/github.com/mitchellh/cli/command.go
  vendor/github.com/mitchellh/cli/command_mock.go
  vendor/github.com/mitchellh/cli/ui_mock.go
  vendor/github.com/posener/complete/LICENSE.txt
  vendor/github.com/posener/complete/args.go
  vendor/github.com/posener/complete/cmd/cmd.go
  vendor/github.com/posener/complete/cmd/install/bash.go
  vendor/github.com/posener/complete/cmd/install/install.go
  vendor/github.com/posener/complete/cmd/install/utils.go
  vendor/github.com/posener/complete/cmd/install/zsh.go
  vendor/github.com/posener/complete/command.go
  vendor/github.com/posener/complete/complete.go
  vendor/github.com/posener/complete/log.go
  vendor/github.com/posener/complete/match/file.go
  vendor/github.com/posener/complete/match/match.go
  vendor/github.com/posener/complete/match/prefix.go
  vendor/github.com/posener/complete/metalinter.json
  vendor/github.com/posener/complete/predict.go
  vendor/github.com/posener/complete/predict_files.go
  vendor/github.com/posener/complete/predict_set.go
  vendor/github.com/posener/complete/readme.md
  vendor/github.com/posener/complete/test.sh
  vendor/github.com/posener/complete/utils.go
  vendor/vendor.json
  website/source/docs/commands/index.html.md
Labels: core, enhancement

#6206 builder/vmware-esxi: remove floppy files when done
  builder/vmware/iso/builder.go
  builder/vmware/iso/driver_esx5.go
  builder/vmware/iso/remote_driver.go
  builder/vmware/iso/remote_driver_mock.go
  builder/vmware/iso/step_remote_upload.go
Labels: bug, builder/vmware-esxi

#6202 builder/parallels-pvm: Add missing compaction of disks
  builder/parallels/pvm/builder.go
  builder/parallels/pvm/config.go
Labels: bug, builder/parallels

#6186 [WIP] Simplify handling of VMware disk operations by collating disk requirements and unifying treatment
  builder/vmware/common/step_compact_disk.go
  builder/vmware/common/step_compact_disk_test.go
  builder/vmware/iso/step_create_disk.go
  builder/vmware/vmx/step_clone_vmx.go
  builder/vmware/vmx/step_clone_vmx_test.go
Labels: builder/vmware, enhancement

#6213 Resolve FOUT Issue
  website/source/assets/stylesheets/_global.scss
Labels: website
