Repository hashicorp/packer, pull requests merged in 2018-11, with the labels that each got.

#6955 qemu: Add "hvf" as a libvirt driver
  post-processor/vagrant/libvirt.go
  website/source/docs/post-processors/vagrant.html.md
Labels: builder/qemu, enhancement, post-processor/vagrant

#6580 Added a sed function [WIP]
  template/interpolate/funcs.go
  template/interpolate/funcs_test.go
  vendor/github.com/rwtodd/Go.Sed/LICENSE
  vendor/github.com/rwtodd/Go.Sed/sed/conditions.go
  vendor/github.com/rwtodd/Go.Sed/sed/engine.go
  vendor/github.com/rwtodd/Go.Sed/sed/instructions.go
  vendor/github.com/rwtodd/Go.Sed/sed/lex.go
  vendor/github.com/rwtodd/Go.Sed/sed/parse.go
  vendor/github.com/rwtodd/Go.Sed/sed/substitution.go
  vendor/vendor.json
  website/source/docs/templates/engine.html.md
Labels: core, enhancement

#6946 communicator/ssh: expand user path for SSH private key
  builder/alicloud/ecs/step_config_key_pair.go
  builder/amazon/common/step_key_pair.go
  builder/azure/arm/config.go
  builder/cloudstack/step_keypair.go
  builder/googlecompute/step_create_ssh_key.go
  builder/openstack/step_key_pair.go
  builder/oracle/common/step_ssh_key_pair.go
  builder/profitbricks/step_create_ssh_key.go
  builder/scaleway/step_create_ssh_key.go
  helper/communicator/config.go
  helper/communicator/step_connect_ssh.go
  website/source/docs/templates/communicator.html.md
Labels: communicator/ssh, enhancement, need-documentation, pr/needs-review

#6925 Rename attribute api_access_key to organization_id
  builder/scaleway/builder_test.go
  builder/scaleway/config.go
  fix/fixer.go
  fix/fixer_scaleway_access_key.go
  fix/fixer_scaleway_access_key_test.go
  website/source/docs/builders/scaleway.html.md
Labels: builder/scaleway, enhancement

#6978 Add more detail for errors where the problem is that TEMPDIR is fille…
  communicator/ssh/communicator.go
Labels: communicator/ssh, docs

#6984 add new display_name template option
  builder/vmware/common/step_configure_vmx.go
  builder/vmware/common/vmx_config.go
  builder/vmware/iso/builder.go
  builder/vmware/vmx/builder.go
  website/source/docs/builders/vmware-iso.html.md.erb
  website/source/docs/builders/vmware-vmx.html.md.erb
Labels: builder/vmware-esxi, enhancement

#6982 azure builder: allow to auth with managed identities ( MSI )
  builder/azure/arm/authenticate.go
  builder/azure/arm/config.go
  builder/azure/arm/config_test.go
  website/source/docs/builders/azure-setup.html.md
  website/source/docs/builders/azure.html.md
Labels: builder/azure, docs, enhancement

#6977 Validate username/password for ovftool during prepare.
  builder/vmware/common/driver_config.go
  builder/vmware/common/step_export.go
  builder/vmware/iso/builder.go
  builder/vmware/iso/builder_test.go
  builder/vmware/iso/config.go
  builder/vmware/vmx/config.go
  website/source/docs/builders/vmware-iso.html.md.erb
  website/source/docs/builders/vmware-vmx.html.md.erb
Labels: bug, builder/vmware-esxi

#6980 Adding options for Managed Image OS Disk and Data Disk(s) snapshot(s)
  builder/azure/arm/artifact.go
  builder/azure/arm/artifact_test.go
  builder/azure/arm/azure_client.go
  builder/azure/arm/builder.go
  builder/azure/arm/config.go
  builder/azure/arm/config_test.go
  builder/azure/arm/step_snapshot_data_disks.go
  builder/azure/arm/step_snapshot_data_disks_test.go
  builder/azure/arm/step_snapshot_os_disk.go
  builder/azure/arm/step_snapshot_os_disk_test.go
  builder/azure/common/constants/stateBag.go
  website/source/docs/builders/azure.html.md
Labels: builder/azure, enhancement

#7018 Add configuration options to parallels builder to specify cpu count and memory size
  builder/parallels/common/driver_10.go
  builder/parallels/common/driver_11.go
  builder/parallels/common/driver_9.go
  builder/parallels/common/hw_config.go
  builder/parallels/common/hw_config_test.go
  builder/parallels/iso/builder.go
  builder/parallels/iso/step_create_vm.go
  website/source/docs/builders/parallels-iso.html.md.erb
Labels: builder/parallels, enhancement

#7019 Add configuration options to vmware builder to specify cpu count and memory size
  builder/vmware/common/hw_config.go
  builder/vmware/common/hw_config_test.go
  builder/vmware/iso/config.go
  builder/vmware/iso/step_create_vmx.go
  website/source/docs/builders/vmware-iso.html.md.erb
Labels: builder/vmware, enhancement

#7022 alicloud: support creating image without data disks
  builder/alicloud/ecs/builder.go
  builder/alicloud/ecs/builder_test.go
  builder/alicloud/ecs/image_config.go
  builder/alicloud/ecs/packer_helper.go
  builder/alicloud/ecs/run_config.go
  builder/alicloud/ecs/step_create_image.go
  builder/alicloud/ecs/step_create_snapshot.go
  website/source/docs/builders/alicloud-ecs.html.md
Labels: builder/alicloud, enhancement

#7040 alicloud: apply tags to relevant snapshots
  builder/alicloud/ecs/step_create_image.go
  builder/alicloud/ecs/step_create_snapshot.go
  builder/alicloud/ecs/step_create_tags.go
  website/source/docs/builders/alicloud-ecs.html.md
Labels: builder/alicloud, enhancement

#7044 make displayname docs very clear about inheritance
  website/source/docs/builders/vmware-vmx.html.md.erb
Labels: builder/vmware, docs

#5950 Option to keep ISO attached for live distributions
  builder/virtualbox/common/step_export.go
  builder/virtualbox/common/step_remove_devices.go
  builder/virtualbox/common/vboxbundle_config.go
  builder/virtualbox/common/vboxbundle_config_test.go
  builder/virtualbox/iso/builder.go
  website/source/docs/builders/virtualbox-iso.html.md.erb
Labels: builder/virtualbox, enhancement

#6969 Add a Optional Step for Creation of Snapshot to vSphere Template
  post-processor/vsphere-template/post-processor.go
  post-processor/vsphere-template/step_create_snapshot.go
  website/source/docs/post-processors/vsphere-template.html.md
Labels: post-processor/vsphere-template

#7047 add more detail to contributing.md about PR best practices
  .github/CONTRIBUTING.md
Labels: docs, enhancement

#7016 vmware: Correctly parse version for VMware Fusion Tech Preview
  builder/vmware/common/driver_fusion6.go
Labels: bug, builder/vmware

#7032 move region validation to run so that we don't break validation when no creds are set
  builder/amazon/common/access_config.go
  builder/amazon/common/ami_config.go
  builder/amazon/common/ami_config_test.go
  builder/amazon/ebs/builder.go
Labels: builder/amazon

#7054 amazon-ebs update simple example
  website/source/docs/builders/amazon-ebs.html.md
Labels: builder/amazon, docs, enhancement

#7058 Add a new breakpoint provisioner
  command/plugin.go
  provisioner/breakpoint/provisioner.go
  website/source/docs/provisioners/breakpoint.html.md
  website/source/layouts/docs.erb
Labels: enhancement, new-plugin-contribution
