Repository hashicorp/packer, pull requests merged in 2018-02, with the labels that each got.

#3417 Added support for sound, serial/parallel/usb ports, and mapping the correct network (via a couple parsers) for the VMware builder.
  builder/vmware/common/driver.go
  builder/vmware/common/driver_fusion5.go
  builder/vmware/common/driver_fusion6.go
  builder/vmware/common/driver_mock.go
  builder/vmware/common/driver_parser.go
  builder/vmware/common/driver_player5.go
  builder/vmware/common/driver_player5_windows.go
  builder/vmware/common/driver_player6.go
  builder/vmware/common/driver_player_unix.go
  builder/vmware/common/driver_workstation10.go
  builder/vmware/common/driver_workstation9.go
  builder/vmware/common/driver_workstation9_windows.go
  builder/vmware/common/driver_workstation_unix.go
  builder/vmware/common/guest_ip.go
  builder/vmware/common/guest_ip_test.go
  builder/vmware/common/host_ip.go
  builder/vmware/common/host_ip_ifconfig_test.go
  builder/vmware/common/host_ip_vmnetnatconf.go
  builder/vmware/common/host_ip_vmnetnatconf_test.go
  builder/vmware/common/ssh.go
  builder/vmware/common/step_shutdown_test.go
  builder/vmware/common/step_type_boot_command.go
  builder/vmware/iso/builder.go
  builder/vmware/iso/driver_esx5.go
  builder/vmware/iso/driver_esx5_test.go
  builder/vmware/iso/step_create_disk.go
  builder/vmware/iso/step_create_vmx.go
  builder/vmware/iso/step_create_vmx_test.go
  builder/vmware/vmx/step_clone_vmx.go
  website/source/assets/images/Adobe_PDF_file_icon_24x24.png
  website/source/docs/builders/vmware-iso.html.md
Labels: builder/vmware, enhancement, pr/needs-rebase, pr/needs-review

#5380 enable vsphere-template post processor to work with local builders
  post-processor/vsphere-template/post-processor.go
  post-processor/vsphere-template/step_mark_as_template.go
  post-processor/vsphere/artifact.go
  post-processor/vsphere/artifact_test.go
  post-processor/vsphere/post-processor.go
  website/source/docs/post-processors/vsphere-template.html.md
Labels: enhancement, post-processor/vsphere, pr/needs-rebase

#5898 Fixed a type-o in the VMWare builder when locating the dhcp configuration file on Linux.
  builder/vmware/common/driver_workstation_unix.go
Labels: bug, builder/vmware

#5899 update docs
  website/source/docs/builders/amazon-chroot.html.md
  website/source/docs/builders/amazon-ebs.html.md
  website/source/docs/builders/amazon-ebssurrogate.html.md
  website/source/docs/builders/amazon-ebsvolume.html.md
  website/source/docs/builders/amazon-instance.html.md
Labels: docs

#5906 Clarify behavior or launch_block_device_mappings.
  website/source/docs/builders/amazon-ebs.html.md
  website/source/docs/builders/amazon-ebssurrogate.html.md
  website/source/docs/builders/amazon-instance.html.md
Labels: builder/amazon, docs

#5197 Add policies to use spot instance to create the AMI
  website/source/docs/builders/amazon.html.md
Labels: bug, builder/amazon, docs, good first issue

#4659 Website/docs: make windows-restart provisioner description more accurate
  website/source/docs/provisioners/windows-restart.html.md
Labels: docs, windows-guest

#5914 Fix assume role provider
  builder/amazon/common/access_config.go
  vendor/github.com/aws/aws-sdk-go/CHANGELOG.md
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/session/env_config.go
  vendor/github.com/aws/aws-sdk-go/aws/session/session.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/api.go
  vendor/github.com/aws/aws-sdk-go/service/ecr/api.go
  vendor/github.com/aws/aws-sdk-go/service/s3/api.go
  vendor/github.com/aws/aws-sdk-go/service/sts/api.go
  vendor/vendor.json
Labels: bug, builder/amazon

#5917 remove plugin listing from readme
  README.md
Labels: docs

#5900 Reinforced the VMWare Workstation builder methodology for locating the dhcp.conf and dhcpd.leases files on Linux.
  builder/vmware/common/driver_workstation_unix.go
Labels: builder/vmware, regression

#5931 Fixes the assumption that all the VMware builder's drivers will implement a network mapper for mapping a network name to it's corresponding device.
  builder/vmware/iso/driver_esx5.go
  builder/vmware/iso/step_create_vmx.go
Labels: bug, builder/vmware-esxi

#5932 add configurable snapshot timeout to oracle-classic builder
  builder/oracle/classic/config.go
  builder/oracle/classic/step_snapshot.go
  builder/vmware/common/driver.go
  website/source/docs/builders/oracle-classic.html.md
Labels: builder/oracle-classic, enhancement

#5861 Fully qualify hyper-v powershell commands
  common/powershell/hyperv/hyperv.go
  common/powershell/powershell.go
Labels: bug, windows-guest

#5938 Fix docs on Alicloud builder
  website/source/docs/builders/alicloud-ecs.html.md
Labels: builder/alicloud, docs
