Repository hashicorp/packer, pull requests merged in 2018-10, with the labels that each got.

#6810 Updating Azure CLI commands on Azure Builder page.
  website/source/docs/builders/azure.html.md
Labels: builder/azure, docs

#6798 Consume images from Azure Shared Image Gallery
  builder/azure/arm/config.go
  builder/azure/arm/config_test.go
  builder/azure/arm/template_factory.go
  builder/azure/common/template/template_builder.go
  builder/azure/common/template/template_builder_test.TestSharedImageGallery00.approved.json
  builder/azure/common/template/template_builder_test.go
  website/source/docs/builders/azure.html.md
Labels: builder/azure

#6817 provide useful powershell error
  common/powershell/powershell.go
Labels: enhancement, provisioner/powershell

#6848 builder/googlecompute: validate startup_script_file exists
  builder/googlecompute/config.go
  builder/googlecompute/config_test.go
Labels: bug, builder/google

#6825 Updated azure setup for new Azure CLI.
  website/source/docs/builders/azure-setup.html.md
Labels: builder/azure, docs

#6865 Fix 6862
  builder/amazon/common/access_config.go
  builder/amazon/common/access_config_test.go
  builder/amazon/common/ami_config.go
  builder/amazon/common/ami_config_test.go
  builder/amazon/common/regions.go
Labels: bug, builder/amazon

#6871 Add hcloud builder
  builder/hcloud/artifact.go
  builder/hcloud/artifact_test.go
  builder/hcloud/builder.go
  builder/hcloud/builder_acc_test.go
  builder/hcloud/config.go
  builder/hcloud/step_create_server.go
  builder/hcloud/step_create_snapshot.go
  builder/hcloud/step_create_sshkey.go
  builder/hcloud/step_shutdown_server.go
  command/plugin.go
  vendor/github.com/hetznercloud/hcloud-go/LICENSE
  vendor/github.com/hetznercloud/hcloud-go/hcloud/action.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/client.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/datacenter.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/error.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/floating_ip.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/hcloud.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/helper.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/image.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/iso.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/location.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/pricing.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/schema.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/schema/action.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/schema/datacenter.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/schema/error.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/schema/floating_ip.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/schema/image.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/schema/iso.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/schema/location.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/schema/meta.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/schema/pricing.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/schema/server.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/schema/server_type.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/schema/ssh_key.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/schema/volume.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/server.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/server_type.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/ssh_key.go
  vendor/github.com/hetznercloud/hcloud-go/hcloud/volume.go
  vendor/vendor.json
  website/source/docs/builders/hetzner-cloud.html.md
Labels: new-plugin-contribution, pr/needs-review

#6374 builder/amazon: Add suppport for vpc_filter, subnet_filter, and security_group_filter
  builder/amazon/common/build_filter.go
  builder/amazon/common/run_config.go
  builder/amazon/common/step_network_info.go
  builder/amazon/common/step_run_source_instance.go
  builder/amazon/common/step_run_spot_instance.go
  builder/amazon/common/step_security_group.go
  builder/amazon/common/step_source_ami_info.go
  builder/amazon/ebs/builder.go
  builder/amazon/ebssurrogate/builder.go
  builder/amazon/ebsvolume/builder.go
  builder/amazon/instance/builder.go
  website/source/docs/builders/amazon-ebs.html.md
  website/source/docs/builders/amazon-ebssurrogate.html.md
  website/source/docs/builders/amazon-ebsvolume.html.md
  website/source/docs/builders/amazon-instance.html.md
Labels: builder/amazon, enhancement

#6891 Fix 6794
  builder/vmware/iso/driver_esx5.go
  communicator/ssh/communicator.go
Labels: bug, builder/vmware-esxi, communicator/ssh

#6893 update docs to fix windows single-quoting problem
  website/source/docs/templates/user-variables.html.md
Labels: bug, docs, windows-host

#6892 fix template-set credentials
  builder/amazon/common/access_config.go
  builder/amazon/common/ami_config.go
  builder/amazon/common/ami_config_test.go
  builder/amazon/common/regions.go
  vendor/github.com/aws/aws-sdk-go/awstesting/assert.go
  vendor/github.com/aws/aws-sdk-go/awstesting/client.go
  vendor/github.com/aws/aws-sdk-go/awstesting/custom_ca_bundle.go
  vendor/github.com/aws/aws-sdk-go/awstesting/mock/mock.go
  vendor/github.com/aws/aws-sdk-go/awstesting/util.go
  vendor/github.com/aws/aws-sdk-go/private/util/sort_keys.go
  vendor/github.com/aws/aws-sdk-go/private/util/util.go
  vendor/vendor.json
Labels: builder/amazon, regression

#6878 feat: ability to specify runtime OSs where shell-local should run
  common/shell-local/config.go
  common/shell-local/run.go
  website/source/docs/post-processors/shell-local.html.md
  website/source/docs/provisioners/shell-local.html.md
Labels: enhancement, post-processor/shell-local, provisioner/shell-local

#6854 Clarify amazon kms_key_id usage
  website/source/docs/builders/amazon-chroot.html.md
  website/source/docs/builders/amazon-ebs.html.md
  website/source/docs/builders/amazon-ebssurrogate.html.md
  website/source/docs/builders/amazon-instance.html.md
Labels: builder/amazon, docs

#6898 Reference AWS docs for valid formats for kms_key_id
  website/source/docs/builders/amazon-chroot.html.md
  website/source/docs/builders/amazon-ebs.html.md
  website/source/docs/builders/amazon-ebssurrogate.html.md
  website/source/docs/builders/amazon-ebsvolume.html.md
  website/source/docs/builders/amazon-instance.html.md
Labels: builder/amazon, docs, enhancement

#6907 Add note about Arch AUR `packer` package.
  website/source/intro/getting-started/install.html.md
Labels: docs

#6904 Fix 6890
  builder/amazon/common/access_config.go
  builder/amazon/common/access_config_test.go
  builder/amazon/common/ami_config.go
  builder/amazon/common/ami_config_test.go
  builder/amazon/common/regions.go
Labels: regression

#6922 WIP: ssh: Added a section on communication details for the SSH communicator
  website/source/docs/templates/communicator.html.md
Labels: communicator/ssh, docs, pr/needs-review

#6842 amazon: add option for skipping TLS verification
  builder/amazon/common/access_config.go
  website/source/docs/builders/amazon-chroot.html.md
  website/source/docs/builders/amazon-ebs.html.md
  website/source/docs/builders/amazon-ebssurrogate.html.md
  website/source/docs/builders/amazon-ebsvolume.html.md
  website/source/docs/post-processors/amazon-import.html.md
Labels: builder/amazon, enhancement, pr/needs-review

#6939 Ecs: add options for system disk properties
  builder/alicloud/ecs/builder_test.go
  builder/alicloud/ecs/image_config.go
  builder/alicloud/ecs/step_create_instance.go
  examples/alicloud/basic/alicloud_windows.json
  examples/alicloud/chef/alicloud.json
  examples/alicloud/jenkins/alicloud.json
  website/source/docs/builders/alicloud-ecs.html.md
Labels: builder/alicloud, enhancement

#6930 docs: Improved docs for user_script
  website/source/docs/builders/alicloud-ecs.html.md
  website/source/docs/builders/amazon-ebs.html.md
  website/source/docs/builders/amazon-ebssurrogate.html.md
  website/source/docs/builders/amazon-ebsvolume.html.md
  website/source/docs/builders/amazon-instance.html.md
  website/source/docs/builders/azure.html.md
  website/source/docs/builders/cloudstack.html.md
  website/source/docs/builders/digitalocean.html.md
  website/source/docs/builders/hetzner-cloud.html.md
  website/source/docs/builders/ncloud.html.md
  website/source/docs/builders/openstack.html.md
  website/source/docs/builders/oracle-oci.html.md
Labels: docs
