Repository hashicorp/packer, pull requests merged in 2018-07, with the labels that each got.

#6394 Add support to vmware-vmx for linked clones
  builder/vmware/common/driver.go
  builder/vmware/common/driver_fusion5.go
  builder/vmware/common/driver_fusion6.go
  builder/vmware/common/driver_mock.go
  builder/vmware/common/driver_player5.go
  builder/vmware/common/driver_player6.go
  builder/vmware/common/driver_workstation10.go
  builder/vmware/common/driver_workstation9.go
  builder/vmware/iso/driver_esx5.go
  builder/vmware/vmx/builder.go
  builder/vmware/vmx/config.go
  builder/vmware/vmx/step_clone_vmx.go
  website/source/docs/builders/vmware-vmx.html.md.erb
Labels: builder/vmware, enhancement

#6277 Only show Windows Sysprep code with validation
  website/source/docs/builders/azure.html.md
Labels: builder/azure, docs

#6424 Prevent hang on export when using VMware ISO builder on remote ESXi host
  builder/vmware/iso/builder.go
  builder/vmware/iso/builder_test.go
  website/source/docs/builders/vmware-iso.html.md.erb
Labels: bug, builder/vmware-esxi

#6439 scaleway: add 'bootscript' configuration parameter
  builder/scaleway/config.go
  builder/scaleway/step_create_server.go
  website/source/docs/builders/scaleway.html.md
Labels: builder/scaleway, enhancement

#6437 make the convert retryable in case it takes a bit to release a lock
  builder/qemu/step_convert_disk.go
Labels: bug, builder/qemu

#6451 Add feature to googlecompute-import post-processor to delete GCS files
  post-processor/googlecompute-import/post-processor.go
  website/source/docs/post-processors/googlecompute-import.html.md
Labels: enhancement, post-processor/googlecompute-import

#6454 Update Ansible provisioner docs for WinRM
  examples/ansible/connection-plugin/2.4.x/packer.py
  examples/ansible/connection-plugin/2.5.x/packer.py
  examples/ansible/connection-plugin/2.6.x/packer.py
  website/source/docs/provisioners/ansible.html.md
Labels: enhancement, provisioner/ansible-remote

#6448 ESXi: Fix failure to discover IP or export VM when 'displayName' differs from 'vm_name'
  builder/vmware/common/step_configure_vmx.go
  builder/vmware/common/step_configure_vmx_test.go
  builder/vmware/iso/driver_esx5.go
  builder/vmware/iso/step_export.go
Labels: bug, builder/vmware-esxi

#6474 Add "Undo-WinRMConfig" open source project link
  website/source/community-tools.html.md
Labels: website

#6471 Update 'packer fix' command usage output to include all fixers
  command/fix.go
Labels: enhancement

#6332 Replace home-grown waiters with aws sdk's built in waiters
  builder/amazon/chroot/step_attach_volume.go
  builder/amazon/chroot/step_create_volume.go
  builder/amazon/chroot/step_register_ami.go
  builder/amazon/chroot/step_snapshot.go
  builder/amazon/common/state.go
  builder/amazon/common/state_test.go
  builder/amazon/common/step_ami_region_copy.go
  builder/amazon/common/step_encrypted_ami.go
  builder/amazon/common/step_run_source_instance.go
  builder/amazon/common/step_run_spot_instance.go
  builder/amazon/ebs/step_create_ami.go
  builder/amazon/ebssurrogate/step_register_ami.go
  builder/amazon/ebssurrogate/step_snapshot_volumes.go
  builder/amazon/instance/step_register_ami.go
  post-processor/amazon-import/post-processor.go
  website/source/docs/builders/amazon.html.md
  website/source/docs/post-processors/amazon-import.html.md
Labels: bug, builder/amazon

#6440 Further simplify enumeration of attached disks for VMware VMX builder
  builder/vmware/vmx/step_clone_vmx.go
Labels: builder/vmware, enhancement, need-more-tests

#6488 allow absolute paths to isos in checksum files
  common/iso_config.go
Labels: core, regression

#6487 Honour cloudstack projectid
  builder/cloudstack/config.go
  builder/cloudstack/step_configure_networking.go
  builder/cloudstack/step_create_instance.go
  builder/cloudstack/step_create_template.go
  builder/cloudstack/step_keypair.go
  website/source/docs/builders/cloudstack.html.md
Labels: builder/cloudstack, enhancement

#5452 Enable tagging of spot requests
  builder/amazon/common/run_config.go
  builder/amazon/common/step_run_spot_instance.go
  builder/amazon/ebs/builder.go
  builder/amazon/ebssurrogate/builder.go
  builder/amazon/ebsvolume/builder.go
  builder/amazon/instance/builder.go
  website/source/docs/builders/amazon-ebs.html.md
  website/source/docs/builders/amazon-ebssurrogate.html.md
  website/source/docs/builders/amazon-ebsvolume.html.md
  website/source/docs/builders/amazon-instance.html.md
Labels: builder/amazon, enhancement

#6503 Expose PACKER_HTTP_ADDR environment variable for shell-local
  common/shell-local/run.go
  website/source/docs/provisioners/shell-local.html.md
Labels: enhancement

#6501 Expose ansible packer_http_addr extra var
  provisioner/ansible/provisioner.go
  website/source/docs/provisioners/ansible.html.md
Labels: enhancement, provisioner/ansible-remote

#6494 Vagrant post-processor for using a Docker image
  Makefile
  Vagrantfile
  post-processor/docker-push/post-processor.go
  post-processor/docker-push/post-processor_test.go
  post-processor/vagrant/docker.go
  post-processor/vagrant/docker_test.go
  post-processor/vagrant/post-processor.go
  website/source/docs/post-processors/vagrant.html.md
Labels: builder/docker, enhancement, need-documentation, post-processor/vagrant, pr/needs-review

#6249 qemu builder: add the 'use_backing_file' setting for QCOW2 images
  builder/qemu/builder.go
  builder/qemu/builder_test.go
  builder/qemu/step_copy_disk.go
  builder/qemu/step_create_disk.go
  website/source/docs/builders/qemu.html.md.erb
Labels: builder/qemu, enhancement, help wanted

#6423 cmd/validate: Warn users if configs need fixing
  command/validate.go
  vendor/github.com/google/go-cmp/LICENSE
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/debug_disable.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/debug_enable.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/diff.go
  vendor/github.com/google/go-cmp/cmp/internal/function/func.go
  vendor/github.com/google/go-cmp/cmp/internal/value/format.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_purego.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_unsafe.go
  vendor/github.com/google/go-cmp/cmp/internal/value/sort.go
  vendor/github.com/google/go-cmp/cmp/options.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/reporter.go
  vendor/github.com/google/go-cmp/cmp/unsafe_reflect.go
  vendor/vendor.json
Labels: core, enhancement

#6504 amazon-chroot: Add tags on CreateVolume
  builder/amazon/chroot/builder.go
  builder/amazon/chroot/step_create_volume.go
  website/source/docs/builders/amazon-chroot.html.md
Labels: builder/amazon, enhancement

#6480 azure: satisfy Azure password requirements
  builder/azure/arm/tempname.go
  builder/azure/arm/tempname_test.go
Labels: builder/azure

#6529 fix crash caused by invalid datacenter url
  post-processor/vsphere-template/post-processor.go
Labels: bug, post-processor/vsphere

#6525 don't fail if you can't find abs or relative path.
  common/iso_config.go
Labels: core, regression

#6514 amazon-ebssurrogate clean up volumes
  builder/amazon/common/step_cleanup_volumes.go
  builder/amazon/ebs/builder.go
  builder/amazon/ebssurrogate/builder.go
Labels: builder/amazon, enhancement

#6550 Fix a typo in config_test.go
  builder/oracle/oci/config_test.go
Labels: builder/oracle-oci
