Repository hashicorp/packer, pull requests merged in 2018-08, with the labels that each got.

#6558 azure: implement clean_image_name
  builder/azure/arm/config.go
  builder/azure/arm/template_funcs.go
  builder/azure/arm/template_funcs_test.go
  website/source/docs/templates/engine.html.md
Labels: builder/azure, enhancement

#6559 Emit both the host and the communicator to the user during StepConnect.
  helper/communicator/step_connect.go
Labels: core, enhancement

#6541 add ssh agent support for qemu builder
  builder/qemu/ssh.go
Labels: builder/qemu, enhancement

#5165 vmware-iso:esxi5 using ISO files uploaded by packer to datastore
  builder/vmware/iso/step_remote_upload.go
Labels: builder/vmware-esxi, enhancement

#6576 Add to vagrant post-processor support for Azure
  builder/azure/arm/artifact.go
  builder/azure/arm/artifact_test.go
  builder/azure/arm/builder.go
  packer/artifact_mock.go
  post-processor/vagrant/azure.go
  post-processor/vagrant/azure_test.go
  post-processor/vagrant/post-processor.go
  website/source/docs/post-processors/vagrant.html.md
Labels: builder/azure, enhancement, post-processor/vagrant

#6583 [docs] split go and packer dev setups
  .github/CONTRIBUTING.md
Labels: docs, enhancement

#6570 add support for ports to the OpenStack builder
  builder/openstack/builder.go
  builder/openstack/run_config.go
  builder/openstack/step_run_source_server.go
  website/source/docs/builders/openstack.html.md
Labels: builder/openstack, enhancement

#6546 Add tags to DigitalOcean Droplets
  builder/digitalocean/config.go
  builder/digitalocean/step_create_droplet.go
  website/source/docs/builders/digitalocean.html.md
Labels: builder/digitalocean, enhancement

#6585 fix security hole with ami filter
  builder/amazon/common/run_config.go
  builder/amazon/common/run_config_test.go
  website/source/docs/builders/amazon-chroot.html.md
  website/source/docs/builders/amazon-ebs.html.md
  website/source/docs/builders/amazon-ebssurrogate.html.md
  website/source/docs/builders/amazon-ebsvolume.html.md
  website/source/docs/builders/amazon-instance.html.md
Labels: builder/amazon, enhancement

#6596 OpenStack: Block Storage volumes support
  builder/openstack/access_config.go
  builder/openstack/builder.go
  builder/openstack/run_config.go
  builder/openstack/run_config_test.go
  builder/openstack/step_create_image.go
  builder/openstack/step_create_volume.go
  builder/openstack/step_detach_volume.go
  builder/openstack/step_run_source_server.go
  builder/openstack/volume.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/extensions/volumeactions/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/extensions/volumeactions/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/extensions/volumeactions/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/extensions/volumeactions/urls.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumes/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumes/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumes/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumes/urls.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumes/util.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/bootfromvolume/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/bootfromvolume/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/bootfromvolume/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/bootfromvolume/urls.go
  vendor/vendor.json
  website/source/docs/builders/openstack.html.md
Labels: builder/openstack, enhancement

#6588 Support describing and checking source image coming from marketplace
  builder/alicloud/ecs/step_check_source_image.go
Labels: builder/alicloud, enhancement

#6598 Small updates on the googlecompute website docs
  website/source/docs/builders/googlecompute.html.md
Labels: builder/google, docs

#6373 OpenStack builder: floating IP refactoring
  builder/openstack/access_config.go
  builder/openstack/builder.go
  builder/openstack/networks.go
  builder/openstack/run_config.go
  builder/openstack/run_config_test.go
  builder/openstack/ssh.go
  builder/openstack/step_allocate_ip.go
  vendor/github.com/google/uuid/CONTRIBUTING.md
  vendor/github.com/google/uuid/CONTRIBUTORS
  vendor/github.com/google/uuid/LICENSE
  vendor/github.com/google/uuid/README.md
  vendor/github.com/google/uuid/dce.go
  vendor/github.com/google/uuid/doc.go
  vendor/github.com/google/uuid/hash.go
  vendor/github.com/google/uuid/marshal.go
  vendor/github.com/google/uuid/node.go
  vendor/github.com/google/uuid/node_js.go
  vendor/github.com/google/uuid/node_net.go
  vendor/github.com/google/uuid/sql.go
  vendor/github.com/google/uuid/time.go
  vendor/github.com/google/uuid/util.go
  vendor/github.com/google/uuid/uuid.go
  vendor/github.com/google/uuid/version1.go
  vendor/github.com/google/uuid/version4.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/attachinterfaces/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/attachinterfaces/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/attachinterfaces/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/attachinterfaces/urls.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/floatingips/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/floatingips/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/floatingips/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/floatingips/urls.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/external/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/external/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/external/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/layer3/floatingips/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/layer3/floatingips/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/layer3/floatingips/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/layer3/floatingips/urls.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/networks/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/networks/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/networks/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/networks/urls.go
  vendor/vendor.json
  website/source/docs/builders/openstack.html.md
Labels: builder/openstack, enhancement, pr/needs-review

#6590 bug-fix: syntax error in createApplication()
  contrib/azure-setup.sh
Labels: bug, builder/azure

#5851 Add progress-bar to common/step_download.go
  common/config.go
  common/download.go
  common/download_test.go
  common/progress.go
  common/progress_test.go
  common/step_download.go
  common/terminal.go
  common/terminal_posix.go
  common/terminal_test.go
  common/terminal_windows.go
  provisioner/file/provisioner.go
  vendor/github.com/cheggaaa/pb/LICENSE
  vendor/github.com/cheggaaa/pb/README.md
  vendor/github.com/cheggaaa/pb/format.go
  vendor/github.com/cheggaaa/pb/pb.go
  vendor/github.com/cheggaaa/pb/pb_win.go
  vendor/github.com/cheggaaa/pb/pb_x.go
  vendor/github.com/cheggaaa/pb/pool.go
  vendor/github.com/cheggaaa/pb/pool_win.go
  vendor/github.com/cheggaaa/pb/pool_x.go
  vendor/github.com/cheggaaa/pb/reader.go
  vendor/github.com/cheggaaa/pb/runecount.go
  vendor/github.com/cheggaaa/pb/termios_bsd.go
  vendor/github.com/cheggaaa/pb/termios_sysv.go
  vendor/vendor.json
Labels: core, enhancement

#6611 deduplicate logs that stream to terminal
  log.go
Labels: core, enhancement

#6532 Cloudstack builder: adding public_ssh_port flag to use a fixed port in the forwarding rules
  builder/cloudstack/config.go
  builder/cloudstack/step_configure_networking.go
  website/source/docs/builders/cloudstack.html.md
Labels: builder/cloudstack, enhancement

#6607 GCP: min cpu platform
  builder/googlecompute/config.go
  builder/googlecompute/driver.go
  builder/googlecompute/driver_gce.go
  builder/googlecompute/step_create_instance.go
  vendor/google.golang.org/api/compute/v1/compute-api.json
  vendor/google.golang.org/api/compute/v1/compute-gen.go
  vendor/vendor.json
  website/source/docs/builders/googlecompute.html.md
Labels: builder/google, enhancement

#6490 OpenStack source image search filter
  builder/openstack/builder.go
  builder/openstack/run_config.go
  builder/openstack/run_config_test.go
  builder/openstack/step_run_source_server.go
  builder/openstack/step_source_image_info.go
  website/source/docs/builders/openstack.html.md
Labels: builder/openstack, enhancement

#6566 Complete Atlas deprecation.
  command/fix_test.go
  command/plugin.go
  command/push.go
  command/push_test.go
  command/test-fixtures/push-builds/template.json
  command/test-fixtures/push-no-name/template.json
  command/test-fixtures/push-vars/template.json
  command/test-fixtures/push-vars/vars.json
  command/test-fixtures/push/template.json
  commands.go
  contrib/zsh-completion/_packer
  post-processor/atlas/artifact.go
  post-processor/atlas/post-processor.go
  post-processor/atlas/post-processor_test.go
  post-processor/atlas/util.go
  post-processor/atlas/util_test.go
  vendor/github.com/hashicorp/atlas-go/LICENSE
  vendor/github.com/hashicorp/atlas-go/archive/archive.go
  vendor/github.com/hashicorp/atlas-go/archive/vcs.go
  vendor/github.com/hashicorp/atlas-go/v1/application.go
  vendor/github.com/hashicorp/atlas-go/v1/artifact.go
  vendor/github.com/hashicorp/atlas-go/v1/authentication.go
  vendor/github.com/hashicorp/atlas-go/v1/build_config.go
  vendor/github.com/hashicorp/atlas-go/v1/client.go
  vendor/github.com/hashicorp/atlas-go/v1/terraform.go
  vendor/github.com/hashicorp/atlas-go/v1/util.go
  vendor/vendor.json
  website/source/community-plugins.html.md
  website/source/docs/commands/index.html.md
  website/source/docs/commands/push.html.md
  website/source/docs/post-processors/artifice.html.md
  website/source/docs/post-processors/atlas.html.md
  website/source/docs/post-processors/checksum.html.md
  website/source/docs/post-processors/vagrant-cloud.html.md
  website/source/docs/templates/post-processors.html.md
  website/source/docs/templates/push.html.md
  website/source/intro/getting-started/install.html.md
  website/source/layouts/docs.erb
Labels: core

#6579 use statebag instead of SetSharedState for winRM password
  builder/amazon/common/step_get_password.go
  builder/azure/arm/config.go
  builder/azure/arm/step_save_winrm_password.go
  builder/googlecompute/step_create_windows_password.go
  builder/oracle/oci/step_get_default_credentials.go
  common/shell-local/config.go
  common/shell-local/run.go
  common/step_provision.go
  packer/provisioner.go
  packer/provisioner_mock.go
  provisioner/ansible/provisioner.go
  provisioner/ansible/provisioner_test.go
  provisioner/powershell/provisioner.go
  provisioner/powershell/provisioner_test.go
  provisioner/shell-local/provisioner.go
  provisioner/shell-local/provisioner_test.go
Labels: core, enhancement

#6534 add support for xz compression #6523
  post-processor/compress/benchmark.go
  post-processor/compress/post-processor.go
  vendor/github.com/ulikunitz/xz/LICENSE
  vendor/github.com/ulikunitz/xz/README.md
  vendor/github.com/ulikunitz/xz/TODO.md
  vendor/github.com/ulikunitz/xz/bits.go
  vendor/github.com/ulikunitz/xz/crc.go
  vendor/github.com/ulikunitz/xz/format.go
  vendor/github.com/ulikunitz/xz/fox.xz
  vendor/github.com/ulikunitz/xz/internal/hash/cyclic_poly.go
  vendor/github.com/ulikunitz/xz/internal/hash/doc.go
  vendor/github.com/ulikunitz/xz/internal/hash/rabin_karp.go
  vendor/github.com/ulikunitz/xz/internal/hash/roller.go
  vendor/github.com/ulikunitz/xz/internal/xlog/xlog.go
  vendor/github.com/ulikunitz/xz/lzma/bintree.go
  vendor/github.com/ulikunitz/xz/lzma/bitops.go
  vendor/github.com/ulikunitz/xz/lzma/breader.go
  vendor/github.com/ulikunitz/xz/lzma/buffer.go
  vendor/github.com/ulikunitz/xz/lzma/bytewriter.go
  vendor/github.com/ulikunitz/xz/lzma/decoder.go
  vendor/github.com/ulikunitz/xz/lzma/decoderdict.go
  vendor/github.com/ulikunitz/xz/lzma/directcodec.go
  vendor/github.com/ulikunitz/xz/lzma/distcodec.go
  vendor/github.com/ulikunitz/xz/lzma/encoder.go
  vendor/github.com/ulikunitz/xz/lzma/encoderdict.go
  vendor/github.com/ulikunitz/xz/lzma/fox.lzma
  vendor/github.com/ulikunitz/xz/lzma/hashtable.go
  vendor/github.com/ulikunitz/xz/lzma/header.go
  vendor/github.com/ulikunitz/xz/lzma/header2.go
  vendor/github.com/ulikunitz/xz/lzma/lengthcodec.go
  vendor/github.com/ulikunitz/xz/lzma/literalcodec.go
  vendor/github.com/ulikunitz/xz/lzma/matchalgorithm.go
  vendor/github.com/ulikunitz/xz/lzma/operation.go
  vendor/github.com/ulikunitz/xz/lzma/prob.go
  vendor/github.com/ulikunitz/xz/lzma/properties.go
  vendor/github.com/ulikunitz/xz/lzma/rangecodec.go
  vendor/github.com/ulikunitz/xz/lzma/reader.go
  vendor/github.com/ulikunitz/xz/lzma/reader2.go
  vendor/github.com/ulikunitz/xz/lzma/state.go
  vendor/github.com/ulikunitz/xz/lzma/treecodecs.go
  vendor/github.com/ulikunitz/xz/lzma/writer.go
  vendor/github.com/ulikunitz/xz/lzma/writer2.go
  vendor/github.com/ulikunitz/xz/lzmafilter.go
  vendor/github.com/ulikunitz/xz/make-docs
  vendor/github.com/ulikunitz/xz/reader.go
  vendor/github.com/ulikunitz/xz/writer.go
  vendor/vendor.json
Labels: enhancement, post-processor/compress

#6357 Added a 'split' function to parse template variables.
  packer/test-fixtures/build-split-func.json
  template/interpolate/funcs.go
  template/interpolate/funcs_test.go
  website/source/docs/templates/engine.html.md
Labels: core, enhancement

#6204 Specify "bios.hddOrder" during the CreateVMX step for the vmware-iso builder.
  builder/vmware/common/step_clean_vmx.go
  builder/vmware/iso/step_create_vmx.go
Labels: bug, builder/vmware

#6393 Various improvements to Hyper-V ISO and VMCX builders
  builder/hyperv/common/driver.go
  builder/hyperv/common/driver_mock.go
  builder/hyperv/common/driver_ps_4.go
  builder/hyperv/common/step_clone_vm.go
  builder/hyperv/common/step_collate_artifacts.go
  builder/hyperv/common/step_collate_artifacts_test.go
  builder/hyperv/common/step_compact_disk.go
  builder/hyperv/common/step_compact_disk_test.go
  builder/hyperv/common/step_create_build_dir.go
  builder/hyperv/common/step_create_build_dir_test.go
  builder/hyperv/common/step_create_external_switch.go
  builder/hyperv/common/step_create_tempdir.go
  builder/hyperv/common/step_create_vm.go
  builder/hyperv/common/step_export_vm.go
  builder/hyperv/common/step_export_vm_test.go
  builder/hyperv/common/step_mount_guest_additions.go
  builder/hyperv/common/step_mount_secondary_dvd_images.go
  builder/hyperv/common/step_output_dir_test.go
  builder/hyperv/common/step_shutdown.go
  builder/hyperv/common/step_sleep.go
  builder/hyperv/common/step_test.go
  builder/hyperv/common/step_unmount_dvddrive.go
  builder/hyperv/common/step_unmount_guest_additions.go
  builder/hyperv/common/step_unmount_secondary_dvd_images.go
  builder/hyperv/iso/builder.go
  builder/hyperv/iso/builder_test.go
  builder/hyperv/vmcx/builder.go
  builder/hyperv/vmcx/builder_test.go
  command/fix.go
  common/powershell/hyperv/hyperv.go
  fix/fixer.go
  fix/fixer_hyperv_deprecations.go
  fix/fixer_hyperv_deprecations_test.go
  fix/fixer_hyperv_vmxc_typo.go
  fix/fixer_hyperv_vmxc_typo_test.go
  website/source/docs/builders/hyperv-iso.html.md.erb
  website/source/docs/builders/hyperv-vmcx.html.md.erb
Labels: builder/hyperv, enhancement

#6629 travis builds go 1.11. remove 1.9
  .travis.yml
  builder/amazon/ebs/builder.go
  builder/amazon/ebssurrogate/builder.go
  builder/amazon/ebsvolume/builder.go
  builder/amazon/instance/builder.go
  builder/azure/arm/config.go
  builder/azure/arm/config_test.go
  builder/azure/arm/resource_resolver.go
  builder/azure/arm/template_factory_test.go
  builder/azure/common/template/template_parameters_test.go
  builder/ncloud/config_test.go
  builder/ncloud/step_create_block_storage_instance_test.go
  builder/ncloud/step_delete_block_storage_instance_test.go
  builder/ncloud/step_terminate_server_instance_test.go
  common/bootcommand/pc_xt_driver_test.go
  fix/fixer_parallels_deprecations_test.go
  fix/fixer_virtualbox_gaattach_test.go
  helper/communicator/step_connect_ssh.go
Labels: core

#6626 make reasonable tempfile default on windows
  common/shell-local/config.go
Labels: post-processor/shell-local, provisioner/shell-local, regression, windows-host

#6577 WIP: Add template function allowing user to read keys from consul.
  template/interpolate/funcs.go
  vendor/github.com/armon/go-metrics/LICENSE
  vendor/github.com/armon/go-metrics/README.md
  vendor/github.com/armon/go-metrics/const_unix.go
  vendor/github.com/armon/go-metrics/const_windows.go
  vendor/github.com/armon/go-metrics/inmem.go
  vendor/github.com/armon/go-metrics/inmem_endpoint.go
  vendor/github.com/armon/go-metrics/inmem_signal.go
  vendor/github.com/armon/go-metrics/metrics.go
  vendor/github.com/armon/go-metrics/sink.go
  vendor/github.com/armon/go-metrics/start.go
  vendor/github.com/armon/go-metrics/statsd.go
  vendor/github.com/armon/go-metrics/statsite.go
  vendor/github.com/hashicorp/consul/LICENSE
  vendor/github.com/hashicorp/consul/NOTICE.md
  vendor/github.com/hashicorp/consul/api/README.md
  vendor/github.com/hashicorp/consul/api/acl.go
  vendor/github.com/hashicorp/consul/api/agent.go
  vendor/github.com/hashicorp/consul/api/api.go
  vendor/github.com/hashicorp/consul/api/catalog.go
  vendor/github.com/hashicorp/consul/api/connect.go
  vendor/github.com/hashicorp/consul/api/connect_ca.go
  vendor/github.com/hashicorp/consul/api/connect_intention.go
  vendor/github.com/hashicorp/consul/api/coordinate.go
  vendor/github.com/hashicorp/consul/api/event.go
  vendor/github.com/hashicorp/consul/api/health.go
  vendor/github.com/hashicorp/consul/api/kv.go
  vendor/github.com/hashicorp/consul/api/lock.go
  vendor/github.com/hashicorp/consul/api/operator.go
  vendor/github.com/hashicorp/consul/api/operator_area.go
  vendor/github.com/hashicorp/consul/api/operator_autopilot.go
  vendor/github.com/hashicorp/consul/api/operator_keyring.go
  vendor/github.com/hashicorp/consul/api/operator_raft.go
  vendor/github.com/hashicorp/consul/api/operator_segment.go
  vendor/github.com/hashicorp/consul/api/prepared_query.go
  vendor/github.com/hashicorp/consul/api/raw.go
  vendor/github.com/hashicorp/consul/api/semaphore.go
  vendor/github.com/hashicorp/consul/api/session.go
  vendor/github.com/hashicorp/consul/api/snapshot.go
  vendor/github.com/hashicorp/consul/api/status.go
  vendor/github.com/hashicorp/go-immutable-radix/LICENSE
  vendor/github.com/hashicorp/go-immutable-radix/README.md
  vendor/github.com/hashicorp/go-immutable-radix/edges.go
  vendor/github.com/hashicorp/go-immutable-radix/iradix.go
  vendor/github.com/hashicorp/go-immutable-radix/iter.go
  vendor/github.com/hashicorp/go-immutable-radix/node.go
  vendor/github.com/hashicorp/go-immutable-radix/raw_iter.go
  vendor/github.com/hashicorp/golang-lru/LICENSE
  vendor/github.com/hashicorp/golang-lru/simplelru/lru.go
  vendor/github.com/hashicorp/golang-lru/simplelru/lru_interface.go
  vendor/github.com/hashicorp/serf/LICENSE
  vendor/github.com/hashicorp/serf/coordinate/client.go
  vendor/github.com/hashicorp/serf/coordinate/config.go
  vendor/github.com/hashicorp/serf/coordinate/coordinate.go
  vendor/github.com/hashicorp/serf/coordinate/phantom.go
  vendor/vendor.json
  website/source/docs/templates/user-variables.html.md
Labels: core, enhancement

#6338 Support freeform tagging of OCI images
  builder/oracle/oci/config.go
  builder/oracle/oci/driver_oci.go
  website/source/docs/builders/oracle-oci.html.md
Labels: build-failure, builder/oracle-oci, upstream-bug

#6635 fix chroot communicator to properly escape quotes
  builder/amazon/chroot/communicator.go
Labels: builder/amazon, provisioner/ansible-local, regression
