Repository hashicorp/packer, pull requests merged in 2018-05, with the labels that each got.

#6226 builder/qemu: properly prepare boot command.
  builder/qemu/builder.go
  builder/qemu/step_type_boot_command.go
Labels: bug, builder/qemu

#6210 add windows-sql-cloud to the list of projects to check for an image name
  builder/googlecompute/driver_gce.go
Labels: builder/google, enhancement

#6227 Revert "Merge pull request #4494 from tb3088/EOL-handling"
  Makefile
  scripts/gofmtcheck.sh
Labels: bug, core

#6231 Randomize osDisk name for Azure Managed Image builds.
  builder/azure/arm/TestVirtualMachineDeployment05.approved.txt
  builder/azure/arm/template_factory_test.TestPlanInfo01.approved.json
  builder/azure/arm/template_factory_test.TestPlanInfo02.approved.json
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment03.approved.json
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment04.approved.json
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment05.approved.json
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment06.approved.json
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment07.approved.json
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment08.approved.json
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment09.approved.json
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment10.approved.json
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment11.approved.json
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment12.approved.json
  builder/azure/common/template/TestBuildLinux02.approved.txt
  builder/azure/common/template/template_builder.go
  builder/azure/common/template/template_builder_test.TestBuildLinux00.approved.json
  builder/azure/common/template/template_builder_test.TestBuildLinux01.approved.json
  builder/azure/common/template/template_builder_test.TestBuildLinux02.approved.json
  builder/azure/common/template/template_builder_test.TestBuildWindows00.approved.json
  builder/azure/common/template/template_builder_test.TestBuildWindows01.approved.json
  builder/azure/common/template/template_builder_test.TestBuildWindows02.approved.json
Labels: builder/azure

#6238 Fix use of automatically generated ssh key for Scaleway
  builder/scaleway/ssh.go
  builder/scaleway/step_create_ssh_key.go
Labels: bug, builder/scaleway

#6219 Hyper-V: Add support retrieving IP for Server 2008 R2
  common/powershell/hyperv/hyperv.go
Labels: builder/hyperv, enhancement, windows-host

#4300 Allow skipping Chef Client staging directory cleanup.
  provisioner/chef-client/provisioner.go
  website/source/docs/provisioners/chef-client.html.md
Labels: enhancement, provisioner/chef

#6105 azure: device login for US Gov
  builder/azure/common/devicelogin.go
  website/source/docs/builders/azure-setup.html.md
Labels: builder/azure

#6215 Delay evaluation of ExtraArguments and standardize puppet-server and puppet-masterless
  provisioner/puppet-masterless/provisioner.go
  provisioner/puppet-masterless/provisioner_test.go
  provisioner/puppet-server/provisioner.go
  website/source/docs/provisioners/puppet-masterless.html.md
  website/source/docs/provisioners/puppet-server.html.md
Labels: enhancement, provisioner/puppet

#6229 Use regex based approach to detect attached disks
  builder/vmware/vmx/step_clone_vmx.go
Labels: builder/vmware, enhancement

#6253 show error message when -on-error=[ask|abort]
  common/multistep_runner.go
  communicator/ssh/communicator.go
Labels: bug, core

#6258 add documentation to ansible provisioner warning against running Pack…
  website/source/docs/provisioners/ansible.html.md
Labels: docs, provisioner/ansible-remote

#6256 Remove tmp file created by common/ test
  common/download_test.go
Labels: core, enhancement, thinking

#6101 Add use_fixed_vhd_format Hyper-V ISO option
  builder/hyperv/common/driver.go
  builder/hyperv/common/driver_mock.go
  builder/hyperv/common/driver_ps_4.go
  builder/hyperv/common/step_create_vm.go
  builder/hyperv/iso/builder.go
  builder/hyperv/iso/builder_test.go
  common/powershell/hyperv/hyperv.go
  website/source/docs/builders/hyperv-iso.html.md.erb
Labels: builder/azure, enhancement

#6270 [Azure] Don't mention capture_container_name in required
  website/source/docs/builders/azure.html.md
Labels: builder/azure, docs

#6295 Add new option, nvme_device_path, so that we can properly mount nvme …
  builder/amazon/chroot/builder.go
  builder/amazon/chroot/step_mount_device.go
  website/source/docs/builders/amazon-chroot.html.md
Labels: bug, builder/amazon

#6265 Add support for T2 Unlimited for Amazon builders
  builder/amazon/common/run_config.go
  builder/amazon/common/run_config_test.go
  builder/amazon/common/step_run_source_instance.go
  builder/amazon/ebs/builder.go
  builder/amazon/ebssurrogate/builder.go
  builder/amazon/ebsvolume/builder.go
  builder/amazon/instance/builder.go
  website/source/docs/builders/amazon-ebs.html.md
  website/source/docs/builders/amazon-ebssurrogate.html.md
  website/source/docs/builders/amazon-ebsvolume.html.md
  website/source/docs/builders/amazon-instance.html.md
Labels: builder/amazon, enhancement

#6261 Update github.com/masterzen/winrm & github.com/masterzen/winrm/soap to latest
  vendor/github.com/masterzen/winrm/client.go
  vendor/vendor.json
Labels: bug, communicator/winrm

#6303 add get windows default credentials to oci builder
  builder/oracle/oci/builder.go
  builder/oracle/oci/driver_oci.go
  builder/oracle/oci/step_get_default_credentials.go
Labels: builder/oracle-oci

#6327 builder/googlecompute: Add rhel-sap-cloud project id
  builder/googlecompute/driver_gce.go
Labels: builder/google, enhancement
