Repository hashicorp/packer, pull requests merged in 2019-08, with the labels that each got.

#7780 VirtualBox Snapshot Builder
  builder/virtualbox/common/driver.go
  builder/virtualbox/common/driver_4_2.go
  builder/virtualbox/common/driver_mock.go
  builder/virtualbox/common/snapshot.go
  builder/virtualbox/common/snapshot_test.go
  builder/virtualbox/common/step_forward_ssh.go
  builder/virtualbox/common/step_shutdown.go
  builder/virtualbox/vm/builder.go
  builder/virtualbox/vm/config.go
  builder/virtualbox/vm/step_create_snapshot.go
  builder/virtualbox/vm/step_import.go
  builder/virtualbox/vm/step_set_snapshot.go
  command/build.go
  command/plugin.go
  go.mod
  go.sum
  vendor/github.com/golang-collections/collections/LICENSE
  vendor/github.com/golang-collections/collections/stack/stack.go
  vendor/modules.txt
  website/source/docs/builders/virtualbox-vm.html.md.erb
  website/source/docs/builders/virtualbox.html.md
  website/source/layouts/docs.erb
Labels: builder/virtualbox, enhancement, new-plugin-contribution

#7989 work around spot_tags related regression and bad fleet cleanup in spo…
  builder/amazon/common/run_config.go
  builder/amazon/common/step_run_spot_instance.go
Labels: builder/amazon, regression

#8004 Remove check/requirement for target_snapshot
  builder/virtualbox/vm/config.go
Labels: bug, builder/virtualbox

#8050 builder/qemu: Fix dropped error
  builder/qemu/step_run.go
Labels: builder/qemu
