Repository hashicorp/packer, pull requests merged in 2019-02, with the labels that each got.

#7222 googlecompute-postprocessors: service account and export configs
  builder/googlecompute/driver_gce.go
  post-processor/googlecompute-export/post-processor.go
  post-processor/googlecompute-export/startup.go
  post-processor/googlecompute-import/post-processor.go
  website/source/docs/post-processors/googlecompute-export.html.md
Labels: enhancement, post-processor/googlecompute-export, post-processor/googlecompute-import

#7248 Add "custom_data" key to packer manifest post-processor
  post-processor/manifest/artifact.go
  post-processor/manifest/post-processor.go
  website/source/docs/post-processors/manifest.html.md
Labels: enhancement, post-processor/manifest

#7274 Ansible docs
  provisioner/ansible/provisioner.go
  provisioner/ansible/provisioner_test.go
  website/source/docs/provisioners/ansible.html.md
  website/source/layouts/docs.erb
Labels: docs, provisioner/ansible-remote, refactor

#7265 FIX for PR #7254
  scripts/build.sh
Labels: build, enhancement

#7276 Fix Azure interactive authentication
  builder/azure/arm/authenticate_devicewflow.go
  builder/azure/arm/clientconfig.go
  builder/azure/arm/clientconfig_test.go
Labels: builder/azure

#7282 Allow amazon builders to read credentials from Vault.
  builder/amazon/chroot/builder.go
  builder/amazon/common/access_config.go
  builder/amazon/common/step_pre_validate.go
  builder/amazon/ebs/builder.go
  builder/amazon/ebssurrogate/builder.go
  builder/amazon/ebsvolume/builder.go
  builder/amazon/instance/builder.go
  website/source/docs/builders/amazon-chroot.html.md
  website/source/docs/builders/amazon-ebs.html.md
  website/source/docs/builders/amazon-ebssurrogate.html.md
  website/source/docs/builders/amazon-ebsvolume.html.md
  website/source/docs/builders/amazon-instance.html.md
Labels: builder/amazon, enhancement

#7293 add perms
  website/source/docs/post-processors/amazon-import.html.md
Labels: docs, enhancement, post-processor/amazon-import, pr/needs-review

#7038 Replaced compute/v2/images with imageservice/v2/images.
  builder/openstack/artifact.go
  builder/openstack/builder.go
  builder/openstack/step_create_image.go
Labels: builder/openstack, enhancement

#7060 Add digitalocean-import post-processor.
  builder/digitalocean/artifact.go
  builder/digitalocean/builder.go
  builder/digitalocean/step_snapshot.go
  builder/digitalocean/wait.go
  command/plugin.go
  post-processor/digitalocean-import/post-processor.go
  post-processor/digitalocean-import/post-processor_test.go
  vendor/github.com/digitalocean/godo/CHANGELOG.md
  vendor/github.com/digitalocean/godo/CONTRIBUTING.md
  vendor/github.com/digitalocean/godo/README.md
  vendor/github.com/digitalocean/godo/account.go
  vendor/github.com/digitalocean/godo/action.go
  vendor/github.com/digitalocean/godo/cdn.go
  vendor/github.com/digitalocean/godo/certificates.go
  vendor/github.com/digitalocean/godo/domains.go
  vendor/github.com/digitalocean/godo/droplet_actions.go
  vendor/github.com/digitalocean/godo/droplets.go
  vendor/github.com/digitalocean/godo/firewalls.go
  vendor/github.com/digitalocean/godo/floating_ips.go
  vendor/github.com/digitalocean/godo/floating_ips_actions.go
  vendor/github.com/digitalocean/godo/godo.go
  vendor/github.com/digitalocean/godo/image_actions.go
  vendor/github.com/digitalocean/godo/images.go
  vendor/github.com/digitalocean/godo/keys.go
  vendor/github.com/digitalocean/godo/kubernetes.go
  vendor/github.com/digitalocean/godo/load_balancers.go
  vendor/github.com/digitalocean/godo/projects.go
  vendor/github.com/digitalocean/godo/regions.go
  vendor/github.com/digitalocean/godo/sizes.go
  vendor/github.com/digitalocean/godo/snapshots.go
  vendor/github.com/digitalocean/godo/storage.go
  vendor/github.com/digitalocean/godo/storage_actions.go
  vendor/github.com/digitalocean/godo/strings.go
  vendor/github.com/digitalocean/godo/tags.go
  vendor/vendor.json
  website/source/docs/post-processors/digitalocean-import.html.md
  website/source/layouts/docs.erb
Labels: builder/digitalocean, enhancement, new-plugin-contribution

#7329 add Endpoints Description
  website/source/docs/builders/alicloud-ecs.html.md
Labels: bug, builder/alicloud, docs

#7332 Use IMDS to get subscription for Azure MSI
  builder/azure/arm/builder.go
  builder/azure/arm/config_retriever.go
Labels: bug, builder/azure, need-more-tests, regression

#7341 openstack WaitForImage: pass context for cancellation
  builder/openstack/step_create_image.go
Labels: bug, builder/openstack

#7338 alicloud: update aliyun sdk to support eu-west-1 region
  go.mod
  go.sum
Labels: builder/alicloud, enhancement

#7330 name a post-processor to it's type when it is not named
  command/build_test.go
  command/test-fixtures/build-only/template.json
  packer/core.go
  template/parse.go
  template/parse_test.go
  website/source/docs/commands/build.html.md
  website/source/docs/commands/validate.html.md
  website/source/docs/templates/post-processors.html.md
Labels: bug, core, regression

#6787 amazon: Nilable encrypt setting
  builder/amazon/chroot/builder.go
  builder/amazon/common/ami_config.go
  builder/amazon/common/ami_config_test.go
  builder/amazon/common/block_device.go
  builder/amazon/common/block_device_test.go
  builder/amazon/common/regions.go
  builder/amazon/common/step_ami_region_copy.go
  builder/amazon/common/step_deregister_ami.go
  builder/amazon/common/step_encrypted_ami.go
  builder/amazon/ebs/builder.go
  builder/amazon/ebs/step_create_ami.go
  builder/amazon/ebssurrogate/builder.go
  website/source/docs/builders/amazon-chroot.html.md
  website/source/docs/builders/amazon-ebs.html.md
  website/source/docs/builders/amazon-ebssurrogate.html.md
  website/source/docs/builders/amazon-ebsvolume.html.md
  website/source/docs/builders/amazon-instance.html.md
Labels: bug, builder/amazon, need-documentation

#6983 DONT MERGE YET: Revert "Revert "Rename attribute api_access_key to organization_id""
  builder/scaleway/builder_test.go
  builder/scaleway/config.go
  fix/fixer.go
  fix/fixer_scaleway_access_key.go
  fix/fixer_scaleway_access_key_test.go
  website/source/docs/builders/scaleway.html.md
Labels: builder/scaleway, enhancement

#7074 vmware-iso (esxi) Add check that "format" is not being set when remote_type is empty.
  builder/vmware/iso/builder_test.go
  builder/vmware/iso/config.go
  builder/vmware/vmx/config.go
Labels: builder/vmware-esxi, docs

#7339 Add functionality to marshal a Template to valid Packer JSON
  template/parse.go
  template/parse_test.go
  template/template.go
  template/test-fixtures/parse-basic-config.json
  template/test-fixtures/parse-monolithic.json
  template/test-fixtures/parse-provisioner-config.json
Labels: core, enhancement
