Repository hashicorp/packer, pull requests merged in 2019-07, with the labels that each got.

#7829 don't store names of volumes we will be deleting when the instance te…
  builder/amazon/ebsvolume/step_tag_ebs_volumes.go
Labels: bug, builder/amazon

#7841 builder/digitalocean: increase timeout for Digital Ocean snapshot creation.
  builder/digitalocean/builder.go
  builder/digitalocean/builder_test.go
  builder/digitalocean/config.go
  builder/digitalocean/step_snapshot.go
  website/source/docs/builders/digitalocean.html.md
Labels: builder/digitalocean, enhancement

#7792 set openstack image metadata with use_blockstorage_volume
  builder/openstack/step_create_image.go
  builder/openstack/step_create_volume.go
  go.mod
  go.sum
  vendor/github.com/gophercloud/gophercloud/.travis.yml
  vendor/github.com/gophercloud/gophercloud/.zuul.yaml
  vendor/github.com/gophercloud/gophercloud/CHANGELOG.md
  vendor/github.com/gophercloud/gophercloud/auth_options.go
  vendor/github.com/gophercloud/gophercloud/auth_result.go
  vendor/github.com/gophercloud/gophercloud/doc.go
  vendor/github.com/gophercloud/gophercloud/errors.go
  vendor/github.com/gophercloud/gophercloud/go.mod
  vendor/github.com/gophercloud/gophercloud/go.sum
  vendor/github.com/gophercloud/gophercloud/openstack/auth_env.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/extensions/volumeactions/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/extensions/volumeactions/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumes/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumes/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/client.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/keypairs/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/flavors/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/servers/microversions.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/servers/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v2/tenants/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v2/tokens/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/tokens/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/tokens/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/imageservice/v2/images/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/layer3/floatingips/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/layer3/floatingips/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/layer3/floatingips/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/networks/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/networks/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/networks/results.go
  vendor/github.com/gophercloud/gophercloud/params.go
  vendor/github.com/gophercloud/gophercloud/provider_client.go
  vendor/github.com/gophercloud/gophercloud/results.go
  vendor/github.com/gophercloud/gophercloud/service_client.go
  vendor/modules.txt
Labels: builder/openstack, enhancement

#7290 Add openstack image min_disk option
  builder/openstack/builder.go
  builder/openstack/image_config.go
  builder/openstack/step_update_image_mindisk.go
  website/source/docs/builders/openstack.html.md
Labels: builder/openstack, enhancement, pr/needs-review

#7887 Allow removing volume after image creation for Scaleway builder
  builder/scaleway/builder.go
  builder/scaleway/config.go
  builder/scaleway/step_remove_volume.go
  website/source/docs/builders/scaleway.html.md
Labels: builder/scaleway

#7884 [WIP] Fix #7171: select instance network on which to assign floating ip
  builder/openstack/builder.go
  builder/openstack/networks.go
  builder/openstack/run_config.go
  builder/openstack/step_allocate_ip.go
  website/source/docs/builders/openstack.html.md
Labels: builder/openstack, enhancement

#7927 code changed recently so that sometimes the conf is nil.
  builder/googlecompute/driver_gce.go
Labels: bug, builder/google
