Repository hashicorp/packer, pull requests merged in 2019-04, with the labels that each got.

#7451 Allow both ports and networks in openstack builder
  builder/openstack/step_run_source_server.go
Labels: builder/openstack

#7452 fix tty to avoid panic after resizing term near exit time
  go.mod
  go.sum
  vendor/github.com/mattn/go-tty/tty_unix.go
Labels: bug, crash, upstream-bug

#7391 Implement Proxmox builder
  builder/proxmox/artifact.go
  builder/proxmox/bootcommand_driver.go
  builder/proxmox/builder.go
  builder/proxmox/config.go
  builder/proxmox/config_test.go
  builder/proxmox/step_convert_to_template.go
  builder/proxmox/step_convert_to_template_test.go
  builder/proxmox/step_finalize_template_config.go
  builder/proxmox/step_finalize_template_config_test.go
  builder/proxmox/step_start_vm.go
  builder/proxmox/step_start_vm_test.go
  builder/proxmox/step_success.go
  builder/proxmox/step_type_boot_command.go
  builder/proxmox/step_type_boot_command_test.go
  command/plugin.go
  vendor/github.com/Telmate/proxmox-api-go/LICENSE
  vendor/github.com/Telmate/proxmox-api-go/proxmox/client.go
  vendor/github.com/Telmate/proxmox-api-go/proxmox/config_qemu.go
  vendor/github.com/Telmate/proxmox-api-go/proxmox/session.go
  vendor/github.com/Telmate/proxmox-api-go/proxmox/util.go
  vendor/vendor.json
  website/source/docs/builders/proxmox.html.md
Labels: enhancement, need-more-tests, new-plugin-contribution, pr/needs-review

#7479 update account link
  contrib/azure-setup.sh
Labels: builder/azure, docs

#7503 step_download: display clearer error messages, also when the checksum is not set
  common/step_download.go
  website/source/docs/builders/virtualbox-ovf.html.md.erb
Labels: builder/virtualbox-ovf, docs

#7520 fix quoting in ssh partial
  website/source/partials/builders/_virtualbox-ssh-key-pair.html.md
Labels: bug, docs

#7547 add guide for uisng jq to strip comments from packer template
  website/source/guides/use-packer-with-comment.html.md
  website/source/layouts/guides.erb
Labels: docs

#7574 support encryption with default service key
  builder/alicloud/ecs/access_config.go
  builder/alicloud/ecs/artifact.go
  builder/alicloud/ecs/builder_acc_test.go
  builder/alicloud/ecs/client.go
  builder/alicloud/ecs/client_test.go
  builder/alicloud/ecs/image_config.go
  builder/alicloud/ecs/step_attach_keypair.go
  builder/alicloud/ecs/step_check_source_image.go
  builder/alicloud/ecs/step_config_eip.go
  builder/alicloud/ecs/step_config_security_group.go
  builder/alicloud/ecs/step_config_vpc.go
  builder/alicloud/ecs/step_config_vswitch.go
  builder/alicloud/ecs/step_create_image.go
  builder/alicloud/ecs/step_create_instance.go
  builder/alicloud/ecs/step_create_snapshot.go
  builder/alicloud/ecs/step_region_copy_image.go
  website/source/docs/builders/alicloud-ecs.html.md
Labels: builder/alicloud, enhancement
