Repository hashicorp/packer, pull requests merged in 2019-12, with the labels that each got.

#8416 Update LXD directory upload command
  builder/lxd/communicator.go
Labels: builder/lxd

#8411 rename galaxy_command to galaxycommand
  fix/fixer.go
  fix/fixer_galaxy_command.go
  fix/fixer_galaxy_command_test.go
  provisioner/ansible-local/provisioner.go
  provisioner/ansible-local/provisioner.hcl2spec.go
Labels: bug, fixcommand, provisioner/ansible-local

#8469 prepare_changelog: Update regex to work with GNU grep
  scripts/prepare_changelog.sh
Labels: tech-debt

#8484 Remove errant html comment
  builder/azure/arm/config.go
  website/source/docs/builders/azure-arm.html.md.erb
  website/source/partials/builder/azure/arm/_Config-not-required.html.md
Labels: docs

#8490 builder/azure: Remove double override of GalleryImageVersionsClient.PollDuration
  builder/azure/arm/azure_client.go
Labels: bug, builder/azure

#8506 Add Huawei Cloud ECS builder to docs
  website/source/partials/builders/_community_builders.html.md
Labels: docs

#8513 fix config pointers panic
  builder/cloudstack/builder.go
  builder/hyperv/iso/builder.go
  builder/hyperv/vmcx/builder.go
  builder/linode/builder.go
  builder/lxc/builder.go
  builder/lxd/builder.go
  builder/null/builder.go
  builder/oneandone/builder.go
  builder/oracle/classic/builder.go
  builder/oracle/oci/builder.go
  builder/osc/bsuvolume/builder.go
  builder/parallels/pvm/builder.go
  builder/profitbricks/builder.go
  builder/scaleway/builder.go
  builder/vagrant/builder.go
  builder/virtualbox/ovf/builder.go
  builder/virtualbox/vm/builder.go
  builder/vmware/vmx/builder.go
Labels: crash, regression

#8509 Remove config dependency from inside StepImport
  builder/virtualbox/common/driver_4_2.go
  builder/virtualbox/ovf/builder.go
  builder/virtualbox/ovf/step_import.go
  builder/virtualbox/ovf/step_import_test.go
Labels: tech-debt
