Repository hashicorp/packer, pull requests merged in 2019-03, with the labels that each got.

#7337 Amazon-chroot: Fix building PV images and where mount_partition is set
  builder/amazon/chroot/step_mount_device.go
Labels: bug, builder/amazon

#7287 virtualbox: create ephemeral SSH key pair for build process
  builder/virtualbox/common/step_ssh_key_pair.go
  builder/virtualbox/common/step_type_boot_command.go
  builder/virtualbox/iso/builder.go
  builder/virtualbox/ovf/builder.go
  common/step_cleanup_temp_keys.go
  helper/ssh/key_pair.go
  helper/ssh/key_pair_test.go
  website/source/docs/builders/virtualbox-iso.html.md.erb
  website/source/docs/builders/virtualbox-ovf.html.md.erb
  website/source/partials/builders/_virtualbox-ssh-key-pair.html.md
Labels: builder/virtualbox, communicator/ssh, core, enhancement

#7378 Fix build commands -except help message
  command/build.go
Labels: core, docs

#7300 OpenStack: Support Application Credential Authentication
  builder/openstack/access_config.go
  go.mod
  go.sum
  vendor/github.com/gophercloud/gophercloud/README.md
  vendor/github.com/gophercloud/gophercloud/auth_options.go
  vendor/github.com/gophercloud/gophercloud/errors.go
  vendor/github.com/gophercloud/gophercloud/provider_client.go
  vendor/github.com/gophercloud/gophercloud/results.go
  vendor/github.com/gophercloud/utils/openstack/clientconfig/requests.go
  vendor/github.com/gophercloud/utils/openstack/clientconfig/results.go
  vendor/github.com/gophercloud/utils/openstack/clientconfig/utils.go
  vendor/vendor.json
  website/source/docs/builders/openstack.html.md
Labels: builder/openstack, enhancement

#7377 Ignores SSL verification when on premise vagrant cloud
  post-processor/vagrant-cloud/client.go
  post-processor/vagrant-cloud/post-processor.go
  post-processor/vagrant-cloud/post-processor_test.go
  website/source/docs/post-processors/vagrant-cloud.html.md
Labels: enhancement, post-processor/vagrant

#7352 use a tty to ui.Ask
  go.mod
  go.sum
  main.go
  packer/tty.go
  packer/ui.go
  packer/ui_test.go
  stdin.go
  vendor/github.com/mattn/go-runewidth/.travis.yml
  vendor/github.com/mattn/go-tty/.travis.yml
  vendor/github.com/mattn/go-tty/LICENSE
  vendor/github.com/mattn/go-tty/README.md
  vendor/github.com/mattn/go-tty/tty.go
  vendor/github.com/mattn/go-tty/tty_bsd.go
  vendor/github.com/mattn/go-tty/tty_linux.go
  vendor/github.com/mattn/go-tty/tty_plan9.go
  vendor/github.com/mattn/go-tty/tty_unix.go
  vendor/github.com/mattn/go-tty/tty_windows.go
Labels: bug, core, debug-mode

#7370 amazon-chroot: Allow users to specify custom block device mapping
  builder/amazon/chroot/builder.go
  builder/amazon/chroot/builder_test.go
  builder/amazon/chroot/step_register_ami.go
  builder/amazon/chroot/step_register_ami_test.go
  website/source/docs/builders/amazon-chroot.html.md
Labels: builder/amazon, enhancement

#7385 allowed_exit_codes for windows-shell and shell provisioners
  common/shell/exit_code.go
  common/shell/exit_code_test.go
  common/shell/shell.go
  provisioner/powershell/provisioner.go
  provisioner/powershell/provisioner_test.go
  provisioner/shell/provisioner.go
  provisioner/windows-shell/provisioner.go
  website/source/docs/provisioners/powershell.html.md.erb
  website/source/docs/provisioners/shell.html.md.erb
  website/source/docs/provisioners/windows-shell.html.md.erb
  website/source/partials/provisioners/_shell-config.html.md
Labels: enhancement, provisioner/shell, provisioner/windows-shell

#7211 arm-builder: zone resilient from config
  builder/azure/arm/builder.go
  builder/azure/arm/config.go
  builder/azure/arm/config_test.go
  website/source/docs/builders/azure.html.md
Labels: builder/azure, enhancement

#7433 unignore interrupt signals (ctrl + c) on windows
  command/build.go
  go.mod
  go.sum
  vendor/github.com/mattn/go-tty/tty_unix.go
  vendor/github.com/mattn/go-tty/tty_windows.go
Labels: core, regression, windows-host

#7396 Support S3 and AMI encryption in amazon-import post-processor
  post-processor/amazon-import/post-processor.go
  website/source/docs/post-processors/amazon-import.html.md
Labels: enhancement, post-processor/amazon-import
