Repository hashicorp/packer, pull requests merged in 2019-10, with the labels that each got.

#8219 Update docs for Sysprep
  examples/azure/windows.json
  examples/azure/windows_custom_image.json
  examples/azure/windows_quickstart.json
  website/source/docs/builders/azure.html.md.erb
  website/source/docs/builders/ncloud.html.md
Labels: builder/azure, docs, enhancement

#8247 New Feature: allow to specify IAM policy for a temporary instance profile
  builder/amazon/common/run_config.go
  builder/amazon/common/step_iam_instance_profile.go
  builder/amazon/common/step_run_source_instance.go
  builder/amazon/common/step_run_spot_instance.go
  builder/amazon/common/step_run_spot_instance_test.go
  builder/amazon/ebs/builder.go
  builder/amazon/ebssurrogate/builder.go
  builder/amazon/ebsvolume/builder.go
  builder/amazon/instance/builder.go
  vendor/github.com/aws/aws-sdk-go/service/iam/api.go
  vendor/github.com/aws/aws-sdk-go/service/iam/doc.go
  vendor/github.com/aws/aws-sdk-go/service/iam/errors.go
  vendor/github.com/aws/aws-sdk-go/service/iam/service.go
  vendor/github.com/aws/aws-sdk-go/service/iam/waiters.go
  vendor/modules.txt
  website/source/docs/builders/amazon.html.md
  website/source/partials/builder/amazon/common/_RunConfig-not-required.html.md
Labels: builder/amazon, enhancement

#8256 proxmos -> proxmox
  CHANGELOG.md
Labels: docs

#8257 update vagrant docs to explain that the builder and postprocessor are…
  website/source/docs/builders/vagrant.html.md
  website/source/docs/post-processors/vagrant.html.md
Labels: builder/vagrant, docs, post-processor/compress, post-processor/vagrant

#8267 improve error message
  template/parse.go
Labels: core, enhancement

#8269 [amazon/chroot] Move common/generic chroot builder steps to common directory
  builder/amazon/chroot/builder.go
  builder/amazon/chroot/copy_files_test.go
  builder/amazon/chroot/step_attach_volume_test.go
  builder/amazon/chroot/step_early_unflock.go
  builder/amazon/chroot/step_flock_test.go
  builder/amazon/chroot/step_mount_device.go
  builder/amazon/chroot/step_mount_device_test.go
  builder/azure/chroot/builder.go
  builder/azure/chroot/step_mount_device.go
  common/chroot/cleanup.go
  common/chroot/communicator.go
  common/chroot/communicator_test.go
  common/chroot/interpolate_context_provider.go
  common/chroot/run_local_commands.go
  common/chroot/step_chroot_provision.go
  common/chroot/step_copy_files.go
  common/chroot/step_copy_files_test.go
  common/chroot/step_early_cleanup.go
  common/chroot/step_mount_extra.go
  common/chroot/step_mount_extra_test.go
  common/chroot/step_post_mount_commands.go
  common/chroot/step_pre_mount_commands.go
  common/command.go
Labels: builder/amazon, builder/azure

#8276 post-processor/compress: fix dropped errors
  post-processor/compress/post-processor.go
Labels: bug, post-processor/compress

#8293 builder/azure/chroot: fix dropped error
  builder/azure/chroot/step_create_new_disk.go
Labels: bug, builder/azure
