Repository hashicorp/packer, pull requests merged in 2019-09, with the labels that each got.

#8088 builder/proxmox: Shorten default boot_key_interval to 5ms from 100ms
  builder/proxmox/config.go
Labels: builder/proxmox

#8110 builder/openstack: Fix dropped error
  builder/openstack/step_source_image_info.go
Labels: builder/openstack, enhancement

#8102 don't fall for nil pointer dereference in account file
  builder/googlecompute/step_create_windows_password.go
Labels: regression

#8106 [cloudstack builder] Detach iso option step
  builder/cloudstack/builder.go
  builder/cloudstack/config.go
  builder/cloudstack/step_detach_iso.go
  website/source/docs/builders/cloudstack.html.md
Labels: builder/cloudstack, enhancement

#8125 fix ssh and package steps to use source syntax.
  builder/vagrant/step_package.go
  builder/vagrant/step_ssh_config.go
Labels: builder/vagrant, regression

#8137 split issue templates: bug report/enhancment/question
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_requests.md
  .github/ISSUE_TEMPLATE/question.md
Labels: docs

#8121 [azure] Refactor client config
  builder/azure/arm/builder.go
  builder/azure/arm/config.go
  builder/azure/arm/config_retriever.go
  builder/azure/arm/config_retriever_test.go
  builder/azure/arm/config_test.go
  builder/azure/arm/template_factory.go
  builder/azure/arm/template_factory_test.go
  builder/azure/common/client/config.go
  builder/azure/common/client/config_retriever.go
  builder/azure/common/client/config_retriever_test.go
  builder/azure/common/client/config_test.go
  builder/azure/common/client/tokenprovider.go
  builder/azure/common/client/tokenprovider_cert.go
  builder/azure/common/client/tokenprovider_devicewflow.go
  builder/azure/common/client/tokenprovider_jwt.go
  builder/azure/common/client/tokenprovider_msi.go
  builder/azure/common/client/tokenprovider_secret.go
  builder/azure/common/client/tokenprovider_secret_test.go
  builder/azure/common/template_funcs.go
  builder/azure/common/template_funcs_test.go
  website/source/docs/builders/azure.html.md.erb
  website/source/partials/builder/azure/arm/_ClientConfig-not-required.html.md
  website/source/partials/builder/azure/arm/_ClientConfig.html.md
  website/source/partials/builder/azure/common/client/_Config-not-required.html.md
  website/source/partials/builder/azure/common/client/_Config.html.md
Labels: builder/azure
