Repository hashicorp/packer, pull requests merged in 2019-11, with the labels that each got.

#8332 typo
  website/source/docs/builders/amazon-instance.html.md.erb
Labels: docs

#8335 more typos
  website/source/docs/builders/amazon-chroot.html.md.erb
  website/source/docs/builders/amazon-ebssurrogate.html.md.erb
  website/source/docs/builders/amazon-ebsvolume.html.md.erb
Labels: docs

#7676 Add display template option for qemu.
  builder/qemu/builder.go
  builder/qemu/step_run.go
  website/source/partials/builder/qemu/_Config-not-required.html.md
Labels: builder/qemu

#8360 builder/amazon: Add validation for `subnet_id` when specifying `vpc_id`
  builder/amazon/common/step_pre_validate.go
  builder/amazon/common/step_pre_validate_test.go
  builder/amazon/common/step_run_source_instance.go
  builder/amazon/ebs/builder.go
  builder/amazon/ebssurrogate/builder.go
  builder/amazon/instance/builder.go
Labels: bug, builder/amazon

#8387 Only validate the user has provided a subnet_id when vpc_id has been set
  builder/amazon/common/step_pre_validate.go
  builder/amazon/common/step_pre_validate_test.go
Labels: bug, builder/amazon, regression

#8393 Add no_ephemeral template option to nuke ephemeral drives from launch mappings
  builder/amazon/common/step_run_source_instance.go
  builder/amazon/common/step_run_spot_instance.go
  builder/amazon/ebs/builder.go
  builder/amazon/ebs/builder.hcl2spec.go
  website/source/partials/builder/amazon/ebs/_Config-not-required.html.md
Labels: builder/amazon

#8417 AmiFilterOptions: avoid taking the address of a loop iterator var
  builder/amazon/common/run_config.go
Labels: builder/amazon
