Repository hashicorp/packer, pull requests merged in 2019-01, with the labels that each got.

#7137 Fix to get ssh password
  builder/ncloud/builder.go
  builder/ncloud/config.go
  builder/ncloud/step_get_rootpassword.go
  builder/ncloud/step_get_rootpassword_test.go
  website/source/docs/builders/ncloud.html.md
Labels: bug, builder/ncloud

#7166 windows plugin: prioritize AppData over default user directory ( UserProfile )
  packer/config_file.go
  website/source/docs/extending/plugins.html.md
Labels: core, regression

#7151 Add support for whpx accelerator to qemu builder
  builder/qemu/builder.go
  website/source/docs/builders/qemu.html.md.erb
Labels: builder/qemu, community-supported plugin

#7147 Fix the Hyper-V gen 1 guest boot order.
  common/powershell/hyperv/hyperv.go
Labels: bug, builder/hyperv

#6933 openstack: Make the config.networkV2Client conditional in StepAllocateIp
  builder/openstack/step_allocate_ip.go
Labels: builder/openstack, enhancement

#7037 openstack: `image_tags` - Adds support for tagging new images.
  builder/openstack/builder.go
  builder/openstack/image_config.go
  builder/openstack/step_update_image_tags.go
  website/source/docs/builders/openstack.html.md
Labels: builder/openstack, enhancement

#7158 WIP: parallels: Fix attaching prl tools
  builder/parallels/common/driver_9.go
Labels: bug, builder/parallels

#7203 [azure] use deallocate instead of just power-off
  builder/azure/arm/step_power_off_compute.go
Labels: builder/azure

#7219 add docs for recently-merged -version option for hyperv
  website/source/docs/builders/hyperv-iso.html.md.erb
  website/source/docs/builders/hyperv-vmcx.html.md.erb
Labels: builder/hyperv

#7218 googlecompute-import: add guest os features
  post-processor/googlecompute-import/post-processor.go
  website/source/docs/post-processors/googlecompute-import.html.md
Labels: enhancement, post-processor/googlecompute-import

#7216 fix docker tmp dir for mac
  builder/docker/step_temp_dir.go
  website/source/docs/builders/docker.html.md
Labels: builder/docker, regression

#7183 allow to use `-except` on post-processors
  command/build_test.go
  command/meta.go
  command/test-fixtures/build-only/template.json
  contrib/zsh-completion/_packer
  packer/core.go
  template/parse.go
  template/template.go
  website/source/docs/commands/build.html.md
  website/source/docs/templates/provisioners.html.md
Labels: core, enhancement, pr/needs-review

#7205 fix region stuff
  builder/amazon/common/access_config.go
  builder/amazon/common/regions.go
Labels: builder/amazon

#7156 qemu: Add configuration options to specify cpu count and memory size
  builder/qemu/builder.go
  builder/qemu/step_run.go
  website/source/docs/builders/qemu.html.md.erb
Labels: builder/qemu, community-supported plugin

#7254 Fix for #7253
  scripts/build.sh
Labels: bug, build, enhancement
