Repository hashicorp/packer, pull requests merged in 2019-05, with the labels that each got.

#7564 ProxMox builder: Use ssh_host config as host for the communicator
  builder/proxmox/builder.go
  builder/proxmox/config.go
  builder/proxmox/config_test.go
  builder/proxmox/step_start_vm.go
  website/source/docs/builders/proxmox.html.md
Labels: builder/proxmox

#7589 fix flock build errors on solaris by shadowing the pkg
  common/filelock/filelock.go
  common/filelock/filelock_solaris.go
  common/filelock/noop.go
  common/net/configure_port.go
  common/net/configure_port_test.go
  common/step_download.go
Labels: core

#7594 add some docs for how to do complex custom commands
  website/source/docs/provisioners/ansible.html.md.erb
Labels: docs, provisioner/ansible-remote

#7591 docker builder: document entrypoint option
  website/source/docs/builders/docker.html.md
Labels: builder/docker, docs

#7501 limit number of builds running in parallel & test BuildCommand more
  appveyor.yml
  command/build.go
  command/build_cancellation_test.go
  command/build_parallel_test.go
  command/build_test.go
  command/test-fixtures/parallel/1lock-5wg.json
  command/test-fixtures/parallel/1lock.json
  command/test-fixtures/parallel/2lock-4wg.json
  command/test-fixtures/parallel/2lock-timeout.json
  command/test-fixtures/parallel/2lock.json
  contrib/zsh-completion/_packer
  vendor/modules.txt
  website/source/docs/commands/build.html.md
Labels: core, enhancement

#7551 Googlecompute builder image encryption support
  builder/googlecompute/config.go
  builder/googlecompute/config_test.go
  builder/googlecompute/driver.go
  builder/googlecompute/driver_gce.go
  builder/googlecompute/driver_mock.go
  builder/googlecompute/step_create_image.go
  builder/googlecompute/step_create_image_test.go
  website/source/docs/builders/googlecompute.html.md
Labels: builder/google, enhancement

#7629 document vault client env vars
  website/source/docs/templates/user-variables.html.md
Labels: docs, integration/vault

#7633 Work around bug in libvirt-vagrant plugin
  builder/vagrant/driver_2_2.go
Labels: bug, builder/vagrant, upstream-bug

#7653 adds support for accepting the chef license
  provisioner/chef-client/provisioner.go
  provisioner/chef-client/provisioner_test.go
  provisioner/chef-solo/provisioner.go
  provisioner/chef-solo/provisioner_test.go
  website/source/docs/provisioners/chef-client.html.md.erb
  website/source/docs/provisioners/chef-solo.html.md.erb
Labels: provisioner/chef

#7597 Add image filtering on properties.
  builder/openstack/builder.go
  builder/openstack/run_config.go
  builder/openstack/run_config_test.go
  builder/openstack/step_source_image_info.go
  website/source/docs/builders/openstack.html.md
Labels: builder/openstack, enhancement
