Repository hashicorp/packer, pull requests merged in 2020-02, with the labels that each got.

#8669 Fix HCL2 code generation for slices within another slice
  builder/amazon/chroot/builder.hcl2spec.go
  builder/azure/chroot/builder.hcl2spec.go
  builder/hyperone/config.hcl2spec.go
  builder/osc/chroot/builder.hcl2spec.go
  builder/parallels/iso/builder.hcl2spec.go
  builder/parallels/pvm/config.hcl2spec.go
  builder/qemu/builder.hcl2spec.go
  builder/virtualbox/iso/builder.hcl2spec.go
  builder/virtualbox/ovf/config.hcl2spec.go
  builder/virtualbox/vm/config.hcl2spec.go
  cmd/mapstructure-to-hcl2/mapstructure-to-hcl2.go
  hcl2template/common_test.go
  hcl2template/mock.go
  hcl2template/mock.hcl2spec.go
  hcl2template/testdata/build/basic.pkr.hcl
  hcl2template/testdata/complete/build.pkr.hcl
  hcl2template/testdata/complete/sources.pkr.hcl
  hcl2template/testdata/sources/basic.pkr.hcl
Labels: hcl2

#8685 builder/azure-arm: Update logic for setting subscriptionID
  builder/azure/arm/builder.go
  builder/azure/arm/step_publish_to_shared_image_gallery.go
  common/retry/retry.go
Labels: bug, builder/azure

#8699 Instance Running waiter not aware of global waiter settings
  builder/amazon/common/state.go
  builder/amazon/common/step_run_source_instance.go
Labels: builder/amazon

#8711 mapstructure-to-hcl2: Update code formatter to use golang/x/tools/imports
  cmd/mapstructure-to-hcl2/mapstructure-to-hcl2.go
  go.mod
  go.sum
  packer/builder_mock.hcl2spec.go
  vendor/golang.org/x/tools/cmd/goimports/goimports.go
  vendor/golang.org/x/tools/go/analysis/doc.go
  vendor/golang.org/x/tools/go/ast/astutil/imports.go
  vendor/golang.org/x/tools/go/ast/inspector/inspector.go
  vendor/golang.org/x/tools/go/internal/gcimporter/gcimporter.go
  vendor/golang.org/x/tools/go/packages/doc.go
  vendor/golang.org/x/tools/go/packages/external.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/go/packages/golist_overlay.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/imports/forward.go
  vendor/golang.org/x/tools/internal/fastwalk/fastwalk.go
  vendor/golang.org/x/tools/internal/fastwalk/fastwalk_portable.go
  vendor/golang.org/x/tools/internal/fastwalk/fastwalk_unix.go
  vendor/golang.org/x/tools/internal/gopathwalk/walk.go
  vendor/golang.org/x/tools/internal/imports/fix.go
  vendor/golang.org/x/tools/internal/imports/imports.go
  vendor/golang.org/x/tools/internal/imports/mod.go
  vendor/golang.org/x/tools/internal/imports/mod_cache.go
  vendor/golang.org/x/tools/internal/packagesinternal/packages.go
  vendor/golang.org/x/tools/internal/span/parse.go
  vendor/golang.org/x/tools/internal/span/span.go
  vendor/golang.org/x/tools/internal/span/token.go
  vendor/golang.org/x/tools/internal/span/token111.go
  vendor/golang.org/x/tools/internal/span/token112.go
  vendor/golang.org/x/tools/internal/span/uri.go
  vendor/golang.org/x/tools/internal/span/utf16.go
  vendor/modules.txt
Labels: core, tech-debt

#8704 Custom vault azure
  builder/azure/arm/builder.go
  builder/azure/arm/config.go
  builder/azure/arm/config.hcl2spec.go
  builder/azure/arm/step_certificate_in_keyvault.go
  builder/azure/arm/step_certificate_in_keyvault_test.go
  builder/azure/arm/step_delete_resource_group.go
  builder/azure/common/constants/stateBag.go
  builder/azure/common/vault.go
  builder/azure/common/vault_client_mock.go
  website/source/partials/builder/azure/arm/_Config-not-required.html.md
Labels: builder/azure, enhancement

#8718 Website: bump middleman version
  website/Gemfile
  website/Gemfile.lock
Labels: website

#8698 docs/azure-arm: Refactor docs to clear up required options
  builder/azure/arm/config.go
  builder/azure/arm/config.hcl2spec.go
  website/source/docs/builders/azure-arm.html.md.erb
  website/source/partials/builder/azure/arm/_Config-not-required.html.md
  website/source/partials/builder/azure/arm/_Config-required.html.md
Labels: builder/azure, docs

#8727 Render variables one time on prepare method
  builder/null/artifact_export.go
  builder/null/builder.go
  command/build_test.go
  command/test-fixtures/build-variable-sharing/template.json
  packer/provisioner.go
  template/interpolate/i.go
  template/interpolate/render.go
Labels: bug, core, regression

#8725 Check if JSON template doesn't have duplicate configuration
  template/parse.go
  template/parse_test.go
  template/test-fixtures/error-duplicate-config.json
  template/test-fixtures/error-duplicate-variables.json
Labels: bug, core

#8722 scripts/prepare_changelog: Update jq filter to ignore tech-debt labelled pull-requests
  scripts/prepare_changelog.sh
Labels: tech-debt

#8744 script/prepare_changelog: Update to show squashed merge commits
  scripts/prepare_changelog.sh
Labels: docs, tech-debt

#8742 Avoid calling CoreBuild.Prepare(...) for HCL2 templates
  hcl2template/types.build.post-processor.go
  hcl2template/types.build.provisioners.go
  hcl2template/types.packer_config.go
  hcl2template/types.packer_config_test.go
  packer/build.go
  packer/build_test.go
Labels: core, hcl2

#8686 Add golangci-lint to project
  .github/CONTRIBUTING.md
  .golangci.yml
  .travis.yml
  Makefile
  builder/amazon/chroot/builder.go
  builder/amazon/chroot/step_mount_device.go
  builder/amazon/chroot/step_prepare_device.go
  builder/amazon/common/interpolate_build_info_test.go
  builder/amazon/common/step_modify_ami_attributes.go
  builder/amazon/ebs/builder.go
  builder/amazon/ebssurrogate/builder.go
  builder/amazon/ebssurrogate/builder_test.go
  builder/amazon/instance/builder.go
  builder/generated_data_test.go
  builder/lxc/step_provision.go
  builder/lxd/step_provision.go
  builder/osc/chroot/step_chroot_provision.go
  builder/parallels/common/ssh_config.go
  builder/parallels/common/ssh_config_test.go
  builder/qemu/step_http_ip_discover.go
  builder/qemu/step_http_ip_discover_test.go
  builder/vmware/common/step_http_ip_discover.go
  builder/vmware/common/step_http_ip_discover_test.go
  builder/vsphere/clone/builder.go
  builder/vsphere/clone/builder_acc_test.go
  builder/vsphere/clone/builder_test.go
  builder/vsphere/clone/step_clone.go
  builder/vsphere/common/step_config_params.go
  builder/vsphere/common/step_connect.go
  builder/vsphere/common/step_hardware.go
  builder/vsphere/common/step_run.go
  builder/vsphere/common/step_shutdown.go
  builder/vsphere/common/step_snapshot.go
  builder/vsphere/common/step_template.go
  builder/vsphere/common/step_wait_for_ip.go
  builder/vsphere/common/testing/utility.go
  builder/vsphere/driver/datastore.go
  builder/vsphere/driver/driver.go
  builder/vsphere/driver/folder.go
  builder/vsphere/driver/resource_pool.go
  builder/vsphere/driver/vm.go
  builder/vsphere/driver/vm_cdrom.go
  builder/vsphere/driver/vm_keyboard.go
  builder/vsphere/examples/driver/main.go
  builder/vsphere/iso/builder_acc_test.go
  builder/vsphere/iso/step_add_cdrom.go
  builder/vsphere/iso/step_add_floppy.go
  builder/vsphere/iso/step_boot_command.go
  builder/vsphere/iso/step_remote_upload.go
  builder/vsphere/iso/step_remove_cdrom.go
  builder/vsphere/iso/step_remove_floppy.go
  command/build_parallel_test.go
  common/shell-local/config.go
  fix/fixer_amazon_temporary_security_group_cidrs.go
  helper/ssh/tunnel_test.go
  plugin/example/main.go
  post-processor/vagrant/util.go
  template/interpolate/i.go
Labels: docs, tech-debt

#8739 add ability to define multiple NICs for vsphere-iso
  builder/vsphere/driver/vm.go
  builder/vsphere/iso/config.hcl2spec.go
  builder/vsphere/iso/step_create.go
  builder/vsphere/iso/step_create.hcl2spec.go
  website/source/docs/builders/vsphere-iso.html.md.erb
  website/source/partials/builder/vsphere/iso/_CreateConfig-not-required.html.md
  website/source/partials/builder/vsphere/iso/_NIC-not-required.html.md
  website/source/partials/builder/vsphere/iso/_NIC-required.html.md
Labels: builder/vsphere, enhancement

#8763 builder/tencentcloud: showing tencentcloud image id after copy to desination region
  builder/tencentcloud/cvm/access_config.go
  builder/tencentcloud/cvm/common.go
  builder/tencentcloud/cvm/step_copy_image.go
  builder/tencentcloud/cvm/step_create_image.go
  builder/tencentcloud/cvm/step_pre_validate.go
  builder/tencentcloud/cvm/step_run_instance.go
  go.mod
  go.sum
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/common/http/request.go
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/cvm/v20170312/client.go
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/cvm/v20170312/models.go
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/vpc/v20170312/client.go
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/vpc/v20170312/models.go
  vendor/modules.txt
Labels: builder/tencent

#8753 fix #8743 by using interface instead of Network object
  builder/vsphere/driver/network.go
Labels: bug, builder/vsphere

#8756 vsphere-iso: add support for eagerly zeroed / scrubbed disks
  builder/vsphere/driver/vm.go
  builder/vsphere/iso/config.hcl2spec.go
  builder/vsphere/iso/step_create.go
  builder/vsphere/iso/step_create.hcl2spec.go
  website/source/partials/builder/vsphere/iso/_CreateConfig-not-required.html.md
Labels: builder/vsphere, enhancement

#8720 HCL2: add support for dynamic blocks, document for loops and splat expressions
  hcl2template/common_test.go
  hcl2template/internal/mock.go
  hcl2template/internal/mock.hcl2spec.go
  hcl2template/parser.go
  hcl2template/testdata/complete/build.pkr.hcl
  hcl2template/testdata/complete/sources.pkr.hcl
  hcl2template/testdata/complete/variables.pkr.hcl
  hcl2template/types.packer_config_test.go
  vendor/github.com/hashicorp/hcl/v2/ext/dynblock/README.md
  vendor/github.com/hashicorp/hcl/v2/ext/dynblock/expand_body.go
  vendor/github.com/hashicorp/hcl/v2/ext/dynblock/expand_spec.go
  vendor/github.com/hashicorp/hcl/v2/ext/dynblock/expr_wrap.go
  vendor/github.com/hashicorp/hcl/v2/ext/dynblock/iteration.go
  vendor/github.com/hashicorp/hcl/v2/ext/dynblock/public.go
  vendor/github.com/hashicorp/hcl/v2/ext/dynblock/schema.go
  vendor/github.com/hashicorp/hcl/v2/ext/dynblock/unknown_body.go
  vendor/github.com/hashicorp/hcl/v2/ext/dynblock/variables.go
  vendor/github.com/hashicorp/hcl/v2/ext/dynblock/variables_hcldec.go
  vendor/modules.txt
  website/source/docs/configuration/from-1.5/expressions.html.md
Labels: hcl2

#8770 Clearly document all template-engine-enabled options
  builder/amazon/common/ami_config.go
  builder/cloudstack/config.go
  builder/hyperone/config.go
  builder/lxc/config.go
  builder/lxd/config.go
  builder/qemu/builder.go
  builder/virtualbox/iso/builder.go
  builder/vmware/iso/config.go
  common/bootcommand/config.go
  website/source/docs/builders/cloudstack.html.md
  website/source/docs/builders/oracle-classic.html.md
  website/source/docs/post-processors/alicloud-import.html.md
  website/source/docs/post-processors/amazon-import.html.md
  website/source/docs/post-processors/checksum.html.md
  website/source/docs/post-processors/compress.html.md
  website/source/docs/post-processors/digitalocean-import.html.md
  website/source/docs/post-processors/googlecompute-import.html.md
  website/source/docs/post-processors/manifest.html.md
  website/source/docs/post-processors/shell-local.html.md
  website/source/docs/post-processors/ucloud-import.html.md
  website/source/docs/post-processors/vagrant-cloud.html.md
  website/source/docs/post-processors/vagrant.html.md
  website/source/docs/provisioners/ansible.html.md.erb
  website/source/docs/provisioners/chef-client.html.md.erb
  website/source/docs/provisioners/converge.html.md.erb
  website/source/docs/provisioners/powershell.html.md.erb
  website/source/docs/provisioners/puppet-masterless.html.md.erb
  website/source/docs/provisioners/puppet-server.html.md.erb
  website/source/docs/provisioners/shell.html.md.erb
  website/source/docs/provisioners/windows-shell.html.md.erb
  website/source/partials/builder/amazon/common/_AMIConfig-not-required.html.md
  website/source/partials/builder/cloudstack/_Config-not-required.html.md
  website/source/partials/builder/hyperone/_Config-not-required.html.md
  website/source/partials/builder/lxc/_Config-not-required.html.md
  website/source/partials/builder/lxd/_Config-not-required.html.md
  website/source/partials/builder/qemu/_Config-not-required.html.md
  website/source/partials/builder/virtualbox/iso/_Config-not-required.html.md
  website/source/partials/builder/vmware/iso/_Config-not-required.html.md
  website/source/partials/common/bootcommand/_BootConfig.html.md
Labels: docs, enhancement

#8755 Fix HCL2 local variables decoding to allow local usage within another local in the same locals block
  hcl2template/common_test.go
  hcl2template/parser.go
  hcl2template/testdata/variables/complicated/a.pkr.hcl
  hcl2template/testdata/variables/complicated/b.pkr.hcl
  hcl2template/testdata/variables/complicated/c.pkr.hcl
  hcl2template/testdata/variables/recursive_locals.pkr.hcl
  hcl2template/types.packer_config.go
  hcl2template/types.packer_config_test.go
  hcl2template/types.variables.go
  hcl2template/types.variables_test.go
Labels: bug, hcl2
