Repository hashicorp/packer, pull requests merged in 2020-05, with the labels that each got.

#9142 Remove HCL2 var-files note from `packer build`
  command/build.go
Labels: docs

#9152 website: add urls to homepage buttons
  website/pages/home/index.jsx
Labels: docs, website

#9169 Note about box creation
  website/pages/docs/post-processors/vagrant-cloud.mdx
Labels: docs, post-processor/vagrant-cloud

#9124 [WIP] Yandex export post processor
  CHANGELOG.md
  CODEOWNERS
  builder/yandex/artifact.go
  builder/yandex/builder.go
  builder/yandex/driver.go
  builder/yandex/driver_yc.go
  builder/yandex/step_create_instance.go
  builder/yandex/step_create_ssh_key.go
  builder/yandex/step_teardown_instance.go
  builder/yandex/step_wait_cloudinit_script.go
  command/plugin.go
  post-processor/yandex-export/artifact.go
  post-processor/yandex-export/post-processor.go
  post-processor/yandex-export/post-processor.hcl2spec.go
  post-processor/yandex-export/script.go
  website/data/docs-navigation.js
  website/pages/docs/post-processors/yandex-export.mdx
  website/pages/partials/post-processor/yandex-export/Config-not-required.mdx
  website/pages/partials/post-processor/yandex-export/Config-required.mdx
Labels: builder/yandex

#9146 add vsphere builder's artifact to vsphere-template's supported types
  post-processor/vsphere-template/post-processor.go
Labels: bug, post-processor/vsphere-template

#9172 slow down the changelog script to prevent rate limiting
  scripts/prepare_changelog.sh
Labels: tech-debt

#9173 remove spot_price_auto_product from docs
  builder/amazon/common/run_config.go
  builder/amazon/ebs/builder.hcl2spec.go
  builder/amazon/ebssurrogate/builder.hcl2spec.go
  builder/amazon/ebsvolume/builder.hcl2spec.go
  builder/amazon/instance/builder.hcl2spec.go
  website/pages/partials/builder/amazon/common/RunConfig-not-required.mdx
Labels: builder/amazon, docs

#9174 output_filename virtualbox option.
  builder/virtualbox/common/output_config.go
  builder/virtualbox/common/step_export.go
  builder/virtualbox/common/step_export_test.go
  builder/virtualbox/iso/builder.go
  builder/virtualbox/iso/builder.hcl2spec.go
  builder/virtualbox/ovf/builder.go
  builder/virtualbox/ovf/config.hcl2spec.go
  builder/virtualbox/vm/builder.go
  builder/virtualbox/vm/config.hcl2spec.go
  website/pages/partials/builder/virtualbox/common/OutputConfig-not-required.mdx
Labels: builder/virtualbox, enhancement

#9179 fix docs for video_ram to use correct units
  builder/vsphere/common/step_hardware.go
  website/pages/partials/builder/vsphere/common/HardwareConfig-not-required.mdx
Labels: docs

#9101 Vbox Checksum Bugfix
  builder/virtualbox/ovf/config.go
  builder/virtualbox/ovf/config_test.go
Labels: bug, builder/virtualbox

#9071 Changed default disk size for when using googlecompute
  builder/googlecompute/config.go
Labels: builder/google

#9187 floppy_label Parameter for vsphere-iso Builder
  builder/vsphere/iso/builder.go
  builder/vsphere/iso/config.hcl2spec.go
  builder/vsphere/iso/step_add_floppy.go
  builder/vsphere/iso/step_add_floppy.hcl2spec.go
  website/pages/partials/builder/vsphere/iso/FloppyConfig-not-required.mdx
Labels: builder/vsphere

#9082 builder/amazon: Add SSM Session Manager as a SSH interface connection
  builder/amazon/common/run_config.go
  builder/amazon/common/ssh.go
  builder/amazon/common/ssh_test.go
  builder/amazon/common/ssm_driver.go
  builder/amazon/common/ssm_driver_test.go
  builder/amazon/common/step_create_ssm_tunnel.go
  builder/amazon/common/step_create_ssm_tunnel_test.go
  builder/amazon/common/step_security_group.go
  builder/amazon/ebs/builder.go
  builder/amazon/ebs/builder.hcl2spec.go
  builder/amazon/ebssurrogate/builder.go
  builder/amazon/ebssurrogate/builder.hcl2spec.go
  builder/amazon/ebsvolume/builder.go
  builder/amazon/ebsvolume/builder.hcl2spec.go
  builder/amazon/instance/builder.go
  builder/amazon/instance/builder.hcl2spec.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/api.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/doc.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/errors.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/service.go
  vendor/modules.txt
  website/pages/docs/builders/amazon/ebs.mdx
  website/pages/partials/builder/amazon/common/RunConfig-not-required.mdx
  website/pages/partials/builders/aws-sesson-manager.mdx
Labels: builder/amazon, enhancement

#9105 Implement iap proxy for googlecompute
  builder/googlecompute/builder.go
  builder/googlecompute/config.go
  builder/googlecompute/config.hcl2spec.go
  builder/googlecompute/config_test.go
  builder/googlecompute/step_start_tunnel.go
  builder/googlecompute/step_start_tunnel.hcl2spec.go
  builder/googlecompute/step_start_tunnel_test.go
  builder/googlecompute/tunnel_driver.go
  builder/googlecompute/tunnel_driver_windows.go
  post-processor/googlecompute-export/post-processor.go
  post-processor/googlecompute-export/post-processor.hcl2spec.go
  post-processor/googlecompute-import/post-processor.go
  post-processor/googlecompute-import/post-processor.hcl2spec.go
  website/pages/docs/builders/googlecompute.mdx
  website/pages/partials/builder/googlecompute/IAPConfig-not-required.mdx
  website/pages/partials/builder/googlecompute/IAPConfig.mdx
Labels: builder/google, enhancement

#9129 Add pwd to gogetter ChecksumFromFile
  common/iso_config.go
  common/iso_config_test.go
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-getter/v2/README.md
  vendor/github.com/hashicorp/go-getter/v2/appveyor.yml
  vendor/github.com/hashicorp/go-getter/v2/checksum.go
  vendor/github.com/hashicorp/go-getter/v2/client.go
  vendor/github.com/hashicorp/go-getter/v2/go.mod
  vendor/github.com/hashicorp/go-getter/v2/go.sum
  vendor/modules.txt
Labels: core, regression

#9219 alicloud: better docs + autogenerated post processor docs
  builder/alicloud/ecs/access_config.go
  builder/alicloud/ecs/builder.hcl2spec.go
  builder/alicloud/ecs/image_config.go
  post-processor/alicloud-import/post-processor.go
  post-processor/alicloud-import/post-processor.hcl2spec.go
  website/pages/docs/builders/alicloud-ecs.mdx
  website/pages/docs/post-processors/alicloud-import.mdx
  website/pages/partials/builder/alicloud/ecs/AlicloudAccessConfig-not-required.mdx
  website/pages/partials/builder/alicloud/ecs/AlicloudAccessConfig-required.mdx
  website/pages/partials/builder/alicloud/ecs/AlicloudImageConfig-not-required.mdx
  website/pages/partials/builder/alicloud/ecs/AlicloudImageConfig-required.mdx
  website/pages/partials/post-processor/alicloud-import/Config-not-required.mdx
  website/pages/partials/post-processor/alicloud-import/Config-required.mdx
  website/pages/partials/post-processor/alicloud-import/Config.mdx
Labels: builder/alicloud, docs, enhancement, post-processor/alicloud-import

#9221 s/Directoty/Directory
  builder/azure/common/client/config.go
  website/pages/partials/builder/azure/common/client/Config.mdx
Labels: builder/azure, docs

#9225 Disables Codecov status config
  .codecov.yml
Labels: tech-debt

#9139 Hcl2 commands refactor
  CHANGELOG.md
  command/build.go
  command/build_cancellation_test.go
  command/build_cleanup_script_test.go
  command/build_parallel_test.go
  command/build_test.go
  command/cli.go
  command/console.go
  command/fix.go
  command/meta.go
  command/signal.go
  command/validate.go
  hcl2template/common_test.go
  hcl2template/parser.go
  hcl2template/types.build.post-processor.go
  hcl2template/types.build.provisioners.go
  hcl2template/types.packer_config.go
  hcl2template/types.source.go
  hcl2template/utils.go
  hcl2template/zz_retrocompat.go
  packer/core.go
  packer/core_test.go
  packer/fixconfigmode_enumer.go
  packer/run_interfaces.go
  website/pages/docs/commands/build.mdx
Labels: hcl2

#9229 docs/builder/azure-arm: Fix a small typo for the custom_managed_image_* config options
  builder/azure/arm/config.go
  website/pages/partials/builder/azure/arm/Config-required.mdx
Labels: docs

#9232 docs/builder/amazon: Add Session Manager Connection documentation to supported builders
  website/pages/docs/builders/amazon/ebs.mdx
  website/pages/docs/builders/amazon/ebsvolume.mdx
  website/pages/docs/builders/amazon/instance.mdx
  website/pages/partials/builders/aws-session-manager.mdx
Labels: docs

#9236 docs/amazon-ebssurrogate: Add Session Manager documentation
  website/pages/docs/builders/amazon/ebssurrogate.mdx
Labels: docs

#9238 Replace file shared state by statebag
  builder/azure/dtl/step_save_winrm_password.go
  builder/cloudstack/step_create_instance.go
  builder/hyperv/common/step_run.go
  builder/hyperv/common/step_type_boot_command.go
  builder/hyperv/iso/builder_test.go
  builder/hyperv/vmcx/builder_test.go
  builder/parallels/common/step_type_boot_command.go
  builder/proxmox/step_type_boot_command.go
  builder/qemu/step_http_ip_discover.go
  builder/qemu/step_http_ip_discover_test.go
  builder/qemu/step_type_boot_command.go
  builder/virtualbox/common/step_http_ip_discover.go
  builder/virtualbox/common/step_http_ip_discover_test.go
  builder/virtualbox/common/step_type_boot_command.go
  builder/virtualbox/common/step_vboxmanage.go
  builder/vmware/common/step_http_ip_discover.go
  builder/vmware/common/step_http_ip_discover_test.go
  builder/vmware/common/step_type_boot_command.go
  builder/vsphere/iso/step_boot_command.go
  common/shell-local/run.go
  common/step_http_server.go
  common/step_provision.go
  common/step_provision_test.go
  helper/common/shared_state.go
  packer/provisioner.go
  provisioner/ansible-local/provisioner.go
  provisioner/ansible/provisioner.go
  provisioner/powershell/provisioner.go
  provisioner/powershell/provisioner_test.go
  provisioner/shell/provisioner.go
  provisioner/shell/provisioner_test.go
  provisioner/windows-shell/provisioner.go
  provisioner/windows-shell/provisioner_test.go
  website/pages/docs/templates/engine.mdx
Labels: core

#9149 (vsphere-iso) remove deprecated network and disk fields
  builder/vsphere/iso/config.hcl2spec.go
  builder/vsphere/iso/step_create.go
  builder/vsphere/iso/step_create.hcl2spec.go
  fix/fixer.go
  fix/fixer_vsphere_network_storage.go
  fix/fixer_vsphere_network_storage_test.go
  website/pages/partials/builder/vsphere/iso/CreateConfig-not-required.mdx
Labels: builder/vsphere

#9251 builder/azure-arm: Update runtime constants with a valid DataDiskName
  builder/azure/arm/config.go
  builder/azure/arm/config_test.go
  builder/azure/arm/tempname.go
  website/pages/docs/builders/azure/arm.mdx
  website/pages/partials/builder/azure/arm/Config-not-required.mdx
Labels: bug, builder/azure, regression

#9258 docs/hcl2: Add pinned issue link to the HCL2 beta documentation pages
  website/pages/docs/from-1.5/expressions.mdx
  website/pages/docs/from-1.5/index.mdx
  website/pages/docs/from-1.5/locals.mdx
  website/pages/docs/from-1.5/syntax.mdx
  website/pages/docs/from-1.5/variables.mdx
  website/pages/partials/guides/hcl2-beta-note.mdx
Labels: docs

#9239 Add Artifice postprocessor ID to valid artifacts for postprocessors t…
  post-processor/googlecompute-export/post-processor.go
  post-processor/googlecompute-import/post-processor.go
  post-processor/vagrant-cloud/post-processor.go
  post-processor/vagrant/post-processor.go
  post-processor/vagrant/post-processor.hcl2spec.go
  post-processor/vagrant/post-processor_test.go
  post-processor/vsphere-template/post-processor.go
  post-processor/yandex-export/post-processor.go
  website/pages/docs/post-processors/artifice.mdx
  website/pages/docs/post-processors/vagrant.mdx
Labels: core

#9262 Interpolate generatedData in the Inspec provisioner
  .circleci/config.yml
  CHANGELOG.md
  provisioner/inspec/provisioner.go
  website/pages/docs/provisioners/inspec.mdx
Labels: bug, provisioner/inspec

#9202 Add support for specifying key to fetch from AWS Secrets Manager
  go.mod
  go.sum
  template/interpolate/aws/secretsmanager/secretsmanager.go
  template/interpolate/aws/secretsmanager/secretsmanager_test.go
  template/interpolate/aws/secretsmanager/types.go
  template/interpolate/funcs.go
  vendor/github.com/overdrive3000/secretsmanager/.gitignore
  vendor/github.com/overdrive3000/secretsmanager/LICENSE
  vendor/github.com/overdrive3000/secretsmanager/README.md
  vendor/github.com/overdrive3000/secretsmanager/secretsmanager.go
  vendor/github.com/overdrive3000/secretsmanager/types.go
  vendor/modules.txt
  website/pages/docs/templates/user-variables.mdx
Labels: core, dependencies

#9254 HCL compliance for HyperOne builder
  examples/hyperone/new-syntax.pkr.hcl
  test/builder_hyperone.bats
  test/fixtures/builder-hyperone/new-syntax.pkr.hcl
  website/pages/docs/builders/hyperone.mdx
Labels: builder/hyperone, docs, hcl2

#9159 qemu: add support for using a network bridge
  builder/qemu/builder.go
  builder/qemu/builder.hcl2spec.go
  builder/qemu/qmp.go
  builder/qemu/ssh.go
  builder/qemu/step_configure_qmp.go
  builder/qemu/step_http_ip_discover.go
  builder/qemu/step_http_ip_discover_test.go
  builder/qemu/step_run.go
  builder/qemu/step_wait_guest_address.go
  website/pages/partials/builder/qemu/Config-not-required.mdx
Labels: builder/qemu, enhancement

#9040 provisioner/powershell: Update default execute command to handle script errors
  provisioner/powershell/provisioner.go
  provisioner/powershell/provisioner_acc_test.go
  provisioner/powershell/provisioner_test.go
  provisioner/powershell/test-fixtures/powershell-exit_codes-provisioner.txt
  provisioner/powershell/test-fixtures/scripts/set_version_latest.ps1
Labels: provisioner/powershell

#9275 provisioner/powershell: fix interpolation of execute_command in cleanup script call.
  provisioner/powershell/provisioner.go
Labels: bug, provisioner/powershell

#9272 send logs about floppy failure directly to UI not just logs
  builder/virtualbox/common/step_attach_floppy.go
Labels: builder/virtualbox

#9289 Add Communicator Configuration Reference to Hyper-v documentation
  website/pages/docs/builders/hyperv/iso.mdx
  website/pages/docs/builders/hyperv/vmcx.mdx
Labels: builder/hyperv, docs

#9296 Add source URL to test fixture script
  provisioner/powershell/test-fixtures/scripts/set_version_latest.ps1
Labels: tech-debt

#9290 provisioner/salt-masterless: ignore the CmdArgs field in hcl2
  provisioner/salt-masterless/provisioner.go
  provisioner/salt-masterless/provisioner.hcl2spec.go
Labels: hcl2, provisioner/salt

#9286 Fix aws_secretsmanager multiple keys support
  template/interpolate/aws/secretsmanager/secretsmanager.go
  template/interpolate/aws/secretsmanager/secretsmanager_test.go
Labels: core

#9277 Added SourceAMICreationDate
  builder/amazon/common/interpolate_build_info.go
  builder/amazon/common/interpolate_build_info_test.go
  website/pages/docs/builders/amazon/chroot.mdx
  website/pages/docs/builders/amazon/ebs.mdx
  website/pages/docs/builders/amazon/ebssurrogate.mdx
  website/pages/docs/builders/amazon/ebsvolume.mdx
  website/pages/docs/builders/amazon/instance.mdx
Labels: builder/amazon

#9100 dont set the host for the datastore upload
  builder/vsphere/clone/config.hcl2spec.go
  builder/vsphere/common/config_location.go
  builder/vsphere/common/config_location.hcl2spec.go
  builder/vsphere/driver/datastore.go
  builder/vsphere/driver/datastore_acc_test.go
  builder/vsphere/iso/builder.go
  builder/vsphere/iso/config.hcl2spec.go
  builder/vsphere/iso/step_add_floppy.go
  builder/vsphere/iso/step_remote_upload.go
  website/pages/partials/builder/vsphere/common/LocationConfig-not-required.mdx
Labels: builder/vsphere

#9305 HCL2: Update guide example to fix broken example
  website/pages/docs/from-1.5/syntax-json.mdx
  website/pages/docs/from-1.5/syntax.mdx
  website/pages/guides/hcl/from-json-v1.mdx
Labels: docs, hcl2

#9311 fix network card fixer
  fix/fixer_vsphere_network_storage.go
  fix/fixer_vsphere_network_storage_test.go
Labels: builder/vsphere

#9317 The prefix for local is "local." (and not ".local")
  website/pages/guides/hcl/variables.mdx
Labels: hcl2

#9260 make package_include match output_vagrantfile parsing and abspath cal…
  builder/vagrant/builder.go
  website/pages/partials/builder/vagrant/Config-not-required.mdx
Labels: builder/vagrant

#9330 update docs for configuration_paramaters to explain what it actually is.
  builder/vsphere/common/step_config_params.go
  website/pages/partials/builder/vsphere/common/ConfigParamsConfig-not-required.mdx
Labels: docs
