Repository hashicorp/packer, pull requests merged in 2020-10, with the labels that each got.

#10010 Bug fix(10008): fix ansible-galaxy for v1 files
  provisioner/ansible/provisioner.go
Labels: bug, provisioner/ansible-remote

#9996 Make shell-local post-processor return copy of previous artifact
  builder/docker/artifact_import.go
  packer/rpc/post_processor.go
  post-processor/docker-push/post-processor.go
Labels: bug, post-processor/shell-local

#10031 HCL: hide sensitive variables from output
  .gitattributes
  command/command_test.go
  command/inspect_test.go
  command/test-fixtures/hcl-inspect-with-sensitive-vars/expected-output.txt
  command/test-fixtures/hcl-inspect-with-sensitive-vars/vars.pkr.hcl
  hcl2template/parser.go
  website/pages/docs/from-1.5/blocks/variable.mdx
  website/pages/docs/from-1.5/variables.mdx
  website/pages/partials/from-1.5/variables/foo-block.mdx
  website/pages/partials/from-1.5/variables/sensitive.mdx
Labels: core, enhancement, hcl2

#10059 upgrade panicwrap to v1
  go.mod
  go.sum
  vendor/github.com/kardianos/osext/LICENSE
  vendor/github.com/kardianos/osext/README.md
  vendor/github.com/kardianos/osext/osext.go
  vendor/github.com/kardianos/osext/osext_go18.go
  vendor/github.com/kardianos/osext/osext_plan9.go
  vendor/github.com/kardianos/osext/osext_procfs.go
  vendor/github.com/kardianos/osext/osext_sysctl.go
  vendor/github.com/kardianos/osext/osext_windows.go
  vendor/github.com/mitchellh/panicwrap/go.mod
  vendor/github.com/mitchellh/panicwrap/go.sum
  vendor/github.com/mitchellh/panicwrap/panicwrap.go
  vendor/modules.txt
Labels: tech-debt

#10066 Fix typo in option description
  command/build.go
  contrib/zsh-completion/_packer
Labels: docs

#10064 builder/qemu: (tech-debt) Major refactor of step_run.
  builder/qemu/builder.go
  builder/qemu/step_run.go
  builder/qemu/step_run_test.go
Labels: builder/qemu, tech-debt

#10079 fix docs linking issue
  builder/vsphere/common/config_location.go
  website/pages/docs/builders/vmware/vsphere-clone.mdx
  website/pages/docs/builders/vmware/vsphere-iso.mdx
  website/pages/partials/builder/vsphere/common/LocationConfig-not-required.mdx
Labels: builder/vsphere, docs

#10080 fix up alicloud docs to make it clearer that disk_size and other disk…
  builder/alicloud/ecs/image_config.go
  website/pages/docs/builders/alicloud-ecs.mdx
  website/pages/partials/builder/alicloud/ecs/AlicloudDiskDevice-not-required.mdx
  website/pages/partials/builder/alicloud/ecs/AlicloudDiskDevice.mdx
  website/pages/partials/builder/alicloud/ecs/AlicloudDiskDevices-not-required.mdx
  website/pages/partials/builder/alicloud/ecs/AlicloudDiskDevices.mdx
Labels: builder/alicloud, docs

#10081 provisioner/Ansible: Add Amazon SSM setup documentation
  website/pages/docs/provisioners/ansible.mdx
Labels: docs

#10077 builder/qemu: docs: users must re-apply packer defaults for drive and device arguments
  builder/qemu/config.go
  website/pages/partials/builder/qemu/Config-not-required.mdx
Labels: builder/qemu, docs

#10095 add docs for hcl2_upgrade command
  website/pages/guides/hcl/from-json-v1.mdx
Labels: docs

#10096 Fix line ending issues for test files
  builder/azure/arm/azure_error_response_test.TestAzureErrorNestedShouldFormat.approved.txt
  builder/azure/arm/azure_error_response_test.TestAzureErrorSimpleShouldFormat.approved.txt
  test/fixtures/provisioner-ansible/largish-file.txt
Labels: tech-debt

#10109 syntax-json: Fix nested provisioner block example
  website/pages/docs/from-1.5/syntax-json.mdx
Labels: docs

#10113 Fix references to source blocks
  website/pages/docs/from-1.5/blocks/build/index.mdx
  website/pages/docs/from-1.5/blocks/source.mdx
Labels: docs

#10102 builder/amazon: Add io2 as a supported volume type
  builder/amazon/common/block_device.go
  builder/amazon/common/block_device_test.go
Labels: builder/amazon, enhancement

#10101 add sshkey package and ssh-keygen comand
  cmd/ssh-keygen/main.go
  helper/communicator/sshkey/algorithm_enumer.go
  helper/communicator/sshkey/generate.go
  helper/communicator/sshkey/generate_test.go
Labels: enhancement

#10124 Add HCL2 aws_secretsmanager function
  common/template/funcs.go
  hcl2template/function/aws_secretetkey.go
  hcl2template/functions.go
  template/interpolate/aws/secretsmanager/secretsmanager.go
  template/interpolate/funcs.go
  website/data/docs-navigation.js
  website/pages/docs/from-1.5/functions/contextual/aws_secretsmanager.mdx
Labels: hcl2

#10133 tests/azure/arm: Update test image name
  builder/azure/arm/builder_acc_test.go
Labels: tech-debt

#10141 hcl amazon docs
  website/pages/docs/builders/amazon/chroot.mdx
  website/pages/docs/builders/amazon/ebs.mdx
  website/pages/docs/builders/amazon/ebssurrogate.mdx
  website/pages/docs/builders/amazon/ebsvolume.mdx
  website/pages/docs/builders/amazon/instance.mdx
Labels: docs

#10140 HCL2: add vmware vmx example
  examples/hcl/linux/build.ubuntu.pkr.hcl
  examples/hcl/linux/source.vmware-vmx.pkr.hcl
  examples/hcl/linux/variables.16.04.pkr.hcl
Labels: docs, hcl2

#9964 Hashicorp/packer#9924
  builder/vsphere/clone/config.go
  builder/vsphere/common/step_shutdown.go
  builder/vsphere/iso/builder.go
  builder/vsphere/iso/config.go
  website/pages/partials/builder/vsphere/common/ShutdownConfig-not-required.mdx
Labels: builder/vsphere, needs-cla

#10163 builder/azure_arm: Fix build failures due to the deletion of attached managed disks
  builder/azure/arm/builder.go
  builder/azure/arm/builder_acc_test.go
  builder/azure/arm/step_deploy_template.go
Labels: bug, builder/azure, regression

#10162 makefile: Disable test caching explicitly for go test
  Makefile
Labels: tech-debt

#10149 HCL2: add packer.required_version option
  command/test-fixtures/version_req/base_failure/version.pkr.hcl
  command/test-fixtures/version_req/base_success/version.pkr.hcl
  command/test-fixtures/version_req/wrong_field_name/version.pkr.hcl
  command/validate_test.go
  hcl2template/parser.go
  hcl2template/types.packer_config.go
  hcl2template/types.variables.go
  hcl2template/version.go
  hcl2template/version_required.go
  version/version.go
  website/data/docs-navigation.js
  website/pages/docs/from-1.5/blocks/packer.mdx
Labels: enhancement, hcl2

#10155 builder/vsphere: Don't try to delete a cd file from the remote datastore if the upload of the cd failed
  builder/vsphere/common/step_remote_upload.go
  builder/vsphere/common/step_remote_upload_test.go
  builder/vsphere/driver/datastore.go
  builder/vsphere/driver/datastore_mock.go
Labels: bug, builder/vsphere

#10173 Fix GCP HCL image_encryption_key fields and use the same casing in JSON and HCL2
  builder/googlecompute/config.go
  builder/googlecompute/config.hcl2spec.go
  website/pages/partials/builder/googlecompute/Config-not-required.mdx
  website/pages/partials/builder/googlecompute/CustomerEncryptionKey-not-required.mdx
Labels: bug, builder/google, hcl2

#10003 Add retry mechanism to retry SSM session creation
  builder/amazon/common/access_config.go
  builder/amazon/common/awserrors/utils.go
  builder/amazon/common/helper_funcs.go
  builder/amazon/common/run_config.go
  builder/amazon/common/ssm/session.go
  builder/amazon/common/ssm_driver.go
  builder/amazon/common/ssm_driver_test.go
  builder/amazon/common/ssm_mock_funcs.go
  builder/amazon/common/step_create_ssm_tunnel.go
  builder/amazon/common/step_create_ssm_tunnel_test.go
  builder/amazon/common/step_create_tags.go
  builder/amazon/common/step_pre_validate.go
  builder/amazon/common/step_run_source_instance.go
  builder/amazon/common/step_run_spot_instance.go
  builder/amazon/common/step_stop_ebs_instance.go
  builder/amazon/ebs/builder_acc_test.go
  builder/amazon/ebs/step_create_ami.go
  go.mod
  go.sum
Labels: bug, builder/amazon

#10196 Fix issue with AWS secrets manager override default stage
  template/interpolate/aws/secretsmanager/secretsmanager.go
  website/pages/docs/from-1.5/functions/contextual/aws_secretsmanager.mdx
Labels: bug, tech-debt
