Repository hashicorp/packer, pull requests merged in 2020-07, with the labels that each got.

#9515 fix vsphere ToolsSyncTime and ToolsUpgradePolicy
  builder/vsphere/common/step_config_params.go
  builder/vsphere/driver/vm.go
  website/pages/partials/builder/vsphere/common/ConfigParamsConfig-not-required.mdx
Labels: bug, builder/vsphere

#9534 HCL2 only: Make provisioners and post-processors reprepare themselves with build data
  command/build_test.go
  command/build_windows_test.go
  command/command_test.go
  command/test-fixtures/build-variable-sharing/basic_template.pkr.hcl
  command/test-fixtures/build-variable-sharing/basic_template_with_hcl_func.pkr.hcl
  command/test-fixtures/build-variable-sharing/multiple_build_blocks.pkr.hcl
  command/test-fixtures/build-variable-sharing/multiple_source_build.pkr.hcl
  command/test-fixtures/build-variable-sharing/named_build.pkr.hcl
  command/test-fixtures/hcl/recipes/build.pkr.hcl
  command/test-fixtures/hcl/recipes/sources.pkr.hcl
  hcl2template/common_test.go
  hcl2template/internal/mock.go
  hcl2template/testdata/complete/build.pkr.hcl
  hcl2template/types.build.post-processor.go
  hcl2template/types.build.provisioners.go
  hcl2template/types.build_test.go
  hcl2template/types.hcl_post-processor.go
  hcl2template/types.hcl_provisioner.go
  hcl2template/types.packer_config.go
  hcl2template/types.packer_config_test.go
  hcl2template/types.source.go
  packer/build.go
  packer/provisioner.go
Labels: core, hcl2, track-internal

#9483 Add 'cdrom_interface' option to QEMU builder
  builder/qemu/builder.go
  builder/qemu/builder.hcl2spec.go
  builder/qemu/step_run.go
  website/pages/partials/builder/qemu/Config-not-required.mdx
Labels: builder/qemu, enhancement

#9505 builder/googlecompute: Add WrapStartupScriptFile configuration option
  builder/googlecompute/config.go
  builder/googlecompute/config.hcl2spec.go
  builder/googlecompute/step_create_instance.go
  builder/googlecompute/step_create_instance_test.go
  builder/googlecompute/step_wait_startup_script.go
  builder/googlecompute/step_wait_startup_script_test.go
  website/pages/partials/builder/googlecompute/Config-not-required.mdx
Labels: builder/google, enhancement

#9538 docs/builder/vsphere-iso: Add documentation for BootConfig
  builder/vsphere/common/step_boot_command.go
  website/pages/docs/builders/vmware/vsphere-clone.mdx
  website/pages/docs/builders/vmware/vsphere-iso.mdx
  website/pages/partials/builder/vsphere/common/BootConfig-not-required.mdx
Labels: docs

#9513 Undocument ssh options not used by all builders
  builder/alicloud/ecs/builder.hcl2spec.go
  builder/amazon/ebs/builder.hcl2spec.go
  builder/amazon/ebssurrogate/builder.hcl2spec.go
  builder/amazon/ebsvolume/builder.hcl2spec.go
  builder/amazon/instance/builder.hcl2spec.go
  builder/azure/arm/config.hcl2spec.go
  builder/azure/dtl/config.hcl2spec.go
  builder/cloudstack/config.hcl2spec.go
  builder/digitalocean/config.hcl2spec.go
  builder/docker/config.hcl2spec.go
  builder/googlecompute/config.hcl2spec.go
  builder/hcloud/config.hcl2spec.go
  builder/hyperone/config.hcl2spec.go
  builder/hyperv/iso/builder.hcl2spec.go
  builder/hyperv/vmcx/builder.hcl2spec.go
  builder/jdcloud/common.hcl2spec.go
  builder/linode/config.hcl2spec.go
  builder/ncloud/config.hcl2spec.go
  builder/null/config.hcl2spec.go
  builder/oneandone/config.hcl2spec.go
  builder/openstack/builder.hcl2spec.go
  builder/oracle/classic/builder.hcl2spec.go
  builder/oracle/oci/config.hcl2spec.go
  builder/osc/bsu/builder.hcl2spec.go
  builder/osc/bsusurrogate/builder.hcl2spec.go
  builder/osc/bsuvolume/builder.hcl2spec.go
  builder/parallels/iso/builder.hcl2spec.go
  builder/parallels/pvm/config.hcl2spec.go
  builder/profitbricks/config.hcl2spec.go
  builder/proxmox/config.hcl2spec.go
  builder/qemu/builder.hcl2spec.go
  builder/scaleway/config.hcl2spec.go
  builder/tencentcloud/cvm/builder.hcl2spec.go
  builder/triton/config.hcl2spec.go
  builder/ucloud/uhost/builder.hcl2spec.go
  builder/vagrant/builder.hcl2spec.go
  builder/virtualbox/iso/builder.hcl2spec.go
  builder/virtualbox/ovf/config.hcl2spec.go
  builder/virtualbox/vm/config.hcl2spec.go
  builder/vmware/iso/config.hcl2spec.go
  builder/vmware/vmx/config.hcl2spec.go
  builder/vsphere/clone/config.hcl2spec.go
  builder/vsphere/iso/config.hcl2spec.go
  builder/yandex/config.hcl2spec.go
  helper/communicator/config.go
  helper/communicator/config.hcl2spec.go
  post-processor/alicloud-import/post-processor.hcl2spec.go
  website/pages/docs/builders/amazon/ebs.mdx
  website/pages/docs/builders/amazon/ebssurrogate.mdx
  website/pages/docs/builders/amazon/ebsvolume.mdx
  website/pages/docs/builders/amazon/instance.mdx
  website/pages/docs/builders/openstack.mdx
  website/pages/docs/builders/virtualbox/iso.mdx
  website/pages/docs/builders/virtualbox/ovf.mdx
  website/pages/partials/helper/communicator/SSH-Agent-Auth-not-required.mdx
  website/pages/partials/helper/communicator/SSH-Key-Pair-Name-not-required.mdx
  website/pages/partials/helper/communicator/SSH-Private-Key-File-not-required.mdx
  website/pages/partials/helper/communicator/SSH-Temporary-Key-Pair-not-required.mdx
  website/pages/partials/helper/communicator/SSH-not-required.mdx
Labels: docs

#9507 Adds vApp properties config and save public ssh key to a vApp property
  builder/vsphere/clone/builder.go
  builder/vsphere/clone/config.hcl2spec.go
  builder/vsphere/clone/step_clone.go
  builder/vsphere/clone/step_clone.hcl2spec.go
  builder/vsphere/common/step_ssh_key_pair.go
  builder/vsphere/driver/vm.go
  website/pages/docs/builders/vmware/vsphere-clone.mdx
  website/pages/partials/builder/vsphere/clone/CloneConfig-not-required.mdx
  website/pages/partials/builder/vsphere/clone/vAppConfig-not-required.mdx
Labels: builder/vsphere, enhancement

#9339 builder/googlecompute: add support for oslogin
  builder/googlecompute/builder.go
  builder/googlecompute/config.go
  builder/googlecompute/config.hcl2spec.go
  builder/googlecompute/driver.go
  builder/googlecompute/driver_gce.go
  builder/googlecompute/driver_mock.go
  builder/googlecompute/startup.go
  builder/googlecompute/step_create_instance.go
  builder/googlecompute/step_import_os_login_ssh_key.go
  builder/googlecompute/step_import_os_login_ssh_key_test.go
  go.sum
  vendor/google.golang.org/api/oauth2/v2/oauth2-api.json
  vendor/google.golang.org/api/oauth2/v2/oauth2-gen.go
  vendor/google.golang.org/api/oslogin/v1/oslogin-api.json
  vendor/google.golang.org/api/oslogin/v1/oslogin-gen.go
  vendor/modules.txt
  website/pages/partials/builder/googlecompute/Config-not-required.mdx
Labels: builder/google, dependencies, enhancement, track-internal

#9480 aws: retry fetching blockdevicemapping if empty
  builder/amazon/common/step_run_spot_instance.go
Labels: bug, builder/amazon, waiting-reply

#9550 Add note for unmaintained community-supported plugins
  README.md
  website/pages/docs/provisioners/salt-masterless.mdx
  website/pages/partials/provisioners/unmaintained-plugin.mdx
Labels: docs, tech-debt

#9557 unset HardwareConfig.Firmware for vsphere-iso
  builder/vsphere/iso/builder.go
Labels: bug, builder/vsphere

#9556 Match network to host when multiple networks are found
  builder/vsphere/driver/network.go
  builder/vsphere/driver/vm.go
Labels: bug, builder/vsphere

#9551 Add content_library_destination to import VM template to a Content Library
  builder/vsphere/clone/builder.go
  builder/vsphere/clone/config.go
  builder/vsphere/clone/config.hcl2spec.go
  builder/vsphere/common/step_connect.go
  builder/vsphere/common/step_import_to_content_library.go
  builder/vsphere/common/step_import_to_content_library.hcl2spec.go
  builder/vsphere/common/testing/utility.go
  builder/vsphere/driver/cluster.go
  builder/vsphere/driver/driver.go
  builder/vsphere/driver/driver_test.go
  builder/vsphere/driver/library.go
  builder/vsphere/driver/vm.go
  builder/vsphere/examples/driver/main.go
  builder/vsphere/iso/builder.go
  builder/vsphere/iso/config.go
  builder/vsphere/iso/config.hcl2spec.go
  builder/vsphere/iso/step_remove_floppy.go
  hcl2template/types.hcl_post-processor.go
  hcl2template/types.hcl_provisioner.go
  helper/multistep/statebag.go
  vendor/github.com/vmware/govmomi/vapi/internal/internal.go
  vendor/github.com/vmware/govmomi/vapi/library/library.go
  vendor/github.com/vmware/govmomi/vapi/library/library_file.go
  vendor/github.com/vmware/govmomi/vapi/library/library_item.go
  vendor/github.com/vmware/govmomi/vapi/library/library_item_downloadsession_file.go
  vendor/github.com/vmware/govmomi/vapi/library/library_item_updatesession.go
  vendor/github.com/vmware/govmomi/vapi/library/library_item_updatesession_file.go
  vendor/github.com/vmware/govmomi/vapi/rest/client.go
  vendor/github.com/vmware/govmomi/vapi/rest/resource.go
  vendor/github.com/vmware/govmomi/vapi/vcenter/vcenter_ovf.go
  vendor/github.com/vmware/govmomi/vapi/vcenter/vcenter_vmtx.go
  vendor/modules.txt
  website/pages/docs/builders/vmware/vsphere-clone.mdx
  website/pages/docs/builders/vmware/vsphere-iso.mdx
  website/pages/partials/builder/vsphere/clone/Config-not-required.mdx
  website/pages/partials/builder/vsphere/common/ContentLibraryDestinationConfig-not-required.mdx
  website/pages/partials/builder/vsphere/common/ContentLibraryDestinationConfig.mdx
  website/pages/partials/builder/vsphere/iso/Config-not-required.mdx
Labels: builder/vsphere, enhancement

#9519 add ability to define multiple disk controllers
  builder/vsphere/driver/vm.go
  builder/vsphere/iso/config.hcl2spec.go
  builder/vsphere/iso/step_create.go
  builder/vsphere/iso/step_create.hcl2spec.go
  website/pages/partials/builder/vsphere/iso/CreateConfig-not-required.mdx
  website/pages/partials/builder/vsphere/iso/DiskConfig-not-required.mdx
  website/pages/partials/builder/vsphere/iso/DiskConfig.mdx
Labels: builder/vsphere, enhancement

#9563 Add force_bios_setup configuration option
  builder/vsphere/clone/config.hcl2spec.go
  builder/vsphere/common/step_hardware.go
  builder/vsphere/common/step_hardware.hcl2spec.go
  builder/vsphere/driver/vm.go
  builder/vsphere/iso/builder.go
  builder/vsphere/iso/config.hcl2spec.go
  builder/vsphere/iso/step_create.go
  builder/vsphere/iso/step_create.hcl2spec.go
  website/pages/partials/builder/vsphere/common/HardwareConfig-not-required.mdx
  website/pages/partials/builder/vsphere/iso/CreateConfig-not-required.mdx
Labels: builder/vsphere, enhancement

#9569 Add option to destroy VM after deploying to Content Library
  builder/vsphere/common/step_import_to_content_library.go
  builder/vsphere/common/step_import_to_content_library.hcl2spec.go
  builder/vsphere/iso/step_create.go
  website/pages/partials/builder/vsphere/common/ContentLibraryDestinationConfig-not-required.mdx
Labels: builder/vsphere, enhancement

#9572 post-processor/vagrant-cloud: missing vagrant_cloud_url in test
  post-processor/vagrant-cloud/post-processor_test.go
Labels: tech-debt

#9568 Fix file size descriptor when exporting the VM
  builder/vsphere/common/step_export.go
Labels: bug, builder/vsphere

#9576 Don't use Packer context as vSphere driver context
  builder/vsphere/common/step_connect.go
  builder/vsphere/common/testing/utility.go
  builder/vsphere/driver/driver.go
  builder/vsphere/driver/driver_test.go
  builder/vsphere/examples/driver/main.go
Labels: bug, builder/vsphere, regression

#9574 (vsphere) add ability to add a xhci/usb3 controller
  builder/vsphere/driver/vm.go
  builder/vsphere/iso/config.hcl2spec.go
  builder/vsphere/iso/step_create.go
  builder/vsphere/iso/step_create.hcl2spec.go
  website/pages/partials/builder/vsphere/iso/CreateConfig-not-required.mdx
Labels: builder/vsphere, enhancement

#9580 update go docs link in README.md to link to https://pkg.go.dev/
  README.md
Labels: docs

#9590 provisioner/ansible: Quote extra-var packer_build_name to handle names with spaces
  provisioner/ansible/provisioner.go
  provisioner/ansible/provisioner_test.go
Labels: bug, provisioner/ansible-remote

#9592 add esx5 build example
  examples/hcl/ubuntu/build.pkr.hcl
  examples/hcl/ubuntu/source.esxi-vmware-iso.pkr.hcl
  examples/hcl/ubuntu/source.vsphere-iso.pkr.hcl
Labels: docs

#9619 builder/tencent: add key source_image_name to get source image by name when creating image.#9548
  builder/tencentcloud/cvm/builder.hcl2spec.go
  builder/tencentcloud/cvm/run_config.go
  builder/tencentcloud/cvm/step_check_source_image.go
  website/pages/partials/builder/tencentcloud/cvm/TencentCloudRunConfig-not-required.mdx
  website/pages/partials/builder/tencentcloud/cvm/TencentCloudRunConfig-required.mdx
Labels: builder/tencent, enhancement

#9633 CI/tech-debt: Virtualbox acceptance tests: Fix minimal json example to use new checksumming
  builder/virtualbox/iso/testdata/minimal.json
Labels: tech-debt

#9646 add a 'Community Note' section to .github/ISSUE_TEMPLATE/feature_requests.md
  .github/ISSUE_TEMPLATE/feature_requests.md
Labels: docs

#9589 post-processor/vsphere: Fix password encoding in vsphere post-processor ovftool call
  builder/vmware/common/driver_config.go
  builder/vmware/common/step_export.go
  post-processor/vsphere/post-processor.go
  post-processor/vsphere/post-processor_test.go
Labels: track-internal

#9639 fix agent auth in ssh communicator for ansible provisioner (#9488)
  common/step_provision.go
  provisioner/ansible/provisioner.go
  provisioner/ansible/provisioner_test.go
Labels: provisioner/ansible-local

#9638 HCL2: add post-processors block to run multiple post-processor after a build
  CHANGELOG.md
  command/inspect_test.go
  command/test-fixtures/hcl/inspect/aws-builds.pkr.hcl
  command/test-fixtures/validate/validate_except.pkr.hcl
  hcl2template/testdata/complete/build.pkr.hcl
  hcl2template/types.build.go
  hcl2template/types.build_test.go
  hcl2template/types.packer_config.go
  hcl2template/types.packer_config_test.go
  website/data/docs-navigation.js
  website/pages/docs/from-1.5/blocks/build/post-processor.mdx
  website/pages/docs/from-1.5/blocks/build/post-processors.mdx
Labels: breaking-change, enhancement, hcl2, track-internal

#9610 Support using WinRM over an IAP tunnel
  builder/googlecompute/config.go
  builder/googlecompute/config_test.go
  builder/googlecompute/step_start_tunnel.go
  website/pages/partials/builder/googlecompute/IAPConfig-not-required.mdx
Labels: needs-cla

#9660 fix local file stating
  builder/vagrant/builder.go
  builder/vagrant/builder_test.go
Labels: bug, builder/vagrant, track-internal

#9662 Set project via project flag, not setting in the config
  builder/googlecompute/step_start_tunnel.go
  builder/googlecompute/step_start_tunnel_test.go
Labels: bug, builder/google

#9661 add some additional messaging when a boot command fails to type
  builder/vsphere/common/step_boot_command.go
Labels: tech-debt

#9663 tencentcloud cvm use CLOUD_PREMIUM disk by default
  builder/tencentcloud/cvm/run_config.go
  go.mod
  go.sum
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/common/client.go
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/common/http/request.go
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/common/profile/http_profile.go
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/cvm/v20170312/client.go
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/cvm/v20170312/models.go
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/vpc/v20170312/client.go
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/vpc/v20170312/models.go
  vendor/modules.txt
  website/pages/docs/builders/tencentcloud-cvm.mdx
  website/pages/partials/builder/tencentcloud/cvm/TencentCloudRunConfig-not-required.mdx
Labels: builder/tencent, enhancement

#9683 Add Vagrant builder HCL2 example
  website/pages/docs/builders/vagrant.mdx
Labels: docs

#9682 Add qemu hcl examples
  builder/qemu/builder.go
  website/pages/docs/builders/qemu.mdx
  website/pages/partials/builder/qemu/Config-not-required.mdx
Labels: docs

#9677 builder/scaleway: Remove mapstructure configuration for the UserAgent runtime-only field
  builder/scaleway/builder_test.go
  builder/scaleway/config.go
  builder/scaleway/config.hcl2spec.go
Labels: bug, builder/scaleway
