Repository hashicorp/packer, pull requests merged in 2020-09, with the labels that each got.

#9855 Fix iso_path validation regex
  builder/vsphere/driver/datastore.go
  builder/vsphere/driver/datastore_test.go
Labels: builder/vsphere, regression

#9859 Add Netlify NODE_OPTIONS env to increase old space size
  website/netlify.toml
Labels: tech-debt

#9857 Add check for empty artifact.Files slice
  post-processor/digitalocean-import/post-processor.go
  post-processor/digitalocean-import/post-processor_test.go
Labels: bug, post-processor/digitalocean-import

#9865 post-processor/digitalocean-import: Update documentation
  website/pages/docs/post-processors/digitalocean-import.mdx
Labels: docs

#9832 Inspect allow unset variables in HCL2 and JSON
  command/inspect.go
  command/inspect_test.go
  command/test-fixtures/hcl/inspect/fruit_string.pkr.hcl
  command/test-fixtures/inspect/unset_var.json
  command/test-fixtures/var-arg/fruit_builder.json
  hcl2template/types.packer_config.go
  hcl2template/types.variables.go
Labels: core

#9866 vSphere StepHardware tests
  builder/vsphere/common/common_test.go
  builder/vsphere/common/step_hardware.go
  builder/vsphere/common/step_hardware_test.go
  builder/vsphere/driver/driver_test.go
  builder/vsphere/driver/vm_mock.go
  builder/vsphere/driver/vm_test.go
  builder/vsphere/iso/step_create_test.go
Labels: tech-debt

#9863 HCL2: when the type of a variable is not known evaluate setting as a literal string
  command/console_test.go
  command/inspect_test.go
  command/test-fixtures/hcl/inspect/fruit_string.pkr.hcl
  command/test-fixtures/hcl/variables/list_of_string/var.pkr.hcl
  command/test-fixtures/hcl/variables/untyped_var/settings.auto.pkrvars.hcl
  command/test-fixtures/hcl/variables/untyped_var/var.pkr.hcl
  hcl2template/types.variables.go
  website/pages/docs/from-1.5/variables.mdx
Labels: hcl2

#9864 console: stop failing when there are unknown vars
  command/console.go
  command/console_test.go
Labels: hcl2

#9881 Fix vsphere-iso acceptance tests
  builder/vsphere/iso/builder_acc_test.go
Labels: tech-debt

#9882 Set --max_old_space_size to 8gb for netlify
  website/netlify.toml
  website/package.json
Labels: tech-debt

#9875 Allows publishing to a Shared Image Gallery with a different subscription id
  builder/azure/arm/azure_client.go
  builder/azure/arm/builder.go
  builder/azure/arm/config.go
  builder/azure/arm/config.hcl2spec.go
  website/pages/docs/builders/azure/arm.mdx
  website/pages/partials/builder/azure/arm/Config-not-required.mdx
  website/pages/partials/builder/azure/arm/SharedImageGalleryDestination-not-required.mdx
Labels: builder/azure, enhancement

#9891 communicator/ssh: Add note for builder specific SSH supported options
  website/pages/docs/communicators/ssh.mdx
Labels: docs

#9893 builder/vmware/common: simplify type assertion switch
  builder/vmware/common/driver_parser.go
Labels: tech-debt

#9870 Integrate @hashicorp/react-search into layout
  website/components/search-bar/index.jsx
  website/components/search-bar/style.css
  website/layouts/docs.jsx
  website/layouts/guides.jsx
  website/layouts/intro.jsx
  website/package-lock.json
  website/package.json
  website/pages/style.css
  website/scripts/index_search_content.js
Labels: docs, javascript

#9904 build only only twice
  website/pages/docs/commands/build.mdx
Labels: docs

#9905 qemu vnc: hardcoded lowerbound leaves negative ports
  builder/qemu/step_run.go
Labels: builder/qemu

#9796 create secondary iso containing user's desired files
  builder/hyperv/common/config.go
  builder/hyperv/common/step_mount_secondary_dvd_images.go
  builder/hyperv/iso/builder.go
  builder/hyperv/iso/builder.hcl2spec.go
  builder/hyperv/vmcx/builder.hcl2spec.go
  builder/vmware/iso/builder.go
  builder/vmware/iso/config.go
  builder/vmware/iso/config.hcl2spec.go
  builder/vmware/iso/step_create_vmx.go
  common/extra_iso_config.go
  common/extra_iso_config_test.go
  common/step_create_cdrom.go
  common/step_create_cdrom_test.go
  go.sum
  website/pages/docs/builders/hyperv/iso.mdx
  website/pages/docs/builders/vmware/iso.mdx
  website/pages/partials/common/CDConfig-not-required.mdx
  website/pages/partials/common/CDConfig.mdx
Labels: builder/hyperv, builder/vmware, enhancement

#9913 Replace if/else with simple if
  builder/qemu/step_run.go
Labels: tech-debt

#9911 Ssh redocument options
  helper/communicator/config.go
  website/pages/docs/builders/alicloud-ecs.mdx
  website/pages/docs/builders/azure/arm.mdx
  website/pages/docs/builders/cloudstack.mdx
  website/pages/docs/builders/digitalocean.mdx
  website/pages/docs/builders/googlecompute.mdx
  website/pages/docs/builders/hetzner-cloud.mdx
  website/pages/docs/builders/hyperv/iso.mdx
  website/pages/docs/builders/hyperv/vmcx.mdx
  website/pages/docs/builders/jdcloud.mdx
  website/pages/docs/builders/linode.mdx
  website/pages/docs/builders/oneandone.mdx
  website/pages/docs/builders/oracle/classic.mdx
  website/pages/docs/builders/oracle/oci.mdx
  website/pages/docs/builders/outscale/bsu.mdx
  website/pages/docs/builders/parallels/iso.mdx
  website/pages/docs/builders/parallels/pvm.mdx
  website/pages/docs/builders/profitbricks.mdx
  website/pages/docs/builders/qemu.mdx
  website/pages/docs/builders/scaleway.mdx
  website/pages/docs/builders/tencentcloud-cvm.mdx
  website/pages/docs/builders/triton.mdx
  website/pages/docs/builders/virtualbox/iso.mdx
  website/pages/docs/builders/yandex.mdx
  website/pages/partials/builders/virtualbox-ssh-key-pair.mdx
Labels: docs

#9842 Builders vsphere-iso and vsphere-clone - CPUs is actually for cores, not sockets.
  builder/vsphere/common/step_hardware.go
  website/pages/partials/builder/vsphere/common/HardwareConfig-not-required.mdx
Labels: docs, waiting-reply

#9917 remove xen from qemu docs, since it turns out it has not been support…
  website/pages/docs/builders/qemu.mdx
Labels: docs

#9925 yandex-export: Check for error after runner completes
  post-processor/yandex-export/post-processor.go
Labels: bug, post-processor/yandex-export

#9895 Add usb_scan_codes option to use USB scancodes instead of VNC for remote builds
  builder/vmware/common/boot_config.go
  builder/vmware/common/boot_config_test.go
  builder/vmware/common/driver.go
  builder/vmware/common/driver_config.go
  builder/vmware/common/driver_config_test.go
  builder/vmware/common/driver_esx5.go
  builder/vmware/common/run_config.go
  builder/vmware/common/step_usb_boot_command.go
  builder/vmware/common/step_vnc_boot_command.go
  builder/vmware/iso/builder.go
  builder/vmware/iso/config.go
  builder/vmware/iso/config.hcl2spec.go
  builder/vmware/vmx/builder.go
  builder/vmware/vmx/config.go
  builder/vmware/vmx/config.hcl2spec.go
  website/pages/docs/builders/vmware/iso.mdx
  website/pages/docs/builders/vmware/vmx.mdx
  website/pages/partials/builder/vmware/common/BootConfigWrapper-not-required.mdx
  website/pages/partials/builder/vmware/common/RunConfig.mdx
Labels: builder/vmware-esxi, enhancement

#9874 Adds ability to specify interfaces for http_directroy and VM for the Proxmox builder
  builder/cloudstack/config.hcl2spec.go
  builder/hyperv/iso/builder.hcl2spec.go
  builder/hyperv/vmcx/builder.hcl2spec.go
  builder/parallels/iso/builder.hcl2spec.go
  builder/proxmox/builder.go
  builder/proxmox/config.go
  builder/proxmox/config.hcl2spec.go
  builder/proxmox/step_type_boot_command.go
  builder/qemu/builder.hcl2spec.go
  builder/vagrant/builder.hcl2spec.go
  builder/virtualbox/iso/builder.hcl2spec.go
  builder/virtualbox/ovf/config.hcl2spec.go
  builder/virtualbox/vm/config.hcl2spec.go
  builder/vmware/iso/config.hcl2spec.go
  builder/vmware/vmx/config.hcl2spec.go
  builder/vsphere/clone/config.hcl2spec.go
  builder/vsphere/iso/config.hcl2spec.go
  common/http_config.go
  website/pages/docs/builders/proxmox.mdx
Labels: builder/proxmox, enhancement

#9930 Add vsphere-clone mac_address option
  builder/vsphere/clone/config.hcl2spec.go
  builder/vsphere/clone/step_clone.go
  builder/vsphere/clone/step_clone.hcl2spec.go
  builder/vsphere/driver/vm.go
  website/pages/partials/builder/vsphere/clone/CloneConfig-not-required.mdx
Labels: builder/vsphere, enhancement

#9885 Bootcommand Fix For Proxmox Builder
  builder/proxmox/bootcommand_driver.go
  builder/proxmox/step_type_boot_command_test.go
Labels: bug, builder/proxmox

#9918 skip compaction when backing file is used, to prevent conversion that…
  builder/qemu/builder.go
  website/pages/partials/builder/qemu/Config-not-required.mdx
Labels: bug, builder/qemu

#9923 Interpolate vagrantfile_template on Vagrant post-processor
  builder/docker/builder.go
  builder/docker/driver.go
  builder/docker/driver_docker.go
  builder/docker/driver_mock.go
  builder/docker/step_set_generated_data.go
  builder/docker/step_set_generated_data_test.go
  post-processor/vagrant/post-processor.go
  website/pages/docs/builders/docker.mdx
  website/pages/docs/post-processors/vagrant.mdx
Labels: bug, post-processor/vagrant

#9938 Add VMware vnc_over_websocket option
  builder/vmware/common/boot_config.go
  builder/vmware/common/driver_esx5.go
  builder/vmware/common/run_config.go
  builder/vmware/common/run_config_test.go
  builder/vmware/common/step_vnc_boot_command.go
  builder/vmware/common/step_vnc_connect.go
  builder/vmware/iso/builder.go
  builder/vmware/iso/config.go
  builder/vmware/iso/config.hcl2spec.go
  builder/vmware/vmx/builder.go
  builder/vmware/vmx/config.go
  builder/vmware/vmx/config.hcl2spec.go
  go.mod
  go.sum
  vendor/golang.org/x/net/websocket/client.go
  vendor/golang.org/x/net/websocket/dial.go
  vendor/golang.org/x/net/websocket/hybi.go
  vendor/golang.org/x/net/websocket/server.go
  vendor/golang.org/x/net/websocket/websocket.go
  vendor/modules.txt
  website/pages/partials/builder/vmware/common/BootConfigWrapper-not-required.mdx
  website/pages/partials/builder/vmware/common/RunConfig-not-required.mdx
  website/pages/partials/builder/vmware/common/RunConfig.mdx
Labels: builder/vmware, enhancement

#9950 tech-debt: Fix static check issues SA1019 for googlecompute plugins
  builder/googlecompute/driver_gce.go
  post-processor/googlecompute-import/post-processor.go
Labels: tech-debt

#9945 Remove usb_keyboard option
  builder/vmware/common/boot_config.go
  builder/vmware/common/boot_config_test.go
  builder/vmware/common/driver.go
  builder/vmware/common/driver_esx5.go
  builder/vmware/common/driver_fusion5.go
  builder/vmware/common/driver_fusion6.go
  builder/vmware/common/driver_player5.go
  builder/vmware/common/driver_player6.go
  builder/vmware/common/driver_workstation10.go
  builder/vmware/common/driver_workstation9.go
  builder/vmware/common/run_config.go
  builder/vmware/common/run_config_test.go
  builder/vmware/common/step_usb_boot_command.go
  builder/vmware/iso/builder.go
  builder/vmware/iso/config.go
  builder/vmware/iso/config.hcl2spec.go
  builder/vmware/vmx/builder.go
  builder/vmware/vmx/config.go
  builder/vmware/vmx/config.hcl2spec.go
  website/pages/docs/builders/vmware/iso.mdx
  website/pages/docs/builders/vmware/vmx.mdx
  website/pages/partials/builder/vmware/common/BootConfigWrapper-not-required.mdx
  website/pages/partials/builder/vmware/common/RunConfig-not-required.mdx
  website/pages/partials/builder/vmware/common/RunConfig.mdx
Labels: builder/vmware-esxi, tech-debt

#9955 vSphere StepAddCDRom tests
  builder/vsphere/driver/driver_test.go
  builder/vsphere/driver/vm.go
  builder/vsphere/driver/vm_cdrom_test.go
  builder/vsphere/driver/vm_mock.go
  builder/vsphere/iso/step_add_cdrom.go
  builder/vsphere/iso/step_add_cdrom_test.go
Labels: builder/vsphere, tech-debt

#9946 Retry fleet creating only on invalid IAM instance profile
  builder/amazon/common/step_run_spot_instance.go
Labels: bug, builder/amazon

#9962 [HCL2] add an hcl2-json test
  command/build_test.go
  command/test-fixtures/build-only/template.pkr.json
Labels: tech-debt

#9956 builder/qemu: Add qemu_img_args option to set special cli flags for our calls to qemu-img
  builder/qemu/builder.go
  builder/qemu/config.go
  builder/qemu/config.hcl2spec.go
  builder/qemu/config_test.go
  builder/qemu/driver_mock.go
  builder/qemu/step_convert_disk.go
  builder/qemu/step_convert_disk_test.go
  builder/qemu/step_copy_disk.go
  builder/qemu/step_copy_disk_test.go
  builder/qemu/step_create_disk.go
  builder/qemu/step_create_disk_test.go
  builder/qemu/step_resize_disk.go
  builder/qemu/step_resize_disk_test.go
  builder/qemu/step_run.go
  website/pages/partials/builder/qemu/Config-not-required.mdx
  website/pages/partials/builder/qemu/QemuImgArgs-not-required.mdx
Labels: builder/qemu, enhancement

#9840 scaleway: add pre validate step (check image and snapshot names)
  builder/scaleway/builder.go
  builder/scaleway/step_pre_validate.go
  builder/scaleway/step_pre_validate_test.go
  helper/multistep/multistep.go
Labels: builder/scaleway

#9954 add support for running cygwin/msys2 based cd/iso creation tool (e.g.…
  common/step_create_cdrom.go
Labels: bug, core

#9985 azure arm tags: make map[string]*string => map[string]string to simplify things
  builder/azure/arm/config.go
  builder/azure/arm/config.hcl2spec.go
  builder/azure/arm/config_test.go
  builder/azure/common/map.go
  builder/azure/common/template/template.go
  builder/azure/common/template/template_builder.go
  website/pages/partials/builder/azure/arm/Config-not-required.mdx
Labels: builder/azure

#9991 amazon/ssm_driver: Update log polling logic
  builder/amazon/common/ssm_driver.go
Labels: bug, builder/amazon

#9983 allow user to set tools upload path
  builder/vmware/common/step_prepare_tools.go
  builder/vmware/common/step_prepare_tools_test.go
  builder/vmware/common/tools_config.go
  builder/vmware/common/tools_config_test.go
  builder/vmware/iso/config.hcl2spec.go
  builder/vmware/vmx/config.hcl2spec.go
  website/pages/partials/builder/vmware/common/ToolsConfig-not-required.mdx
Labels: builder/vmware, enhancement

#9988 Add pause_before_ssm config to pause before establishing the Session Manager session
  builder/amazon/common/run_config.go
  builder/amazon/common/step_create_ssm_tunnel.go
  builder/amazon/ebs/builder.go
  builder/amazon/ebs/builder.hcl2spec.go
  builder/amazon/ebssurrogate/builder.go
  builder/amazon/ebssurrogate/builder.hcl2spec.go
  builder/amazon/ebsvolume/builder.go
  builder/amazon/ebsvolume/builder.hcl2spec.go
  builder/amazon/instance/builder.go
  builder/amazon/instance/builder.hcl2spec.go
  website/pages/partials/builder/amazon/common/RunConfig-not-required.mdx
Labels: bug, builder/amazon

#9994 Removed hardcoded but obsolete Task Scheduler timeout
  provisioner/elevated.go
Labels: bug, needs-cla, provisioner/powershell

#9972 Add more verbose debug output to OpenStack builder
  builder/openstack/access_config.go
  builder/openstack/builder.go
Labels: builder/openstack

#9992 OpenStack builder: Add support for external source image url
  builder/openstack/builder.go
  builder/openstack/builder.hcl2spec.go
  builder/openstack/run_config.go
  builder/openstack/run_config_test.go
  builder/openstack/step_source_image_info.go
  vendor/github.com/gophercloud/gophercloud/openstack/imageservice/v2/imageimport/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/imageservice/v2/imageimport/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/imageservice/v2/imageimport/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/imageservice/v2/imageimport/urls.go
  vendor/modules.txt
  website/pages/partials/builder/openstack/RunConfig-not-required.mdx
  website/pages/partials/builder/openstack/RunConfig-required.mdx
Labels: builder/openstack, enhancement

#9969 builder/proxmox: add support for io threads
  builder/proxmox/config.go
  builder/proxmox/config.hcl2spec.go
  builder/proxmox/config_test.go
  builder/proxmox/step_start_vm.go
  website/pages/docs/builders/proxmox.mdx
Labels: builder/proxmox, enhancement

#10001 Pass QemuImgArgs to stepConvertDisk
  builder/qemu/builder.go
Labels: bug, builder/qemu

#10019 Update build tools to latest supported versions
  .circleci/config.yml
Labels: tech-debt

#10016 use "github.com/hashicorp/go-cty-funcs/collection".CoalesceFunc
  go.mod
  go.sum
  hcl2template/functions.go
  hcl2template/testdata/build/basic.pkr.hcl
  vendor/github.com/hashicorp/go-cty-funcs/LICENSE
  vendor/github.com/hashicorp/go-cty-funcs/collection/coalesce.go
  vendor/modules.txt
Labels: bug, hcl2
