Repository hashicorp/packer, pull requests merged in 2020-12, with the labels that each got.

#10321 WaitForIP should not return an error if an IP is not found
  builder/vsphere/driver/vm.go
Labels: bug, builder/vsphere

#10333 Fix regression in QEMU builder
  builder/qemu/step_copy_disk.go
Labels: bug, builder/qemu, regression

#10336 Move plugin discover to plugin package
  config.go
  config_test.go
  main.go
  packer/plugin/discover.go
  packer/plugin/discover_test.go
Labels: tech-debt

#10328 move builder/testing framework into sdk; it imports the core but I th…
  builder/alicloud/ecs/builder_acc_test.go
  builder/amazon/ebs/builder_acc_test.go
  builder/amazon/ebs/tags_acc_test.go
  builder/azure/arm/builder_acc_test.go
  builder/azure/dtl/builder_acc_test.go
  builder/digitalocean/builder_acc_test.go
  builder/file/builder_test.go
  builder/hcloud/builder_acc_test.go
  builder/hyperone/builder_acc_test.go
  builder/linode/builder_acc_test.go
  builder/oneandone/builder_acc_test.go
  builder/osc/bsu/builder_acc_test.go
  builder/osc/bsusurrogate/builder_acc_test.go
  builder/osc/bsuvolume/builder_acc_test.go
  builder/profitbricks/builder_acc_test.go
  builder/ucloud/uhost/builder_acc_test.go
  builder/virtualbox/iso/builder_acc_test.go
  builder/vmware/iso/builder_acc_test.go
  builder/vsphere/clone/builder_acc_test.go
  builder/vsphere/iso/builder_acc_test.go
  builder/yandex/builder_acc_test.go
  go.mod
  go.sum
  packer-plugin-sdk/builder/testing/testing.go
  packer-plugin-sdk/builder/testing/testing_test.go
Labels: core-plugin-split, tech-debt

#10329 Sdk testing 2
  builder/amazon/common/step_run_spot_instance_test.go
  builder/amazon/ebs/acceptance/builder_acceptance.go
  builder/azure/chroot/step_create_image_test.go
  builder/azure/chroot/step_create_new_diskset_test.go
  builder/azure/chroot/step_create_shared_image_version_test.go
  builder/azure/chroot/step_create_snapshotset_test.go
  builder/azure/chroot/step_verify_shared_image_destination_test.go
  builder/azure/chroot/step_verify_shared_image_source_test.go
  builder/docker/communicator_test.go
  builder/hyperv/iso/builder_test.go
  builder/hyperv/vmcx/builder_test.go
  builder/parallels/iso/builder_test.go
  builder/proxmox/common/step_convert_to_template_test.go
  builder/proxmox/common/step_finalize_template_config_test.go
  builder/proxmox/common/step_start_vm_test.go
  builder/proxmox/common/step_type_boot_command_test.go
  builder/proxmox/iso/step_finalize_iso_test.go
  builder/proxmox/iso/step_upload_iso_test.go
  builder/qemu/config_test.go
  builder/qemu/step_copy_disk_test.go
  builder/qemu/step_run_test.go
  builder/qemu/step_shutdown_test.go
  builder/virtualbox/iso/acceptance/builder_acceptance.go
  builder/virtualbox/iso/builder_test.go
  builder/vmware/iso/builder_test.go
  builder/vmware/iso/step_create_vmx_test.go
  command/build_parallel_test.go
  command/build_test.go
  command/build_timeout_test.go
  command/exec_test.go
  config.go
  config_test.go
  hcl2template/common_test.go
  helper/tests/acc/provisioners.go
  helper/tests/core.go
  packer-plugin-sdk/common/packer_config.go
  packer-plugin-sdk/packer/maps.go
  packer-plugin-sdk/packer/ui_mock.go
  packer/build.go
  packer/build_test.go
  packer/core_test.go
  packer/plugin/discover.go
  packer/testing.go
  post-processor/checksum/post-processor_test.go
  post-processor/compress/post-processor_test.go
  provisioner/ansible-local/provisioner_test.go
  provisioner/chef-solo/provisioner_test.go
  provisioner/powershell/provisioner_acc_test.go
  provisioner/powershell/provisioner_test.go
  provisioner/shell-local/provisioner_acc_test.go
  provisioner/shell/provisioner_acc_test.go
Labels: core-plugin-split, tech-debt

#10330 Expanduser
  builder/docker/step_temp_dir.go
  builder/oracle/oci/config.go
  checkpoint.go
  main.go
  packer-plugin-sdk/communicator/config.go
  packer-plugin-sdk/communicator/step_connect_ssh.go
  packer-plugin-sdk/pathing/config_file.go
  packer-plugin-sdk/pathing/config_file_test.go
  packer-plugin-sdk/pathing/config_file_unix.go
  packer-plugin-sdk/pathing/config_file_windows.go
  packer/plugin/discover.go
  packer/telemetry.go
  provisioner/chef-client/provisioner.go
Labels: core-plugin-split, tech-debt

#10351 Add packer-plugin-check command
  cmd/packer-plugin-check/main.go
Labels: core-plugin-split

#10361 fix set user-agent
  builder/yandex/driver_yc.go
Labels: bug, builder/yandex

#10360 Gcp oslogin issue 10170
  builder/googlecompute/driver.go
  builder/googlecompute/driver_gce.go
  builder/googlecompute/driver_mock.go
  builder/googlecompute/step_import_os_login_ssh_key.go
  builder/googlecompute/step_import_os_login_ssh_key_test.go
  go.mod
Labels: bug, builder/google

#10272 add aws multiplugin binary canary code
  cmd/packer-plugin-amazon/main.go
  packer-plugin-sdk/plugin/server.go
  packer-plugin-sdk/plugin/set.go
  packer-plugin-sdk/plugin/set_test.go
  website/pages/docs/extending/plugins.mdx
Labels: core-plugin-split

#10380 Fix errant 2nd binding of string reverse in place of list reverse
  hcl2template/functions.go
Labels: bug, hcl2

#10377 command/fmt: Ensure all variable files ending in `.pkrvars.hcl` get formatted
  command/fmt.go
  command/fmt_test.go
  command/test-fixtures/fmt/formatted.pkr.hcl
  command/test-fixtures/fmt/unformatted.auto.pkrvars.hcl
  command/test-fixtures/fmt/unformatted.pkr.hcl
  command/test-fixtures/fmt/unformatted.pkrvars.hcl
  formatted.pkr.hcl
  hcl2template/formatter_test.go
  hcl2template/parser.go
  hcl2template/testdata/format/unformatted.pkrvars.hcl
  hcl2template/types.variables_test.go
Labels: core, hcl2

#10386 Add method to set multi-plugin version
  packer-plugin-sdk/plugin/set.go
  packer-plugin-sdk/plugin/set_test.go
Labels: core-plugin-split, tech-debt

#10277 allow to discover & start packer-plugin-* muliplugin binaries
  config.go
  packer-plugin-sdk/plugin/set.go
  packer-plugin-sdk/plugin/set_test.go
  packer/plugin/discover.go
  packer/plugin/discover_test.go
Labels: core-plugin-split, enhancement

#10391 Plugin release step by step docs
  website/content/docs/extending/plugins.mdx
Labels: docs
