Repository hashicorp/packer, pull requests merged in 2020-04, with the labels that each got.

#8893 [WIP] Feature7379 - https://github.com/hashicorp/packer/issues/7379
  builder/oracle/oci/config.go
  builder/oracle/oci/config.hcl2spec.go
  builder/oracle/oci/config_test.go
  builder/oracle/oci/instance_principal_configuration_provider_mock.go
  vendor/github.com/oracle/oci-go-sdk/common/auth/certificate_retriever.go
  vendor/github.com/oracle/oci-go-sdk/common/auth/configuration.go
  vendor/github.com/oracle/oci-go-sdk/common/auth/federation_client.go
  vendor/github.com/oracle/oci-go-sdk/common/auth/instance_principal_key_provider.go
  vendor/github.com/oracle/oci-go-sdk/common/auth/jwt.go
  vendor/github.com/oracle/oci-go-sdk/common/auth/utils.go
  vendor/modules.txt
  website/source/docs/builders/oracle-oci.html.md
Labels: builder/oracle-oci, enhancement

#8979 Remove net_device prepare validation
  builder/qemu/builder.go
Labels: bug, builder/qemu

#8912 allow Managed data disks to be used with azure shared image ga…
  builder/azure/arm/template_factory.go
Labels: builder/azure, needs-cla

#8963 Write generic Builder-Provisioner acceptance test logic
  Makefile
  builder/amazon/ebs/acceptance/builder_acceptance.go
  builder/amazon/ebs/acceptance/test-fixtures/amazon-ebs.txt
  builder/virtualbox/iso/acceptance/builder_acceptance.go
  builder/virtualbox/iso/acceptance/test-fixtures/http/preseed.cfg
  builder/virtualbox/iso/acceptance/test-fixtures/virtualbox-iso.txt
  helper/tests/acc/provisioners.go
  helper/tests/aws.go
  helper/tests/core.go
  provisioner/shell/provisioner_acc_test.go
  provisioner/shell/test-fixtures/shell-provisioner.json
  provisioner/shell/test-fixtures/shell-provisioner.txt
Labels: tech-debt

#8625 Remove ansible proxy
  common/step_provision.go
  provisioner/ansible/mock_ansible.go
  provisioner/ansible/provisioner.go
  provisioner/ansible/provisioner.hcl2spec.go
  provisioner/ansible/provisioner_test.go
  website/source/docs/builders/amazon-ebs.html.md.erb
  website/source/docs/provisioners/ansible.html.md.erb
Labels: enhancement, provisioner/ansible-remote

#9012 provisioner/shell: fix dropped test error
  provisioner/shell/provisioner_acc_test.go
Labels: tech-debt

#9005 Document Block-type-specific Exceptions in HCL2 json
  website/source/docs/configuration/from-1.5/syntax-json.html.md
Labels: docs, hcl2

#8997 fix execution policy parser to not interfere with legit integers, and…
  provisioner/powershell/execution_policy.go
  provisioner/powershell/provisioner.go
  provisioner/powershell/provisioner_test.go
Labels: bug, provisioner/powershell

#9011 provisioner/powershell: Add basic Powershell provisioner acceptance tests
  builder/amazon/ebs/acceptance/builder_acceptance.go
  builder/amazon/ebs/acceptance/test-fixtures/amazon-ebs_windows.txt
  builder/amazon/ebs/acceptance/test-fixtures/scripts/bootstrap_win.txt
  builder/virtualbox/iso/acceptance/builder_acceptance.go
  helper/tests/acc/provisioners.go
  provisioner/powershell/provisioner_acc_test.go
  provisioner/powershell/test-fixtures/powershell-inline-provisioner.txt
  provisioner/powershell/test-fixtures/powershell-script-provisioner.txt
  provisioner/powershell/test-fixtures/scripts/sample_script.ps1
  provisioner/shell/provisioner_acc_test.go
Labels: tech-debt

#9006 Add how to write provisioner's acceptance tests to CONTRIBUTING docs
  .github/CONTRIBUTING.md
Labels: docs, enhancement

#9022 properly document how to set boot_wait to 0s
  common/bootcommand/config.go
  website/pages/partials/common/bootcommand/BootConfig-not-required.mdx
Labels: docs

#8956 HCL2: pass on builder type and name
  command/build_test.go
  command/test-fixtures/build-name-and-type/all.json
  command/test-fixtures/build-name-and-type/all.pkr.hcl
  hcl2template/parser.go
  hcl2template/types.build.post-processor.go
  hcl2template/types.build.provisioners.go
  hcl2template/types.packer_config.go
  hcl2template/types.source.go
  post-processor/manifest/artifact.go
  post-processor/manifest/post-processor.go
  post-processor/manifest/post-processor.hcl2spec.go
  website/pages/docs/post-processors/manifest.mdx
  website/pages/partials/post-processor/manifest/Config-not-required.mdx
Labels: bug, core, enhancement, hcl2

#8908 provisioner/powershell: Add cleanup step to remove any temporarily created scripts
  provisioner/elevated.go
  provisioner/powershell/provisioner.go
  provisioner/powershell/provisioner.hcl2spec.go
  provisioner/powershell/provisioner_acc_test.go
  provisioner/powershell/provisioner_test.go
  provisioner/powershell/test-fixtures/powershell-provisioner-cleanup.txt
  website/pages/docs/provisioners/powershell.mdx
Labels: bug, provisioner/powershell

#9037 golang 1.14 doesn't like calling NewFile on existing files. Port solu…
  command/console.go
  command/meta.go
  helper/wrappedreadline/wrappedreadline.go
  helper/wrappedreadline/wrappedreadline_unix.go
  helper/wrappedreadline/wrappedreadline_windows.go
  helper/wrappedstreams/streams.go
  helper/wrappedstreams/streams_other.go
  helper/wrappedstreams/streams_windows.go
Labels: bug, core, upstream-bug

#9041 Update vsphere documentation with link to the `vsphere-iso` builder
  website/pages/partials/builders/building_on_remote_vsphere_hypervisor.mdx
Labels: docs

#9057 Linux builds updated
  Makefile
  scripts/build.sh
Labels: tech-debt

#9043 Fix linting on circle
  .circleci/config.yml
  Makefile
  scripts/lint.sh
Labels: tech-debt

#9059 docs/getting-started: Update PATH install instructions
  website/pages/intro/getting-started/index.mdx
Labels: docs

#9063 CODEOWNERS: Add code owner for tencentcloud
  CODEOWNERS
Labels: docs

#9066 stop using redundant appveyor builds
  appveyor.yml
Labels: tech-debt

#9064 builder/vmware: Add some additional debug logging to the driver version check
  builder/vmware/common/driver.go
Labels: tech-debt

#9072 Revert golangci-lint to use new-from-rev pinned at 1.23.8
  Makefile
  scripts/lint.sh
Labels: tech-debt

#9069 builder/tencent: fixed InstanceOperationInProgress error #9054
  builder/tencentcloud/cvm/artifact.go
  builder/tencentcloud/cvm/common.go
  builder/tencentcloud/cvm/step_detach_temp_key_pair.go
  go.mod
  go.sum
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/common/client.go
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/common/http/request.go
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/common/http/response.go
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/common/profile/client_profile.go
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/cvm/v20170312/client.go
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/cvm/v20170312/models.go
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/vpc/v20170312/client.go
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/vpc/v20170312/models.go
  vendor/modules.txt
Labels: bug, builder/tencent

#9061 Add RetriedProvisioner to allow retry provisioners
  .circleci/config.yml
  hcl2template/common_test.go
  hcl2template/testdata/build/provisioner_paused_before_retry.pkr.hcl
  hcl2template/testdata/build/provisioner_timeout.pkr.hcl
  hcl2template/types.build.provisioners.go
  hcl2template/types.packer_config.go
  hcl2template/types.packer_config_test.go
  packer/builder_mock.hcl2spec.go
  packer/core.go
  packer/core_test.go
  packer/provisioner.go
  packer/provisioner_mock.go
  packer/provisioner_test.go
  packer/test-fixtures/build-prov-retry.json
  provisioner/shell-local/provisioner_acc_test.go
  provisioner/shell-local/test-fixtures/script.sh
  provisioner/shell-local/test-fixtures/shell-local-provisioner.txt
  template/parse.go
  template/parse_test.go
  template/template.go
  template/template.hcl2spec.go
  template/test-fixtures/parse-provisioner-retry.json
  website/pages/docs/templates/provisioners.mdx
  website/pages/partials/provisioners/common-config.mdx
Labels: core, enhancement

#8970 Adding custom shielded images support (GCP)
  builder/googlecompute/config.go
  builder/googlecompute/config.hcl2spec.go
  builder/googlecompute/driver.go
  builder/googlecompute/driver_gce.go
  builder/googlecompute/image.go
  builder/googlecompute/step_create_instance.go
  website/pages/partials/builder/googlecompute/Config-not-required.mdx
Labels: builder/google, enhancement

#8996 Add `debug_mode` to PowerShell provisioner
  provisioner/powershell/provisioner.go
  provisioner/powershell/provisioner.hcl2spec.go
  provisioner/powershell/provisioner_test.go
  website/pages/docs/provisioners/powershell.mdx
Labels: enhancement, provisioner/powershell

#9068 [builder/azure-arm] Use VM/build location for image location
  builder/azure/arm/builder.go
  builder/azure/arm/config.go
  builder/azure/arm/step_capture_image.go
  builder/azure/arm/step_capture_image_test.go
  builder/azure/arm/step_publish_to_shared_image_gallery.go
  builder/azure/common/constants/stateBag.go
  builder/azure/dtl/builder.go
Labels: builder/azure

#9045 feat(proxmox): add ability to add a cloud-init drive
  builder/proxmox/config.go
  builder/proxmox/config.hcl2spec.go
  builder/proxmox/config_test.go
  builder/proxmox/step_finalize_template_config.go
  builder/proxmox/step_finalize_template_config_test.go
  website/pages/docs/builders/proxmox.mdx
Labels: builder/proxmox, enhancement

#9053 builder/azure: enable boot Diagnostics
  builder/azure/arm/config.go
  builder/azure/arm/config.hcl2spec.go
  builder/azure/arm/template_factory.go
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment14.approved.json
  builder/azure/arm/template_factory_test.go
  builder/azure/common/template/template_builder.go
  website/pages/partials/builder/azure/arm/Config-not-required.mdx
Labels: builder/azure, enhancement

#9080 Add 'target_image_folder_id' for builder/yandex
  CHANGELOG.md
  builder/yandex/config.go
  builder/yandex/config.hcl2spec.go
  builder/yandex/config_test.go
  builder/yandex/step_create_image.go
  website/pages/partials/builder/yandex/Config-not-required.mdx
  website/pages/partials/builder/yandex/Config-required.mdx
Labels: builder/yandex, enhancement

#9078 HCL2 singular blocks: use key/value or name/value depending on how the service names things
  builder/alicloud/ecs/builder.hcl2spec.go
  builder/alicloud/ecs/image_config.go
  builder/amazon/chroot/builder.go
  builder/amazon/chroot/builder.hcl2spec.go
  builder/amazon/common/ami_config.go
  builder/amazon/common/run_config.go
  builder/amazon/common/run_config.hcl2spec.go
  builder/amazon/common/run_config_test.go
  builder/amazon/ebs/builder.hcl2spec.go
  builder/amazon/ebssurrogate/builder.hcl2spec.go
  builder/amazon/ebsvolume/block_device.go
  builder/amazon/ebsvolume/builder.go
  builder/amazon/ebsvolume/builder.hcl2spec.go
  builder/amazon/instance/builder.hcl2spec.go
  builder/azure/arm/config.go
  builder/hyperone/config.go
  builder/hyperone/config.hcl2spec.go
  builder/osc/common/run_config.go
  builder/osc/common/run_config_test.go
  builder/tencentcloud/cvm/builder.hcl2spec.go
  builder/tencentcloud/cvm/run_config.go
  builder/triton/config.hcl2spec.go
  builder/triton/source_machine_config.go
  builder/triton/target_image_config.go
  cmd/struct-markdown/main.go
  hcl2template/types.kv.go
  hcl2template/types.kv.hcl2spec.go
  post-processor/alicloud-import/post-processor.hcl2spec.go
  website/pages/docs/from-1.5/expressions.mdx
  website/pages/partials/builder/alicloud/ecs/AlicloudImageConfig-not-required.mdx
  website/pages/partials/builder/amazon/chroot/Config-not-required.mdx
  website/pages/partials/builder/amazon/common/AMIConfig-not-required.mdx
  website/pages/partials/builder/amazon/common/RunConfig-not-required.mdx
  website/pages/partials/builder/amazon/ebsvolume/BlockDevice-not-required.mdx
  website/pages/partials/builder/amazon/ebsvolume/Config-not-required.mdx
  website/pages/partials/builder/azure/arm/Config-not-required.mdx
  website/pages/partials/builder/hyperone/Config-not-required.mdx
  website/pages/partials/builder/tencentcloud/cvm/TencentCloudRunConfig-not-required.mdx
  website/pages/partials/builder/triton/SourceMachineConfig-not-required.mdx
  website/pages/partials/builder/triton/TargetImageConfig-not-required.mdx
Labels: breaking-change, docs, hcl2

#9103 builder/azure-arm: Fix SSH connection for temporary admin users specified in `ssh_username`
  builder/azure/arm/config.go
Labels: bug, builder/azure, regression

#9039 fix issue where -force is not working with vsphere builders
  builder/vsphere/clone/step_clone.go
  builder/vsphere/driver/vm.go
  builder/vsphere/iso/step_create.go
Labels: bug, builder/vsphere

#9111 Website - update dependencies
  website/lib/bugsnag.js
  website/package-lock.json
  website/package.json
Labels: website

#9120 Clean linting issues for packages template and interpolate
  template/interpolate/funcs.go
  template/parse.go
Labels: tech-debt

#9119 Update to make NoExitOnFailure work correctly.
  provisioner/salt-masterless/provisioner.go
Labels: bug, provisioner/salt

#9113 HCL2: docs warn about the fact that HCL2 support is still Beta at the top of each HCL docs page
  website/pages/docs/from-1.5/expressions.mdx
  website/pages/docs/from-1.5/functions/index.mdx
  website/pages/docs/from-1.5/index.mdx
  website/pages/docs/from-1.5/locals.mdx
  website/pages/docs/from-1.5/syntax-json.mdx
  website/pages/docs/from-1.5/syntax.mdx
  website/pages/docs/from-1.5/variables.mdx
Labels: docs, hcl2

#8947 teach HCL mode builds to honor -only and -except options
  command/build.go
  command/build_test.go
  command/test-fixtures/hcl-only-except/build.pkr.hcl
  go.mod
  hcl2template/common_test.go
  hcl2template/types.packer_config.go
  hcl2template/types.packer_config_test.go
Labels: core, hcl2, thinking

#8946 Add support for specifying vGPU profiles
  builder/vsphere/clone/config.hcl2spec.go
  builder/vsphere/common/step_hardware.go
  builder/vsphere/common/step_hardware.hcl2spec.go
  builder/vsphere/driver/vm.go
  builder/vsphere/iso/config.hcl2spec.go
  website/pages/partials/builder/vsphere/common/HardwareConfig-not-required.mdx
Labels: builder/vsphere, enhancement

#9095 Add disable_shutdown option to VSphere builders
  builder/vsphere/clone/config.hcl2spec.go
  builder/vsphere/common/step_shutdown.go
  builder/vsphere/common/step_shutdown.hcl2spec.go
  builder/vsphere/driver/vm.go
  builder/vsphere/iso/config.hcl2spec.go
  website/pages/partials/builder/vsphere/common/ShutdownConfig-not-required.mdx
Labels: builder/vsphere, enhancement

#9136 test/azure/arm: Add regression test case for ssh_username overrides
  builder/azure/arm/config_test.go
Labels: tech-debt

#9046 hyperv: add support for setting the boot order
  builder/hyperv/common/config.go
  builder/hyperv/common/driver.go
  builder/hyperv/common/driver_mock.go
  builder/hyperv/common/driver_ps_4.go
  builder/hyperv/common/step_set_boot_order.go
  builder/hyperv/common/step_set_boot_order_test.go
  builder/hyperv/iso/builder.go
  builder/hyperv/iso/builder.hcl2spec.go
  builder/hyperv/vmcx/builder.go
  builder/hyperv/vmcx/builder.hcl2spec.go
  common/powershell/hyperv/hyperv.go
  website/pages/partials/builder/hyperv/common/CommonConfig-not-required.mdx
Labels: builder/hyperv, enhancement

#9020 add exported files to VSphere artifact
  builder/vsphere/clone/builder.go
  builder/vsphere/common/artifact.go
  builder/vsphere/common/output_config.go
  builder/vsphere/common/step_export.go
  builder/vsphere/iso/builder.go
  website/pages/docs/post-processors/vsphere-template.mdx
Labels: bug, builder/vsphere
