Repository hashicorp/packer, pull requests merged in 2020-11, with the labels that each got.

#10161 feat: OSC: add x509 certificate support
  builder/osc/bsu/builder.hcl2spec.go
  builder/osc/bsusurrogate/builder.hcl2spec.go
  builder/osc/bsuvolume/builder.hcl2spec.go
  builder/osc/chroot/builder.hcl2spec.go
  builder/osc/common/access_config.go
  website/pages/docs/builders/outscale/index.mdx
Labels: hacktoberfest-accepted

#10188 verifying the access to a specific bucket
  post-processor/yandex-export/script.go
Labels: enhancement, post-processor/yandex-export

#10206 HCL2: add variable validation
  command/build_test.go
  command/test-fixtures/hcl/validation/map/definition.pkr.hcl
  command/test-fixtures/hcl/validation/map/invalid_value.pkrvars.hcl
  command/test-fixtures/hcl/validation/map/valid_value.pkrvars.hcl
  hcl2template/addrs/doc.go
  hcl2template/addrs/input_variable.go
  hcl2template/addrs/parse_ref.go
  hcl2template/addrs/referenceable.go
  hcl2template/common_test.go
  hcl2template/function/length.go
  hcl2template/function/length_test.go
  hcl2template/functions.go
  hcl2template/testdata/variables/validation/invalid_default.pkr.hcl
  hcl2template/testdata/variables/validation/valid.pkr.hcl
  hcl2template/testdata/variables/validation/valid_map/definition.pkr.hcl
  hcl2template/testdata/variables/validation/valid_map/invalid_value.auto.pkrvars.hcl
  hcl2template/types.packer_config.go
  hcl2template/types.packer_config_test.go
  hcl2template/types.variables.go
  hcl2template/types.variables_test.go
  website/pages/docs/from-1.5/blocks/variable.mdx
  website/pages/docs/from-1.5/variables.mdx
  website/pages/partials/from-1.5/variables/custom-validation.mdx
Labels: docs, enhancement, hcl2

#10193 Add support for uploading directly to storage on Vagrant Cloud
  post-processor/vagrant-cloud/client.go
  post-processor/vagrant-cloud/post-processor.go
  post-processor/vagrant-cloud/post-processor.hcl2spec.go
  post-processor/vagrant-cloud/post-processor_test.go
  post-processor/vagrant-cloud/step_confirm_upload.go
  post-processor/vagrant-cloud/step_prepare_upload.go
  post-processor/vagrant-cloud/step_upload.go
  website/pages/docs/post-processors/vagrant-cloud.mdx
Labels: enhancement, post-processor/vagrant-cloud

#10157 Azure CLI authentication
  builder/azure/arm/builder_acc_test.go
  builder/azure/arm/config.hcl2spec.go
  builder/azure/chroot/builder.hcl2spec.go
  builder/azure/common/client/config.go
  builder/azure/common/client/config_test.go
  builder/azure/common/client/tokenprovider_cli.go
  builder/azure/dtl/config.hcl2spec.go
  go.mod
  provisioner/azure-dtlartifact/provisioner.hcl2spec.go
  website/pages/docs/builders/azure/index.mdx
  website/pages/partials/builder/azure/common/client/Config-not-required.mdx
Labels: builder/azure, enhancement, hacktoberfest-accepted

#10218 Clean plugin sdk
  builder/amazon/chroot/builder.go
  builder/amazon/chroot/step_mount_device.go
  builder/amazon/chroot/step_prepare_device.go
  builder/amazon/common/interpolate_build_info.go
  builder/amazon/common/interpolate_build_info_test.go
  builder/amazon/common/ssm/session.go
  builder/amazon/common/step_modify_ami_attributes.go
  builder/amazon/common/step_set_generated_data.go
  builder/amazon/common/tags.go
  builder/amazon/ebs/builder.go
  builder/amazon/ebssurrogate/builder.go
  builder/amazon/ebsvolume/builder.go
  builder/amazon/instance/builder.go
  builder/docker/builder.go
  builder/docker/exec.go
  builder/docker/step_set_generated_data.go
  builder/docker/step_set_generated_data_test.go
  builder/qemu/step_set_iso.go
  builder/yandex/builder.go
  builder/yandex/step_create_image.go
  builder/yandex/step_create_instance.go
  common/net/default_client.go
  common/packerbuilderdata/generated_data.go
  common/packerbuilderdata/generated_data_test.go
  common/shell-local/localexec/run_and_stream.go
  common/shell-local/localexec/run_and_stream_test.go
  common/step_create_cdrom.go
  helper/common/shared_state.go
  packer/build.go
  packer/build_test.go
  packer/provisioner.go
  post-processor/vagrant-cloud/client.go
  post-processor/yandex-export/post-processor.go
  template/interpolate/funcs.go
  template/interpolate/funcs_test.go
Labels: tech-debt

#10229 Common provisioner helpers
  common/guestexec/elevated.go
  common/guestexec/elevated_test.go
  common/guestexec/guest_commands.go
  common/guestexec/guest_commands_test.go
  packer/rpc/client.go
  packer/rpc/server.go
  provisioner/chef-client/provisioner.go
  provisioner/chef-solo/provisioner.go
  provisioner/powershell/provisioner.go
  provisioner/puppet-masterless/provisioner.go
  provisioner/puppet-server/provisioner.go
  provisioner/salt-masterless/provisioner.go
Labels: core-plugin-split, tech-debt

#10228 Extract plugin-specific examples to plugin directories
  builder/alicloud/examples/basic/alicloud.json
  builder/alicloud/examples/basic/alicloud_windows.json
  builder/alicloud/examples/basic/alicloud_with_data_disk.json
  builder/alicloud/examples/basic/winrm_enable_userdata.ps1
  builder/alicloud/examples/chef/alicloud.json
  builder/alicloud/examples/chef/chef.sh
  builder/alicloud/examples/chef/user_data.sh
  builder/alicloud/examples/jenkins/alicloud.json
  builder/alicloud/examples/jenkins/jenkins.sh
  builder/alicloud/examples/local/centos.json
  builder/alicloud/examples/local/http/centos-6.8/ks.cfg
  builder/amazon/examples/apache_server/README.Md
  builder/amazon/examples/apache_server/apache.json
  builder/amazon/examples/apache_server/packages.sh
  builder/amazon/examples/nginx_server/README.Md
  builder/amazon/examples/nginx_server/nginx.json
  builder/amazon/examples/nginx_server/packages.sh
  builder/azure/examples/centos.json
  builder/azure/examples/debian-chroot.json
  builder/azure/examples/debian.json
  builder/azure/examples/freebsd-chroot.json
  builder/azure/examples/freebsd.json
  builder/azure/examples/linux_custom_image.json
  builder/azure/examples/linux_custom_managed_image.json
  builder/azure/examples/marketplace_plan_info.json
  builder/azure/examples/rhel.json
  builder/azure/examples/suse.json
  builder/azure/examples/ubuntu-chroot.json
  builder/azure/examples/ubuntu.json
  builder/azure/examples/ubuntu_managed_image_sig.json
  builder/azure/examples/ubuntu_quickstart.json
  builder/azure/examples/windows.json
  builder/azure/examples/windows_custom_image.json
  builder/azure/examples/windows_quickstart.json
  builder/hyperone/examples/basic.json
  builder/hyperone/examples/chroot.json
  builder/hyperone/examples/new-syntax.pkr.hcl
  builder/jdcloud/examples/credential-key.json
  builder/jdcloud/examples/credential-new-key.json
  builder/jdcloud/examples/credential-password.json
  builder/jdcloud/examples/use_new_subnet.json
  builder/tencentcloud/examples/basic-with-data-disk.json
  builder/tencentcloud/examples/basic.json
  builder/tencentcloud/examples/centos.json
  builder/ucloud/examples/basic.json
  builder/ucloud/examples/local/http/centos-6.10/ks.cfg
  builder/ucloud/examples/local/local.json
  builder/ucloud/examples/ubuntu.json
  provisioner/ansible/examples/connection-plugin/2.4.x/packer.py
  provisioner/ansible/examples/connection-plugin/2.5.x/packer.py
  provisioner/ansible/examples/connection-plugin/2.6.x/packer.py
Labels: core-plugin-split, tech-debt

#10240 HCL2: allow calling env as input var default value
  command/inspect_test.go
  command/test-fixtures/hcl/inspect/fruit_string.pkr.hcl
  hcl2template/function/env.go
  hcl2template/types.packer_config.go
  hcl2template/types.variables.go
  website/data/docs-navigation.js
  website/pages/docs/from-1.5/functions/contextual/env.mdx
Labels: enhancement, hcl2

#10244 Update hcl2upgrade command to update env calls + tests
  command/hcl2_upgrade.go
  command/test-fixtures/hcl2_upgrade_basic/expected.pkr.hcl
  command/test-fixtures/hcl2_upgrade_basic/input.json
Labels: enhancement, hcl2

#10245 HCL2: Add more documentation to path-variables
  website/pages/docs/from-1.5/path-variables.mdx
Labels: docs, hcl2

#10267 move tmp helper func into packer-plugin-sdk
  builder/googlecompute/step_start_tunnel.go
  builder/hyperv/common/powershell/powershell.go
  builder/hyperv/common/step_create_build_dir.go
  builder/hyperv/common/step_mount_floppydrive.go
  builder/lxc/communicator.go
  builder/openstack/step_key_pair.go
  builder/osc/chroot/communicator.go
  builder/parallels/common/driver_9.go
  builder/virtualbox/common/step_attach_floppy.go
  builder/virtualbox/common/step_download_guest_additions.go
  builder/vmware/iso/step_create_vmx.go
  builder/vmware/vmx/step_clone_vmx.go
  common/adapter/scp.go
  common/chroot/communicator.go
  common/commonsteps/step_create_cdrom.go
  common/commonsteps/step_create_floppy.go
  common/commonsteps/step_download_test.go
  common/shell-local/run.go
  helper/communicator/testing.go
  main.go
  packer-plugin-sdk/sdk-internals/communicator/ssh/communicator.go
  packer-plugin-sdk/template/parse.go
  packer-plugin-sdk/tmp/tmp.go
  packer/plugin/server.go
  post-processor/vagrant/post-processor.go
  post-processor/vagrant/util.go
  post-processor/vagrant/virtualbox_test.go
  provisioner/ansible-local/provisioner.go
  provisioner/ansible/provisioner.go
  provisioner/powershell/provisioner.go
  provisioner/shell/provisioner.go
  provisioner/windows-shell/provisioner.go
Labels: core-plugin-split, tech-debt

#10266 Move flag packages from helper to command
  command/cli.go
  command/enumflag/flag.go
  command/flag-kv/flag.go
  command/flag-kv/flag_json.go
  command/flag-kv/flag_json_test.go
  command/flag-kv/flag_strings.go
  command/flag-kv/flag_strings_test.go
  command/flag-kv/flag_test.go
  command/flag-kv/test-fixtures/basic.json
  command/flag-slice/flag.go
  command/flag-slice/flag_test.go
  command/meta.go
Labels: core-plugin-split, tech-debt

#10281 move communicator helpers into communicator dir
  builder/proxmox/clone/step_ssh_key_pair.go
  builder/virtualbox/common/step_ssh_key_pair.go
  builder/vmware/common/driver_esx5.go
  builder/vsphere/common/step_ssh_key_pair.go
  helper/communicator/config.go
  helper/communicator/ssh/key_pair.go
  helper/communicator/ssh/key_pair_test.go
  helper/communicator/ssh/ssh.go
  helper/communicator/ssh/tunnel.go
  helper/communicator/ssh/tunnel_test.go
  helper/communicator/step_connect_ssh.go
  packer-plugin-sdk/sdk-internals/communicator/ssh/connect_test.go
Labels: core-plugin-split, tech-debt

#10283 Inform users about unmaintained provisioners
  website/pages/docs/provisioners/chef-client.mdx
  website/pages/docs/provisioners/chef-solo.mdx
  website/pages/docs/provisioners/converge.mdx
  website/pages/docs/provisioners/puppet-masterless.mdx
  website/pages/docs/provisioners/puppet-server.mdx
  website/pages/partials/provisioners/unmaintained-plugin.mdx
Labels: core-plugin-split, docs, tech-debt

#10285 Fix generate errors
  builder/amazon/common/access_config.go
  builder/amazon/common/access_config_test.go
  builder/amazon/common/run_config.go
  builder/amazon/ebs/builder.hcl2spec.go
  builder/amazon/ebs/builder_test.go
  builder/amazon/ebssurrogate/builder.hcl2spec.go
  builder/amazon/ebsvolume/builder.hcl2spec.go
  builder/amazon/ebsvolume/builder_test.go
  builder/amazon/instance/builder.hcl2spec.go
  builder/hyperv/common/config.go
  builder/vagrant/builder.go
  builder/virtualbox/common/guest_additions_config.go
  builder/virtualbox/common/guest_additions_config_test.go
  builder/virtualbox/common/vbox_version_config.go
  builder/virtualbox/common/vbox_version_config_test.go
  builder/virtualbox/iso/builder.go
  builder/virtualbox/ovf/config.go
  builder/virtualbox/vm/config.go
  post-processor/amazon-import/post-processor.hcl2spec.go
  website/pages/partials/builder/amazon/common/AccessConfig-not-required.mdx
  website/pages/partials/builder/amazon/common/RunConfig-not-required.mdx
  website/pages/partials/builder/hyperv/common/CommonConfig-not-required.mdx
  website/pages/partials/builder/vagrant/Config-not-required.mdx
  website/pages/partials/builder/virtualbox/common/GuestAdditionsConfig-not-required.mdx
  website/pages/partials/builder/virtualbox/common/VBoxVersionConfig-not-required.mdx
Labels: builder/amazon, builder/virtualbox, communicator/ssh, tech-debt

#10286 move hcl2template kv types into the config/custom_types
  builder/alicloud/ecs/builder.hcl2spec.go
  builder/alicloud/ecs/image_config.go
  builder/amazon/chroot/builder.go
  builder/amazon/chroot/builder.hcl2spec.go
  builder/amazon/common/ami_config.go
  builder/amazon/common/run_config.go
  builder/amazon/common/run_config.hcl2spec.go
  builder/amazon/common/run_config_test.go
  builder/amazon/ebs/builder.go
  builder/amazon/ebs/builder.hcl2spec.go
  builder/amazon/ebssurrogate/builder.go
  builder/amazon/ebssurrogate/builder.hcl2spec.go
  builder/amazon/ebsvolume/block_device.go
  builder/amazon/ebsvolume/builder.go
  builder/amazon/ebsvolume/builder.hcl2spec.go
  builder/amazon/instance/builder.hcl2spec.go
  builder/azure/arm/config.go
  builder/azure/arm/config.hcl2spec.go
  builder/azure/arm/config_test.go
  builder/hyperone/config.go
  builder/hyperone/config.hcl2spec.go
  builder/osc/common/run_config.go
  builder/osc/common/run_config.hcl2spec.go
  builder/osc/common/run_config_test.go
  builder/tencentcloud/cvm/builder.hcl2spec.go
  builder/tencentcloud/cvm/run_config.go
  builder/triton/config.hcl2spec.go
  builder/triton/source_machine_config.go
  builder/triton/target_image_config.go
  cmd/struct-markdown/main.go
  hcl2template/types.kv.go
  packer-plugin-sdk/template/config/custom_types.go
  packer-plugin-sdk/template/config/custom_types.hcl2spec.go
  post-processor/alicloud-import/post-processor.hcl2spec.go
Labels: core-plugin-split, tech-debt

#10296 Fix salt-masterless provisioner after merge conflict compilation error
  provisioner/salt-masterless/provisioner.go
Labels: build-failure

#10298 HCL2: version block: test validation & document version/availability
  command/test-fixtures/validate/build.pkr.hcl
  command/test-fixtures/validate/invalid_packer_block.pkr.hcl
  command/validate_test.go
  website/pages/docs/from-1.5/blocks/packer.mdx
Labels: docs, hcl2

#10249 builder/qemu: Add ok check for state values
  builder/qemu/step_create_disk.go
  builder/qemu/step_run.go
Labels: bug, builder/qemu, regression

#10305 added check of service account id in export
  CHANGELOG.md
  post-processor/yandex-export/post-processor.go
Labels: builder/yandex, enhancement

#10308 Improve vsphere-clone customization example
  website/pages/docs/builders/vmware/vsphere-clone.mdx
Labels: builder/vsphere, docs
