Repository hashicorp/packer, pull requests merged in 2020-01, with the labels that each got.

#8550 Add source AMI owner ID/name to build template
  builder/amazon/common/interpolate_build_info.go
  builder/amazon/common/interpolate_build_info_test.go
  website/source/docs/builders/amazon-chroot.html.md.erb
  website/source/docs/builders/amazon-ebs.html.md.erb
  website/source/docs/builders/amazon-ebssurrogate.html.md.erb
  website/source/docs/builders/amazon-ebsvolume.html.md.erb
  website/source/docs/builders/amazon-instance.html.md.erb
Labels: builder/amazon

#8570 fix winrmpass sanitization to account for empty string value.
  provisioner/ansible/provisioner.go
Labels: provisioner/ansible-remote, regression

#8571 fix ssh interface docs for amazon builders
  builder/amazon/common/run_config.go
  website/source/docs/builders/amazon-ebssurrogate.html.md.erb
  website/source/docs/builders/amazon-ebsvolume.html.md.erb
  website/source/docs/builders/amazon-instance.html.md.erb
  website/source/partials/builder/amazon/common/_RunConfig-not-required.html.md
Labels: builder/amazon, docs, enhancement

#8561 Set expiry for image versions in SIG
  builder/azure/arm/builder.go
  builder/azure/arm/config.go
  builder/azure/arm/config.hcl2spec.go
  builder/azure/arm/step_publish_to_shared_image_gallery.go
  builder/azure/arm/step_publish_to_shared_image_gallery_test.go
  builder/azure/common/constants/stateBag.go
  go.mod
  website/source/partials/builder/azure/arm/_Config-not-required.html.md
Labels: builder/azure

#8535 fix issue #8534
  builder/alicloud/ecs/step_config_security_group.go
Labels: builder/alicloud

#8536 builder/tencentcloud: Correct the image name length validation
  builder/tencentcloud/cvm/image_config.go
  website/source/docs/builders/tencentcloud-cvm.html.md
  website/source/partials/builder/tencentcloud/cvm/_TencentCloudImageConfig-required.html.md
Labels: builder/tencent

#8511 [post-processor/vsphere-template] Simplify method to use vm.MarkAsTemplate (optionally)
  post-processor/vsphere-template/post-processor.go
  post-processor/vsphere-template/post-processor.hcl2spec.go
  post-processor/vsphere-template/step_mark_as_template.go
  website/source/docs/post-processors/vsphere-template.html.md
Labels: enhancement, post-processor/vsphere-template, waiting-reply

#8594 post-processor/vagrant-cloud: Update error handling for Vagrant Cloud API
  post-processor/vagrant-cloud/client.go
  post-processor/vagrant-cloud/client_test.go
Labels: bug, post-processor/vagrant-cloud

#8582 Fix loading external plugins defined in PACKER_CONFIG
  config.go
  config_test.go
  main.go
Labels: bug, core

#8624 Proxmox upload iso
  builder/proxmox/builder.go
  builder/proxmox/config.go
  builder/proxmox/config.hcl2spec.go
  builder/proxmox/step_start_vm.go
  builder/proxmox/step_upload_iso.go
  builder/proxmox/step_upload_iso_test.go
  builder/proxmox/testdata/test.iso
  go.mod
  go.sum
  vendor/github.com/Telmate/proxmox-api-go/proxmox/client.go
  vendor/github.com/Telmate/proxmox-api-go/proxmox/config_qemu.go
  vendor/modules.txt
  website/source/docs/builders/proxmox.html.md
Labels: builder/proxmox

#8631 update website example
  website/source/docs/builders/alicloud-ecs.html.md.erb
Labels: builder/alicloud, docs

#8622 Allow aws builder pre validation to pass when subnet filters are present
  builder/amazon/common/step_pre_validate.go
  builder/amazon/common/step_pre_validate_test.go
  builder/amazon/ebs/builder.go
  builder/amazon/ebssurrogate/builder.go
  builder/amazon/instance/builder.go
Labels: bug, builder/amazon

#8551 google compute builder documentation example code cleanup
  website/source/docs/builders/googlecompute.html.md.erb
Labels: builder/google, docs

#8640 Interpolate boot_command when defined by user variable
  packer/core.go
  packer/core_test.go
  packer/test-fixtures/build-ignore-template-variable.json
  template/interpolate/i.go
Labels: core

#8636 fixes and closes #8547
  builder/lxd/communicator.go
Labels: bug, builder/lxd

#8657 Support tilde expansion for Chef provisioner's validate_key_path
  provisioner/chef-client/provisioner.go
Labels: enhancement, provisioner/chef

#8659 Add template engine variables doc for amazon-chroot
  website/source/docs/builders/amazon-chroot.html.md.erb
Labels: docs

#8654 Extract http ip discover to a new step
  builder/qemu/builder.go
  builder/qemu/step_http_ip_discover.go
  builder/qemu/step_http_ip_discover_test.go
  builder/qemu/step_type_boot_command.go
  builder/vmware/common/step_http_ip_discover.go
  builder/vmware/common/step_http_ip_discover_test.go
  builder/vmware/common/step_type_boot_command.go
  builder/vmware/iso/builder.go
  builder/vmware/vmx/builder.go
  common/step_provision.go
  common/step_provision_test.go
  packer/provisioner.go
  website/source/docs/templates/engine.html.md
Labels: builder/qemu, builder/vmware, core

#8616 add PACKER_PLUGIN_PATH for plugin discovery
  config.go
  config_test.go
  website/source/docs/extending/plugins.html.md
  website/source/docs/other/environment-variables.html.md
Labels: core, enhancement

#8671 Add custom-builders sharing info with post-processors doc
  website/source/docs/extending/custom-builders.html.md
  website/source/docs/templates/engine.html.md
Labels: docs

#8670 builder/azure-arm: Set WinRMPassword on the communicator config
  builder/azure/arm/builder.go
  builder/azure/arm/config.go
Labels: bug, builder/azure

#8673 switch trilean to boolean in docs to prevent confusion
  cmd/struct-markdown/main.go
  website/source/partials/builder/alicloud/ecs/_AlicloudDiskDevice-not-required.html.md
  website/source/partials/builder/alicloud/ecs/_AlicloudImageConfig-not-required.html.md
  website/source/partials/builder/alicloud/ecs/_RunConfig-not-required.html.md
  website/source/partials/builder/amazon/common/_AMIConfig-not-required.html.md
  website/source/partials/builder/amazon/common/_BlockDevice-not-required.html.md
  website/source/partials/builder/amazon/ebsvolume/_Config-not-required.html.md
Labels: docs
