Repository hashicorp/packer, pull requests merged in 2020-08, with the labels that each got.

#9706 change default target to just make the dev binaries
  Makefile
Labels: bug, build-failure, track-internal

#9713 Fix configuration_parameters
  builder/vsphere/common/step_config_params.go
Labels: bug, builder/vsphere, regression

#9665 Add step to customize cloned VM
  builder/vsphere/clone/builder.go
  builder/vsphere/clone/config.go
  builder/vsphere/clone/config.hcl2spec.go
  builder/vsphere/clone/step_customize.go
  builder/vsphere/clone/step_customize.hcl2spec.go
  builder/vsphere/driver/vm.go
  website/pages/docs/builders/vmware/vsphere-clone.mdx
  website/pages/partials/builder/vsphere/clone/Config-not-required.mdx
  website/pages/partials/builder/vsphere/clone/CustomizeConfig-not-required.mdx
  website/pages/partials/builder/vsphere/clone/CustomizeConfig.mdx
  website/pages/partials/builder/vsphere/clone/GlobalDnsSettings-not-required.mdx
  website/pages/partials/builder/vsphere/clone/GlobalDnsSettings.mdx
  website/pages/partials/builder/vsphere/clone/GlobalRoutingSettings-not-required.mdx
  website/pages/partials/builder/vsphere/clone/GlobalRoutingSettings.mdx
  website/pages/partials/builder/vsphere/clone/LinuxOptions-not-required.mdx
  website/pages/partials/builder/vsphere/clone/NetworkInterface-not-required.mdx
Labels: builder/vsphere, enhancement

#9702 alt, ctrl, and shift should be outside variables
  builder/vsphere/common/step_boot_command.go
Labels: bug, builder/vsphere

#9673 Make max_retries a string to allow variable interpolation
  hcl2template/parser.go
  hcl2template/testdata/variables/provisioner_variable_decoding.pkr.hcl
  hcl2template/types.build.go
  hcl2template/types.build.provisioners.go
  hcl2template/types.variables_test.go
  packer/core.go
  packer/core_test.go
  packer/test-fixtures/build-prov-retry.json
  template/parse.go
  template/parse_test.go
  template/template.go
  template/template.hcl2spec.go
Labels: bug, core

#9674 Add vSphere HCL examples to the docs
  builder/vsphere/common/step_export.go
  builder/vsphere/iso/step_create.go
  common/bootcommand/config.go
  common/iso_config.go
  website/pages/docs/builders/vmware/vsphere-clone.mdx
  website/pages/docs/builders/vmware/vsphere-iso.mdx
  website/pages/partials/builder/vsphere/common/ExportConfig-not-required.mdx
  website/pages/partials/builder/vsphere/common/ExportConfig.mdx
  website/pages/partials/builder/vsphere/iso/DiskConfig.mdx
  website/pages/partials/builder/vsphere/iso/NIC.mdx
  website/pages/partials/common/ISOConfig.mdx
  website/pages/partials/common/bootcommand/BootConfig.mdx
Labels: docs

#9715 Update checksum post-processor docs with hcl2 example
  post-processor/checksum/post-processor.go
  post-processor/checksum/post-processor.hcl2spec.go
  website/pages/docs/post-processors/checksum.mdx
Labels: docs

#9718 add network_name option to vmware builder to make it match the networ…
  builder/vmware/common/hw_config.go
  builder/vmware/iso/config.hcl2spec.go
  builder/vmware/iso/step_create_vmx.go
  website/pages/partials/builder/vmware/common/HWConfig-not-required.mdx
Labels: builder/vmware, enhancement

#9721 Add manifest post-processor hcl2 examples
  website/pages/docs/post-processors/manifest.mdx
Labels: docs

#9714 provide more helpful error message than the one returned by the clien…
  builder/azure/arm/config.go
  website/pages/partials/builder/azure/arm/Config-not-required.mdx
Labels: tech-debt

#9730 improve error handling when waiting for image so that the resourcenot…
  builder/amazon/ebs/step_create_ami.go
Labels: docs

#9731 Add keep_input_artifact note to the manifest post-processor
  website/pages/docs/post-processors/manifest.mdx
Labels: docs

#9720 Skip post-processors when build is cancelled
  packer/build.go
Labels: core, enhancement

#9734 post-processor/googlecompute-export: Remove IAP configuration from HCL schema
  post-processor/googlecompute-export/post-processor.go
  post-processor/googlecompute-export/post-processor.hcl2spec.go
Labels: tech-debt

#9727 post-processor/googlecompute-export: Update documentation
  post-processor/googlecompute-export/post-processor.go
  post-processor/googlecompute-export/post-processor.hcl2spec.go
  website/pages/docs/post-processors/googlecompute-export.mdx
  website/pages/partials/post-processor/googlecompute-export/Config-not-required.mdx
  website/pages/partials/post-processor/googlecompute-export/Config-required.mdx
Labels: docs

#9736 Fix ReregisterVM to default to true instead of false.
  post-processor/vsphere-template/post-processor.go
  post-processor/vsphere-template/post-processor.hcl2spec.go
  post-processor/vsphere-template/post-processor_test.go
  post-processor/vsphere-template/step_mark_as_template.go
Labels: post-processor/vsphere-template, regression

#9735 File provisioner docs
  provisioner/file/provisioner.go
  provisioner/file/provisioner.hcl2spec.go
  website/pages/docs/provisioners/file.mdx
  website/pages/partials/provisioner/file/Config-not-required.mdx
  website/pages/partials/provisioner/file/Config-required.mdx
Labels: docs, provisioner/file, track-internal

#9739 Fix vsphere boot command and check for context cancelation when waiting for ip
  builder/vsphere/common/step_boot_command.go
  builder/vsphere/common/step_wait_for_ip.go
Labels: bug, builder/vsphere, regression

#9738 Add community supported post-processors
  website/data/docs-navigation.js
  website/pages/community-tools/index.mdx
  website/pages/docs/post-processors/community-supported.mdx
  website/pages/partials/post-processors/community_post-processors.mdx
Labels: docs, track-internal

#9747 Remove double-quoted in variable type
  website/pages/guides/hcl/variables.mdx
Labels: docs

#9754 Remove more examples of deprecated iso_checksum_type in docs
  examples/alicloud/local/centos.json
  examples/ucloud/local/local.json
  website/pages/guides/automatic-operating-system-installs/autounattend_windows.mdx
Labels: docs

#9753 hcl example for breakpoint provisioner
  website/pages/docs/provisioners/breakpoint.mdx
Labels: docs

#9748 Check for existing IP after timeout in case of API timeout but IP found
  builder/vsphere/common/step_wait_for_ip.go
Labels: bug, builder/vsphere

#9751 Add all of the custom AWS template engines to GeneratedData for use b…
  builder/amazon/chroot/builder.go
  builder/amazon/chroot/builder_test.go
  builder/amazon/common/interpolate_build_info.go
  builder/amazon/common/step_set_generated_data.go
  builder/amazon/ebs/builder.go
  builder/amazon/ebs/builder_test.go
  builder/amazon/ebssurrogate/builder.go
  builder/amazon/ebssurrogate/builder_test.go
  builder/amazon/ebsvolume/builder.go
  builder/amazon/ebsvolume/builder_test.go
  builder/amazon/instance/builder.go
  builder/amazon/instance/builder_test.go
  website/pages/docs/builders/amazon/chroot.mdx
  website/pages/docs/builders/amazon/ebs.mdx
  website/pages/docs/builders/amazon/ebssurrogate.mdx
  website/pages/docs/builders/amazon/ebsvolume.mdx
  website/pages/docs/builders/amazon/instance.mdx
Labels: builder/amazon, enhancement

#9559 builder/azure-arm: Remove duplicate resource deletion steps
  builder/azure/arm/builder.go
  builder/azure/arm/step_create_resource_group.go
  builder/azure/arm/step_delete_additional_disks.go
  builder/azure/arm/step_delete_os_disk.go
  builder/azure/arm/step_delete_os_disk_test.go
  builder/azure/arm/step_delete_resource_group.go
  builder/azure/arm/step_delete_resource_group_test.go
  builder/azure/arm/step_deploy_template.go
Labels: builder/azure, tech-debt, track-internal

#9746 Add vault function for HCL2 and documentation
  common/template/funcs.go
  go.sum
  hcl2template/function/vault.go
  hcl2template/functions.go
  template/interpolate/funcs.go
  website/pages/docs/from-1.5/functions/vault/index.mdx
  website/pages/docs/from-1.5/functions/vault/vault.mdx
Labels: enhancement, hcl2

#9761 Add inSpec provisioner HCL2 examples
  website/pages/docs/provisioners/ansible.mdx
  website/pages/docs/provisioners/inspec.mdx
Labels: docs, provisioner/inspec

#9762 document network path
  builder/vsphere/clone/step_clone.go
  builder/vsphere/iso/step_create.go
  website/pages/partials/builder/vsphere/clone/CloneConfig-not-required.mdx
  website/pages/partials/builder/vsphere/iso/NIC-not-required.mdx
Labels: builder/vsphere, docs, track-internal

#9763 add an hcl example to the docs pipeline
  website/pages/guides/packer-on-cicd/pipelineing-builds.mdx
Labels: docs, track-internal

#9767 post-processor/googlecompute-import: Update documentation
  post-processor/googlecompute-import/post-processor.go
  post-processor/googlecompute-import/post-processor.hcl2spec.go
  website/pages/docs/post-processors/googlecompute-import.mdx
  website/pages/partials/post-processor/googlecompute-import/Config-not-required.mdx
  website/pages/partials/post-processor/googlecompute-import/Config-required.mdx
Labels: docs

#9764 Add override provisioner's option for HCL2
  command/build_test.go
  command/test-fixtures/hcl/provisioner-override.pkr.hcl
  command/test-fixtures/provisioners/provisioner-override.json
  hcl2template/types.build.provisioners.go
  hcl2template/types.hcl_provisioner.go
  website/pages/partials/provisioners/common-config.mdx
Labels: enhancement, hcl2

#9776 Fix: build.sh: give validateToolPresence a chance to inform the user
  scripts/build.sh
Labels: build, tech-debt

#9775 Fix typo in error message
  packer/core.go
Labels: core, tech-debt

#9774 Update GitHub action
  .github/workflows/issues.yml
Labels: tech-debt

#9773 integrations/secretsmanager: Add support for plaintext, non key/pair, secrets
  template/interpolate/aws/secretsmanager/secretsmanager.go
  template/interpolate/aws/secretsmanager/secretsmanager_test.go
  website/pages/docs/templates/user-variables.mdx
Labels: bug, interpolation

#9765 Fix Hyper-V boot command refs #5291
  builder/hyperv/common/step_type_boot_command.go
Labels: bug, builder/hyperv

#9772 change pause to run connect again afterwards
  helper/communicator/config.go
  helper/communicator/step_connect.go
Labels: bug, core

#9777 Add aws_polling config option to override env variables
  builder/amazon/chroot/builder.go
  builder/amazon/chroot/builder.hcl2spec.go
  builder/amazon/chroot/step_attach_volume.go
  builder/amazon/chroot/step_create_volume.go
  builder/amazon/chroot/step_register_ami.go
  builder/amazon/chroot/step_snapshot.go
  builder/amazon/common/access_config.go
  builder/amazon/common/access_config_test.go
  builder/amazon/common/state.go
  builder/amazon/common/state.hcl2spec.go
  builder/amazon/common/step_ami_region_copy.go
  builder/amazon/common/step_run_source_instance.go
  builder/amazon/common/step_run_spot_instance.go
  builder/amazon/common/step_run_spot_instance_test.go
  builder/amazon/common/step_stop_ebs_instance.go
  builder/amazon/ebs/builder.go
  builder/amazon/ebs/builder.hcl2spec.go
  builder/amazon/ebs/step_create_ami.go
  builder/amazon/ebssurrogate/builder.go
  builder/amazon/ebssurrogate/builder.hcl2spec.go
  builder/amazon/ebssurrogate/step_register_ami.go
  builder/amazon/ebssurrogate/step_register_ami_test.go
  builder/amazon/ebssurrogate/step_snapshot_volumes.go
  builder/amazon/ebsvolume/builder.go
  builder/amazon/ebsvolume/builder.hcl2spec.go
  builder/amazon/instance/builder.go
  builder/amazon/instance/builder.hcl2spec.go
  builder/amazon/instance/step_register_ami.go
  post-processor/amazon-import/post-processor.go
  post-processor/amazon-import/post-processor.hcl2spec.go
  website/pages/docs/builders/amazon/chroot.mdx
  website/pages/docs/builders/amazon/ebs.mdx
  website/pages/docs/builders/amazon/ebssurrogate.mdx
  website/pages/docs/builders/amazon/ebsvolume.mdx
  website/pages/docs/builders/amazon/instance.mdx
  website/pages/partials/builder/amazon/common/AWSPollingConfig-not-required.mdx
  website/pages/partials/builder/amazon/common/AWSPollingConfig.mdx
  website/pages/partials/builder/amazon/common/AccessConfig-not-required.mdx
  website/pages/partials/builder/amazon/common/StateChangeConf.mdx
Labels: builder/amazon, enhancement

#9782 fully destroy vm if it was cancelled or errored
  builder/vmware/common/step_register.go
Labels: bug, builder/vmware-esxi

#9781 integration/secretsmanager: Add support for AWS SharedConfig file
  template/interpolate/aws/secretsmanager/secretsmanager.go
  template/interpolate/funcs.go
Labels: bug, builder/amazon

#9785 document workaround for upstream bug
  website/pages/docs/post-processors/vsphere-template.mdx
Labels: docs

#9755 Add option to also import OVF templates to the Content Library
  builder/vsphere/clone/config.go
  builder/vsphere/common/step_import_to_content_library.go
  builder/vsphere/common/step_import_to_content_library.hcl2spec.go
  builder/vsphere/driver/library.go
  builder/vsphere/driver/vm.go
  go.mod
  go.sum
  vendor/github.com/vmware/govmomi/.mailmap
  vendor/github.com/vmware/govmomi/.travis.yml
  vendor/github.com/vmware/govmomi/CHANGELOG.md
  vendor/github.com/vmware/govmomi/CONTRIBUTING.md
  vendor/github.com/vmware/govmomi/CONTRIBUTORS
  vendor/github.com/vmware/govmomi/Makefile
  vendor/github.com/vmware/govmomi/README.md
  vendor/github.com/vmware/govmomi/list/lister.go
  vendor/github.com/vmware/govmomi/object/common.go
  vendor/github.com/vmware/govmomi/object/network.go
  vendor/github.com/vmware/govmomi/object/opaque_network.go
  vendor/github.com/vmware/govmomi/object/task.go
  vendor/github.com/vmware/govmomi/object/virtual_machine.go
  vendor/github.com/vmware/govmomi/property/collector.go
  vendor/github.com/vmware/govmomi/property/filter.go
  vendor/github.com/vmware/govmomi/property/wait.go
  vendor/github.com/vmware/govmomi/session/keep_alive.go
  vendor/github.com/vmware/govmomi/session/keepalive/handler.go
  vendor/github.com/vmware/govmomi/session/manager.go
  vendor/github.com/vmware/govmomi/vapi/internal/internal.go
  vendor/github.com/vmware/govmomi/vapi/library/library.go
  vendor/github.com/vmware/govmomi/vapi/library/library_item.go
  vendor/github.com/vmware/govmomi/vapi/library/library_item_updatesession_file.go
  vendor/github.com/vmware/govmomi/vapi/rest/client.go
  vendor/github.com/vmware/govmomi/vapi/vcenter/vcenter_ovf.go
  vendor/github.com/vmware/govmomi/vapi/vcenter/vcenter_vmtx.go
  vendor/github.com/vmware/govmomi/vim25/client.go
  vendor/github.com/vmware/govmomi/vim25/methods/methods.go
  vendor/github.com/vmware/govmomi/vim25/mo/mo.go
  vendor/github.com/vmware/govmomi/vim25/soap/client.go
  vendor/github.com/vmware/govmomi/vim25/types/enum.go
  vendor/github.com/vmware/govmomi/vim25/types/if.go
  vendor/github.com/vmware/govmomi/vim25/types/types.go
  vendor/github.com/vmware/govmomi/vim25/xml/LICENSE
  vendor/github.com/vmware/govmomi/vim25/xml/marshal.go
  vendor/github.com/vmware/govmomi/vim25/xml/read.go
  vendor/github.com/vmware/govmomi/vim25/xml/typeinfo.go
  vendor/github.com/vmware/govmomi/vim25/xml/xml.go
  vendor/modules.txt
  website/pages/docs/builders/vmware/vsphere-iso.mdx
  website/pages/partials/builder/vsphere/clone/Config-not-required.mdx
  website/pages/partials/builder/vsphere/common/ContentLibraryDestinationConfig-not-required.mdx
  website/pages/partials/builder/vsphere/common/ContentLibraryDestinationConfig.mdx
Labels: builder/vsphere, enhancement

#9788 Add HCL2 examples to the virtualbox builders
  builder/virtualbox/common/export_config.go
  builder/virtualbox/common/vboxmanage_config.go
  builder/virtualbox/iso/builder.go
  website/pages/docs/builders/virtualbox/iso.mdx
  website/pages/docs/builders/virtualbox/ovf.mdx
  website/pages/docs/builders/virtualbox/vm.mdx
  website/pages/partials/builder/virtualbox/common/ExportConfig-not-required.mdx
  website/pages/partials/builder/virtualbox/common/VBoxManageConfig-not-required.mdx
  website/pages/partials/builder/virtualbox/common/VBoxManageConfig.mdx
  website/pages/partials/builder/virtualbox/iso/Config-not-required.mdx
  website/pages/partials/builders/virtualbox-ssh-key-pair.mdx
Labels: docs

#9793 Modularise vCenter rest client
  builder/vsphere/driver/driver.go
  builder/vsphere/driver/library.go
  builder/vsphere/driver/vm.go
Labels: builder/vsphere, enhancement

#9805 update flock to use the upstream lib + go mod tidy
  go.mod
  go.sum
  vendor/github.com/gofrs/flock/LICENSE
  vendor/modules.txt
Labels: core, tech-debt

#9801 Accept content library path in iso_paths
  builder/vsphere/driver/datastore.go
  builder/vsphere/driver/datastore_test.go
  builder/vsphere/driver/driver.go
  builder/vsphere/driver/library.go
  builder/vsphere/driver/library_test.go
  builder/vsphere/driver/vm.go
  builder/vsphere/iso/step_add_cdrom.go
  website/pages/partials/builder/vsphere/iso/CDRomConfig-not-required.mdx
Labels: builder/vsphere, enhancement

#9810 retry spot instance creation when an "Invalid IAM Instance Profile name" error pops up
  builder/amazon/common/step_run_spot_instance.go
Labels: bug, builder/amazon

#9659 JSON to HCL2 (minimal best-effort) transpiler
  command/cli.go
  command/exec_test.go
  command/hcl2_upgrade.go
  command/hcl2_upgrade_test.go
  command/meta.go
  command/test-fixtures/hcl2_upgrade_basic/expected.pkr.hcl
  command/test-fixtures/hcl2_upgrade_basic/input.json
  commands.go
  go.mod
  go.sum
  hcl2template/shim/values.go
  vendor/github.com/apparentlymart/go-textseg/LICENSE
  vendor/github.com/apparentlymart/go-textseg/textseg/all_tokens.go
  vendor/github.com/apparentlymart/go-textseg/textseg/generate.go
  vendor/github.com/apparentlymart/go-textseg/textseg/grapheme_clusters.go
  vendor/github.com/apparentlymart/go-textseg/textseg/grapheme_clusters.rl
  vendor/github.com/apparentlymart/go-textseg/textseg/grapheme_clusters_table.rl
  vendor/github.com/apparentlymart/go-textseg/textseg/tables.go
  vendor/github.com/apparentlymart/go-textseg/textseg/unicode2ragel.rb
  vendor/github.com/apparentlymart/go-textseg/textseg/utf8_seqs.go
  vendor/github.com/hashicorp/hcl/v2/CHANGELOG.md
  vendor/github.com/hashicorp/hcl/v2/diagnostic.go
  vendor/github.com/hashicorp/hcl/v2/go.mod
  vendor/github.com/hashicorp/hcl/v2/go.sum
  vendor/github.com/hashicorp/hcl/v2/gohcl/doc.go
  vendor/github.com/hashicorp/hcl/v2/hcldec/spec.go
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/expression.go
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/parser.go
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/parser_template.go
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/spec.md
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/token.go
  vendor/github.com/hashicorp/hcl/v2/hclwrite/generate.go
  vendor/github.com/hashicorp/hcl/v2/hclwrite/parser.go
  vendor/github.com/hashicorp/hcl/v2/hclwrite/tokens.go
  vendor/github.com/hashicorp/hcl/v2/json/scanner.go
  vendor/github.com/hashicorp/hcl/v2/pos_scanner.go
  vendor/modules.txt
  website/data/docs-navigation.js
  website/pages/docs/commands/hcl2_upgrade.mdx
  website/pages/partials/from-1.5/beta-hcl2-note.mdx
Labels: enhancement, hcl2

#9812 aws: name fields of PolicyDocument consistently in HCL
  builder/amazon/common/run_config.go
  builder/amazon/common/run_config.hcl2spec.go
  website/pages/partials/builder/amazon/common/PolicyDocument-not-required.mdx
  website/pages/partials/builder/amazon/common/Statement-not-required.mdx
Labels: builder/amazon, hcl2

#9820 Update the GCE Builder Documentation
  website/pages/docs/builders/googlecompute.mdx
Labels: docs

#9823 provisioner/windows-shell: Add HCL2 example to documentation
  website/pages/docs/provisioners/windows-shell.mdx
Labels: docs

#9824 provisioner/windows-restart: Add HCL2 example to documentation
  website/pages/docs/provisioners/windows-restart.mdx
Labels: docs

#9815 Move step_create_disk into common folder, and add to vmx builder
  builder/vmware/common/disk_config.go
  builder/vmware/common/step_create_disks.go
  builder/vmware/common/step_create_disks_test.go
  builder/vmware/iso/builder.go
  builder/vmware/iso/config.go
  builder/vmware/iso/config.hcl2spec.go
  builder/vmware/vmx/builder.go
  builder/vmware/vmx/config.go
  builder/vmware/vmx/config.hcl2spec.go
  website/pages/docs/builders/vmware/iso.mdx
  website/pages/docs/builders/vmware/vmx.mdx
  website/pages/partials/builder/vmware/common/DiskConfig-not-required.mdx
  website/pages/partials/builder/vmware/iso/Config-not-required.mdx
Labels: builder/vmware, enhancement

#9828 provisioner/salt-masterless: Add HCL2 example to docs
  website/pages/docs/provisioners/salt-masterless.mdx
Labels: docs

#9825 Allow "export" to ovf/ova for local vmware builds in addition to esx …
  builder/vmware/common/driver.go
  builder/vmware/common/driver_config.go
  builder/vmware/common/driver_esx5.go
  builder/vmware/common/driver_mock.go
  builder/vmware/common/export_config.go
  builder/vmware/common/step_export.go
  builder/vmware/common/step_export_test.go
  builder/vmware/iso/builder.go
  builder/vmware/iso/builder_test.go
  builder/vmware/iso/config.go
  builder/vmware/vmx/builder.go
  builder/vmware/vmx/builder_test.go
  builder/vmware/vmx/config.go
  website/pages/partials/builder/vmware/common/ExportConfig-not-required.mdx
Labels: builder/vmware, enhancement

#9829 add variable gotcha to the variables docs not just the from-json hcl …
  website/pages/docs/from-1.5/variables.mdx
Labels: docs, hcl2

#9835 command/hcl2_upgrade: Update description text for command
  command/hcl2_upgrade.go
Labels: tech-debt

#9837 update changelog
  CHANGELOG.md
Labels: docs

#9833 Add driver mocks and write tests to steps Remote Upload and Create VM
  builder/vsphere/clone/builder.go
  builder/vsphere/clone/step_clone.go
  builder/vsphere/clone/step_customize.go
  builder/vsphere/common/artifact.go
  builder/vsphere/common/step_boot_command.go
  builder/vsphere/common/step_config_params.go
  builder/vsphere/common/step_export.go
  builder/vsphere/common/step_hardware.go
  builder/vsphere/common/step_import_to_content_library.go
  builder/vsphere/common/step_run.go
  builder/vsphere/common/step_shutdown.go
  builder/vsphere/common/step_snapshot.go
  builder/vsphere/common/step_ssh_key_pair.go
  builder/vsphere/common/step_template.go
  builder/vsphere/common/step_wait_for_ip.go
  builder/vsphere/common/testing/utility.go
  builder/vsphere/driver/cluster.go
  builder/vsphere/driver/datastore.go
  builder/vsphere/driver/datastore_mock.go
  builder/vsphere/driver/driver.go
  builder/vsphere/driver/driver_mock.go
  builder/vsphere/driver/driver_test.go
  builder/vsphere/driver/folder.go
  builder/vsphere/driver/host.go
  builder/vsphere/driver/library.go
  builder/vsphere/driver/network.go
  builder/vsphere/driver/resource_pool.go
  builder/vsphere/driver/vm.go
  builder/vsphere/driver/vm_cdrom.go
  builder/vsphere/driver/vm_clone_acc_test.go
  builder/vsphere/driver/vm_create_acc_test.go
  builder/vsphere/driver/vm_keyboard.go
  builder/vsphere/driver/vm_mock.go
  builder/vsphere/iso/builder.go
  builder/vsphere/iso/common_test.go
  builder/vsphere/iso/step_add_cdrom.go
  builder/vsphere/iso/step_add_floppy.go
  builder/vsphere/iso/step_create.go
  builder/vsphere/iso/step_create_test.go
  builder/vsphere/iso/step_remote_upload.go
  builder/vsphere/iso/step_remote_upload_test.go
  builder/vsphere/iso/step_remove_cdrom.go
  builder/vsphere/iso/step_remove_floppy.go
Labels: builder/vsphere, tech-debt

#9854 Fix linting issues for SA6005 check
  builder/oneandone/config.go
  builder/profitbricks/step_create_server.go
  builder/vmware/common/driver_parser.go
Labels: tech-debt

#9831 add tests to make sure prepare for export defaults properly
  builder/vmware/common/driver.go
  builder/vmware/common/driver_config.go
  builder/vmware/common/driver_esx5.go
  builder/vmware/common/driver_mock.go
  builder/vmware/iso/builder.go
  builder/vmware/iso/builder_test.go
  builder/vmware/iso/config.go
  builder/vmware/vmx/builder.go
  builder/vmware/vmx/config.go
  builder/vmware/vmx/config_test.go
Labels: builder/vmware, tech-debt
