Repository hashicorp/packer, pull requests merged in 2020-03, with the labels that each got.

#8771 execute_command in powershell wasn't interpolating build vars properly
  template/interpolate/funcs.go
  template/interpolate/funcs_test.go
Labels: bug, core

#8811 Fix Hyper-V compacted disk size comparison
  common/powershell/hyperv/hyperv.go
Labels: bug, builder/hyperv

#8714 WIP: Add Hyper-V builder `first_boot_device` setting to allow the selection of the initial device or device class used for booting the VM.
  builder/hyperv/common/config.go
  builder/hyperv/common/driver.go
  builder/hyperv/common/driver_mock.go
  builder/hyperv/common/driver_ps_4.go
  builder/hyperv/common/step_mount_dvddrive.go
  builder/hyperv/common/step_set_first_boot_device.go
  builder/hyperv/common/step_set_first_boot_device_test.go
  builder/hyperv/iso/builder.go
  builder/hyperv/iso/builder.hcl2spec.go
  builder/hyperv/vmcx/builder.go
  builder/hyperv/vmcx/builder.hcl2spec.go
  common/powershell/hyperv/hyperv.go
  website/source/partials/builder/hyperv/common/_CommonConfig-not-required.html.md
Labels: builder/hyperv, enhancement

#8824 guides/hcl: Add link to HCL2 issues tracked on the Packer repo
  website/source/guides/hcl/from-json-v1/index.html.md.erb
  website/source/guides/hcl/index.html.md.erb
  website/source/guides/hcl/variables/index.html.md.erb
  website/source/partials/guides/hcl2-beta-note.md
Labels: docs

#8823 docs/provisioners/index: Add link to Template Provisioners section
  website/source/docs/provisioners/index.html.md.erb
Labels: docs

#8785 Add exclude mapstructure tag to exclude from hcl2spec struct
  builder/azure/arm/config.go
  builder/azure/arm/config.hcl2spec.go
  cmd/mapstructure-to-hcl2/mapstructure-to-hcl2.go
  provisioner/inspec/provisioner.go
  provisioner/inspec/provisioner.hcl2spec.go
Labels: bug, hcl2

#8836 [Website] Update middleman-hashicorp to 0.3.44
  website/Gemfile
  website/Gemfile.lock
Labels: docs, website

#8839 Fix boot command link in ssh communicator doc
  website/source/docs/communicators/ssh.html.md
Labels: docs

#8838 Fix gosimple S1025 linting errors
  builder/amazon/common/step_run_spot_instance.go
  builder/docker/communicator.go
  builder/qemu/step_copy_disk.go
  builder/qemu/step_create_disk.go
  builder/qemu/step_resize_disk.go
  builder/virtualbox/common/step_configure_vrdp.go
  builder/vmware/common/step_export.go
  common/shell-local/run.go
  common/step_http_server.go
  post-processor/vsphere/post-processor.go
  provisioner/shell/provisioner.go
Labels: tech-debt

#8787 (vsphere-iso) add ability to define multiple disks
  builder/vsphere/driver/vm.go
  builder/vsphere/iso/config.hcl2spec.go
  builder/vsphere/iso/step_create.go
  builder/vsphere/iso/step_create.hcl2spec.go
  website/source/docs/builders/vsphere-iso.html.md.erb
  website/source/partials/builder/vsphere/iso/_CreateConfig-not-required.html.md
  website/source/partials/builder/vsphere/iso/_DiskConfig-not-required.html.md
  website/source/partials/builder/vsphere/iso/_DiskConfig-required.html.md
Labels: builder/vsphere, enhancement

#8828 Remove all floppy controllers before adding a new one
  builder/virtualbox/common/driver.go
  builder/virtualbox/common/driver_4_2.go
  builder/virtualbox/common/driver_mock.go
  builder/virtualbox/common/step_attach_floppy.go
  builder/virtualbox/common/step_attach_floppy_test.go
Labels: bug, builder/virtualbox-ovf

#8845 vSphere ISO supports more common options
  builder/vsphere/iso/config.go
  website/source/docs/builders/vsphere-iso.html.md.erb
  website/source/partials/builder/vsphere/iso/_Config-not-required.html.md
Labels: builder/vsphere, docs

#8834 hcl2template/types.variables: Update logic for parsing literal value variables
  hcl2template/types.variables.go
  hcl2template/types.variables_test.go
Labels: bug, core, hcl2

#8850 circleci: VersionPrerelease: show tag or branch name and hash when building binary
  .circleci/config.yml
Labels: build, tech-debt

#8856 Fix example json format in ansible provisioner doc
  website/source/docs/provisioners/ansible.html.md.erb
Labels: bug, docs

#8829 Make template variables SSHPublicKey and SSHPrivateKey as strings
  common/step_provision.go
  common/step_provision_test.go
  helper/communicator/config.go
  website/source/docs/templates/engine.html.md
Labels: bug, core

#8861 docs/virtualbox-ovf: Add VBoxManage config section to VirtualBox OVF builder docs
  website/source/docs/builders/virtualbox-ovf.html.md.erb
Labels: builder/virtualbox-ovf, docs

#8837 Fix crash when an unset variable is used
  go.mod
  go.sum
  hcl2template/common_test.go
  hcl2template/internal/mock.go
  hcl2template/parser.go
  hcl2template/testdata/variables/basic.pkr.hcl
  hcl2template/testdata/variables/empty.pkr.hcl
  hcl2template/testdata/variables/unknown_key.pkr.hcl
  hcl2template/testdata/variables/unset_unused_string_variable.pkr.hcl
  hcl2template/testdata/variables/unset_used_string_variable.pkr.hcl
  hcl2template/types.build.go
  hcl2template/types.packer_config.go
  hcl2template/types.packer_config_test.go
  hcl2template/types.variables.go
  hcl2template/types.variables_test.go
  vendor/github.com/zclconf/go-cty/cty/convert/conversion.go
  vendor/github.com/zclconf/go-cty/cty/convert/conversion_collection.go
  vendor/github.com/zclconf/go-cty/cty/convert/unify.go
  vendor/github.com/zclconf/go-cty/cty/function/stdlib/collection.go
  vendor/github.com/zclconf/go-cty/cty/function/stdlib/datetime.go
  vendor/modules.txt
  website/source/docs/configuration/from-1.5/variables.html.md
Labels: bug, hcl2

#8862 Add Codecov configuration
  .circleci/config.yml
  .travis.yml
  Makefile
  codecov.yml
Labels: build, tech-debt

#8732 add the remote iso first so that it is first in boot order
  builder/vsphere/iso/step_add_cdrom.go
  website/source/docs/builders/vsphere-iso.html.md.erb
Labels: builder/vsphere

#8879 Add support for configurable KeyVault SKU
  builder/azure/arm/config.go
  builder/azure/arm/config.hcl2spec.go
  builder/azure/arm/template_factory.go
  builder/azure/arm/template_factory_test.TestKeyVaultDeployment03.approved.json
  builder/azure/common/template/template_builder.go
  builder/azure/common/template/template_parameters.go
  website/source/partials/builder/azure/arm/_Config-not-required.html.md
Labels: builder/azure, enhancement

#8887 Untangle ssh docs from aws
  helper/communicator/config.go
  website/source/partials/helper/communicator/_SSH-not-required.html.md
Labels: communicator/ssh, docs

#8847 communicator/ssh: support keyboard-interactive auth to connect bastion
  builder/alicloud/ecs/builder.hcl2spec.go
  builder/amazon/ebs/builder.hcl2spec.go
  builder/amazon/ebssurrogate/builder.hcl2spec.go
  builder/amazon/ebsvolume/builder.hcl2spec.go
  builder/amazon/instance/builder.hcl2spec.go
  builder/azure/arm/config.hcl2spec.go
  builder/cloudstack/config.hcl2spec.go
  builder/digitalocean/config.hcl2spec.go
  builder/docker/config.hcl2spec.go
  builder/googlecompute/config.hcl2spec.go
  builder/hcloud/config.hcl2spec.go
  builder/hyperone/config.hcl2spec.go
  builder/hyperv/iso/builder.hcl2spec.go
  builder/hyperv/vmcx/builder.hcl2spec.go
  builder/jdcloud/common.hcl2spec.go
  builder/linode/config.hcl2spec.go
  builder/ncloud/config.hcl2spec.go
  builder/null/config.hcl2spec.go
  builder/oneandone/config.hcl2spec.go
  builder/openstack/builder.hcl2spec.go
  builder/oracle/classic/builder.hcl2spec.go
  builder/oracle/oci/config.hcl2spec.go
  builder/osc/bsu/builder.hcl2spec.go
  builder/osc/bsusurrogate/builder.hcl2spec.go
  builder/osc/bsuvolume/builder.hcl2spec.go
  builder/parallels/iso/builder.hcl2spec.go
  builder/parallels/pvm/config.hcl2spec.go
  builder/profitbricks/config.hcl2spec.go
  builder/proxmox/config.hcl2spec.go
  builder/qemu/builder.hcl2spec.go
  builder/scaleway/config.hcl2spec.go
  builder/tencentcloud/cvm/builder.hcl2spec.go
  builder/triton/config.hcl2spec.go
  builder/ucloud/uhost/builder.hcl2spec.go
  builder/vagrant/builder.hcl2spec.go
  builder/virtualbox/iso/builder.hcl2spec.go
  builder/virtualbox/ovf/config.hcl2spec.go
  builder/virtualbox/vm/config.hcl2spec.go
  builder/vmware/iso/config.hcl2spec.go
  builder/vmware/vmx/config.hcl2spec.go
  builder/vsphere/clone/config.hcl2spec.go
  builder/vsphere/iso/config.hcl2spec.go
  builder/yandex/config.hcl2spec.go
  communicator/ssh/keyboard_interactive.go
  communicator/ssh/keyboard_interactive_test.go
  helper/communicator/config.go
  helper/communicator/config.hcl2spec.go
  helper/communicator/step_connect_ssh.go
  post-processor/alicloud-import/post-processor.hcl2spec.go
  website/source/partials/helper/communicator/_SSH-not-required.html.md
Labels: communicator/ssh, enhancement

#8883 Interpolate shell inline config
  helper/tests/aws.go
  helper/tests/core.go
  provisioner/file/provisioner.go
  provisioner/shell/provisioner.go
  provisioner/shell/provisioner_acc_test.go
  provisioner/shell/test-fixtures/shell-provisioner.json
Labels: bug, provisioner/shell

#8875 Fix user var recursion with env vars
  packer/core.go
  packer/core_test.go
  packer/test-fixtures/complex-recursed-env-user-var-file.json
Labels: bug, core

#8735 make period stripping more strict so that users can disable provisine…
  config.go
Labels: bug, core

#8892 feat(proxmox): add ability to specify vga adapter
  builder/proxmox/config.go
  builder/proxmox/config.hcl2spec.go
  builder/proxmox/step_start_vm.go
  website/source/docs/builders/proxmox.html.md
Labels: builder/proxmox, enhancement

#8889 Hcl2 singular blocks
  Makefile
  builder/alicloud/ecs/builder.hcl2spec.go
  builder/alicloud/ecs/image_config.go
  builder/amazon/chroot/builder.go
  builder/amazon/chroot/builder.hcl2spec.go
  builder/amazon/chroot/step_create_volume.go
  builder/amazon/common/ami_config.go
  builder/amazon/common/run_config.go
  builder/amazon/common/run_config.hcl2spec.go
  builder/amazon/common/run_config_test.go
  builder/amazon/common/step_create_tags.go
  builder/amazon/common/step_run_source_instance.go
  builder/amazon/common/step_run_spot_instance.go
  builder/amazon/common/step_run_spot_instance_test.go
  builder/amazon/common/tags.go
  builder/amazon/ebs/builder.go
  builder/amazon/ebs/builder.hcl2spec.go
  builder/amazon/ebssurrogate/builder.go
  builder/amazon/ebssurrogate/builder.hcl2spec.go
  builder/amazon/ebsvolume/block_device.go
  builder/amazon/ebsvolume/builder.go
  builder/amazon/ebsvolume/builder.hcl2spec.go
  builder/amazon/ebsvolume/step_tag_ebs_volumes.go
  builder/amazon/instance/builder.go
  builder/amazon/instance/builder.hcl2spec.go
  builder/azure/arm/config.go
  builder/azure/arm/config.hcl2spec.go
  builder/hyperone/config.go
  builder/hyperone/config.hcl2spec.go
  builder/osc/common/run_config.go
  builder/osc/common/run_config.hcl2spec.go
  builder/osc/common/run_config_test.go
  builder/tencentcloud/cvm/builder.hcl2spec.go
  builder/tencentcloud/cvm/run_config.go
  builder/triton/config.hcl2spec.go
  builder/triton/source_machine_config.go
  builder/triton/target_image_config.go
  builder/vmware/common/driver_parser.go
  builder/vsphere/iso/step_create.hcl2spec.go
  cmd/mapstructure-to-hcl2/mapstructure-to-hcl2.go
  cmd/struct-markdown/main.go
  command/build_parallel_test.go
  hcl2template/types.kv.go
  hcl2template/types.kv.hcl2spec.go
  helper/communicator/config.hcl2spec.go
  post-processor/alicloud-import/post-processor.go
  post-processor/alicloud-import/post-processor.hcl2spec.go
  provisioner/shell/provisioner_test.go
  scripts/generate-plugins.go
  website/source/partials/builder/alicloud/ecs/_AlicloudImageConfig-not-required.html.md
  website/source/partials/builder/amazon/chroot/_Config-not-required.html.md
  website/source/partials/builder/amazon/common/_AMIConfig-not-required.html.md
  website/source/partials/builder/amazon/common/_RunConfig-not-required.html.md
  website/source/partials/builder/amazon/ebsvolume/_BlockDevice-not-required.html.md
  website/source/partials/builder/amazon/ebsvolume/_Config-not-required.html.md
  website/source/partials/builder/azure/arm/_Config-not-required.html.md
  website/source/partials/builder/hyperone/_Config-not-required.html.md
  website/source/partials/builder/tencentcloud/cvm/_TencentCloudRunConfig-not-required.html.md
  website/source/partials/builder/triton/_SourceMachineConfig-not-required.html.md
  website/source/partials/builder/triton/_TargetImageConfig-not-required.html.md
Labels: bug, builder/alicloud, builder/amazon, builder/azure, builder/hyperone, builder/tencent, builder/vmware, builder/vsphere, enhancement, hcl2

#8906 return error when LoadSnapshots turns up empty
  builder/virtualbox/common/driver_4_2.go
Labels: bug, virtualbox-vm

#8907 add small warning about sysprep to the docs
  website/source/docs/builders/azure-arm.html.md.erb
Labels: builder/azure, docs

#8905 Fix azure key vault cleanup failure
  builder/azure/arm/azure_client.go
  builder/azure/arm/builder.go
  builder/azure/arm/step_delete_resource_group.go
  builder/azure/arm/step_deploy_template.go
  builder/azure/common/vault.go
  vendor/github.com/Azure/azure-sdk-for-go/services/keyvault/mgmt/2018-02-14/keyvault/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/keyvault/mgmt/2018-02-14/keyvault/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/keyvault/mgmt/2018-02-14/keyvault/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/keyvault/mgmt/2018-02-14/keyvault/vaults.go
  vendor/github.com/Azure/azure-sdk-for-go/services/keyvault/mgmt/2018-02-14/keyvault/version.go
  vendor/modules.txt
Labels: bug, builder/azure

#8918 make sure locals are evaluated only once variables are + test this
  command/test-fixtures/var-arg/fruit_builder.pkr.hcl
  hcl2template/parser.go
Labels: bug, hcl2

#8764 add ovf export capability to vsphere builders
  builder/vsphere/clone/builder.go
  builder/vsphere/clone/config.go
  builder/vsphere/clone/config.hcl2spec.go
  builder/vsphere/common/output_config.go
  builder/vsphere/common/output_config.hcl2spec.go
  builder/vsphere/common/step_export.go
  builder/vsphere/common/step_export.hcl2spec.go
  builder/vsphere/driver/vm.go
  builder/vsphere/iso/builder.go
  builder/vsphere/iso/config.go
  builder/vsphere/iso/config.hcl2spec.go
  vendor/github.com/vmware/govmomi/ovf/cim.go
  vendor/github.com/vmware/govmomi/ovf/doc.go
  vendor/github.com/vmware/govmomi/ovf/env.go
  vendor/github.com/vmware/govmomi/ovf/envelope.go
  vendor/github.com/vmware/govmomi/ovf/manager.go
  vendor/github.com/vmware/govmomi/ovf/ovf.go
  vendor/modules.txt
  website/source/docs/builders/vsphere-clone.html.md.erb
  website/source/docs/builders/vsphere-iso.html.md.erb
  website/source/partials/builder/vsphere/clone/_Config-not-required.html.md
  website/source/partials/builder/vsphere/common/_ExportConfig-not-required.html.md
  website/source/partials/builder/vsphere/common/_ExportConfig.html.md
  website/source/partials/builder/vsphere/common/_OutputConfig-not-required.html.md
  website/source/partials/builder/vsphere/iso/_Config-not-required.html.md
Labels: builder/vsphere, enhancement

#8922 vsphere/iso: Add support for ovf export options
  builder/vsphere/common/step_export.go
  builder/vsphere/iso/builder.go
  website/source/partials/builder/vsphere/common/_ExportConfig-not-required.html.md
Labels: builder/vsphere, enhancement

#8923 golangci-lint: Update --new-from-rev option to check only newly added commits
  Makefile
Labels: tech-debt

#8935 feat(proxmox): add onboot directive support
  builder/proxmox/config.go
  builder/proxmox/config.hcl2spec.go
  builder/proxmox/step_start_vm.go
  website/source/docs/builders/proxmox.html.md
Labels: builder/proxmox, enhancement

#8931 Allow accepting image for the members in OpenStack builder
  builder/openstack/builder.hcl2spec.go
  builder/openstack/image_config.go
  builder/openstack/step_add_image_members.go
  website/source/partials/builder/openstack/_ImageConfig-not-required.html.md
Labels: builder/openstack, enhancement

#8943 Fix typo in Outscale title
  website/source/docs/builders/osc-bsusurrogate.html.md
Labels: docs

#8944 Replace Amazon with Outscale for OSC BSU doc
  website/source/docs/builders/osc-bsuvolume.html.md
Labels: docs

#8928 Fix azure winrm_password attribution and allow to set winrm_username
  builder/azure/arm/builder.go
  builder/azure/arm/config.go
  builder/azure/arm/config_test.go
  common/random/string.go
Labels: bug, builder/azure

#8917 Add cleanup_remote_cache config option to vmware-iso
  builder/vmware/common/driver_config.go
  builder/vmware/common/remote_driver_mock.go
  builder/vmware/common/step_remote_upload_test.go
  builder/vmware/iso/builder.go
  builder/vmware/iso/config.hcl2spec.go
  builder/vmware/vmx/config.hcl2spec.go
  website/source/partials/builder/vmware/common/_DriverConfig-not-required.html.md
Labels: bug, builder/vmware-esxi

#8938 builder/vsphere-clone: Find the vm within the folder
  builder/vsphere/clone/step_clone.go
  builder/vsphere/iso/step_create.go
Labels: bug, builder/vsphere

#8942 [builder/google] Use "ssh-keys" metadata rather than deprecated "sshKeys"
  builder/googlecompute/step_create_instance.go
  builder/googlecompute/step_create_instance_test.go
Labels: bug, builder/google

#8958 remove docs about windows symlinks which are now inaccurage
  common/iso_config.go
  website/source/partials/common/_ISOConfig.html.md
Labels: docs, windows-host
