Repository hashicorp/packer, pull requests merged in 2020-06, with the labels that each got.

#9341 Fix typo in Ansible Provisioner Docs
  website/pages/docs/provisioners/ansible.mdx
Labels: docs

#9321 buidler/vsphere-iso: ISOUrl Fix
  builder/vsphere/iso/config.go
Labels: bug, builder/vsphere

#9291 Allow to set source fields from a new `build.source` block
  CHANGELOG.md
  hcl2template/parser.go
  hcl2template/testdata/complete/build.pkr.hcl
  hcl2template/testdata/complete/sources.pkr.hcl
  hcl2template/types.build.go
  hcl2template/types.build.post-processor.go
  hcl2template/types.build.provisioners.go
  hcl2template/types.packer_config.go
  hcl2template/types.packer_config_test.go
  hcl2template/types.source.go
  hcl2template/types.source_test.go
  hcl2template/types.variables_test.go
  website/data/docs-navigation.js
  website/pages/docs/from-1.5/blocks/build/index.mdx
  website/pages/docs/from-1.5/blocks/build/post-processor.mdx
  website/pages/docs/from-1.5/blocks/build/provisioner.mdx
  website/pages/docs/from-1.5/blocks/build/source.mdx
  website/pages/docs/from-1.5/blocks/index.mdx
  website/pages/docs/from-1.5/blocks/locals.mdx
  website/pages/docs/from-1.5/blocks/source.mdx
  website/pages/docs/from-1.5/blocks/variable.mdx
  website/pages/docs/from-1.5/expressions.mdx
  website/pages/docs/from-1.5/functions/index.mdx
  website/pages/docs/from-1.5/index.mdx
  website/pages/docs/from-1.5/locals.mdx
  website/pages/docs/from-1.5/syntax-json.mdx
  website/pages/docs/from-1.5/syntax.mdx
  website/pages/docs/from-1.5/variables.mdx
  website/pages/partials/builders/community_builders.mdx
  website/pages/partials/from-1.5/beta-hcl2-note.mdx
  website/pages/partials/from-1.5/builds/example-block.mdx
  website/pages/partials/from-1.5/locals/example-block.mdx
  website/pages/partials/from-1.5/sources/example-block.mdx
  website/pages/partials/from-1.5/variables/assignment.mdx
  website/pages/partials/from-1.5/variables/foo-block.mdx
  website/pages/partials/from-1.5/variables/foo-pkrvar.mdx
  website/pages/partials/from-1.5/variables/must-be-set.mdx
Labels: enhancement, hcl2

#9343 add http and floppy to vsphere-iso docs. remove references to things …
  website/pages/docs/builders/vmware/vsphere-clone.mdx
  website/pages/docs/builders/vmware/vsphere-iso.mdx
Labels: builder/vsphere, docs

#9245 Support named builds in HCL2 templates
  hcl2template/testdata/build/named.pkr.hcl
  hcl2template/types.build.go
  hcl2template/types.build_test.go
  hcl2template/types.packer_config.go
  packer/build.go
  website/pages/docs/from-1.5/blocks/build/index.mdx
  website/pages/partials/from-1.5/builds/example-block.mdx
  website/pages/partials/from-1.5/locals/example-block.mdx
  website/pages/partials/from-1.5/sources/example-block.mdx
Labels: enhancement, hcl2

#9364 docs/builder/azure-arm: Add shared_image_gallery to Azure builder options section
  website/pages/docs/builders/azure/arm.mdx
Labels: docs

#9357 Enable only/except for provisioners and post-processors
  hcl2template/common_test.go
  hcl2template/testdata/build/post-processor_onlyexcept.pkr.hcl
  hcl2template/testdata/build/provisioner_onlyexcept.pkr.hcl
  hcl2template/types.build.post-processor.go
  hcl2template/types.build.provisioners.go
  hcl2template/types.build_test.go
  hcl2template/types.packer_config.go
  hcl2template/types.packer_config_test.go
Labels: core, hcl2

#9359 packer console for HCL2
  command/build.go
  command/cli.go
  command/configtype_enumer.go
  command/console.go
  command/console_test.go
  command/exec_test.go
  command/test-fixtures/var-arg/map.pkr.hcl
  hcl2template/parser.go
  hcl2template/repl/format.go
  hcl2template/repl/repl.go
  hcl2template/shim/values.go
  hcl2template/shim/values_test.go
  hcl2template/types.packer_config.go
  hcl2template/types.variables.go
  hcl2template/utils.go
  packer/core.go
  packer/run_interfaces.go
  website/pages/docs/commands/console.mdx
Labels: enhancement, hcl2, track-internal

#9346 command/validate: Add support for HCL2 config files
  command/test-fixtures/validate-invalid/bad_provisioner.json
  command/test-fixtures/validate-invalid/broken.json
  command/test-fixtures/validate-invalid/missing_build_block.pkr.hcl
  command/test-fixtures/validate/build.json
  command/test-fixtures/validate/build.pkr.hcl
  command/test-fixtures/validate/build_with_vars.pkr.hcl
  command/validate.go
  command/validate_test.go
  hcl2template/types.packer_config.go
  helper/config/decode.go
  packer/core.go
  packer/run_interfaces.go
  website/pages/docs/commands/validate.mdx
Labels: core, hcl2, track-internal

#9358 (vsphere-iso) add the ability to check if the IP is within the an IP range
  builder/vsphere/clone/config.hcl2spec.go
  builder/vsphere/common/step_wait_for_ip.go
  builder/vsphere/common/step_wait_for_ip.hcl2spec.go
  builder/vsphere/driver/vm.go
  builder/vsphere/driver/vm_clone_acc_test.go
  builder/vsphere/iso/config.hcl2spec.go
  website/pages/partials/builder/vsphere/common/WaitIpConfig-not-required.mdx
Labels: builder/vsphere, enhancement

#9365 Update Provisioners and Post-Processor block HCL2 docs
  website/pages/docs/from-1.5/blocks/build/post-processor.mdx
  website/pages/docs/from-1.5/blocks/build/provisioner.mdx
Labels: docs, hcl2

#9375 hcl2 docs pass
  website/data/docs-navigation.js
  website/pages/docs/from-1.5/blocks/build/index.mdx
  website/pages/docs/from-1.5/blocks/build/provisioner.mdx
  website/pages/docs/from-1.5/blocks/build/source.mdx
  website/pages/docs/from-1.5/blocks/index.mdx
  website/pages/docs/from-1.5/functions/file/fileset.mdx
  website/pages/docs/from-1.5/index.mdx
  website/pages/partials/from-1.5/builds/example-block.mdx
Labels: docs, enhancement, hcl2

#9381 Fix build/validate -except flag for JSON and HCL2
  command/build_test.go
  command/test-fixtures/build-only/template.json
  command/test-fixtures/build-only/template.pkr.hcl
  command/test-fixtures/validate/validate_except.json
  command/test-fixtures/validate/validate_except.pkr.hcl
  command/validate_test.go
  hcl2template/types.packer_config.go
  packer/core.go
Labels: core, regression

#9373 Fix error message
  post-processor/yandex-export/script.go
Labels: tech-debt

#9403 docs/amazon/session-manager: Fix typos in documentation
  website/pages/partials/builders/aws-session-manager.mdx
Labels: docs

#9408 🌷 Docs Website Maintenance
  website/README.md
  website/layouts/docs.jsx
  website/layouts/guides.jsx
  website/layouts/intro.jsx
  website/package-lock.json
  website/package.json
  website/pages/downloads/index.jsx
Labels: website

#9412 fix typo in SSH comunicator
  website/pages/docs/communicators/ssh.mdx
Labels: docs

#9414 Improve prepare_changelog.sh
  scripts/prepare_changelog.sh
Labels: tech-debt

#9422 Ignore website label on prepare_changelog.sh
  scripts/prepare_changelog.sh
Labels: tech-debt

#9418 Update Proxmox storagePoolTypes
  builder/proxmox/config.go
  website/pages/docs/builders/proxmox.mdx
Labels: builder/proxmox, enhancement

#9406 Add usb_driver to common boot_command and use it on vsphere
  builder/vsphere/common/step_http_ip_discover.go
  builder/vsphere/common/step_http_ip_discover_test.go
  builder/vsphere/driver/vm_keyboard.go
  builder/vsphere/iso/builder.go
  builder/vsphere/iso/config.go
  builder/vsphere/iso/config.hcl2spec.go
  builder/vsphere/iso/step_boot_command.go
  common/bootcommand/usb_driver.go
  common/bootcommand/usb_driver_test.go
  website/pages/docs/builders/virtualbox/iso.mdx
  website/pages/docs/builders/virtualbox/ovf.mdx
  website/pages/docs/builders/virtualbox/vm.mdx
  website/pages/docs/builders/vmware/vsphere-iso.mdx
Labels: builder/vsphere, enhancement

#9415 Website bugfix
  website/_redirects
  website/next.config.js
  website/pages/_app.js
Labels: website

#9431 add hcl2 basic examples under tabs
  website/pages/docs/builders/alicloud-ecs.mdx
  website/pages/docs/builders/amazon/chroot.mdx
  website/pages/docs/builders/amazon/ebs.mdx
  website/pages/docs/builders/amazon/ebssurrogate.mdx
  website/pages/docs/builders/amazon/ebsvolume.mdx
  website/pages/docs/builders/amazon/instance.mdx
  website/pages/docs/builders/azure/arm.mdx
  website/pages/docs/builders/azure/chroot.mdx
  website/pages/docs/builders/file.mdx
  website/pages/docs/builders/googlecompute.mdx
  website/pages/docs/builders/null.mdx
  website/pages/docs/builders/virtualbox/iso.mdx
  website/pages/docs/builders/virtualbox/ovf.mdx
  website/pages/docs/builders/virtualbox/vm.mdx
  website/pages/docs/builders/vmware/iso.mdx
  website/pages/docs/builders/vmware/vmx.mdx
Labels: docs, hcl2

#9429 Add on-error flag option to run error-cleanup-provisioner
  command/build.go
  command/cli.go
  common/multistep_runner.go
  website/pages/docs/commands/build.mdx
Labels: core, enhancement

#9438 add template option for templating the inventory file lines
  provisioner/ansible/provisioner.go
  provisioner/ansible/provisioner.hcl2spec.go
  website/pages/partials/provisioner/ansible/Config-not-required.mdx
Labels: enhancement, provisioner/ansible-remote

#9452 create parent dirs of target
  builder/file/builder.go
  website/pages/docs/builders/file.mdx
Labels: builder/file, enhancement

#9455 docs/builder/google: Add note about boolean values for compute instance metadata
  builder/googlecompute/config.go
  website/pages/partials/builder/googlecompute/Config-not-required.mdx
Labels: docs

#9453 Allow users to provide a list of ciphers that they want Packer to support.
  builder/alicloud/ecs/builder.hcl2spec.go
  builder/amazon/ebs/builder.hcl2spec.go
  builder/amazon/ebssurrogate/builder.hcl2spec.go
  builder/amazon/ebsvolume/builder.hcl2spec.go
  builder/amazon/instance/builder.hcl2spec.go
  builder/azure/arm/config.hcl2spec.go
  builder/azure/dtl/config.hcl2spec.go
  builder/cloudstack/config.hcl2spec.go
  builder/digitalocean/config.hcl2spec.go
  builder/docker/config.hcl2spec.go
  builder/googlecompute/config.hcl2spec.go
  builder/hcloud/config.hcl2spec.go
  builder/hyperone/config.hcl2spec.go
  builder/hyperv/iso/builder.hcl2spec.go
  builder/hyperv/vmcx/builder.hcl2spec.go
  builder/jdcloud/common.hcl2spec.go
  builder/linode/config.hcl2spec.go
  builder/ncloud/config.hcl2spec.go
  builder/null/config.hcl2spec.go
  builder/oneandone/config.hcl2spec.go
  builder/openstack/builder.hcl2spec.go
  builder/oracle/classic/builder.hcl2spec.go
  builder/oracle/oci/config.hcl2spec.go
  builder/osc/bsu/builder.hcl2spec.go
  builder/osc/bsusurrogate/builder.hcl2spec.go
  builder/osc/bsuvolume/builder.hcl2spec.go
  builder/parallels/iso/builder.hcl2spec.go
  builder/parallels/pvm/config.hcl2spec.go
  builder/profitbricks/config.hcl2spec.go
  builder/proxmox/config.hcl2spec.go
  builder/qemu/builder.hcl2spec.go
  builder/scaleway/config.hcl2spec.go
  builder/tencentcloud/cvm/builder.hcl2spec.go
  builder/triton/config.hcl2spec.go
  builder/ucloud/uhost/builder.hcl2spec.go
  builder/vagrant/builder.hcl2spec.go
  builder/virtualbox/iso/builder.hcl2spec.go
  builder/virtualbox/ovf/config.hcl2spec.go
  builder/virtualbox/vm/config.hcl2spec.go
  builder/vmware/iso/config.hcl2spec.go
  builder/vmware/vmx/config.hcl2spec.go
  builder/vsphere/clone/config.hcl2spec.go
  builder/vsphere/iso/config.hcl2spec.go
  builder/yandex/config.hcl2spec.go
  helper/communicator/config.go
  helper/communicator/config.hcl2spec.go
  helper/communicator/config_test.go
  post-processor/alicloud-import/post-processor.hcl2spec.go
  website/pages/docs/communicators/ssh.mdx
  website/pages/partials/helper/communicator/SSH-not-required.mdx
Labels: communicator/ssh, enhancement

#9454 hcl work on only/except
  command/build_test.go
  command/test-fixtures/hcl-only-except/build.pkr.hcl
  hcl2template/types.packer_config.go
  website/data/docs-navigation.js
  website/pages/docs/commands/build.mdx
  website/pages/docs/from-1.5/onlyexcept.mdx
  website/pages/partials/commands/except.mdx
  website/pages/partials/commands/only.mdx
Labels: enhancement, hcl2

#9461 docs/builder/amazon: Add WinRM unsupported note to Session Manager docs
  builder/amazon/common/run_config.go
  website/pages/partials/builder/amazon/common/RunConfig-not-required.mdx
  website/pages/partials/builders/aws-session-manager.mdx
Labels: builder/amazon, docs

#9468 [hcl2] inspect command
  command/cli.go
  command/console_test.go
  command/exec_test.go
  command/inspect.go
  command/inspect_test.go
  command/test-fixtures/hcl/inspect/aws-builds.pkr.hcl
  command/test-fixtures/hcl/inspect/fruit_string.pkr.hcl
  command/test-fixtures/hcl/inspect/virtualbox-builds.pkr.hcl
  hcl2template/types.build.go
  hcl2template/types.packer_config.go
  packer/core.go
  packer/run_interfaces.go
Labels: enhancement, hcl2, track-internal

#9397 Add boot_command support to vsphere-clone builder, including support …
  CHANGELOG.md
  builder/vsphere/clone/builder.go
  builder/vsphere/clone/config.go
  builder/vsphere/clone/config.hcl2spec.go
  builder/vsphere/common/step_boot_command.go
  builder/vsphere/iso/builder.go
  builder/vsphere/iso/config.go
  website/pages/docs/builders/vmware/vsphere-clone.mdx
Labels: builder/vsphere, enhancement

#9473 Remove prerelease publish and tag-specific filters
  .circleci/config.yml
Labels: tech-debt

#9467 Fix data disks URI
  builder/azure/arm/template_factory_test.TestVirtualMachineDeployment11.approved.json
  builder/azure/common/template/template_builder.go
  builder/azure/common/template/template_builder_test.TestBuildWindows02.approved.json
Labels: bug, builder/azure

#9450 (vsphere) look at all IPs when waiting for the IP
  builder/vsphere/driver/vm.go
Labels: builder/vsphere, enhancement

#9479 only set up localhost port forwarding if skipnatmapping is false.
  builder/qemu/comm_config.go
Labels: builder/qemu

#9477 HCL2: allow to use keep_input_artifact in post processors
  hcl2template/testdata/complete/build.pkr.hcl
  hcl2template/types.build.post-processor.go
  hcl2template/types.packer_config.go
  hcl2template/types.packer_config_test.go
  packer/build.go
  packer/core.go
  website/pages/docs/from-1.5/blocks/build/post-processor.mdx
Labels: hcl2, track-internal

#9498 Correct check if PackerHttpAddr is implemented or not
  provisioner/ansible/provisioner.go
  provisioner/ansible/provisioner_test.go
Labels: bug, provisioner/ansible-remote

#9497 builder/hyperone: Add support for custom username in vm create
  builder/hyperone/step_create_vm.go
Labels: builder/hyperone, enhancement
