Repository hashicorp/packer, pull requests merged in 2021-02, with the labels that each got.

#10539 Write script to download plugin release files from scaffolding template
  website/content/docs/plugins/creation/index.mdx
Labels: docs

#10554 Remove register plugin from docs
  website/content/docs/plugins/creation/index.mdx
Labels: docs

#10564 Update diagnostic detail to display list of PostProcessors
  hcl2template/plugin.go
Labels: tech-debt

#10559 Don't allow data sources to be used inside data sources
  go.mod
  go.sum
  hcl2template/parser.go
  hcl2template/plugin.go
  hcl2template/testdata/datasources/not-allowed.pkr.hcl
  hcl2template/types.build.provisioners.go
  hcl2template/types.datasource.go
  hcl2template/types.datasource_test.go
  hcl2template/types.packer_config.go
  vendor/modules.txt
Labels: core

#10568 add some docs for the cache dir
  website/content/docs/configure.mdx
Labels: docs

#10571 Fix force flag for hcl2 provisioners and post-processors
  command/build_test.go
  command/test-fixtures/build-only/template.pkr.hcl
  command/test-fixtures/hcl/force.pkr.hcl
  hcl2template/types.build.post-processor.go
  hcl2template/types.build.provisioners.go
  hcl2template/types.packer_config.go
  hcl2template/types.source.go
  website/content/docs/templates/hcl_templates/blocks/build/post-processor.mdx
  website/content/docs/templates/hcl_templates/blocks/build/provisioner.mdx
  website/content/docs/templates/hcl_templates/onlyexcept.mdx
Labels: bug, hcl2

#10574 Vsphere example update
  builder/vsphere/examples/alpine/alpine-3.8.json
  builder/vsphere/examples/alpine/alpine-3.8.pkr.hcl
  builder/vsphere/examples/clone/alpine.pkr.hcl
  builder/vsphere/examples/macos/macos-10.13.json
  builder/vsphere/examples/macos/macos-10.13.pkr.hcl
  builder/vsphere/examples/ubuntu/ubuntu-16.04.json
  builder/vsphere/examples/ubuntu/ubuntu-16.04.pkr.hcl
  builder/vsphere/examples/windows/windows-10.json
  builder/vsphere/examples/windows/windows-10.pkr.hcl
Labels: docs

#10558 packer init doc clarification
  website/content/docs/commands/init.mdx
  website/content/docs/plugins/index.mdx
Labels: docs

#10575 Fix markdown link checker issues
  mlc_config.json
  website/content/docs/provisioners/salt-masterless.mdx
  website/redirects.next.js
Labels: tech-debt

#10553 Add aws_secretsmanager transformation to hcl2_upgrade
  command/hcl2_upgrade.go
  command/test-fixtures/hcl2_upgrade_basic/expected.pkr.hcl
  command/test-fixtures/hcl2_upgrade_basic/input.json
Labels: core, enhancement

#10587 Document init with less highlights
  website/content/docs/commands/init.mdx
  website/content/docs/configure.mdx
Labels: docs

#10593 Fix empty locals and source name with blank space
  command/hcl2_upgrade.go
  command/hcl2_upgrade_test.go
  command/test-fixtures/hcl2_upgrade/basic/expected.pkr.hcl
  command/test-fixtures/hcl2_upgrade/basic/input.json
  command/test-fixtures/hcl2_upgrade/minimal/expected.pkr.hcl
  command/test-fixtures/hcl2_upgrade/minimal/input.json
  command/test-fixtures/hcl2_upgrade/source-name/expected.pkr.hcl
  command/test-fixtures/hcl2_upgrade/source-name/input.json
Labels: bug, core, hcl2

#10596 Add Profitbricks code owners
  CODEOWNERS
Labels: tech-debt

#10601 Add regex and regexall hcl2 template functions
  hcl2template/functions.go
  website/content/docs/templates/hcl_templates/functions/string/regex.mdx
  website/content/docs/templates/hcl_templates/functions/string/regexall.mdx
  website/data/docs-navigation.js
Labels: enhancement, hcl2

#10602 Write timestamp local only when necessary
  command/hcl2_upgrade.go
  command/hcl2_upgrade_test.go
  command/test-fixtures/hcl2_upgrade/complete/expected.pkr.hcl
  command/test-fixtures/hcl2_upgrade/complete/input.json
  command/test-fixtures/hcl2_upgrade/minimal/expected.pkr.hcl
  command/test-fixtures/hcl2_upgrade/minimal/input.json
Labels: hcl2, tech-debt

#10604 Add error-cleanup-provisioner to HCL2
  command/hcl2_upgrade.go
  command/hcl2_upgrade_test.go
  command/test-fixtures/hcl2_upgrade/error-cleanup-provisioner/expected.pkr.hcl
  command/test-fixtures/hcl2_upgrade/error-cleanup-provisioner/input.json
  hcl2template/plugin.go
  hcl2template/testdata/build/two-error-cleanup-provisioner.pkr.hcl
  hcl2template/testdata/complete/build.pkr.hcl
  hcl2template/types.build.go
  hcl2template/types.build_test.go
  hcl2template/types.packer_config.go
  hcl2template/types.packer_config_test.go
  website/content/docs/templates/hcl_templates/blocks/build/provisioner.mdx
Labels: enhancement, hcl2

#10610 add AWS API call retries on AMIGetFilteredImage
  builder/amazon/common/ami_filter.go
Labels: bug, builder/amazon

#10611 Make template documentation visible from components docs
  website/content/docs/builders/index.mdx
  website/content/docs/datasources/index.mdx
  website/content/docs/post-processors/index.mdx
  website/content/docs/provisioners/index.mdx
  website/content/docs/templates/hcl_templates/blocks/build/source.mdx
  website/content/docs/templates/hcl_templates/blocks/source.mdx
Labels: docs, hcl2

#10624 update help text for hcl2_upgrade
  command/hcl2_upgrade.go
Labels: tech-debt

#10615 Add v1.7.0 template upgrade guide
  website/content/guides/1.7-plugin-upgrade.mdx
  website/content/guides/1.7-template-upgrade.mdx
  website/data/guides-navigation.js
Labels: docs

#10634 Add access config to generated amazon ami data source
  command/hcl2_upgrade.go
  command/hcl2_upgrade_test.go
  command/test-fixtures/hcl2_upgrade/aws-access-config/expected.pkr.hcl
  command/test-fixtures/hcl2_upgrade/aws-access-config/input.json
  command/test-fixtures/hcl2_upgrade/complete/expected.pkr.hcl
  command/test-fixtures/hcl2_upgrade/without-annotations/expected.pkr.hcl
Labels: bug, core

#10637 Fix invalid link for env function docs
  CHANGELOG.md
Labels: docs

#10642 github/getter: Adds a hostname check to Get function
  command/init_test.go
  packer/plugin-getter/github/getter.go
  packer/plugin-getter/plugins.go
Labels: init

#10635 Docs small updates
  .github/CONTRIBUTING.md
  website/content/docs/builders/amazon/index.mdx
  website/content/docs/builders/azure/chroot.mdx
  website/content/docs/builders/outscale/index.mdx
  website/content/docs/commands/fix.mdx
  website/content/docs/commands/fmt.mdx
  website/content/docs/commands/inspect.mdx
  website/content/docs/commands/validate.mdx
  website/content/docs/post-processors/googlecompute-import.mdx
  website/content/docs/templates/index.mdx
  website/content/docs/terminology.mdx
  website/content/guides/1.7-plugin-upgrade.mdx
  website/content/guides/1.7-template-upgrade.mdx
  website/content/guides/hcl/from-json-v1.mdx
  website/content/guides/hcl/index.mdx
  website/content/guides/workflow-tips-and-tricks/use-packer-with-comment.mdx
  website/content/partials/guides/hcl2-beta-note.mdx
  website/data/docs-navigation.js
  website/pages/home/index.jsx
Labels: docs

#10633 Packer init: remove host and namespace guessing
  CHANGELOG.md
  command/init.go
  command/init_test.go
  hcl2template/addrs/plugin.go
  hcl2template/addrs/plugin_test.go
  hcl2template/parser.go
  hcl2template/plugin.go
  hcl2template/testdata/init/duplicate_required_plugins/packer.pkr.hcl
  hcl2template/testdata/init/imports/build.pkr.hcl
  hcl2template/testdata/init/invalid_inexplicit_source.pkr.hcl
  hcl2template/testdata/init/invalid_inexplicit_source_2.pkr.hcl
  hcl2template/testdata/init/invalid_short_source.pkr.hcl
  hcl2template/types.packer_config_test.go
  hcl2template/types.required_plugins.go
  hcl2template/types.variables.go
  packer/plugin-getter/github/getter.go
  packer/plugin-getter/plugins.go
  packer/plugin-getter/plugins_test.go
  website/content/docs/commands/init.mdx
  website/content/docs/plugins/index.mdx
  website/content/docs/templates/hcl_templates/blocks/packer.mdx
  website/content/guides/1.7-template-upgrade.mdx
  website/content/partials/plugins/plugin-location.mdx
Labels: init

#10645 Update HCL2 and JSON example for amazon builders
  builder/amazon/common/access_config.go
  builder/amazon/common/block_device.go
  builder/amazon/common/run_config.go
  builder/amazon/common/state.go
  website/content/docs/builders/amazon/chroot.mdx
  website/content/docs/builders/amazon/ebs.mdx
  website/content/docs/builders/amazon/ebssurrogate.mdx
  website/content/docs/builders/amazon/ebsvolume.mdx
  website/content/docs/builders/amazon/instance.mdx
  website/content/partials/builder/amazon/common/AWSPollingConfig.mdx
  website/content/partials/builder/amazon/common/AccessConfig-not-required.mdx
  website/content/partials/builder/amazon/common/BlockDevice.mdx
  website/content/partials/builder/amazon/common/RunConfig-not-required.mdx
  website/content/partials/builders/aws-session-manager.mdx
Labels: docs

#10527 Update Config-not-required.mdx
  provisioner/ansible/provisioner.go
  website/content/partials/provisioner/ansible/Config-not-required.mdx
Labels: docs, waiting-reply

#10654 hcl2_upgrade pause_before
  command/hcl2_upgrade.go
  command/test-fixtures/hcl2_upgrade/complete/expected.pkr.hcl
  command/test-fixtures/hcl2_upgrade/complete/input.json
Labels: bug, hcl2

#10660 fix packer interpolation of packer log path
  main.go
Labels: bug, core

#10659 azure client sig fix: don't overwrite subscription id if unset
  builder/azure/arm/azure_client.go
Labels: bug, builder/azure

#10658 add machine readable to the cli help func and docs
  command/validate.go
  website/content/docs/commands/validate.mdx
Labels: docs

#10665 remove this logline
  packer/core.go
Labels: tech-debt

#10678 Fix wrong link in post-processor docs
  website/content/docs/templates/hcl_templates/blocks/build/post-processor.mdx
Labels: docs

#10676 Allows hcl2_upgrade variables json file
  command/hcl2_upgrade.go
  command/hcl2_upgrade_test.go
  command/test-fixtures/hcl2_upgrade/variables-only/expected.pkr.hcl
  command/test-fixtures/hcl2_upgrade/variables-only/input.json
  command/test-fixtures/hcl2_upgrade/variables-with-variables/expected.pkr.hcl
  command/test-fixtures/hcl2_upgrade/variables-with-variables/input.json
  website/content/docs/commands/hcl2_upgrade.mdx
Labels: hcl2

#10655 chef-solo: json_string to HCL2 templates compatibility
  provisioner/chef-solo/provisioner.go
  provisioner/chef-solo/provisioner.hcl2spec.go
  provisioner/chef-solo/provisioner_test.go
  website/content/docs/provisioners/chef-solo.mdx
Labels: bug, hcl2, provisioner/chef

#10684 Add missing provisioner override hcl docs
  website/content/docs/templates/hcl_templates/blocks/build/provisioner.mdx
  website/content/partials/provisioners/common-config.mdx
Labels: docs

#9591 ebsvolume snapshot
  builder/amazon/common/access_config_test.go
  builder/amazon/common/ami_config.go
  builder/amazon/common/ami_config_test.go
  builder/amazon/common/snapshot_config.go
  builder/amazon/common/state.go
  builder/amazon/common/step_ami_region_copy_test.go
  builder/amazon/common/test_helper_funcs.go
  builder/amazon/ebsvolume/artifact.go
  builder/amazon/ebsvolume/block_device.go
  builder/amazon/ebsvolume/builder.go
  builder/amazon/ebsvolume/builder.hcl2spec.go
  builder/amazon/ebsvolume/builder_test.go
  builder/amazon/ebsvolume/step_snapshot_ebs_volumes.go
  builder/amazon/ebsvolume/step_snapshot_ebs_volumes_test.go
  website/content/docs/builders/amazon/chroot.mdx
  website/content/docs/builders/amazon/ebs.mdx
  website/content/docs/builders/amazon/ebssurrogate.mdx
  website/content/docs/builders/amazon/ebsvolume.mdx
  website/content/docs/builders/amazon/index.mdx
  website/content/partials/builder/amazon/common/AMIConfig-not-required.mdx
  website/content/partials/builder/amazon/common/SnapshotConfig-not-required.mdx
  website/content/partials/builder/amazon/common/SnapshotConfig.mdx
  website/content/partials/builder/amazon/ebsvolume/BlockDevice-not-required.mdx
Labels: builder/amazon, enhancement

#10689 Add UpCloud builder to community builders page
  website/content/partials/builders/community_builders.mdx
Labels: docs

#10685 hcl2_upgrade: Improve error message and transform every variable using template engine to a local
  command/hcl2_upgrade.go
  command/hcl2_upgrade_test.go
  command/test-fixtures/hcl2_upgrade/complete-variables-with-template-engine/expected.pkr.hcl
  command/test-fixtures/hcl2_upgrade/complete-variables-with-template-engine/input.json
  command/test-fixtures/hcl2_upgrade/complete/expected.pkr.hcl
  command/test-fixtures/hcl2_upgrade/complete/input.json
  command/test-fixtures/hcl2_upgrade/without-annotations/expected.pkr.hcl
  command/test-fixtures/hcl2_upgrade/without-annotations/input.json
Labels: core, hcl2
