Repository hashicorp/packer, pull requests merged in 2021-01, with the labels that each got.

#10425 Add hcl example for scaleway
  website/content/docs/builders/scaleway.mdx
Labels: docs, hcl2

#10415 Add hcl example to docker-tag
  website/content/docs/post-processors/docker-tag.mdx
Labels: docs, hcl2

#10413 Add hcl Example to docker-save
  website/content/docs/post-processors/checksum.mdx
  website/content/docs/post-processors/docker-save.mdx
Labels: docs, hcl2

#10412 Add hcl Example to openstack
  website/content/docs/builders/openstack.mdx
Labels: docs, hcl2

#10445 docs: Add default value for cloud_init in builders/proxmox
  website/content/docs/builders/proxmox/iso.mdx
Labels: docs

#10447 Fix "edit this page" links in docs
  website/pages/docs/[[...page]].jsx
  website/pages/guides/[[...page]].jsx
  website/pages/intro/[[...page]].jsx
Labels: docs

#10442 Add GitHub action to check for broken markdown links
  .github/workflows/linkchecker.yml
  .github/workflows/scheduled-link-checker.yml
  builder/amazon/common/run_config.go
  builder/azure/arm/config.go
  builder/azure/dtl/config.go
  builder/vagrant/builder.go
  builder/virtualbox/ovf/config.go
  builder/vsphere/common/step_config_params.go
  mlc_config.json
  website/README.md
  website/content/docs/builders/alicloud-ecs.mdx
  website/content/docs/builders/azure/arm.mdx
  website/content/docs/builders/jdcloud.mdx
  website/content/docs/builders/linode.mdx
  website/content/docs/builders/oneandone.mdx
  website/content/docs/builders/oracle/classic.mdx
  website/content/docs/builders/oracle/oci.mdx
  website/content/docs/builders/outscale/chroot.mdx
  website/content/docs/builders/outscale/index.mdx
  website/content/docs/builders/profitbricks.mdx
  website/content/docs/builders/tencentcloud-cvm.mdx
  website/content/docs/extending/custom-builders.mdx
  website/content/docs/extending/custom-provisioners.mdx
  website/content/docs/from-1.5/expressions.mdx
  website/content/docs/provisioners/ansible.mdx
  website/content/docs/provisioners/chef-client.mdx
  website/content/docs/provisioners/puppet-server.mdx
  website/content/partials/builder/amazon/common/RunConfig-not-required.mdx
  website/content/partials/builder/azure/arm/Config-required.mdx
  website/content/partials/builder/azure/dtl/Config-not-required.mdx
  website/content/partials/builder/vagrant/Config-not-required.mdx
  website/content/partials/builder/virtualbox/ovf/Config-required.mdx
  website/content/partials/builder/vsphere/common/ConfigParamsConfig-not-required.mdx
  website/content/partials/packer-plugin-sdk/bootcommand/BootConfig-not-required.mdx
  website/content/partials/packer-plugin-sdk/bootcommand/BootConfig.mdx
  website/content/partials/packer-plugin-sdk/bootcommand/VNCConfig-not-required.mdx
  website/content/partials/packer-plugin-sdk/bootcommand/VNCConfig.mdx
  website/content/partials/packer-plugin-sdk/communicator/Config-not-required.mdx
  website/content/partials/packer-plugin-sdk/communicator/Config.mdx
  website/content/partials/packer-plugin-sdk/communicator/SSH-not-required.mdx
  website/content/partials/packer-plugin-sdk/communicator/SSHInterface-not-required.mdx
  website/content/partials/packer-plugin-sdk/communicator/SSHTemporaryKeyPair-not-required.mdx
  website/content/partials/packer-plugin-sdk/communicator/SSHTemporaryKeyPair.mdx
  website/content/partials/packer-plugin-sdk/communicator/WinRM-not-required.mdx
  website/content/partials/packer-plugin-sdk/multistep/commonsteps/CDConfig-not-required.mdx
  website/content/partials/packer-plugin-sdk/multistep/commonsteps/CDConfig.mdx
  website/content/partials/packer-plugin-sdk/multistep/commonsteps/FloppyConfig-not-required.mdx
  website/content/partials/packer-plugin-sdk/multistep/commonsteps/FloppyConfig.mdx
  website/content/partials/packer-plugin-sdk/multistep/commonsteps/HTTPConfig-not-required.mdx
  website/content/partials/packer-plugin-sdk/multistep/commonsteps/HTTPConfig.mdx
  website/content/partials/packer-plugin-sdk/multistep/commonsteps/ISOConfig-not-required.mdx
  website/content/partials/packer-plugin-sdk/multistep/commonsteps/ISOConfig-required.mdx
  website/content/partials/packer-plugin-sdk/multistep/commonsteps/ISOConfig.mdx
  website/content/partials/packer-plugin-sdk/shutdowncommand/ShutdownConfig-not-required.mdx
  website/content/partials/packer-plugin-sdk/shutdowncommand/ShutdownConfig.mdx
Labels: tech-debt, website

#10402 Website: prepare for vercel hosting move
  website/.env.production
  website/next.config.js
  website/redirects.next.js
  website/vercel.json
Labels: website

#10471 Remove Netlify artifacts
  website/_redirects
  website/netlify.toml
Labels: website

#10474 minor doc update with missing "use" vsphere config
  builder/vsphere/common/config_location.go
  website/content/partials/builder/vsphere/common/LocationConfig-not-required.mdx
Labels: docs

#10475 [Website] StackMenu updates for 1/14
  website/package-lock.json
  website/package.json
Labels: website

#10487 Fix broken links to all Amazon builders
  website/content/docs/builders/amazon/index.mdx
Labels: docs

#10492 redirects-next.js: Fix regex for builder redirects
  website/redirects.next.js
Labels: tech-debt, website

#10499 Improve cloud init error logging for proxmox builder
  builder/proxmox/common/step_finalize_template_config.go
Labels: bug, builder/proxmox

#10496 Add skip_create_image option to the openstack builder
  builder/openstack/builder.hcl2spec.go
  builder/openstack/image_config.go
  builder/openstack/step_add_image_members.go
  builder/openstack/step_create_image.go
  builder/openstack/step_update_image_mindisk.go
  builder/openstack/step_update_image_tags.go
  builder/openstack/step_update_image_visibility.go
  website/content/partials/builder/openstack/ImageConfig-not-required.mdx
Labels: builder/openstack, enhancement

#10489 (1) Add Data Sources docs
  mlc_config.json
  website/content/docs/extending/custom-datasources.mdx
  website/content/docs/extending/index.mdx
  website/content/docs/templates/hcl_templates/blocks/data.mdx
  website/content/docs/templates/hcl_templates/blocks/index.mdx
  website/content/docs/templates/hcl_templates/datasources.mdx
  website/content/partials/from-1.5/datasources/example-block.mdx
  website/data/docs-navigation.js
Labels: docs

#10467 (3) Add amazon-ami data source
  builder/amazon/chroot/builder.go
  builder/amazon/common/access_config.go
  builder/amazon/common/access_config_test.go
  builder/amazon/common/ami_filter.go
  builder/amazon/common/run_config.go
  builder/amazon/common/run_config.hcl2spec.go
  builder/amazon/common/run_config_test.go
  builder/amazon/common/step_source_ami_info.go
  builder/amazon/ebs/acceptance/aws.go
  builder/amazon/ebs/builder.go
  builder/amazon/ebssurrogate/builder.go
  builder/amazon/ebsvolume/builder.go
  builder/amazon/instance/builder.go
  cmd/packer-plugin-amazon/main.go
  cmd/packer-plugins-check/main.go
  command/plugin.go
  datasource/amazon/ami/data.go
  datasource/amazon/ami/data.hcl2spec.go
  datasource/amazon/ami/data_acc_test.go
  datasource/amazon/ami/data_test.go
  datasource/amazon/ami/test-fixtures/configure-source-ssh.ps1
  post-processor/amazon-import/post-processor.go
  website/content/docs/datasources/amazon-ami.mdx
  website/content/docs/datasources/index.mdx
  website/content/partials/builder/amazon/common/AmiFilterOptions-not-required.mdx
  website/data/docs-navigation.js
Labels: datasource/amazon-ami, enhancement

#10504 Update Ansible local links
  website/content/docs/provisioners/ansible-local.mdx
Labels: docs

#10505 Aws Secrets Manager data sources
  cmd/packer-plugin-amazon/main.go
  command/plugin.go
  datasource/amazon/ami/data.go
  datasource/amazon/secretsmanager/data.go
  datasource/amazon/secretsmanager/data.hcl2spec.go
  datasource/amazon/secretsmanager/data_acc_test.go
  datasource/amazon/secretsmanager/data_test.go
  go.mod
  go.sum
  hcl2template/types.datasource.go
  hcl2template/types.hcl_post-processor.go
  hcl2template/types.hcl_provisioner.go
  vendor/github.com/hashicorp/packer-plugin-sdk/acctest/datasources.go
  vendor/github.com/hashicorp/packer-plugin-sdk/template/interpolate/aws/secretsmanager/secretsmanager.go
  vendor/github.com/hashicorp/packer-plugin-sdk/version/version.go
  vendor/modules.txt
  website/content/docs/datasources/amazon/ami.mdx
  website/content/docs/datasources/amazon/index.mdx
  website/content/docs/datasources/amazon/secretsmanager.mdx
  website/content/partials/datasource/amazon/ami/DatasourceOutput-not-required.mdx
  website/content/partials/datasource/amazon/secretsmanager/Config-not-required.mdx
  website/content/partials/datasource/amazon/secretsmanager/Config-required.mdx
  website/content/partials/datasource/amazon/secretsmanager/DatasourceOutput-not-required.mdx
  website/data/docs-navigation.js
Labels: enhancement

#10512 Add DatasourceOutput type to struct-markdown cmd
  cmd/struct-markdown/main.go
  website/content/docs/datasources/amazon/ami.mdx
  website/content/docs/datasources/amazon/secretsmanager.mdx
  website/content/partials/datasource/amazon/ami/DatasourceOutput.mdx
  website/content/partials/datasource/amazon/secretsmanager/DatasourceOutput.mdx
Labels: tech-debt

#10514 remove confusing from_scratch reference which is not relevant in this…
  builder/amazon/common/run_config.go
  website/content/partials/builder/amazon/common/RunConfig-required.mdx
Labels: docs

#10517 Slight markdown fixes
  website/content/guides/1.7-plugin-upgrade/index.mdx
Labels: docs

#10518 read iops and throughput as pointers so we can test for the nil case;…
  builder/amazon/common/block_device.go
  builder/amazon/common/block_device_test.go
  website/content/partials/builder/amazon/common/BlockDevice-not-required.mdx
Labels: builder/amazon, regression

#10520 skip credential validation if we are not exporting an image
  builder/vmware/common/driver_esx5.go
  builder/vmware/common/driver_esx5_test.go
Labels: builder/vmware-esxi, regression

#10519 fix cd indexing in qemu
  builder/qemu/step_run.go
  builder/qemu/step_run_test.go
Labels: bug, builder/qemu, regression

#10516 fix uint8
  hcl2template/types.hcl_post-processor.go
  hcl2template/types.hcl_provisioner.go
  hcl2template/utils.go
Labels: bug, hcl2
