Repository hashicorp/packer, pull requests merged in 2021-03, with the labels that each got.

#10679 clarify onlyexcept docs further
  website/content/docs/commands/validate.mdx
  website/content/docs/templates/hcl_templates/onlyexcept.mdx
  website/content/docs/templates/legacy_json_templates/post-processors.mdx
  website/content/partials/commands/except.mdx
  website/content/partials/commands/only.mdx
Labels: docs

#10702 pin packer to golang 1.16
  .circleci/config.yml
  .github/CONTRIBUTING.md
  builder/vsphere/common/output_config.hcl2spec.go
  builder/vsphere/common/step_export.hcl2spec.go
  command/build_cancellation_test.go
  go.mod
  vendor/modules.txt
Labels: enhancement

#10528 Add client_cert_token_timeout to address GH-9465
  builder/azure/arm/config.hcl2spec.go
  builder/azure/chroot/builder.hcl2spec.go
  builder/azure/common/client/config.go
  builder/azure/common/client/config_test.go
  builder/azure/common/client/tokenprovider_cert.go
  builder/azure/dtl/config.hcl2spec.go
  provisioner/azure-dtlartifact/provisioner.hcl2spec.go
  website/content/docs/builders/azure/arm.mdx
  website/content/docs/builders/azure/index.mdx
  website/content/partials/builder/azure/common/client/Config-not-required.mdx
Labels: bug, builder/azure

#10683 Added firmware option for QEMU builder
  builder/qemu/config.go
  builder/qemu/config.hcl2spec.go
  builder/qemu/step_run.go
  website/content/partials/builder/qemu/Config-not-required.mdx
Labels: builder/qemu, enhancement

#10710 Update README.md
  README.md
Labels: docs

#10715 readme: Update Packer logo for dark mode
  website/public/img/logo-packer-padded.svg
Labels: docs

#10720 Update HCL source example block
  builder/amazon/common/access_config.go
  website/content/partials/builder/amazon/common/AssumeRoleConfig.mdx
Labels: docs

#10719 Fix syntax in BlockDevice JSON example
  builder/amazon/common/block_device.go
  website/content/partials/builder/amazon/common/BlockDevice.mdx
Labels: docs

#10730 hcl2_upgrade: check for nil config map when provisioner/post-processor doesn't have config
  command/hcl2_upgrade.go
  command/test-fixtures/hcl2_upgrade/complete/expected.pkr.hcl
  command/test-fixtures/hcl2_upgrade/complete/input.json
Labels: bug, core, hcl2

#10711 [provisioners/file] Fix when multiple files downloading overwrite same file
  provisioner/file/provisioner.go
  provisioner/file/provisioner_test.go
Labels: regression

#10743 modify logging to make overrides clearer in face of vagrant always st…
  builder/vagrant/step_ssh_config.go
  builder/vagrant/step_ssh_config_test.go
Labels: bug, builder/vagrant

#10674 Added VirtualBox ISO builder option to create additional disks
  builder/virtualbox/common/step_attach_isos.go
  builder/virtualbox/iso/builder.go
  builder/virtualbox/iso/builder.hcl2spec.go
  builder/virtualbox/iso/step_create_disk.go
  website/content/partials/builder/virtualbox/iso/Config-not-required.mdx
Labels: builder/virtualbox, enhancement

#10748 make Packer respect winrm_host flag in virtualbox connect func
  builder/hyperv/iso/builder.go
  builder/hyperv/vmcx/builder.go
  builder/openstack/builder.go
  builder/parallels/iso/builder.go
  builder/parallels/pvm/builder.go
  builder/qemu/comm_config.go
  builder/virtualbox/common/comm_config.go
  builder/virtualbox/iso/builder.go
  builder/virtualbox/ovf/builder.go
  builder/virtualbox/vm/builder.go
Labels: bug, builder/hyperv, builder/virtualbox

#10750 Give a list of working projects to checkout
  website/content/docs/plugins/creation/index.mdx
Labels: docs

#10757 Remove remote plugin docs for exoscale
  website/content/partials/builders/community_builders.mdx
  website/content/partials/post-processors/community_post-processors.mdx
  website/data/docs-remote-plugins.json
Labels: docs

#10758 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: tech-debt

#10760 Fix the version parsing in ChecksumFileEntry.init() so that plugins whose name contain v's can `packer init`
  packer/plugin-getter/plugins.go
  packer/plugin-getter/plugins_test.go
Labels: bug, core

#10754 Fix logic for checking for KMS keys
  builder/amazon/common/ami_config.go
Labels: bug, builder/amazon

#10772 proxmox: skip DownloadPathKey and ShouldUploadISO on mapstructure-to-hcl2
  builder/proxmox/common/config.go
  builder/proxmox/common/config.hcl2spec.go
Labels: bug, builder/proxmox, hcl2

#10775 Delete formatted.pkr.hcl
  formatted.pkr.hcl
Labels: tech-debt

#10782 Update CONTRIBUTING.md with community guideline
  .github/CONTRIBUTING.md
Labels: docs

#10791 Update link in the issue migration config
  .hashibot.hcl
Labels: tech-debt

#10783 Set default for the parameter client_cert_token_timeout
  builder/azure/common/client/config.go
Labels: bug, builder/azure

#10793 update CHANGELOG
  CHANGELOG.md
Labels: docs

#10792 Fix omi_description that was ignored in Osc builder
  builder/osc/bsu/step_create_omi.go
  builder/osc/bsusurrogate/step_register_omi.go
  builder/osc/chroot/step_create_omi.go
Labels: bug, builder/outscale

#10794 hcl2_upgrade escaped quotes fix
  command/hcl2_upgrade.go
  command/hcl2_upgrade_test.go
  command/test-fixtures/hcl2_upgrade/escaping/expected.pkr.hcl
  command/test-fixtures/hcl2_upgrade/escaping/input.json
Labels: bug, hcl2

#10797 Allow using API tokens for Proxmox authentication
  builder/proxmox/clone/config.hcl2spec.go
  builder/proxmox/common/builder.go
  builder/proxmox/common/client.go
  builder/proxmox/common/client_test.go
  builder/proxmox/common/config.go
  builder/proxmox/common/config.hcl2spec.go
  builder/proxmox/iso/config.hcl2spec.go
  go.mod
  go.sum
  vendor/github.com/Telmate/proxmox-api-go/proxmox/client.go
  vendor/github.com/Telmate/proxmox-api-go/proxmox/config_lxc.go
  vendor/github.com/Telmate/proxmox-api-go/proxmox/config_qemu.go
  vendor/github.com/Telmate/proxmox-api-go/proxmox/session.go
  vendor/github.com/Telmate/proxmox-api-go/proxmox/util.go
  vendor/modules.txt
  website/content/docs/builders/proxmox/clone.mdx
  website/content/docs/builders/proxmox/iso.mdx
Labels: builder/proxmox, enhancement

#10776 HCL2: add templatefile function
  .gitattributes
  hcl2template/function/templatefile.go
  hcl2template/function/templatefile_test.go
  hcl2template/function/testdata/bare.tmpl
  hcl2template/function/testdata/func.tmpl
  hcl2template/function/testdata/hello.tmpl
  hcl2template/function/testdata/hello.txt
  hcl2template/function/testdata/icon.png
  hcl2template/function/testdata/list.tmpl
  hcl2template/function/testdata/recursive.tmpl
  hcl2template/functions.go
  website/content/docs/templates/hcl_templates/functions/file/fileexists.mdx
  website/content/docs/templates/hcl_templates/functions/file/templatefile.mdx
  website/data/docs-nav-data.json
  website/data/docs-navigation.js
Labels: enhancement, hcl2

#10815 Update script to exit on immediate failure
  scripts/build.sh
Labels: tech-debt

#10732 Implicit required_plugin blocks
  command/init.go
  hcl2template/common_test.go
  hcl2template/components.go
  hcl2template/plugin.go
  hcl2template/types.datasource.go
  hcl2template/types.packer_config_test.go
  hcl2template/types.required_plugins.go
  hcl2template/types.required_plugins_test.go
  main.go
  packer/plugin-getter/plugins.go
  packer/plugin.go
  website/content/docs/commands/init.mdx
Labels: core-plugin-split, hcl2

#10836 adds missing word
  website/content/docs/datasources/index.mdx
Labels: docs

#10825 Allow to have `dynamic` blocks in a `build` block + tests
  command/build_test.go
  command/test-fixtures/hcl/dynamic/build.pkr.hcl
  hcl2template/parser.go
  hcl2template/plugin.go
  hcl2template/types.build.go
  hcl2template/types.packer_config_test.go
  hcl2template/types.source.go
Labels: refactor, regression

#10844 Add new disk to existingDevices list
  builder/vsphere/driver/disk.go
  builder/vsphere/driver/disk_test.go
  builder/vsphere/driver/vm_test.go
Labels: bug, builder/vsphere, regression

#10843 HCL2 variables: split validation from getting value
  hcl2template/parser.go
  hcl2template/types.packer_config.go
  hcl2template/types.variables.go
  hcl2template/types.variables_test.go
Labels: hcl2

#10846 Update steps for generating the remote plugin docs.zip file
  website/content/docs/plugins/creation/index.mdx
Labels: docs

#10847 Update version of packer-plugin-docker
  go.mod
  go.sum
  vendor/github.com/hashicorp/packer-plugin-docker/post-processor/docker-tag/post-processor.go
  vendor/modules.txt
Labels: post-processor/docker, tech-debt
