Repository hashicorp/packer, pull requests merged in 2021-05, with the labels that each got.

#10905 chore(website): adds ts config, upgrades deps
  website/components/subnav/index.jsx
  website/jsconfig.json
  website/package-lock.json
  website/package.json
  website/pages/community/index.jsx
  website/pages/community/style.css
  website/pages/home/style.css
  website/pages/style.css
  website/public/favicon.ico
  website/tsconfig.json
Labels: website

#10993 website: support hidden pages in nav-data
  .github/workflows/check-unlinked-content.js
  .github/workflows/check-unlinked-content.yml
  website/next.config.js
  website/package-lock.json
  website/package.json
Labels: website

#10998 website: support hidden pages in nav-data (#10993)
  website/next.config.js
  website/package-lock.json
  website/package.json
Labels: website

#11009 update docs to use double quotes, which works on more shells
  website/content/guides/hcl/variables.mdx
Labels: docs

#11014 Fix links to Learn
  website/data/intro-nav-data.json
  website/redirects.next.js
Labels: docs, website

#11016 Fix broken links
  website/content/docs/plugins/creation/custom-datasources.mdx
  website/content/docs/provisioners/salt-masterless.mdx
  website/content/guides/hcl/component-object-spec.mdx
Labels: docs

#11023 Adds AlertBanner to promote HashiConf EU
  website/data/alert-banner.js
  website/package-lock.json
  website/package.json
  website/pages/_app.js
  website/pages/style.css
Labels: website

#11026 Implemented DEFAULT_NAME handling for datasource plugins
  packer/plugin.go
Labels: bug

#11036 Add tip about using local instead of locals for complex cases
  website/content/docs/templates/hcl_templates/locals.mdx
Labels: docs

#11032 document gotcha around third party plugins
  website/content/docs/commands/hcl2_upgrade.mdx
Labels: command/hcl2_upgrade, docs, website

#11042 Add Packer Integration Program page
  website/components/checklist/check-circle-filled.svg
  website/components/checklist/index.jsx
  website/components/checklist/style.module.css
  website/content/docs/plugins/packer-integration-program.mdx
  website/data/docs-nav-data.json
  website/pages/docs/[[...page]].jsx
  website/public/img/docs/packer-ecosystem-diagram.png
  website/public/img/docs/packer-integration-steps-diagram.png
Labels: website

#11053 remove hashibot
  .github/labeler-issue-triage.yml
  .github/workflows/issue-comment-created.yml
  .github/workflows/issues-opened.yml
  .github/workflows/lock.yml
  .hashibot.hcl
Labels: tech-debt
