Repository hashicorp/packer, pull requests merged in 2021-06, with the labels that each got.

#11065 [Website] Update the homepage
  website/components/animated-terminal/index.tsx
  website/components/branded-cta/index.tsx
  website/components/branded-cta/style.module.css
  website/components/homepage-hero/index.tsx
  website/components/homepage-hero/style.module.css
  website/components/integrations-text-split/index.tsx
  website/components/section-break-cta/index.tsx
  website/components/section-break-cta/style.module.css
  website/data/subnav.js
  website/package-lock.json
  website/package.json
  website/pages/home/index.jsx
  website/pages/home/style.css
  website/pages/home/style.module.css
  website/pages/style.css
  website/public/img/branded-cta/cta-right.svg
  website/public/img/homepage-hero/hero-right.svg
  website/public/img/integrations-text-split/integrations.png
  website/public/img/product-features-list/continuous-delivery.svg
  website/public/img/product-features-list/demo-creation.svg
  website/public/img/product-features-list/deployment.svg
  website/public/img/product-features-list/portability.svg
  website/public/img/product-features-list/prod-parity.svg
  website/public/img/product-features-list/stability.svg
Labels: website

#11049 hcl2_upgrade: allow to hcl2_upgrade with unknown builders, just log it
  command/hcl2_upgrade.go
  command/hcl2_upgrade_test.go
  command/test-fixtures/hcl2_upgrade/unknown_builder/expected.pkr.hcl
  command/test-fixtures/hcl2_upgrade/unknown_builder/input.json
Labels: hcl2

#11055 rotate algolia api key
  website/.env
Labels: website

#11068 Update absolute links to relative
  website/content/docs/plugins/packer-integration-program.mdx
Labels: docs

#11063 chore: updates alert banner data
  website/data/alert-banner.js
Labels: website

#11073 Homepage Update
  website/components/section-break-cta/index.tsx
  website/components/section-break-cta/style.module.css
  website/pages/home/index.jsx
Labels: website

#11072 SSH Key Remote Docs
  website/data/docs-remote-plugins.json
Labels: docs

#11079 Fix link ref
  website/content/docs/templates/hcl_templates/functions/uuid/uuidv5.mdx
Labels: docs

#11083 hcl2_upgrade: Improve regex to fix escaping on split function
  command/hcl2_upgrade.go
  command/test-fixtures/hcl2_upgrade/escaping/expected.pkr.hcl
  command/test-fixtures/hcl2_upgrade/escaping/input.json
Labels: bug, hcl2

#11096 Add HashiCups docs
  website/data/docs-remote-plugins.json
Labels: docs

#11102 website: update algolia API key
  website/.env
Labels: website

#11031 website: upgrade code-block
  website/package-lock.json
  website/package.json
  website/pages/style.css
Labels: docs, website

#11112 website: bump nextjs-scripts for latest code-block
  website/package-lock.json
  website/package.json
Labels: docs, website

#11119 website: upgrade react-head
  website/package-lock.json
  website/package.json
Labels: website
