Repository hashicorp/packer, pull requests merged in 2021-07, with the labels that each got.

#11132 add stdin to docs for fmt
  website/content/docs/commands/fmt.mdx
Labels: docs

#11142 Set up Dependabot
  .github/dependabot.yml
Labels: tech-debt

#11157 Fix incorrect `isotime` output
  website/content/docs/templates/legacy_json_templates/engine.mdx
Labels: docs, website

#11158 add Kamatera builder plugin documentation
  website/data/docs-remote-plugins.json
Labels: docs, website

#11156 web: migrate to web platform- packages
  website/.eslintrc.js
  website/.stylelintrc.js
  website/components/subnav/index.jsx
  website/next-env.d.ts
  website/next.config.js
  website/package-lock.json
  website/package.json
  website/pages/_app.js
  website/pages/_error.jsx
  website/prettier.config.js
Labels: website

#11177 website: update consent manager
  website/package-lock.json
  website/package.json
Labels: website
