Repository hashicorp/packer, pull requests merged in 2021-04, with the labels that each got.

#10848 Fix primary disk resize on clone and add tests
  builder/vsphere/clone/step_clone.go
  builder/vsphere/clone/step_clone_test.go
  builder/vsphere/driver/driver_mock.go
  builder/vsphere/driver/vm.go
  builder/vsphere/driver/vm_mock.go
  builder/vsphere/driver/vm_test.go
Labels: bug, builder/vsphere

#10868 Fix tiny typo in `hcl2_upgrade.mdx`
  website/content/docs/commands/hcl2_upgrade.mdx
Labels: docs

#10872 Add redirect for Docker post-processor pages
  website/redirects.next.js
Labels: docs

#10874 Upgrade StackMenu to latest
  website/package-lock.json
  website/package.json
Labels: docs, website

#10881 adds highlighting to `locals` stanza
  website/content/docs/templates/hcl_templates/functions/file/templatefile.mdx
Labels: docs

#10875 style(website): upgrade react-components, colors, logos
  website/package-lock.json
  website/package.json
  website/pages/community/style.css
  website/pages/downloads/style.css
  website/pages/home/index.jsx
  website/pages/home/style.css
  website/pages/style.css
Labels: website

#10829 Autogenerated docs for ansible local provisioner
  provisioner/ansible-local/provisioner.go
  provisioner/ansible-local/provisioner.hcl2spec.go
  website/content/docs/provisioners/ansible-local.mdx
  website/content/partials/provisioner/ansible-local/Config-not-required.mdx
Labels: docs, tech-debt

#10888 switches JSON and HCL2 tabs
  website/content/community-tools.mdx
  website/content/docs/builders/alicloud-ecs.mdx
  website/content/docs/builders/azure/arm.mdx
  website/content/docs/builders/azure/index.mdx
  website/content/docs/builders/googlecompute.mdx
  website/content/docs/builders/hetzner-cloud.mdx
  website/content/docs/builders/hyperv/iso.mdx
  website/content/docs/builders/lxc.mdx
  website/content/docs/builders/ncloud.mdx
  website/content/docs/builders/outscale/bsusurrogate.mdx
  website/content/docs/builders/outscale/chroot.mdx
  website/content/docs/builders/outscale/index.mdx
  website/content/docs/builders/proxmox/clone.mdx
  website/content/docs/builders/qemu.mdx
  website/content/docs/builders/tencentcloud-cvm.mdx
  website/content/docs/builders/vagrant.mdx
  website/content/docs/builders/vmware/iso.mdx
  website/content/docs/commands/build.mdx
  website/content/docs/commands/console.mdx
  website/content/docs/commands/init.mdx
  website/content/docs/commands/validate.mdx
  website/content/docs/configure.mdx
  website/content/docs/debugging.mdx
  website/content/docs/post-processors/manifest.mdx
  website/content/docs/post-processors/shell-local.mdx
  website/content/docs/post-processors/vagrant-cloud.mdx
  website/content/docs/post-processors/vagrant.mdx
  website/content/docs/post-processors/vsphere-template.mdx
  website/content/docs/post-processors/vsphere.mdx
  website/content/docs/provisioners/ansible-local.mdx
  website/content/docs/provisioners/ansible.mdx
  website/content/docs/provisioners/inspec.mdx
  website/content/docs/provisioners/powershell.mdx
  website/content/docs/provisioners/salt-masterless.mdx
  website/content/docs/provisioners/shell-local.mdx
  website/content/docs/provisioners/shell.mdx
  website/content/docs/provisioners/windows-restart.mdx
  website/content/docs/provisioners/windows-shell.mdx
  website/content/guides/automatic-operating-system-installs/autounattend_windows.mdx
  website/content/guides/hcl/from-json-v1.mdx
  website/content/guides/hcl/variables.mdx
  website/content/partials/packer-plugin-sdk/communicator/SSHTemporaryKeyPair.mdx
Labels: docs, hcl2

#10884 website: fix edit links for remote plugins
  website/components/plugin-tier-label/style.module.css
  website/components/remote-plugin-docs/server.js
  website/components/remote-plugin-docs/utils/resolve-nav-data.js
  website/content/docs/plugins/creation/index.mdx
Labels: docs

#10878 Move acctest pkg from the SDK to core and update acceptance tests
  acctest/testing.go
  acctest/testing_test.go
  builder/alicloud/ecs/builder_acc_test.go
  builder/azure/arm/builder_acc_test.go
  builder/azure/dtl/builder_acc_test.go
  builder/digitalocean/builder_acc_test.go
  builder/file/builder_test.go
  builder/hcloud/builder_acc_test.go
  builder/hyperone/builder_acc_test.go
  builder/linode/builder_acc_test.go
  builder/oneandone/builder_acc_test.go
  builder/osc/bsu/builder_acc_test.go
  builder/osc/bsusurrogate/builder_acc_test.go
  builder/osc/bsuvolume/builder_acc_test.go
  builder/profitbricks/builder_acc_test.go
  builder/ucloud/uhost/builder_acc_test.go
  builder/virtualbox/iso/builder_acc_test.go
  builder/vmware/iso/builder_acc_test.go
  builder/vmware/iso/step_create_vmx_test.go
  builder/vmware/iso/testdata/minimal.json
  builder/vsphere/clone/builder_acc_test.go
  builder/vsphere/iso/builder_acc_test.go
  builder/yandex/builder_acc_test.go
  go.mod
  go.sum
  provisioner/ansible-local/provisioner_test.go
  vendor/github.com/hashicorp/packer-plugin-sdk/acctest/datasources.go
  vendor/github.com/hashicorp/packer-plugin-sdk/acctest/pluginacc.go
  vendor/github.com/hashicorp/packer-plugin-sdk/version/version.go
  vendor/modules.txt
Labels: tech-debt

#10880 Add plugin acceptance test using the Amazon plugin
  acctest/plugin/component_acc_test.go
  acctest/plugin/plugin_acc_test.go
  acctest/plugin/test-fixtures/basic-amazon-ami-datasource.pkr.hcl
  acctest/plugin/test-fixtures/basic-amazon-ebs.pkr.hcl
  go.mod
  go.sum
  vendor/github.com/hashicorp/packer-plugin-amazon/builder/ebs/acceptance/aws.go
  vendor/github.com/hashicorp/packer-plugin-amazon/builder/ebs/acceptance/builder_acceptance.go
  vendor/github.com/hashicorp/packer-plugin-sdk/acctest/pluginacc.go
  vendor/modules.txt
Labels: tech-debt

#10900 Update URL to custom-images overview page
  website/content/docs/post-processors/digitalocean-import.mdx
Labels: docs

#10912 Extract ansible plugin
  command/plugin.go
  command/vendored_plugins.go
  go.mod
  go.sum
  provisioner/ansible-local/provisioner_test.go
  provisioner/ansible-local/test-fixtures/hello.yml
  provisioner/ansible-local/test-fixtures/world.yml
  provisioner/ansible-local/version/version.go
  provisioner/ansible/examples/connection-plugin/2.4.x/packer.py
  provisioner/ansible/examples/connection-plugin/2.5.x/packer.py
  provisioner/ansible/examples/connection-plugin/2.6.x/packer.py
  provisioner/ansible/provisioner_test.go
  provisioner/ansible/test-fixtures/exit1
  provisioner/ansible/test-fixtures/long-debug-message.yml
  provisioner/ansible/version/version.go
  test/fixtures/provisioner-ansible/all_options.json
  test/fixtures/provisioner-ansible/connection_plugins/packer.py
  test/fixtures/provisioner-ansible/dir/contents-only/file.txt
  test/fixtures/provisioner-ansible/dir/file.txt
  test/fixtures/provisioner-ansible/dir/subdir/file.txt
  test/fixtures/provisioner-ansible/docker.json
  test/fixtures/provisioner-ansible/galaxy-playbook.yml
  test/fixtures/provisioner-ansible/galaxy.json
  test/fixtures/provisioner-ansible/largish-file.txt
  test/fixtures/provisioner-ansible/minimal.json
  test/fixtures/provisioner-ansible/playbook.yml
  test/fixtures/provisioner-ansible/requirements.yml
  test/fixtures/provisioner-ansible/scp-to-sftp.json
  test/fixtures/provisioner-ansible/scp.json
  test/fixtures/provisioner-ansible/sftp.json
  test/fixtures/provisioner-ansible/win-playbook.yml
  test/fixtures/provisioner-ansible/winrm.json
  test/provisioner_ansible.bats
  vendor/github.com/hashicorp/packer-plugin-ansible/LICENSE
  vendor/github.com/hashicorp/packer-plugin-ansible/provisioner/ansible-local/communicator_mock.go
  vendor/github.com/hashicorp/packer-plugin-ansible/provisioner/ansible-local/provisioner.go
  vendor/github.com/hashicorp/packer-plugin-ansible/provisioner/ansible-local/provisioner.hcl2spec.go
  vendor/github.com/hashicorp/packer-plugin-ansible/provisioner/ansible-local/test-fixtures/docker_playbookdir_template.pkr.hcl
  vendor/github.com/hashicorp/packer-plugin-ansible/provisioner/ansible-local/test-fixtures/docker_playbookfiles_template.pkr.hcl
  vendor/github.com/hashicorp/packer-plugin-ansible/provisioner/ansible/mock_ansible.go
  vendor/github.com/hashicorp/packer-plugin-ansible/provisioner/ansible/provisioner.go
  vendor/github.com/hashicorp/packer-plugin-ansible/provisioner/ansible/provisioner.hcl2spec.go
  vendor/github.com/hashicorp/packer-plugin-ansible/provisioner/ansible/test-fixtures/docker_playbookfile_template.pkr.hcl
  vendor/modules.txt
  website/content/docs/provisioners/ansible-local.mdx
  website/content/docs/provisioners/ansible.mdx
  website/content/partials/provisioner/ansible-local/Config-not-required.mdx
  website/content/partials/provisioner/ansible/Config-not-required.mdx
  website/content/partials/provisioner/ansible/Config-required.mdx
  website/data/docs-nav-data.json
  website/data/docs-remote-plugins.json
Labels: core-plugin-split, provisioner/ansible-local, provisioner/ansible-remote

#10928 Add legacy_isotime docs
  website/content/docs/templates/hcl_templates/functions/datetime/index.mdx
  website/content/docs/templates/hcl_templates/functions/datetime/legacy_isotime.mdx
  website/data/docs-nav-data.json
Labels: docs

#10927 Fix TEMPATE to TEMPLATE in fmt cmd help text
  command/fmt.go
Labels: docs

#10929 Extract QEMU plugin
  builder/qemu/builder_test.go
  builder/qemu/comm_config_test.go
  builder/qemu/config_test.go
  builder/qemu/step_convert_disk_test.go
  builder/qemu/step_copy_disk_test.go
  builder/qemu/step_create_disk_test.go
  builder/qemu/step_http_ip_discover_test.go
  builder/qemu/step_resize_disk_test.go
  builder/qemu/step_run_test.go
  builder/qemu/step_shutdown_test.go
  builder/qemu/step_test.go
  builder/qemu/version/version.go
  command/plugin.go
  command/vendored_plugins.go
  go.mod
  go.sum
  vendor/github.com/digitalocean/go-qemu/qmp/socket.go
  vendor/github.com/digitalocean/go-qemu/qmp/socket_unix.go
  vendor/github.com/digitalocean/go-qemu/qmp/socket_windows.go
  vendor/github.com/hashicorp/packer-plugin-qemu/LICENSE
  vendor/github.com/hashicorp/packer-plugin-qemu/builder/qemu/artifact.go
  vendor/github.com/hashicorp/packer-plugin-qemu/builder/qemu/builder.go
  vendor/github.com/hashicorp/packer-plugin-qemu/builder/qemu/comm_config.go
  vendor/github.com/hashicorp/packer-plugin-qemu/builder/qemu/config.go
  vendor/github.com/hashicorp/packer-plugin-qemu/builder/qemu/config.hcl2spec.go
  vendor/github.com/hashicorp/packer-plugin-qemu/builder/qemu/driver.go
  vendor/github.com/hashicorp/packer-plugin-qemu/builder/qemu/driver_mock.go
  vendor/github.com/hashicorp/packer-plugin-qemu/builder/qemu/qmp.go
  vendor/github.com/hashicorp/packer-plugin-qemu/builder/qemu/ssh.go
  vendor/github.com/hashicorp/packer-plugin-qemu/builder/qemu/step_configure_qmp.go
  vendor/github.com/hashicorp/packer-plugin-qemu/builder/qemu/step_configure_vnc.go
  vendor/github.com/hashicorp/packer-plugin-qemu/builder/qemu/step_convert_disk.go
  vendor/github.com/hashicorp/packer-plugin-qemu/builder/qemu/step_copy_disk.go
  vendor/github.com/hashicorp/packer-plugin-qemu/builder/qemu/step_create_disk.go
  vendor/github.com/hashicorp/packer-plugin-qemu/builder/qemu/step_http_ip_discover.go
  vendor/github.com/hashicorp/packer-plugin-qemu/builder/qemu/step_port_forward.go
  vendor/github.com/hashicorp/packer-plugin-qemu/builder/qemu/step_prepare_output_dir.go
  vendor/github.com/hashicorp/packer-plugin-qemu/builder/qemu/step_resize_disk.go
  vendor/github.com/hashicorp/packer-plugin-qemu/builder/qemu/step_run.go
  vendor/github.com/hashicorp/packer-plugin-qemu/builder/qemu/step_set_iso.go
  vendor/github.com/hashicorp/packer-plugin-qemu/builder/qemu/step_shutdown.go
  vendor/github.com/hashicorp/packer-plugin-qemu/builder/qemu/step_type_boot_command.go
  vendor/github.com/hashicorp/packer-plugin-qemu/builder/qemu/step_wait_guest_address.go
  vendor/modules.txt
  website/content/docs/builders/qemu.mdx
  website/content/partials/builder/qemu/CommConfig-not-required.mdx
  website/content/partials/builder/qemu/Config-not-required.mdx
  website/content/partials/builder/qemu/QemuImgArgs-not-required.mdx
  website/data/docs-nav-data.json
  website/data/docs-remote-plugins.json
Labels: builder/qemu, core-plugin-split

#10930 Move proxmox builder out + vendor it
  builder/proxmox/builder.go
  builder/proxmox/common/client_test.go
  builder/proxmox/common/config_test.go
  builder/proxmox/common/step_convert_to_template_test.go
  builder/proxmox/common/step_finalize_template_config_test.go
  builder/proxmox/common/step_start_vm_test.go
  builder/proxmox/common/step_type_boot_command_test.go
  builder/proxmox/iso/config_test.go
  builder/proxmox/iso/step_finalize_iso_test.go
  builder/proxmox/iso/step_upload_iso_test.go
  builder/proxmox/iso/testdata/test.iso
  builder/proxmox/version/version.go
  command/plugin.go
  command/vendored_plugins.go
  go.mod
  go.sum
  vendor/github.com/Telmate/proxmox-api-go/proxmox/config_qemu.go
  vendor/github.com/hashicorp/packer-plugin-proxmox/LICENSE
  vendor/github.com/hashicorp/packer-plugin-proxmox/builder/proxmox/clone/builder.go
  vendor/github.com/hashicorp/packer-plugin-proxmox/builder/proxmox/clone/config.go
  vendor/github.com/hashicorp/packer-plugin-proxmox/builder/proxmox/clone/config.hcl2spec.go
  vendor/github.com/hashicorp/packer-plugin-proxmox/builder/proxmox/clone/step_ssh_key_pair.go
  vendor/github.com/hashicorp/packer-plugin-proxmox/builder/proxmox/common/artifact.go
  vendor/github.com/hashicorp/packer-plugin-proxmox/builder/proxmox/common/bootcommand_driver.go
  vendor/github.com/hashicorp/packer-plugin-proxmox/builder/proxmox/common/builder.go
  vendor/github.com/hashicorp/packer-plugin-proxmox/builder/proxmox/common/client.go
  vendor/github.com/hashicorp/packer-plugin-proxmox/builder/proxmox/common/config.go
  vendor/github.com/hashicorp/packer-plugin-proxmox/builder/proxmox/common/config.hcl2spec.go
  vendor/github.com/hashicorp/packer-plugin-proxmox/builder/proxmox/common/step_convert_to_template.go
  vendor/github.com/hashicorp/packer-plugin-proxmox/builder/proxmox/common/step_finalize_template_config.go
  vendor/github.com/hashicorp/packer-plugin-proxmox/builder/proxmox/common/step_start_vm.go
  vendor/github.com/hashicorp/packer-plugin-proxmox/builder/proxmox/common/step_success.go
  vendor/github.com/hashicorp/packer-plugin-proxmox/builder/proxmox/common/step_type_boot_command.go
  vendor/github.com/hashicorp/packer-plugin-proxmox/builder/proxmox/common/step_upload_additional_isos.go
  vendor/github.com/hashicorp/packer-plugin-proxmox/builder/proxmox/iso/builder.go
  vendor/github.com/hashicorp/packer-plugin-proxmox/builder/proxmox/iso/config.go
  vendor/github.com/hashicorp/packer-plugin-proxmox/builder/proxmox/iso/config.hcl2spec.go
  vendor/github.com/hashicorp/packer-plugin-proxmox/builder/proxmox/iso/step_finalize_iso.go
  vendor/github.com/hashicorp/packer-plugin-proxmox/builder/proxmox/iso/step_upload_iso.go
  vendor/modules.txt
  website/content/docs/builders/proxmox/clone.mdx
  website/content/docs/builders/proxmox/index.mdx
  website/content/docs/builders/proxmox/iso.mdx
  website/content/partials/packer-plugin-sdk/multistep/commonsteps/HTTPConfig-not-required.mdx
  website/data/docs-nav-data.json
  website/data/docs-remote-plugins.json
Labels: builder/proxmox, core-plugin-split

#10919 website: enable plugin tier override
  .github/workflows/check-plugin-docs.js
  website/components/remote-plugin-docs/utils/resolve-nav-data.js
Labels: docs, website

#10942 Add pluginTier to community plugins
  website/data/docs-remote-plugins.json
Labels: docs

#10933 extract openstack into its own plugin
  builder/openstack/artifact_test.go
  builder/openstack/builder_test.go
  builder/openstack/image_config_test.go
  builder/openstack/networks_test.go
  builder/openstack/run_config_test.go
  builder/openstack/step_key_pair_test.go
  builder/openstack/version/version.go
  command/vendored_plugins.go
  go.mod
  go.sum
  vendor/github.com/hashicorp/packer-plugin-openstack/LICENSE
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/access_config.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/artifact.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/builder.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/builder.hcl2spec.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/image_config.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/networks.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/run_config.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/server.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/ssh.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/step_add_image_members.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/step_allocate_ip.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/step_create_image.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/step_create_volume.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/step_detach_volume.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/step_discover_network.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/step_get_password.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/step_key_pair.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/step_load_flavor.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/step_run_source_server.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/step_source_image_info.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/step_stop_server.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/step_update_image_mindisk.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/step_update_image_tags.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/step_update_image_visibility.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/step_wait_for_rackconnect.go
  vendor/github.com/hashicorp/packer-plugin-openstack/builder/openstack/volume.go
  vendor/gopkg.in/yaml.v2/.travis.yml
  vendor/gopkg.in/yaml.v2/apic.go
  vendor/gopkg.in/yaml.v2/go.mod
  vendor/gopkg.in/yaml.v2/yaml.go
  vendor/modules.txt
  website/content/docs/builders/openstack.mdx
  website/data/docs-nav-data.json
  website/data/docs-remote-plugins.json
Labels: builder/openstack, core-plugin-split

#10921 Extract Chef Plugins
  command/plugin.go
  command/vendored_plugins.go
  go.mod
  go.sum
  provisioner/chef-client/provisioner_test.go
  provisioner/chef-client/version/version.go
  provisioner/chef-solo/provisioner_test.go
  provisioner/chef-solo/version/version.go
  vendor/github.com/hashicorp/packer-plugin-chef/LICENSE
  vendor/github.com/hashicorp/packer-plugin-chef/provisioner/chef-client/provisioner.go
  vendor/github.com/hashicorp/packer-plugin-chef/provisioner/chef-client/provisioner.hcl2spec.go
  vendor/github.com/hashicorp/packer-plugin-chef/provisioner/chef-solo/provisioner.go
  vendor/github.com/hashicorp/packer-plugin-chef/provisioner/chef-solo/provisioner.hcl2spec.go
  vendor/modules.txt
  website/content/docs/provisioners/chef-client.mdx
  website/content/docs/provisioners/chef-solo.mdx
  website/data/docs-nav-data.json
  website/data/docs-remote-plugins.json
Labels: core-plugin-split

#10943 Extract Puppet plugins
  command/plugin.go
  command/vendored_plugins.go
  go.mod
  go.sum
  provisioner/puppet-masterless/provisioner_test.go
  provisioner/puppet-masterless/version/version.go
  provisioner/puppet-server/provisioner_test.go
  provisioner/puppet-server/version/version.go
  vendor/github.com/hashicorp/packer-plugin-puppet/LICENSE
  vendor/github.com/hashicorp/packer-plugin-puppet/provisioner/puppet-masterless/provisioner.go
  vendor/github.com/hashicorp/packer-plugin-puppet/provisioner/puppet-masterless/provisioner.hcl2spec.go
  vendor/github.com/hashicorp/packer-plugin-puppet/provisioner/puppet-server/provisioner.go
  vendor/github.com/hashicorp/packer-plugin-puppet/provisioner/puppet-server/provisioner.hcl2spec.go
  vendor/modules.txt
  website/content/docs/provisioners/puppet-masterless.mdx
  website/content/docs/provisioners/puppet-server.mdx
  website/data/docs-nav-data.json
  website/data/docs-remote-plugins.json
Labels: core-plugin-split, provisioner/puppet

#10949 Extract Hyperone
  CODEOWNERS
  builder/hyperone/artifact.go
  builder/hyperone/builder.go
  builder/hyperone/builder_acc_test.go
  builder/hyperone/chroot_communicator.go
  builder/hyperone/config.go
  builder/hyperone/config.hcl2spec.go
  builder/hyperone/examples/basic.json
  builder/hyperone/examples/chroot.json
  builder/hyperone/examples/new-syntax.pkr.hcl
  builder/hyperone/step_chroot_provision.go
  builder/hyperone/step_copy_files.go
  builder/hyperone/step_create_image.go
  builder/hyperone/step_create_ssh_key.go
  builder/hyperone/step_create_vm.go
  builder/hyperone/step_create_vm_from_disk.go
  builder/hyperone/step_create_vm_test.go
  builder/hyperone/step_detach_disk.go
  builder/hyperone/step_mount_chroot.go
  builder/hyperone/step_mount_extra.go
  builder/hyperone/step_post_mount_commands.go
  builder/hyperone/step_pre_mount_commands.go
  builder/hyperone/step_prepare_device.go
  builder/hyperone/step_stop_vm.go
  builder/hyperone/token_by_ssh.go
  builder/hyperone/utils.go
  builder/hyperone/version/version.go
  command/plugin.go
  command/vendored_plugins.go
  go.mod
  go.sum
  website/content/docs/builders/hyperone.mdx
  website/content/partials/builder/hyperone/Config-not-required.mdx
  website/content/partials/builder/hyperone/Config-required.mdx
  website/data/docs-nav-data.json
  website/data/docs-remote-plugins.json
Labels: builder/hyperone, core-plugin-split

#10946 Extract jdcloud
  builder/jdcloud/artifact.go
  builder/jdcloud/builder.go
  builder/jdcloud/common.go
  builder/jdcloud/common.hcl2spec.go
  builder/jdcloud/credential_config.go
  builder/jdcloud/credential_config_test.go
  builder/jdcloud/examples/credential-key.json
  builder/jdcloud/examples/credential-new-key.json
  builder/jdcloud/examples/credential-password.json
  builder/jdcloud/examples/use_new_subnet.json
  builder/jdcloud/instance_config.go
  builder/jdcloud/instance_config_test.go
  builder/jdcloud/step_config_credentials.go
  builder/jdcloud/step_create_image.go
  builder/jdcloud/step_create_instance.go
  builder/jdcloud/step_stop_instance.go
  builder/jdcloud/step_validate_parameters.go
  builder/jdcloud/version/version.go
  builder/linode/artifact.go
  builder/linode/artifact_test.go
  builder/linode/builder.go
  builder/linode/builder_acc_test.go
  builder/linode/builder_test.go
  builder/linode/config.go
  builder/linode/config.hcl2spec.go
  builder/linode/linode.go
  builder/linode/step_create_image.go
  builder/linode/step_create_linode.go
  builder/linode/step_create_ssh_key.go
  builder/linode/step_shutdown_linode.go
  builder/linode/version/version.go
  command/plugin.go
  command/vendored_plugins.go
  go.mod
  go.sum
  website/content/docs/builders/jdcloud.mdx
  website/content/docs/builders/linode.mdx
  website/data/docs-nav-data.json
  website/data/docs-remote-plugins.json
Labels: core-plugin-split

#10953 Extract UCloud
  CODEOWNERS
  builder/ucloud/common/access_config.go
  builder/ucloud/common/access_config_test.go
  builder/ucloud/common/artifact.go
  builder/ucloud/common/artifact_test.go
  builder/ucloud/common/client.go
  builder/ucloud/common/consts.go
  builder/ucloud/common/errors.go
  builder/ucloud/common/image_config.go
  builder/ucloud/common/image_config.hcl2spec.go
  builder/ucloud/common/image_config_test.go
  builder/ucloud/common/run_config.go
  builder/ucloud/common/run_config_test.go
  builder/ucloud/common/type_converter.go
  builder/ucloud/common/types.go
  builder/ucloud/common/types_test.go
  builder/ucloud/common/utils.go
  builder/ucloud/examples/basic.json
  builder/ucloud/examples/local/http/centos-6.10/ks.cfg
  builder/ucloud/examples/local/local.json
  builder/ucloud/examples/ubuntu.json
  builder/ucloud/uhost/builder.go
  builder/ucloud/uhost/builder.hcl2spec.go
  builder/ucloud/uhost/builder_acc_test.go
  builder/ucloud/uhost/builder_test.go
  builder/ucloud/uhost/step_check_source_image.go
  builder/ucloud/uhost/step_config_security_group.go
  builder/ucloud/uhost/step_config_subnet.go
  builder/ucloud/uhost/step_config_vpc.go
  builder/ucloud/uhost/step_copy_image.go
  builder/ucloud/uhost/step_create_image.go
  builder/ucloud/uhost/step_create_instance.go
  builder/ucloud/uhost/step_pre_validate.go
  builder/ucloud/uhost/step_stop_instance.go
  builder/ucloud/version/version.go
  command/plugin.go
  command/vendored_plugins.go
  go.mod
  go.sum
  post-processor/ucloud-import/post-processor.go
  post-processor/ucloud-import/post-processor.hcl2spec.go
  post-processor/ucloud-import/version/version.go
  website/content/docs/builders/ucloud-uhost.mdx
  website/content/docs/post-processors/ucloud-import.mdx
  website/content/partials/builder/ucloud/common/AccessConfig-not-required.mdx
  website/content/partials/builder/ucloud/common/AccessConfig-required.mdx
  website/content/partials/builder/ucloud/common/ImageConfig-not-required.mdx
  website/content/partials/builder/ucloud/common/ImageConfig-required.mdx
  website/content/partials/builder/ucloud/common/ImageDestination-not-required.mdx
  website/content/partials/builder/ucloud/common/RunConfig-not-required.mdx
  website/content/partials/builder/ucloud/common/RunConfig-required.mdx
  website/content/partials/builders/boot-command.mdx
  website/content/partials/post-processor/ucloud-import/Config-not-required.mdx
  website/content/partials/post-processor/ucloud-import/Config-required.mdx
  website/content/partials/post-processor/ucloud-import/Config.mdx
  website/data/docs-nav-data.json
  website/data/docs-remote-plugins.json
Labels: builder/ucloud, core-plugin-split, post-processor/ucloud-import

#10931 website: update readme
  website/README.md
  website/package-lock.json
  website/package.json
Labels: website

#10956 Extract converge provisioner
  command/plugin.go
  command/vendored_plugins.go
  go.mod
  go.sum
  provisioner/converge/provisioner.go
  provisioner/converge/provisioner.hcl2spec.go
  provisioner/converge/provisioner_test.go
  provisioner/converge/version/version.go
  website/content/docs/provisioners/converge.mdx
  website/data/docs-nav-data.json
  website/data/docs-remote-plugins.json
Labels: core-plugin-split

#10965 Extract LXD and LXC
  builder/lxc/artifact.go
  builder/lxc/builder.go
  builder/lxc/builder_test.go
  builder/lxc/command.go
  builder/lxc/communicator.go
  builder/lxc/communicator_test.go
  builder/lxc/config.go
  builder/lxc/config.hcl2spec.go
  builder/lxc/step_export.go
  builder/lxc/step_lxc_create.go
  builder/lxc/step_prepare_output_dir.go
  builder/lxc/step_provision.go
  builder/lxc/step_wait_init.go
  builder/lxc/version/version.go
  builder/lxd/artifact.go
  builder/lxd/builder.go
  builder/lxd/builder_test.go
  builder/lxd/command.go
  builder/lxd/communicator.go
  builder/lxd/communicator_test.go
  builder/lxd/config.go
  builder/lxd/config.hcl2spec.go
  builder/lxd/step_lxd_launch.go
  builder/lxd/step_provision.go
  builder/lxd/step_publish.go
  builder/lxd/version/version.go
  command/plugin.go
  command/vendored_plugins.go
  go.mod
  go.sum
  website/content/docs/builders/lxc.mdx
  website/content/docs/builders/lxd.mdx
  website/content/partials/builder/lxc/Config-not-required.mdx
  website/content/partials/builder/lxc/Config-required.mdx
  website/content/partials/builder/lxd/Config-not-required.mdx
  website/content/partials/builder/lxd/Config-required.mdx
  website/data/docs-nav-data.json
  website/data/docs-remote-plugins.json
Labels: builder/lxc, builder/lxd, core-plugin-split

#10967 Extract Tencent Cloud
  builder/tencentcloud/cvm/access_config.go
  builder/tencentcloud/cvm/access_config_test.go
  builder/tencentcloud/cvm/artifact.go
  builder/tencentcloud/cvm/builder.go
  builder/tencentcloud/cvm/builder.hcl2spec.go
  builder/tencentcloud/cvm/common.go
  builder/tencentcloud/cvm/image_config.go
  builder/tencentcloud/cvm/image_config_test.go
  builder/tencentcloud/cvm/run_config.go
  builder/tencentcloud/cvm/run_config.hcl2spec.go
  builder/tencentcloud/cvm/run_config_test.go
  builder/tencentcloud/cvm/step_check_source_image.go
  builder/tencentcloud/cvm/step_config_key_pair.go
  builder/tencentcloud/cvm/step_config_security_group.go
  builder/tencentcloud/cvm/step_config_subnet.go
  builder/tencentcloud/cvm/step_config_vpc.go
  builder/tencentcloud/cvm/step_copy_image.go
  builder/tencentcloud/cvm/step_create_image.go
  builder/tencentcloud/cvm/step_detach_temp_key_pair.go
  builder/tencentcloud/cvm/step_pre_validate.go
  builder/tencentcloud/cvm/step_run_instance.go
  builder/tencentcloud/cvm/step_share_image.go
  builder/tencentcloud/examples/basic-with-data-disk.json
  builder/tencentcloud/examples/basic.json
  builder/tencentcloud/examples/centos.json
  builder/tencentcloud/version/version.go
  command/plugin.go
  command/vendored_plugins.go
  go.mod
  go.sum
  website/content/docs/builders/cloudstack.mdx
  website/content/docs/builders/tencentcloud-cvm.mdx
  website/content/docs/builders/vagrant.mdx
  website/content/partials/builder/tencentcloud/cvm/TencentCloudAccessConfig-not-required.mdx
  website/content/partials/builder/tencentcloud/cvm/TencentCloudAccessConfig-required.mdx
  website/content/partials/builder/tencentcloud/cvm/TencentCloudImageConfig-not-required.mdx
  website/content/partials/builder/tencentcloud/cvm/TencentCloudImageConfig-required.mdx
  website/content/partials/builder/tencentcloud/cvm/TencentCloudRunConfig-not-required.mdx
  website/content/partials/builder/tencentcloud/cvm/TencentCloudRunConfig-required.mdx
  website/content/partials/builder/tencentcloud/cvm/tencentCloudDataDisk-not-required.mdx
  website/data/docs-nav-data.json
  website/data/docs-remote-plugins.json
Labels: builder/tencent, core-plugin-split

#10969 Remove codecov config file
  .codecov.yml
Labels: tech-debt

#10973 website: add the possibility to fetch a local docs.zip for remote plugins
  .github/workflows/check-plugin-docs.js
  website/components/remote-plugin-docs/utils/fetch-dev-plugin-docs.js
  website/components/remote-plugin-docs/utils/resolve-nav-data.js
  website/content/docs/plugins/creation/index.mdx
Labels: tech-debt

#10958 website: check for unlinked content, rm split-out vagrant content
  .github/workflows/check-unlinked-content.js
  .github/workflows/check-unlinked-content.yml
  website/content/docs/post-processors/vagrant-cloud.mdx
  website/content/docs/post-processors/vagrant.mdx
Labels: website

#10045 Azure: arm builder: adding keep_os_disk parameter to control OS disk deletion
  builder/azure/arm/artifact.go
  builder/azure/arm/artifact_test.go
  builder/azure/arm/builder.go
  builder/azure/arm/config.go
  builder/azure/arm/config.hcl2spec.go
  builder/azure/arm/step_deploy_template.go
  builder/azure/arm/step_deploy_template_test.go
  builder/azure/common/constants/stateBag.go
  website/content/partials/builder/azure/arm/Config-not-required.mdx
Labels: builder/azure

#10977 website: add huaweicloud remote plugin
  website/data/docs-remote-plugins.json
Labels: docs
