Repository hashicorp/packer, pull requests merged in 2021-08, with the labels that each got.

#11196 document the plugin-getter.Get interface
  packer/plugin-getter/plugins.go
Labels: core, docs, core-plugin-split

#11200 Fix {{packer_version}} interpolation regression
  hcl2template/testdata/build/provisioner_packer_version_interpolation.pkr.hcl
  hcl2template/types.build.post-processor.go
  hcl2template/types.build.provisioners.go
  hcl2template/types.build_test.go
  hcl2template/types.source.go
  packer/core.go
  packer/core_test.go
  packer/test-fixtures/build-var-packer-version.json
Labels: core, regression, core-plugin-split

#11151 website: upgrade content and global styles
  website/components/footer/index.jsx
  website/components/footer/style.css
  website/package-lock.json
  website/package.json
  website/pages/404.jsx
  website/pages/_app.js
  website/pages/community/index.jsx
  website/pages/community/style.css
  website/pages/community/style.module.css
  website/pages/downloads/style.module.css
  website/pages/print.css
  website/pages/style.css
Labels: website

#11236 Clarify what the labels of a source block do.
  website/content/docs/templates/hcl_templates/blocks/source.mdx
  website/content/partials/from-1.5/sources/example-block.mdx
Labels: docs
