Repository hashicorp/packer, pull requests merged in 2022-01, with the labels that each got.

#11488 fix: handle multiple redirects
  website/components/remote-plugin-docs/utils/fetch-latest-release-tag.js
  website/package-lock.json
  website/package.json
Labels: website, backport/website, backport/1.7.x

#11502 Update test client to use Org/Project ID from client; not environment variables
  internal/registry/acctest/par.go
Labels: tech-debt

#11504 website: upgrade product-downloads-page
  website/package-lock.json
  website/package.json
Labels: backport/website

#11503 Add example of marking Vault values as sensitive variables
  website/content/docs/templates/hcl_templates/functions/contextual/vault.mdx
Labels: docs, backport/website

#11507 windows-restart: Update documentation for restart_check_command
  provisioner/windows-restart/provisioner.go
  website/content/docs/provisioners/windows-restart.mdx
Labels: docs, backport/website

#11513 website: link plugin version badges
  website/components/badge/index.tsx
  website/components/remote-plugin-docs/server.js
Labels: backport/website, backport/1.7.x

#11528 website: display warning in IE 11
  website/pages/_document.js
  website/public/ie-custom-properties.js
  website/public/ie-warning.js
Labels: backport/website

#11532 Update CONTRIBUTING guide for Packer
  .github/CONTRIBUTING.md
Labels: docs
