Repository hashicorp/packer, pull requests merged in 2022-03, with the labels that each got.

#11610 [CI] Add workflow_dispatch caller to nightly_release job
  .github/workflows/build.yml
  .github/workflows/nightly-release.yml
Labels: tech-debt

#11613 Update documenation links for community plugins
  website/content/partials/builders/community_builders.mdx
  website/content/partials/provisioners/community_provisioners.mdx
Labels: docs, backport/website, backport/1.7.x

#11620 Add reference and link to the plugins command docs in the manual install part
  website/content/partials/plugins/installing-plugins.mdx
Labels: docs

#11627 Set default file extension for binary removal on Windows
  command/plugins_remove.go
Labels: command/plugins

#11629 Website: Fix the hashicorp/packer link on the plugins creation page
  website/content/docs/plugins/creation/index.mdx
Labels: docs, backport/website, backport/1.7.x, backport/1.8.x

#11626 Remove Beta language from HCP packer docs
  website/content/docs/datasources/hcp/hcp-packer-image.mdx
  website/content/docs/datasources/hcp/hcp-packer-iteration.mdx
  website/content/docs/datasources/hcp/index.mdx
  website/content/docs/datasources/hcp/packer-image-iteration.mdx
  website/content/docs/index.mdx
  website/content/docs/templates/hcl_templates/blocks/build/hcp_packer_registry.mdx
Labels: docs, backport/website, backport/1.8.x

#11638 website: pin previous version of plugin
  website/data/plugins-manifest.json
Labels: backport/website

#11607 Updates for HCP Packer
  website/data/alert-banner.js
  website/pages/home/index.jsx
Labels: backport/website

#11622 website: support Verified pluginTier, support Archived badge
  website/components/badge/index.tsx
  website/components/badge/style.module.css
  website/components/plugin-badge/index.tsx
  website/components/remote-plugin-docs/server.js
  website/components/remote-plugin-docs/utils/resolve-nav-data.js
  website/data/plugins-manifest.json
Labels: docs, backport/website, backport/1.8.x

#11643 Update plugin tiers documentation
  website/content/partials/plugins/plugin-tiers-and-namespaces.mdx
  website/data/plugins-manifest.json
Labels: docs, backport/website, backport/1.8.x

#11657 Turn nvd security scanning off temporarily
  .release/security-scan.hcl
Labels: tech-debt

#11663 Update link checker to use main as base-branch
  .github/workflows/linkchecker.yml
  .github/workflows/scheduled-link-checker.yml
  .mlc_config.json
Labels: docs

#11661 Digital Ocean is HCP Packer Ready
  website/data/plugins-manifest.json
Labels: docs, backport/website

#11660 Add tests for the packer plugins subcommand
  .github/workflows/go-test.yml
  command/plugins_install.go
  command/plugins_install_test.go
  command/plugins_remove_test.go
Labels: tech-debt

#11669 Linode is HCP Packer ready
  website/data/plugins-manifest.json
Labels: docs, backport/website

#11680 website: unpin plugin version
  website/data/plugins-manifest.json
Labels: website, backport/website
