Repository hashicorp/packer, pull requests merged in 2022-11, with the labels that each got.

#12103 Plugin latest unavailable checksum fail fix
  packer/plugin-getter/plugins.go
  packer/plugin-getter/plugins_test.go
Labels: bug

#12108 Update github.com/stretchr/testify to address vulnerabilities in dependencies
  go.mod
  go.sum
Labels: tech-debt, security

#12104 Update validation options for undeclared variables
  command/build.go
  command/build_test.go
  command/cli.go
  command/meta.go
  command/test-fixtures/validate/var-file-tests/basic.pkr.hcl
  command/test-fixtures/validate/var-file-tests/basic.pkrvars.hcl
  command/test-fixtures/validate/var-file-tests/undeclared.json
  command/test-fixtures/validate/var-file-tests/undeclared.pkrvars.hcl
  command/validate.go
  command/validate_test.go
  hcl2template/parser.go
  hcl2template/types.packer_config.go
  hcl2template/types.variables.go
  hcl2template/types.variables_test.go
Labels: enhancement, core, command/validate

#12112 Removing duplicate line of text
  website/content/docs/partnerships.mdx
Labels: website, docs, backport/website

#12136 [HPR-838] cmd/hcl2_upgrade: Generate variable block for all referenced user input variables
  command/hcl2_upgrade.go
  command/hcl2_upgrade_test.go
  command/test-fixtures/hcl2_upgrade/undeclared-variables/expected.pkr.hcl
  command/test-fixtures/hcl2_upgrade/undeclared-variables/input.json
Labels: enhancement, hcl2, command/hcl2_upgrade
