Repository hashicorp/packer, pull requests merged in 2022-04, with the labels that each got.

#11702 fix(website): remove empty index pages
  website/content/docs/templates/hcl_templates/functions/collection/index.mdx
  website/content/docs/templates/hcl_templates/functions/contextual/index.mdx
  website/content/docs/templates/hcl_templates/functions/conversion/index.mdx
  website/content/docs/templates/hcl_templates/functions/crypto/index.mdx
  website/content/docs/templates/hcl_templates/functions/encoding/index.mdx
  website/content/docs/templates/hcl_templates/functions/file/index.mdx
  website/content/docs/templates/hcl_templates/functions/ipnet/index.mdx
  website/content/docs/templates/hcl_templates/functions/numeric/index.mdx
  website/content/docs/templates/hcl_templates/functions/string/index.mdx
  website/content/docs/templates/hcl_templates/functions/uuid/index.mdx
  website/data/docs-nav-data.json
Labels: website, docs, backport/website

#11699 Update issue-labeler action
  .github/workflows/issues-opened.yml
Labels: tech-debt

#11712 Support `packer plugins installed` plugins in JSON (and HCL without required block)
  packer/plugin-getter/plugins.go
  packer/plugin.go
  packer/plugin_discover_test.go
Labels: hcl2, command/plugins
