Repository hashicorp/packer, pull requests merged in 2022-07, with the labels that each got.

#11864 Document known limitation of locals being used within a data source
  website/content/docs/datasources/index.mdx
  website/content/docs/templates/hcl_templates/datasources.mdx
  website/content/docs/templates/hcl_templates/locals.mdx
  website/content/partials/datasources/local-dependency-limitation.mdx
Labels: docs, backport/website

#11862 Add Packer Plugin Gridscale to plugins page
  website/data/plugins-manifest.json
Labels: docs, backport/website

#11888 Removing Huawei from plugin docs
  website/content/partials/builders/community_builders.mdx
  website/data/plugins-manifest.json
Labels: website, backport/website

#11893 fix: use newer node for check-plugin-docs
  .github/workflows/check-plugin-docs.yml
Labels: website

#11886 Update DigitalOcean Plugin paths
  website/data/plugins-manifest.json
Labels: docs, backport/website

#11890 Delete pull-requests-opened.yml
  .github/workflows/pull-requests-opened.yml
Labels: tech-debt

#11900 Fix typo in the pipelining-builds docs
  website/content/guides/packer-on-cicd/pipelineing-builds.mdx
Labels: docs, backport/website

#11914 Add HCP Packer Ready badge to UpCloud
  website/data/plugins-manifest.json
Labels: website, backport/website
