Repository hashicorp/packer, pull requests merged in 2022-02, with the labels that each got.

#11549 chore: bump @hashicorp/platform-cli
  website/package-lock.json
  website/package.json
Labels: website

#11555 Correct typo
  website/content/guides/automatic-operating-system-installs/autounattend_windows.mdx
Labels: backport/website

#11553 Add `packer plugins` command and subcommands to interact with plugins
  command/cli.go
  command/core_wrapper.go
  command/plugins.go
  command/plugins_install.go
  command/plugins_installed.go
  command/plugins_remove.go
  command/plugins_required.go
  commands.go
  packer/plugin-getter/plugins.go
  packer/plugin-getter/plugins_test.go
  website/content/docs/commands/plugins/index.mdx
  website/content/docs/commands/plugins/install.mdx
  website/content/docs/commands/plugins/installed.mdx
  website/content/docs/commands/plugins/remove.mdx
  website/content/docs/commands/plugins/required.mdx
  website/data/docs-nav-data.json
Labels: enhancement

#11569 all shells: Pass env vars through a key value store
  command/build_test.go
  command/test-fixtures/hcl/data-source-validation.pkr.hcl
  command/test_utils.go
  command/validate_test.go
  go.mod
  go.sum
  provisioner/powershell/provisioner.hcl2spec.go
  provisioner/shell/provisioner.hcl2spec.go
  provisioner/windows-shell/provisioner.hcl2spec.go
  website/content/docs/post-processors/shell-local.mdx
  website/content/docs/provisioners/powershell.mdx
  website/content/docs/provisioners/shell-local.mdx
  website/content/docs/provisioners/shell.mdx
  website/content/docs/provisioners/windows-shell.mdx
Labels: bug, enhancement

#11570 Rename integration program documentation
  website/content/docs/partnerships.mdx
  website/data/docs-nav-data.json
Labels: docs, backport/website

#11586 Fix secret name to GPG_PASSPHRASE
  website/content/docs/plugins/creation/index.mdx
Labels: docs, backport/website, backport/1.7.x

#11538 website: bump docs-page to fix manual copy issue
  website/package-lock.json
  website/package.json
Labels: backport/website

#11593 Add missing closing parenthesis
  website/content/docs/commands/validate.mdx
  website/content/partials/commands/except.mdx
  website/content/partials/commands/only.mdx
Labels: docs, backport/website

#11587 Add UpCloud plugin documentation
  website/data/plugins-manifest.json
Labels: docs, backport/website

#11600 Fix readme build badge
  README.md
Labels: tech-debt
