Repository hashicorp/packer, pull requests merged in 2022-09, with the labels that each got.

#11977 Makefile: bump golangci-lint to 1.46.0
  Makefile
Labels: tech-debt

#11973 ci: add minimum GitHub token permissions for workflows
  .github/workflows/auto-close-stale-issues.yml
  .github/workflows/issues.yml
Labels: tech-debt

#11986 fix(website): pin packer-plugin-outscale docs to 1.0.2
  website/data/plugins-manifest.json
Labels: website, docs, backport/website

#11982 Content munge devportal
  website/content/community-tools.mdx
  website/content/docs/commands/index.mdx
  website/content/docs/datasources/hcp/hcp-packer-image.mdx
  website/content/docs/datasources/hcp/hcp-packer-iteration.mdx
  website/content/docs/datasources/hcp/packer-image-iteration.mdx
  website/content/docs/datasources/index.mdx
  website/content/docs/index.mdx
  website/content/docs/plugins/creation/custom-builders.mdx
  website/content/docs/plugins/creation/index.mdx
  website/content/docs/plugins/hcp-support.mdx
  website/content/docs/post-processors/index.mdx
  website/content/docs/provisioners/index.mdx
  website/content/docs/templates/hcl_templates/blocks/build/hcp_packer_registry.mdx
  website/content/docs/templates/hcl_templates/blocks/index.mdx
  website/content/docs/templates/hcl_templates/functions/index.mdx
  website/content/guides/automatic-operating-system-installs/index.mdx
  website/content/partials/plugins/plugin-tiers-and-namespaces.mdx
Labels: backport/website, backport/1.7.x, backport/1.8.x

#11985 fix: pin plugin-manifest versions
  website/data/plugins-manifest.json
  website/scripts/plugins-manifest-pin.sh
  website/scripts/plugins-manifest-unpin.sh
Labels: website, docs

#11978 Update plugin docs - devdot launch
  website/content/docs/plugins/creation/custom-builders.mdx
  website/content/docs/plugins/creation/custom-datasources.mdx
  website/content/docs/plugins/creation/custom-post-processors.mdx
  website/content/docs/plugins/creation/custom-provisioners.mdx
  website/content/docs/plugins/creation/hcp-support.mdx
  website/content/docs/plugins/creation/index.mdx
  website/content/docs/plugins/index.mdx
  website/content/docs/plugins/install-plugins.mdx
  website/content/partials/plugins/how-plugins-work.mdx
  website/content/plugins/index.mdx
  website/data/docs-nav-data.json
  website/data/plugins-nav-data.json
Labels: backport/website

#12004 fix(website): sourceBranch for anka in plugins-manifest
  website/data/plugins-manifest.json
Labels: docs

#12003 Add JIRA sync action
  .github/workflows/jira.yml
Labels: tech-debt

#11966 Add ppc64le to binary release matrix for Linux
  .github/workflows/build.yml
Labels: build

#12021 chore(website): nvmrc 16
  website/.nvmrc
  website/README.md
Labels: website
