Repository hashicorp/packer, pull requests merged in 2023-09, with the labels that each got.

#12620 hcl2template: remove value validation for locals
  hcl2template/parser.go
Labels: backport/1.9.x

#12555 register ksyun plugin document
  website/data/plugins-manifest.json
Labels: docs, backport/website

#12626 Remove plugins on the integration framework
  website/data/plugins-manifest.json
Labels: docs, backport/website

#12546 Bump github.com/pierrec/lz4 to v4.1.18
  go.mod
  go.sum
  post-processor/compress/benchmark.go
  post-processor/compress/post-processor.go
  post-processor/compress/post-processor_test.go
Labels: tech-debt, backport/1.9.x
