Repository hashicorp/packer, pull requests merged in 2023-01, with the labels that each got.

#12203 Add PACKER_GITHUB_API_TOKEN to fix failures due to API rate limiting
  .github/workflows/acceptance-test.yml
Labels: tech-debt

#12197 Fix: Correct spelling mistakes within the README.md of the website project directory.
  website/README.md
Labels: docs

#12135 Introduce action-set-product-version for Packer
  .github/workflows/build.yml
  .release/ci.hcl
  Makefile
  scripts/version.sh
  version/VERSION
  version/version.go
Labels: tech-debt

#12210 Correct document issue in provisioner block doc
  website/content/docs/templates/hcl_templates/blocks/build/provisioner.mdx
Labels: docs, backport/website

#12214 Add HCP Ready label to Oracle plugin
  website/data/plugins-manifest.json
Labels: docs, backport/website

#12213 Unpin Outscale documentation version
  website/data/plugins-manifest.json
Labels: docs, backport/website

#12220 [document] `variables.mdx` - Correct content seems like copied from Terraform document
  website/content/docs/templates/hcl_templates/variables.mdx
Labels: docs, backport/website

#12225 docs: Update community-tools.mdx
  website/content/community-tools.mdx
Labels: website, docs, backport/website

#12235 Update ReadFromHCLBuildBlock to use the hcp_packer_registry.Description
  internal/hcp/registry/types.bucket.go
  internal/hcp/registry/types.bucket_test.go
Labels: bug, regression
