Repository hashicorp/packer, pull requests merged in 2023-10, with the labels that each got.

#12541 website: Add community maintained IPSW data source Packer plugin
  website/data/plugins-manifest.json
Labels: website, docs, backport/website

#12665 plugins: install SHA256SUM file with 0644 perms
  packer/plugin-getter/plugins.go
Labels: enhancement

#12673 Fix broken link to Consul's environment variables page
  website/content/docs/templates/hcl_templates/functions/contextual/consul.mdx
Labels: docs, backport/website

#12672 docs: amend HCL templates/functions docs
  website/content/docs/templates/hcl_templates/functions/index.mdx
Labels: backport/website
