Repository hashicorp/packer, pull requests merged in 2024-06, with the labels that each got.

#13016 refactor: remove deprecated InitializePluginVersion, replace with NewPluginVersion
  builder/file/version/version.go
  builder/null/version/version.go
  packer/plugin_discover_test.go
  post-processor/artifice/version/version.go
  post-processor/checksum/version/version.go
  post-processor/compress/version/version.go
  post-processor/manifest/version/version.go
  post-processor/shell-local/version/version.go
  provisioner/breakpoint/version/version.go
  provisioner/file/version/version.go
  provisioner/powershell/version/version.go
  provisioner/shell-local/version/version.go
  provisioner/shell/version/version.go
  provisioner/sleep/version/version.go
  provisioner/windows-restart/version/version.go
  provisioner/windows-shell/version/version.go
Labels: tech-debt

#12992 refactor: remove deprecated ioutil function
  post-processor/compress/benchmark.go
Labels: tech-debt

#13021 add missing return value when creating new XZ reader and writer
  post-processor/compress/benchmark.go
Labels: tech-debt

#13024 docs: add plugin loading spec documentation
  website/content/docs/plugins/creation/plugin-load-spec.mdx
  website/content/docs/plugins/index.mdx
  website/data/docs-nav-data.json
Labels: docs, backport/website, backport/1.11.x

#13044 docs: update init
  website/content/docs/commands/init.mdx
Labels: backport/website

#13043 docs: update ssh
  website/content/docs/communicators/ssh.mdx
Labels: docs, backport/website

#13049 docs: string templates
  website/content/docs/templates/hcl_templates/expressions.mdx
Labels: docs, backport/website

#13056 Document use of TMPDIR required for remote plugin installation
  website/content/docs/commands/plugins/install.mdx
  website/content/docs/configure.mdx
  website/content/docs/plugins/install.mdx
Labels: backport/website

#13059 HCP Packer Buckets: Change UpsertBucket to call GetBucket
  internal/hcp/api/mock_service.go
  internal/hcp/api/service_bucket.go
  internal/hcp/registry/types.bucket.go
  internal/hcp/registry/types.bucket_service_test.go
  internal/hcp/registry/types.bucket_test.go
Labels: backport/1.11.x

#13023 doc fix for unattended debian/ubuntu installer linkrot
  website/content/guides/automatic-operating-system-installs/preseed_ubuntu.mdx
Labels: docs, backport/website

#13081 Bump github.com/hashicorp/go-retryablehttp to address CVE-2024-6104
  go.mod
  go.sum
Labels: security, backport/1.11.x
