Repository hashicorp/packer, pull requests merged in 2024-01, with the labels that each got.

#12762 Fix Typo `make check-generate` -> `make generate-check`
  .github/CONTRIBUTING.md
Labels: docs

#12788 Remove migrated integrations from plugin manifest
  website/data/plugins-manifest.json
Labels: website, backport/website, backport/1.10.x

#12800 Update error messaging for HCP incompatible plugin builds
  command/build.go
  internal/hcp/registry/types.bucket.go
  internal/hcp/registry/types.version.go
Labels: enhancement, backport/1.10.x

#12797 Remove all external plugin docs
  website/data/plugins-manifest.json
Labels: docs, backport/website

#12809 website: update dependencies
  website/.husky/pre-commit
  website/.nvmrc
  website/Dockerfile
  website/README.md
  website/package-lock.json
  website/package.json
Labels: website, docs, backport/website

#12798 Update CHANGELOG
  CHANGELOG.md
Labels: docs, backport/1.10.x

#12818 Fix URL rewrite check error for DevDot portal
  website/content/docs/plugins/install-plugins.mdx
Labels: docs, backport/website

#12821 website: fix husky command
  website/.husky/pre-commit
  website/package-lock.json
  website/package.json
Labels: website, docs, backport/website

#12820 hcl2template: check bucket name at parse-time
  hcl2template/testdata/hcp_par/invalid_bucket.pkr.hcl
  hcl2template/testdata/hcp_par/long-description.pkr.hcl
  hcl2template/testdata/hcp_par/long_bucket.pkr.hcl
  hcl2template/testdata/hcp_par/ok_bucket.pkr.hcl
  hcl2template/testdata/hcp_par/short_bucket.pkr.hcl
  hcl2template/types.build.hcp_packer_registry.go
  hcl2template/types.build.hcp_packer_registry_test.go
  hcl2template/types.packer_config_test.go
Labels: enhancement, backport/1.10.x

#12825 Prepare Packer for 1.10.2 development
  version/version.go
Labels: docs
