Repository hashicorp/packer, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/packer, @chhaj5236, @paulmey, @taliesins, @XiaohanLiang, @remrain, @displague, @ctreatma, @stvnjacobs, @ChrisLundquist, @jasmingacic, @prydie, @owainlewis, @sean-, @YuSungDuk, @carlpett, @sieben, @mvaude, @jqueuniet, @fflorens, @brmzkw, @LKaemmerling, @m110, @gregorybrzeski, @ad-m, @shawnmssu, @GennadySpb, @alexanderKhaustov, @seukyaso, @marinsalinas, @bhcleek, @stevendborrelli, dongxiao.zzh@alibaba-inc.com, v.tolstov@selfip.ru, @falzm, @mcorbin, crunkleton@google.com, nelson@bennu.cl

CODEOWNERS:

* @hashicorp/packer

# builders

/builder/alicloud/                      @chhaj5236
/website/source/docs/builders/alicloud* @chhaj5236

/builder/azure/                      @paulmey
/website/source/docs/builders/azure* @paulmey

/builder/hyperv/                      @taliesins
/website/source/docs/builders/hyperv* @taliesins

/builder/jdcloud/                      @XiaohanLiang @remrain
/website/source/docs/builders/jdcloud* @XiaohanLiang @remrain

/builder/linode/                      @displague @ctreatma @stvnjacobs
/website/source/docs/builders/linode* @displague @ctreatma @stvnjacobs

/builder/lxc/                      @ChrisLundquist
/website/source/docs/builders/lxc* @ChrisLundquist

/builder/lxd/                      @ChrisLundquist
/website/source/docs/builders/lxd* @ChrisLundquist

/builder/oneandone/                      @jasmingacic
/website/source/docs/builders/oneandone* @jasmingacic

/builder/oracle/                      @prydie @owainlewis
/website/source/docs/builders/oracle* @prydie @owainlewis

/builder/profitbricks/                      @jasmingacic
/website/source/docs/builders/profitbricks* @jasmingacic

/builder/triton/                      @sean-
/website/source/docs/builders/triton* @sean-

/builder/ncloud/                      @YuSungDuk
/website/source/docs/builders/ncloud* @YuSungDuk

/builder/proxmox/                      @carlpett
/website/source/docs/builders/proxmox* @carlpett

/builder/scaleway/                      @sieben @mvaude @jqueuniet @fflorens @brmzkw
/website/source/docs/builders/scaleway* @sieben @mvaude @jqueuniet @fflorens @brmzkw

/builder/hcloud/                      @LKaemmerling
/website/source/docs/builders/hcloud* @LKaemmerling

/builder/hyperone/                      @m110 @gregorybrzeski @ad-m
/website/source/docs/builders/hyperone* @m110 @gregorybrzeski @ad-m

/builder/ucloud/                      @shawnmssu
/website/source/docs/builders/ucloud* @shawnmssu

/builder/yandex/                      @GennadySpb @alexanderKhaustov @seukyaso
/website/source/docs/builders/yandex* @GennadySpb @alexanderKhaustov @seukyaso

/builder/osc/                      @marinsalinas
/website/source/docs/builders/osc* @marinsalinas


# provisioners

/provisioner/ansible/                   @bhcleek
/provisioner/converge/                  @stevendborrelli

# post-processors

/post-processor/alicloud-import/        dongxiao.zzh@alibaba-inc.com
/post-processor/checksum/               v.tolstov@selfip.ru
/post-processor/exoscale-import/        @falzm @mcorbin
/post-processor/googlecompute-export/   crunkleton@google.com
/post-processor/vsphere-template/       nelson@bennu.cl
/post-processor/ucloud-import/          @shawnmssu

remove unecessary inexistant block panic + add test
  hcl2template/parser.go
  hcl2template/testdata/unknown/block_type.pkr.hcl
  hcl2template/types.packer_config_test.go
Owners: @hashicorp/packer

regroup duplicate error message
  hcl2template/types.build.go
Owners: @hashicorp/packer

regroup duplicate error message
  hcl2template/types.build.go
Owners: @hashicorp/packer

fix winrmpass sanitization to account for empty string value.
  provisioner/ansible/provisioner.go
Owners: @bhcleek

fix winrmpass sanitization to account for empty string value.
  provisioner/ansible/provisioner.go
Owners: @bhcleek

Make the path assignment less confusing
  config.go
Owners: @hashicorp/packer

Make the path assignment less confusing
  config.go
Owners: @hashicorp/packer

fix ssh interface docs for amazon builders
  builder/amazon/common/run_config.go
  website/source/docs/builders/amazon-ebssurrogate.html.md.erb
  website/source/docs/builders/amazon-ebsvolume.html.md.erb
  website/source/docs/builders/amazon-instance.html.md.erb
  website/source/partials/builder/amazon/common/_RunConfig-not-required.html.md
Owners: @hashicorp/packer

fix ssh interface docs for amazon builders
  builder/amazon/common/run_config.go
  website/source/docs/builders/amazon-ebssurrogate.html.md.erb
  website/source/docs/builders/amazon-ebsvolume.html.md.erb
  website/source/docs/builders/amazon-instance.html.md.erb
  website/source/partials/builder/amazon/common/_RunConfig-not-required.html.md
Owners: @hashicorp/packer

Fix names of range variables to reduce confusion and remove overriden plugin name
  config.go
Owners: @hashicorp/packer

Fix names of range variables to reduce confusion and remove overriden plugin name
  config.go
Owners: @hashicorp/packer

fix typo and regenerate code
  builder/amazon/common/run_config.go
  website/source/partials/builder/amazon/common/_RunConfig-not-required.html.md
Owners: @hashicorp/packer

fix typo and regenerate code
  builder/amazon/common/run_config.go
  website/source/partials/builder/amazon/common/_RunConfig-not-required.html.md
Owners: @hashicorp/packer

Use vm.MarkAsTemplate, optionally reregister
  post-processor/vsphere-template/post-processor.go
  post-processor/vsphere-template/post-processor.hcl2spec.go
  post-processor/vsphere-template/step_mark_as_template.go
Owners: nelson@bennu.cl

Use vm.MarkAsTemplate, optionally reregister
  post-processor/vsphere-template/post-processor.go
  post-processor/vsphere-template/post-processor.hcl2spec.go
  post-processor/vsphere-template/step_mark_as_template.go
Owners: nelson@bennu.cl

Doc update for markAsTemplate
  website/source/docs/post-processors/vsphere-template.html.md
Owners: @hashicorp/packer

Doc update for markAsTemplate
  website/source/docs/post-processors/vsphere-template.html.md
Owners: @hashicorp/packer

delete qmp socket path. Also, clean up unnecessary use of statebag to recieve step values.
  builder/qemu/builder.go
  builder/qemu/step_configure_qmp.go
Owners: @hashicorp/packer

Set expiry for image versions in SIG
  builder/azure/arm/builder.go
  builder/azure/arm/config.go
  builder/azure/arm/config.hcl2spec.go
  builder/azure/arm/step_publish_to_shared_image_gallery.go
  builder/azure/arm/step_publish_to_shared_image_gallery_test.go
  builder/azure/common/constants/stateBag.go
  go.mod
  website/source/partials/builder/azure/arm/_Config-not-required.html.md
Owners: @paulmey, @hashicorp/packer

Set expiry for image versions in SIG
  builder/azure/arm/builder.go
  builder/azure/arm/config.go
  builder/azure/arm/config.hcl2spec.go
  builder/azure/arm/step_publish_to_shared_image_gallery.go
  builder/azure/arm/step_publish_to_shared_image_gallery_test.go
  builder/azure/common/constants/stateBag.go
  go.mod
  website/source/partials/builder/azure/arm/_Config-not-required.html.md
Owners: @paulmey, @hashicorp/packer

Update the error handling for end-of-life-date parsing
  builder/azure/arm/step_publish_to_shared_image_gallery.go
Owners: @paulmey

Update the error handling for end-of-life-date parsing
  builder/azure/arm/step_publish_to_shared_image_gallery.go
Owners: @paulmey

fix typo
  fix/fixer_galaxy_command.go
Owners: @hashicorp/packer

Fix typo in Synopsis for galaxycommand fixer (#8573)
  fix/fixer_galaxy_command.go
Owners: @hashicorp/packer

Fix typo in Synopsis for galaxycommand fixer (#8573)
  fix/fixer_galaxy_command.go
Owners: @hashicorp/packer

docs/provisioners/ansible: Add playbook to basic example. (#8508)
  website/source/docs/provisioners/ansible.html.md.erb
Owners: @hashicorp/packer

docs/provisioners/ansible: Add playbook to basic example. (#8508)
  website/source/docs/provisioners/ansible.html.md.erb
Owners: @hashicorp/packer

delete qmp socket path. Also, clean up unnecessary use of statebag to recieve step values. (#8572)
  builder/qemu/builder.go
  builder/qemu/step_configure_qmp.go
Owners: @hashicorp/packer

delete qmp socket path. Also, clean up unnecessary use of statebag to recieve step values. (#8572)
  builder/qemu/builder.go
  builder/qemu/step_configure_qmp.go
Owners: @hashicorp/packer

mapstructure-to-hcl2: use accessor for named types and not named type + go genrate + tests
  builder/amazon/chroot/builder.hcl2spec.go
  builder/amazon/ebs/builder.hcl2spec.go
  builder/amazon/ebssurrogate/builder.hcl2spec.go
  builder/amazon/ebsvolume/builder.hcl2spec.go
  builder/amazon/instance/builder.hcl2spec.go
  builder/openstack/builder.hcl2spec.go
  builder/osc/bsu/builder.hcl2spec.go
  builder/osc/bsusurrogate/builder.hcl2spec.go
  builder/osc/bsuvolume/builder.hcl2spec.go
  builder/osc/chroot/builder.hcl2spec.go
  cmd/mapstructure-to-hcl2/mapstructure-to-hcl2.go
  packer/builder_mock.hcl2spec.go
Owners: @hashicorp/packer, @marinsalinas

mapstructure-to-hcl2: use accessor for named types and not named type + go genrate + tests
  builder/amazon/chroot/builder.hcl2spec.go
  builder/amazon/ebs/builder.hcl2spec.go
  builder/amazon/ebssurrogate/builder.hcl2spec.go
  builder/amazon/ebsvolume/builder.hcl2spec.go
  builder/amazon/instance/builder.hcl2spec.go
  builder/openstack/builder.hcl2spec.go
  builder/osc/bsu/builder.hcl2spec.go
  builder/osc/bsusurrogate/builder.hcl2spec.go
  builder/osc/bsuvolume/builder.hcl2spec.go
  builder/osc/chroot/builder.hcl2spec.go
  cmd/mapstructure-to-hcl2/mapstructure-to-hcl2.go
  packer/builder_mock.hcl2spec.go
Owners: @hashicorp/packer, @marinsalinas

log& skip field if struct tag parse did not work
  cmd/mapstructure-to-hcl2/mapstructure-to-hcl2.go
Owners: @hashicorp/packer

log& skip field if struct tag parse did not work
  cmd/mapstructure-to-hcl2/mapstructure-to-hcl2.go
Owners: @hashicorp/packer

hcl2template/mock.go: add fields with named types
  hcl2template/mock.go
Owners: @hashicorp/packer

hcl2template/mock.go: add fields with named types
  hcl2template/mock.go
Owners: @hashicorp/packer

mapstructure-to-hcl2: make basic named types pointers ( optional )
  builder/openstack/builder.hcl2spec.go
  cmd/mapstructure-to-hcl2/mapstructure-to-hcl2.go
  hcl2template/mock.hcl2spec.go
Owners: @hashicorp/packer

mapstructure-to-hcl2: make basic named types pointers ( optional )
  builder/openstack/builder.hcl2spec.go
  cmd/mapstructure-to-hcl2/mapstructure-to-hcl2.go
  hcl2template/mock.hcl2spec.go
Owners: @hashicorp/packer

virtualbox/vm.Builder: use config as a non pointer to avoid a panic
  builder/virtualbox/vm/builder.go
Owners: @hashicorp/packer

virtualbox/vm.Builder: use config as a non pointer to avoid a panic
  builder/virtualbox/vm/builder.go
Owners: @hashicorp/packer

bump the timeout to a very high level to protect against laggy CI machines
  builder/vmware/common/step_shutdown_test.go
Owners: @hashicorp/packer
