Repository hashicorp/packer, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/packer, @chhaj5236, @jen20, @boumenot, @taliesins, @ChrisLundquist, @jasmingacic, @prydie, @owainlewis, @sean-, @YuSungDuk, @sieben, @mvaude, @jqueuniet, @fflorens, @brmzkw, @LKaemmerling, @bhcleek, @stevendborrelli, dongxiao.zzh@alibaba-inc.com, v.tolstov@selfip.ru, crunkleton@google.com, nelson@bennu.cl

Replaced the previous incorrect logic with an re-implementation of common.ExpandUser.
  builder/oracle/oci/config.go
  common/config.go
  helper/communicator/config.go
  helper/communicator/step_connect_ssh.go
Owners: @prydie, @owainlewis, @hashicorp/packer

Changed the logic for when to actually prefix a path with a u.HomeDir so that it's only done when a non-absolute path is specified.
  builder/oracle/oci/config.go
  helper/communicator/config.go
Owners: @prydie, @owainlewis, @hashicorp/packer

Trying again one more time to prevent import cycles.. Moved common.ExpandUser into packer.ExpandUser..
  builder/oracle/oci/config.go
  common/config.go
  helper/communicator/config.go
  helper/communicator/step_connect_ssh.go
  packer/config_file.go
Owners: @prydie, @owainlewis, @hashicorp/packer

Trying again one more time to prevent import cycles.. Moved common.ExpandUser into packer.ExpandUser..
  builder/oracle/oci/config.go
  common/config.go
  helper/communicator/config.go
  helper/communicator/step_connect_ssh.go
  packer/config_file.go
Owners: @prydie, @owainlewis, @hashicorp/packer

Trying again one more time to prevent import cycles.. Moved common.ExpandUser into packer.ExpandUser..
  builder/oracle/oci/config.go
  common/config.go
  helper/communicator/config.go
  helper/communicator/step_connect_ssh.go
  packer/config_file.go
Owners: @prydie, @owainlewis, @hashicorp/packer

Revert "Removed mitchellh/go-homedir from vendor packages."
  vendor/github.com/mitchellh/go-homedir/LICENSE
  vendor/github.com/mitchellh/go-homedir/README.md
  vendor/github.com/mitchellh/go-homedir/homedir.go
  vendor/vendor.json
Owners: @hashicorp/packer

Revert "Removed mitchellh/go-homedir from vendor packages."
  vendor/github.com/mitchellh/go-homedir/LICENSE
  vendor/github.com/mitchellh/go-homedir/README.md
  vendor/github.com/mitchellh/go-homedir/homedir.go
  vendor/vendor.json
Owners: @hashicorp/packer

gofmt using v1.11.2 instead of disro's outdated v1.10.5.
  helper/communicator/step_connect_ssh.go
Owners: @hashicorp/packer

Revert "Removed mitchellh/go-homedir from vendor packages."
  vendor/github.com/mitchellh/go-homedir/LICENSE
  vendor/github.com/mitchellh/go-homedir/README.md
  vendor/github.com/mitchellh/go-homedir/homedir.go
  vendor/vendor.json
Owners: @hashicorp/packer

gofmt using v1.11.2 instead of disro's outdated v1.10.5.
  helper/communicator/step_connect_ssh.go
Owners: @hashicorp/packer

Added tests for packer.ExpandUser in packer/config_file_test.go.
  packer/config_file_test.go
Owners: @hashicorp/packer

Added tests for packer.ExpandUser in packer/config_file_test.go.
  packer/config_file_test.go
Owners: @hashicorp/packer

gofmt using v1.11.2 instead of disro's outdated v1.10.5.
  helper/communicator/step_connect_ssh.go
Owners: @hashicorp/packer

Added tests for packer.ExpandUser in packer/config_file_test.go.
  packer/config_file_test.go
Owners: @hashicorp/packer

sort changelog
  CHANGELOG.md
Owners: @hashicorp/packer

sort changelog
  CHANGELOG.md
Owners: @hashicorp/packer

sort changelog
  CHANGELOG.md
Owners: @hashicorp/packer

Updated docker's default config to use regular bourne shell instead of bourne again. Closes #6920.
  builder/docker/config.go
Owners: @hashicorp/packer

Updated docker's default config to use regular bourne shell instead of bourne again. Closes #6920.
  builder/docker/config.go
Owners: @hashicorp/packer

Updated docker's default config to use regular bourne shell instead of bourne again. Closes #6920.
  builder/docker/config.go
Owners: @hashicorp/packer

support -force option and update docs
  builder/alicloud/ecs/builder.go
  builder/alicloud/ecs/step_delete_images_snapshots.go
  website/source/docs/builders/alicloud-ecs.html.md
Owners: @chhaj5236, @hashicorp/packer

support -force option and update docs
  builder/alicloud/ecs/builder.go
  builder/alicloud/ecs/step_delete_images_snapshots.go
  website/source/docs/builders/alicloud-ecs.html.md
Owners: @chhaj5236, @hashicorp/packer

support -force option and update docs
  builder/alicloud/ecs/builder.go
  builder/alicloud/ecs/step_delete_images_snapshots.go
  website/source/docs/builders/alicloud-ecs.html.md
Owners: @chhaj5236, @hashicorp/packer

Modified the docker builder's default run_command to specify the shell via the entrypoint command line argument as suggested by @vrubiolo in #6920.
  builder/docker/config.go
Owners: @hashicorp/packer

Modified the docker builder's default run_command to specify the shell via the entrypoint command line argument as suggested by @vrubiolo in #6920.
  builder/docker/config.go
Owners: @hashicorp/packer

Modified the docker builder's default run_command to specify the shell via the entrypoint command line argument as suggested by @vrubiolo in #6920.
  builder/docker/config.go
Owners: @hashicorp/packer

Ignore an already-scheduled reboot
  provisioner/windows-restart/provisioner.go
Owners: @hashicorp/packer

Ignore an already-scheduled reboot
  provisioner/windows-restart/provisioner.go
Owners: @hashicorp/packer

Ignore an already-scheduled reboot
  provisioner/windows-restart/provisioner.go
Owners: @hashicorp/packer

update changelog
  CHANGELOG.md
Owners: @hashicorp/packer

update changelog
  CHANGELOG.md
Owners: @hashicorp/packer

update changelog
  CHANGELOG.md
Owners: @hashicorp/packer

update to version 1.3.3
  version/version.go
  website/config.rb
Owners: @hashicorp/packer

update to version 1.3.3
  version/version.go
  website/config.rb
Owners: @hashicorp/packer

update to version 1.3.3
  version/version.go
  website/config.rb
Owners: @hashicorp/packer

update to v1.3.4-dev
  version/version.go
Owners: @hashicorp/packer

update to v1.3.4-dev
  version/version.go
Owners: @hashicorp/packer

update to v1.3.4-dev
  version/version.go
Owners: @hashicorp/packer

Fixed misspelling in a comment residing in packer/config_file.go as suggested by @azr.
  packer/config_file.go
Owners: @hashicorp/packer

Fixed misspelling in a comment residing in packer/config_file.go as suggested by @azr.
  packer/config_file.go
Owners: @hashicorp/packer

CODEOWNERS:

* @hashicorp/packer

# builders

/builder/alicloud/                      @chhaj5236
/builder/amazon/ebssurrogate/           @jen20
/builder/amazon/ebsvolume/              @jen20
/builder/azure/                         @boumenot
/builder/hyperv/                        @taliesins
/builder/lxc/                           @ChrisLundquist
/builder/lxd/                           @ChrisLundquist
/builder/oneandone/                     @jasmingacic
/builder/oracle/                        @prydie @owainlewis
/builder/profitbricks/                  @jasmingacic
/builder/triton/                        @jen20 @sean-
/builder/ncloud/                        @YuSungDuk
/builder/scaleway/                      @sieben @mvaude @jqueuniet @fflorens @brmzkw
/builder/hcloud/                        @LKaemmerling

# provisioners

/provisioner/ansible/                   @bhcleek
/provisioner/converge/                  @stevendborrelli

# post-processors
/post-processor/alicloud-import/        dongxiao.zzh@alibaba-inc.com
/post-processor/checksum/               v.tolstov@selfip.ru
/post-processor/googlecompute-export/   crunkleton@google.com
/post-processor/vsphere-template/       nelson@bennu.cl
