Repository hashicorp/packer, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/packer, @chhaj5236, @jen20, @boumenot, @taliesins, @ChrisLundquist, @jasmingacic, @prydie, @owainlewis, @sean-, @YuSungDuk, @sieben, @mvaude, @jqueuniet, @fflorens, @brmzkw, @LKaemmerling, @bhcleek, @stevendborrelli, dongxiao.zzh@alibaba-inc.com, v.tolstov@selfip.ru, crunkleton@google.com, nelson@bennu.cl

Fix/add tests
  packer/provisioner_mock.go
  provisioner/elevated_test.go
  provisioner/powershell/provisioner_test.go
Owners: @hashicorp/packer

Fix/add tests
  packer/provisioner_mock.go
  provisioner/elevated_test.go
  provisioner/powershell/provisioner_test.go
Owners: @hashicorp/packer

make packer inspect not print sensitive variables.
  command/inspect.go
Owners: @hashicorp/packer

make packer inspect not print sensitive variables.
  command/inspect.go
Owners: @hashicorp/packer

make packer inspect not print sensitive variables.
  command/inspect.go
Owners: @hashicorp/packer

Document how to pass spaces in `puppet_bin_dir`
  website/source/docs/provisioners/puppet-masterless.html.md
  website/source/docs/provisioners/puppet-server.html.md
Owners: @hashicorp/packer

Document how to pass spaces in `puppet_bin_dir`
  website/source/docs/provisioners/puppet-masterless.html.md
  website/source/docs/provisioners/puppet-server.html.md
Owners: @hashicorp/packer

Document how to pass spaces in `puppet_bin_dir`
  website/source/docs/provisioners/puppet-masterless.html.md
  website/source/docs/provisioners/puppet-server.html.md
Owners: @hashicorp/packer

Moved the entrypoint argument for the docker builder in front of the image so it's passed correctly as an argument.
  builder/docker/config.go
Owners: @hashicorp/packer

Moved the entrypoint argument for the docker builder in front of the image so it's passed correctly as an argument.
  builder/docker/config.go
Owners: @hashicorp/packer

Moved the entrypoint argument for the docker builder in front of the image so it's passed correctly as an argument.
  builder/docker/config.go
Owners: @hashicorp/packer

Tiny fix to replace some duplicate code with usage of the `halt` closure in the StepCloneVMX step for the vmware-vmx builder.
  builder/vmware/vmx/step_clone_vmx.go
Owners: @hashicorp/packer

Tiny fix to replace some duplicate code with usage of the `halt` closure in the StepCloneVMX step for the vmware-vmx builder.
  builder/vmware/vmx/step_clone_vmx.go
Owners: @hashicorp/packer

Tiny fix to replace some duplicate code with usage of the `halt` closure in the StepCloneVMX step for the vmware-vmx builder.
  builder/vmware/vmx/step_clone_vmx.go
Owners: @hashicorp/packer

fix virtualbox 6.0 beta command options
  builder/virtualbox/common/driver_4_2.go
Owners: @hashicorp/packer

fix virtualbox 6.0 beta command options
  builder/virtualbox/common/driver_4_2.go
Owners: @hashicorp/packer

fix virtualbox 6.0 beta command options
  builder/virtualbox/common/driver_4_2.go
Owners: @hashicorp/packer

Don't run StepCleanupTempKeys when communicator is set to none
  common/step_cleanup_temp_keys.go
Owners: @hashicorp/packer

Don't run StepCleanupTempKeys when communicator is set to none
  common/step_cleanup_temp_keys.go
Owners: @hashicorp/packer

Don't run StepCleanupTempKeys when communicator is set to none
  common/step_cleanup_temp_keys.go
Owners: @hashicorp/packer

ADD: Ability to use empty image
  builder/scaleway/step_create_server.go
Owners: @sieben, @mvaude, @jqueuniet, @fflorens, @brmzkw

Update documentation
  website/source/docs/builders/scaleway.html.md
Owners: @hashicorp/packer

go mod verify & go get github.com/hetznercloud/hcloud-go
  go.mod
  go.sum
Owners: @hashicorp/packer

go mod verify & go get github.com/hetznercloud/hcloud-go
  go.mod
  go.sum
Owners: @hashicorp/packer

go mod verify & go get github.com/hetznercloud/hcloud-go
  go.mod
  go.sum
Owners: @hashicorp/packer

Fixup snapshotting
  builder/scaleway/step_create_image.go
Owners: @sieben, @mvaude, @jqueuniet, @fflorens, @brmzkw

Better fix for #7095
  common/step_cleanup_temp_keys.go
Owners: @hashicorp/packer

Better fix for #7095
  common/step_cleanup_temp_keys.go
Owners: @hashicorp/packer

Better fix for #7095
  common/step_cleanup_temp_keys.go
Owners: @hashicorp/packer

Check that the KMS key ID is valid
  builder/amazon/common/ami_config.go
  builder/amazon/common/ami_config_test.go
Owners: @hashicorp/packer

Check that the KMS key ID is valid
  builder/amazon/common/ami_config.go
  builder/amazon/common/ami_config_test.go
Owners: @hashicorp/packer

Check that the KMS key ID is valid
  builder/amazon/common/ami_config.go
  builder/amazon/common/ami_config_test.go
Owners: @hashicorp/packer

Add tmp package that offers Dir & File funcs
  builder/amazon/chroot/communicator.go
  builder/docker/step_temp_dir.go
  builder/docker/step_temp_dir_test.go
  builder/hyperv/common/step_create_build_dir.go
  builder/hyperv/common/step_create_build_dir_test.go
  builder/hyperv/common/step_mount_floppydrive.go
  builder/hyperv/iso/builder_test.go
  builder/lxc/communicator.go
  builder/openstack/step_key_pair.go
  builder/parallels/common/driver_9.go
  builder/virtualbox/common/step_attach_floppy.go
  builder/virtualbox/common/step_download_guest_additions.go
  builder/vmware/iso/step_create_vmx.go
  builder/vmware/iso/step_create_vmx_test.go
  builder/vmware/vmx/step_clone_vmx.go
  common/powershell/powershell.go
  common/shell-local/run.go
  common/step_create_floppy.go
  communicator/ssh/communicator.go
  helper/communicator/testing.go
  main.go
  packer/cache_test.go
  packer/config_file.go
  packer/plugin/server.go
  packer/tmp/tmp.go
  post-processor/vagrant/post-processor.go
  post-processor/vagrant/virtualbox_test.go
  provisioner/ansible-local/provisioner.go
  provisioner/ansible/provisioner.go
  provisioner/ansible/scp.go
  provisioner/powershell/provisioner.go
  provisioner/shell/provisioner.go
  provisioner/windows-shell/provisioner.go
  template/parse.go
  website/source/docs/builders/docker.html.md
  website/source/docs/other/environment-variables.html.md
Owners: @hashicorp/packer, @taliesins, @ChrisLundquist, @bhcleek

Add tmp package that offers Dir & File funcs
  builder/amazon/chroot/communicator.go
  builder/docker/step_temp_dir.go
  builder/docker/step_temp_dir_test.go
  builder/hyperv/common/step_create_build_dir.go
  builder/hyperv/common/step_create_build_dir_test.go
  builder/hyperv/common/step_mount_floppydrive.go
  builder/hyperv/iso/builder_test.go
  builder/lxc/communicator.go
  builder/openstack/step_key_pair.go
  builder/parallels/common/driver_9.go
  builder/virtualbox/common/step_attach_floppy.go
  builder/virtualbox/common/step_download_guest_additions.go
  builder/vmware/iso/step_create_vmx.go
  builder/vmware/iso/step_create_vmx_test.go
  builder/vmware/vmx/step_clone_vmx.go
  common/powershell/powershell.go
  common/shell-local/run.go
  common/step_create_floppy.go
  communicator/ssh/communicator.go
  helper/communicator/testing.go
  main.go
  packer/cache_test.go
  packer/config_file.go
  packer/plugin/server.go
  packer/tmp/tmp.go
  post-processor/vagrant/post-processor.go
  post-processor/vagrant/virtualbox_test.go
  provisioner/ansible-local/provisioner.go
  provisioner/ansible/provisioner.go
  provisioner/ansible/scp.go
  provisioner/powershell/provisioner.go
  provisioner/shell/provisioner.go
  provisioner/windows-shell/provisioner.go
  template/parse.go
  website/source/docs/builders/docker.html.md
  website/source/docs/other/environment-variables.html.md
Owners: @hashicorp/packer, @taliesins, @ChrisLundquist, @bhcleek

Add tmp package that offers Dir & File funcs
  builder/amazon/chroot/communicator.go
  builder/docker/step_temp_dir.go
  builder/docker/step_temp_dir_test.go
  builder/hyperv/common/step_create_build_dir.go
  builder/hyperv/common/step_create_build_dir_test.go
  builder/hyperv/common/step_mount_floppydrive.go
  builder/hyperv/iso/builder_test.go
  builder/lxc/communicator.go
  builder/openstack/step_key_pair.go
  builder/parallels/common/driver_9.go
  builder/virtualbox/common/step_attach_floppy.go
  builder/virtualbox/common/step_download_guest_additions.go
  builder/vmware/iso/step_create_vmx.go
  builder/vmware/iso/step_create_vmx_test.go
  builder/vmware/vmx/step_clone_vmx.go
  common/powershell/powershell.go
  common/shell-local/run.go
  common/step_create_floppy.go
  communicator/ssh/communicator.go
  helper/communicator/testing.go
  main.go
  packer/cache_test.go
  packer/config_file.go
  packer/plugin/server.go
  packer/tmp/tmp.go
  post-processor/vagrant/post-processor.go
  post-processor/vagrant/virtualbox_test.go
  provisioner/ansible-local/provisioner.go
  provisioner/ansible/provisioner.go
  provisioner/ansible/scp.go
  provisioner/powershell/provisioner.go
  provisioner/shell/provisioner.go
  provisioner/windows-shell/provisioner.go
  template/parse.go
  website/source/docs/builders/docker.html.md
  website/source/docs/other/environment-variables.html.md
Owners: @hashicorp/packer, @taliesins, @ChrisLundquist, @bhcleek

remove any reference to TMPDIR_SUFFIX. Using system tempdir is enough
  packer/tmp/tmp.go
  website/source/docs/other/environment-variables.html.md
Owners: @hashicorp/packer

remove any reference to TMPDIR_SUFFIX. Using system tempdir is enough
  packer/tmp/tmp.go
  website/source/docs/other/environment-variables.html.md
Owners: @hashicorp/packer

remove any reference to TMPDIR_SUFFIX. Using system tempdir is enough
  packer/tmp/tmp.go
  website/source/docs/other/environment-variables.html.md
Owners: @hashicorp/packer

be clearer in docker docs on TMP dirs
  website/source/docs/builders/docker.html.md
Owners: @hashicorp/packer

be clearer in docker docs on TMP dirs
  website/source/docs/builders/docker.html.md
Owners: @hashicorp/packer

CODEOWNERS:

* @hashicorp/packer

# builders

/builder/alicloud/                      @chhaj5236
/builder/amazon/ebssurrogate/           @jen20
/builder/amazon/ebsvolume/              @jen20
/builder/azure/                         @boumenot
/builder/hyperv/                        @taliesins
/builder/lxc/                           @ChrisLundquist
/builder/lxd/                           @ChrisLundquist
/builder/oneandone/                     @jasmingacic
/builder/oracle/                        @prydie @owainlewis
/builder/profitbricks/                  @jasmingacic
/builder/triton/                        @jen20 @sean-
/builder/ncloud/                        @YuSungDuk
/builder/scaleway/                      @sieben @mvaude @jqueuniet @fflorens @brmzkw
/builder/hcloud/                        @LKaemmerling

# provisioners

/provisioner/ansible/                   @bhcleek
/provisioner/converge/                  @stevendborrelli

# post-processors
/post-processor/alicloud-import/        dongxiao.zzh@alibaba-inc.com
/post-processor/checksum/               v.tolstov@selfip.ru
/post-processor/googlecompute-export/   crunkleton@google.com
/post-processor/vsphere-template/       nelson@bennu.cl
