Repository hashicorp/packer, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/packer, @chhaj5236, @paulmey, @taliesins, @XiaohanLiang, @remrain, @displague, @ctreatma, @stvnjacobs, @ChrisLundquist, @jasmingacic, @prydie, @owainlewis, @sean-, @YuSungDuk, @carlpett, @sieben, @mvaude, @jqueuniet, @fflorens, @brmzkw, @LKaemmerling, @m110, @gregorybrzeski, @ad-m, @shawnmssu, @GennadySpb, @alexanderKhaustov, @seukyaso, @marinsalinas, @bhcleek, @stevendborrelli, dongxiao.zzh@alibaba-inc.com, v.tolstov@selfip.ru, @falzm, @mcorbin, crunkleton@google.com, nelson@bennu.cl

CODEOWNERS:

* @hashicorp/packer

# builders

/builder/alicloud/                      @chhaj5236
/website/source/docs/builders/alicloud* @chhaj5236

/builder/azure/                      @paulmey
/website/source/docs/builders/azure* @paulmey

/builder/hyperv/                      @taliesins
/website/source/docs/builders/hyperv* @taliesins

/builder/jdcloud/                      @XiaohanLiang @remrain
/website/source/docs/builders/jdcloud* @XiaohanLiang @remrain

/builder/linode/                      @displague @ctreatma @stvnjacobs
/website/source/docs/builders/linode* @displague @ctreatma @stvnjacobs

/builder/lxc/                      @ChrisLundquist
/website/source/docs/builders/lxc* @ChrisLundquist

/builder/lxd/                      @ChrisLundquist
/website/source/docs/builders/lxd* @ChrisLundquist

/builder/oneandone/                      @jasmingacic
/website/source/docs/builders/oneandone* @jasmingacic

/builder/oracle/                      @prydie @owainlewis
/website/source/docs/builders/oracle* @prydie @owainlewis

/builder/profitbricks/                      @jasmingacic
/website/source/docs/builders/profitbricks* @jasmingacic

/builder/triton/                      @sean-
/website/source/docs/builders/triton* @sean-

/builder/ncloud/                      @YuSungDuk
/website/source/docs/builders/ncloud* @YuSungDuk

/builder/proxmox/                      @carlpett
/website/source/docs/builders/proxmox* @carlpett

/builder/scaleway/                      @sieben @mvaude @jqueuniet @fflorens @brmzkw
/website/source/docs/builders/scaleway* @sieben @mvaude @jqueuniet @fflorens @brmzkw

/builder/hcloud/                      @LKaemmerling
/website/source/docs/builders/hcloud* @LKaemmerling

/builder/hyperone/                      @m110 @gregorybrzeski @ad-m
/website/source/docs/builders/hyperone* @m110 @gregorybrzeski @ad-m

/builder/ucloud/                      @shawnmssu
/website/source/docs/builders/ucloud* @shawnmssu

/builder/yandex/                      @GennadySpb @alexanderKhaustov @seukyaso
/website/source/docs/builders/yandex* @GennadySpb @alexanderKhaustov @seukyaso

/builder/osc/                      @marinsalinas
/website/source/docs/builders/osc* @marinsalinas


# provisioners

/provisioner/ansible/                   @bhcleek
/provisioner/converge/                  @stevendborrelli

# post-processors

/post-processor/alicloud-import/        dongxiao.zzh@alibaba-inc.com
/post-processor/checksum/               v.tolstov@selfip.ru
/post-processor/exoscale-import/        @falzm @mcorbin
/post-processor/googlecompute-export/   crunkleton@google.com
/post-processor/vsphere-template/       nelson@bennu.cl
/post-processor/ucloud-import/          @shawnmssu

builder/amazon: AmiFilterOptions.GetOwners: avoid taking the address of a loop iterator var (#8417)
  builder/amazon/common/run_config.go
Owners: @hashicorp/packer

removed escape character check, updated synopsis string, change type to 'ansbile-local' only
  fix/fixer_galaxy_command.go
  fix/fixer_galaxy_command_test.go
Owners: @hashicorp/packer

removed escape character check, updated synopsis string, change type to 'ansbile-local' only
  fix/fixer_galaxy_command.go
  fix/fixer_galaxy_command_test.go
Owners: @hashicorp/packer

Fix request retry mechanism to run aws instance
  builder/amazon/common/step_run_source_instance.go
Owners: @hashicorp/packer

Fix request retry mechanism to run aws instance
  builder/amazon/common/step_run_source_instance.go
Owners: @hashicorp/packer

in vagrant post processor, test whethter the host system is able to create a vagrant box correctly
  post-processor/vagrant/post-processor.go
Owners: @hashicorp/packer

fmt
  post-processor/vagrant/post-processor.go
Owners: @hashicorp/packer

move place whether dummy box creation happens'
  post-processor/vagrant/post-processor.go
Owners: @hashicorp/packer

Added mutex to synchronize map access across threads.
  builder/amazon/ebssurrogate/step_snapshot_volumes.go
Owners: @hashicorp/packer

Fixed the formatting for one of the examples.
  website/source/docs/commands/console.html.md
Owners: @hashicorp/packer

Update sidebar + remove cruft for WinRM page
  website/source/docs/communicators/winrm.html.md
Owners: @hashicorp/packer

Update sidebar + remove cruft for WinRM page
  website/source/docs/communicators/winrm.html.md
Owners: @hashicorp/packer

Fix bad header indentation
  website/source/docs/provisioners/puppet-server.html.md.erb
Owners: @hashicorp/packer

Remove 5 sec sleep after adding iam instance profile
  builder/amazon/common/step_iam_instance_profile.go
Owners: @hashicorp/packer

Remove 5 sec sleep after adding iam instance profile
  builder/amazon/common/step_iam_instance_profile.go
Owners: @hashicorp/packer

Organize imports
  builder/amazon/common/step_iam_instance_profile.go
Owners: @hashicorp/packer

Organize imports
  builder/amazon/common/step_iam_instance_profile.go
Owners: @hashicorp/packer

Fix bad header indentation (#8435)
  website/source/docs/provisioners/puppet-server.html.md.erb
Owners: @hashicorp/packer

Fix bad header indentation (#8435)
  website/source/docs/provisioners/puppet-server.html.md.erb
Owners: @hashicorp/packer

Fixed the formatting for one of the examples. (#8433)
  website/source/docs/commands/console.html.md
Owners: @hashicorp/packer

Fixed the formatting for one of the examples. (#8433)
  website/source/docs/commands/console.html.md
Owners: @hashicorp/packer

Added support for specifying Service Account in Google Compute exporter post-processor. (#8388)
  post-processor/googlecompute-export/post-processor.go
Owners: crunkleton@google.com

Added support for specifying Service Account in Google Compute exporter post-processor. (#8388)
  post-processor/googlecompute-export/post-processor.go
Owners: crunkleton@google.com

go generate for the google compute export post processor after #8388
  post-processor/googlecompute-export/post-processor.hcl2spec.go
Owners: crunkleton@google.com

go generate for the google compute export post processor after #8388
  post-processor/googlecompute-export/post-processor.hcl2spec.go
Owners: crunkleton@google.com

Update LXD directory upload command (#8416)
  builder/lxd/communicator.go
Owners: @ChrisLundquist

Update LXD directory upload command (#8416)
  builder/lxd/communicator.go
Owners: @ChrisLundquist

builder/azure/common/template: remove unused TemplateBuilder.getResourceByType2() (#8419)
  builder/azure/common/template/template_builder.go
Owners: @paulmey

builder/azure/common/template: remove unused TemplateBuilder.getResourceByType2() (#8419)
  builder/azure/common/template/template_builder.go
Owners: @paulmey

Drop the iso_checksum_type & iso_checksum_url fields
  builder/hyperv/iso/builder.go
  builder/hyperv/iso/builder.hcl2spec.go
  builder/hyperv/iso/builder_test.go
  builder/hyperv/vmcx/builder.go
  builder/hyperv/vmcx/builder.hcl2spec.go
  builder/hyperv/vmcx/builder_test.go
  builder/parallels/iso/builder.go
  builder/parallels/iso/builder.hcl2spec.go
  builder/parallels/iso/builder_test.go
  builder/qemu/builder.go
  builder/qemu/builder.hcl2spec.go
  builder/qemu/builder_test.go
  builder/vagrant/builder.go
  builder/vagrant/builder.hcl2spec.go
  builder/virtualbox/common/step_download_guest_additions.go
  builder/virtualbox/iso/builder.go
  builder/virtualbox/iso/builder.hcl2spec.go
  builder/virtualbox/iso/builder_acc_test.go
  builder/virtualbox/iso/builder_test.go
  builder/virtualbox/ovf/builder.go
  builder/vmware/common/driver_esx5.go
  builder/vmware/common/remote_driver.go
  builder/vmware/common/remote_driver_mock.go
  builder/vmware/common/step_remote_upload.go
  builder/vmware/iso/builder.go
  builder/vmware/iso/builder_test.go
  builder/vmware/iso/config.hcl2spec.go
  builder/vmware/iso/step_create_vmx_test.go
  common/iso_config.go
  common/iso_config_test.go
  common/step_download.go
  common/step_download_test.go
  hcl2template/load_test.go
  hcl2template/parser_test.go
  hcl2template/testdata/sources/basic.pkr.hcl
  website/source/partials/common/_ISOConfig-not-required.html.md
  website/source/partials/common/_ISOConfig-required.html.md
  website/source/partials/common/_ISOConfig.html.md
Owners: @taliesins, @hashicorp/packer

Converted Mutex to RWMutex and added read locking
  builder/amazon/ebssurrogate/step_snapshot_volumes.go
Owners: @hashicorp/packer

make sure we continue to default to Megabytes for qemu disk size to prevent backwards incompatabilities.
  builder/qemu/builder.go
  builder/qemu/builder_test.go
Owners: @hashicorp/packer

make sure we continue to default to Megabytes for qemu disk size to prevent backwards incompatabilities.
  builder/qemu/builder.go
  builder/qemu/builder_test.go
Owners: @hashicorp/packer

clarify docs by removing unclear string
  builder/amazon/chroot/builder.go
  website/source/partials/builder/amazon/chroot/_Config-not-required.html.md
Owners: @hashicorp/packer

update docs
  builder/qemu/builder.go
  website/source/partials/builder/qemu/_Config-not-required.html.md
Owners: @hashicorp/packer

update docs
  builder/qemu/builder.go
  website/source/partials/builder/qemu/_Config-not-required.html.md
Owners: @hashicorp/packer

update changelog
  CHANGELOG.md
Owners: @hashicorp/packer

update changelog
  CHANGELOG.md
Owners: @hashicorp/packer

Revert "fix: persist default drive/device"
  builder/qemu/step_run.go
Owners: @hashicorp/packer

iam:GetInstanceProfile is now required
  website/source/docs/builders/amazon.html.md
Owners: @hashicorp/packer
