Repository hashicorp/packer, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/packer, @chhaj5236, @paulmey, @taliesins, @XiaohanLiang, @remrain, @displague, @ctreatma, @stvnjacobs, @ChrisLundquist, @jasmingacic, @prydie, @owainlewis, @sean-, @YuSungDuk, @carlpett, @sieben, @mvaude, @jqueuniet, @fflorens, @brmzkw, @LKaemmerling, @m110, @gregorybrzeski, @ad-m, @shawnmssu, @GennadySpb, @alexanderKhaustov, @seukyaso, @marinsalinas, @bhcleek, @stevendborrelli, dongxiao.zzh@alibaba-inc.com, v.tolstov@selfip.ru, @falzm, @mcorbin, crunkleton@google.com, nelson@bennu.cl

generated func now validates based on data provided in context, which needs to include the future values if it is to be interpolated properly.
  common/step_provision.go
  template/interpolate/funcs.go
Owners: @hashicorp/packer

decode data interface into generatedData
  packer/provisioner.go
Owners: @hashicorp/packer

decode data interface into generatedData
  packer/provisioner.go
Owners: @hashicorp/packer

pass struct of generated data into provision() call
  common/step_provision.go
  packer/plugin/provisioner.go
  packer/provisioner.go
  packer/provisioner_mock.go
  packer/provisioner_timeout.go
  packer/rpc/provisioner.go
  provisioner/ansible-local/provisioner.go
  provisioner/ansible/provisioner.go
  provisioner/breakpoint/provisioner.go
  provisioner/chef-client/provisioner.go
  provisioner/chef-solo/provisioner.go
  provisioner/converge/provisioner.go
  provisioner/file/provisioner.go
  provisioner/inspec/provisioner.go
  provisioner/powershell/provisioner.go
  provisioner/puppet-masterless/provisioner.go
  provisioner/puppet-server/provisioner.go
  provisioner/salt-masterless/provisioner.go
  provisioner/shell-local/provisioner.go
  provisioner/shell/provisioner.go
  provisioner/sleep/provisioner.go
  provisioner/windows-restart/provisioner.go
  provisioner/windows-shell/provisioner.go
Owners: @hashicorp/packer, @bhcleek, @stevendborrelli

stub out generated func for validation
  common/step_provision.go
  template/interpolate/funcs.go
Owners: @hashicorp/packer

fix tests
  packer/provisioner_test.go
  packer/rpc/provisioner_test.go
  provisioner/ansible-local/provisioner_test.go
  provisioner/ansible/provisioner_test.go
  provisioner/file/provisioner_test.go
  provisioner/powershell/provisioner.go
  provisioner/powershell/provisioner_test.go
  provisioner/puppet-masterless/provisioner_test.go
  provisioner/sleep/provisioner_test.go
  provisioner/windows-restart/provisioner_test.go
  provisioner/windows-shell/provisioner_test.go
  template/interpolate/funcs.go
  website/source/docs/extending/custom-provisioners.html.md
Owners: @hashicorp/packer, @bhcleek

fix tests
  packer/provisioner_test.go
  packer/rpc/provisioner_test.go
  provisioner/ansible-local/provisioner_test.go
  provisioner/ansible/provisioner_test.go
  provisioner/file/provisioner_test.go
  provisioner/powershell/provisioner.go
  provisioner/powershell/provisioner_test.go
  provisioner/puppet-masterless/provisioner_test.go
  provisioner/sleep/provisioner_test.go
  provisioner/windows-restart/provisioner_test.go
  provisioner/windows-shell/provisioner_test.go
  template/interpolate/funcs.go
  website/source/docs/extending/custom-provisioners.html.md
Owners: @hashicorp/packer, @bhcleek

Fix virtualbox-iso TestBuilderAcc_basic (#8481)
  builder/virtualbox/iso/builder_acc_test.go
  builder/virtualbox/iso/testdata/http/preseed.cfg
  builder/virtualbox/iso/testdata/minimal.json
Owners: @hashicorp/packer

Fix virtualbox-iso TestBuilderAcc_basic (#8481)
  builder/virtualbox/iso/builder_acc_test.go
  builder/virtualbox/iso/testdata/http/preseed.cfg
  builder/virtualbox/iso/testdata/minimal.json
Owners: @hashicorp/packer

Retry command execution when VM in virtualbox is already locked for a session
  builder/virtualbox/common/driver_4_2.go
Owners: @hashicorp/packer

Rename method and conidition to retry mechanism
  builder/virtualbox/common/driver_4_2.go
Owners: @hashicorp/packer

Add default value to post_shutdown_delay
  builder/virtualbox/common/driver_4_2.go
  builder/virtualbox/common/shutdown_config.go
  builder/virtualbox/common/shutdown_config_test.go
Owners: @hashicorp/packer

Update CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/packer

Move retry mechanism to VBoxManage method
  builder/virtualbox/common/driver_4_2.go
  builder/virtualbox/common/shutdown_config_test.go
Owners: @hashicorp/packer

Update CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/packer

Update CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/packer

Remove errant html comment
  website/source/docs/builders/azure-arm.html.md.erb
Owners: @paulmey

change all provision func signatures to use map[string]interface{}
  common/shell-local/config.go
  common/shell-local/run.go
  common/step_provision.go
  packer/plugin/provisioner.go
  packer/provisioner.go
  packer/provisioner_mock.go
  packer/provisioner_test.go
  packer/provisioner_timeout.go
  packer/rpc/provisioner.go
  packer/rpc/provisioner_test.go
  post-processor/shell-local/post-processor.go
  provisioner/ansible-local/provisioner.go
  provisioner/ansible-local/provisioner_test.go
  provisioner/ansible/provisioner.go
  provisioner/ansible/provisioner_test.go
  provisioner/breakpoint/provisioner.go
  provisioner/chef-client/provisioner.go
  provisioner/chef-solo/provisioner.go
  provisioner/converge/provisioner.go
  provisioner/file/provisioner.go
  provisioner/file/provisioner_test.go
  provisioner/inspec/provisioner.go
  provisioner/powershell/provisioner.go
  provisioner/powershell/provisioner_test.go
  provisioner/puppet-masterless/provisioner.go
  provisioner/puppet-masterless/provisioner_test.go
  provisioner/puppet-server/provisioner.go
  provisioner/salt-masterless/provisioner.go
  provisioner/shell-local/provisioner.go
  provisioner/shell/provisioner.go
  provisioner/sleep/provisioner.go
  provisioner/windows-restart/provisioner.go
  provisioner/windows-restart/provisioner_test.go
  provisioner/windows-shell/provisioner.go
  provisioner/windows-shell/provisioner_test.go
  template/interpolate/funcs.go
Owners: @hashicorp/packer, @bhcleek, @stevendborrelli

change all provision func signatures to use map[string]interface{}
  common/shell-local/config.go
  common/shell-local/run.go
  common/step_provision.go
  packer/plugin/provisioner.go
  packer/provisioner.go
  packer/provisioner_mock.go
  packer/provisioner_test.go
  packer/provisioner_timeout.go
  packer/rpc/provisioner.go
  packer/rpc/provisioner_test.go
  post-processor/shell-local/post-processor.go
  provisioner/ansible-local/provisioner.go
  provisioner/ansible-local/provisioner_test.go
  provisioner/ansible/provisioner.go
  provisioner/ansible/provisioner_test.go
  provisioner/breakpoint/provisioner.go
  provisioner/chef-client/provisioner.go
  provisioner/chef-solo/provisioner.go
  provisioner/converge/provisioner.go
  provisioner/file/provisioner.go
  provisioner/file/provisioner_test.go
  provisioner/inspec/provisioner.go
  provisioner/powershell/provisioner.go
  provisioner/powershell/provisioner_test.go
  provisioner/puppet-masterless/provisioner.go
  provisioner/puppet-masterless/provisioner_test.go
  provisioner/puppet-server/provisioner.go
  provisioner/salt-masterless/provisioner.go
  provisioner/shell-local/provisioner.go
  provisioner/shell/provisioner.go
  provisioner/sleep/provisioner.go
  provisioner/windows-restart/provisioner.go
  provisioner/windows-restart/provisioner_test.go
  provisioner/windows-shell/provisioner.go
  provisioner/windows-shell/provisioner_test.go
  template/interpolate/funcs.go
Owners: @hashicorp/packer, @bhcleek, @stevendborrelli

fix tests
  provisioner/sleep/provisioner_test.go
Owners: @hashicorp/packer

fix tests
  provisioner/sleep/provisioner_test.go
Owners: @hashicorp/packer

update all provisioners that used the winrmpassword tooling to use the new generateddata option
  builder/azure/arm/builder.go
  builder/azure/arm/step_save_winrm_password.go
  builder/openstack/step_get_password.go
  builder/osc/common/step_get_password.go
  common/shell-local/run.go
  provisioner/ansible/provisioner.go
  provisioner/chef-client/provisioner.go
  provisioner/powershell/provisioner.go
  provisioner/puppet-masterless/provisioner.go
  provisioner/puppet-server/provisioner.go
Owners: @paulmey, @hashicorp/packer, @marinsalinas, @bhcleek

update all provisioners that used the winrmpassword tooling to use the new generateddata option
  builder/azure/arm/builder.go
  builder/azure/arm/step_save_winrm_password.go
  builder/openstack/step_get_password.go
  builder/osc/common/step_get_password.go
  common/shell-local/run.go
  provisioner/ansible/provisioner.go
  provisioner/chef-client/provisioner.go
  provisioner/powershell/provisioner.go
  provisioner/puppet-masterless/provisioner.go
  provisioner/puppet-server/provisioner.go
Owners: @paulmey, @hashicorp/packer, @marinsalinas, @bhcleek

Remove errant html comment from source
  builder/azure/arm/config.go
Owners: @paulmey

make generate
  website/source/partials/builder/azure/arm/_Config-not-required.html.md
Owners: @hashicorp/packer

Simplify condition
  builder/virtualbox/common/driver_4_2.go
Owners: @hashicorp/packer

Retry command execution when VM session is locked (#8483)
  builder/virtualbox/common/driver_4_2.go
  builder/virtualbox/common/shutdown_config.go
  builder/virtualbox/common/shutdown_config_test.go
Owners: @hashicorp/packer

Retry command execution when VM session is locked (#8483)
  builder/virtualbox/common/driver_4_2.go
  builder/virtualbox/common/shutdown_config.go
  builder/virtualbox/common/shutdown_config_test.go
Owners: @hashicorp/packer

Remove duplicated retry mechanism when deleting VM ffrom virtual box
  builder/virtualbox/common/driver_4_2.go
Owners: @hashicorp/packer

docs/builder/azure-arm: Remove errant html comment (#8484)
  builder/azure/arm/config.go
  website/source/docs/builders/azure-arm.html.md.erb
  website/source/partials/builder/azure/arm/_Config-not-required.html.md
Owners: @paulmey, @hashicorp/packer

docs/builder/azure-arm: Remove errant html comment (#8484)
  builder/azure/arm/config.go
  website/source/docs/builders/azure-arm.html.md.erb
  website/source/partials/builder/azure/arm/_Config-not-required.html.md
Owners: @paulmey, @hashicorp/packer

Rather than using reflection to grab the whole SSH config, for now just use the config convenience functions to get the majority of needed values
  common/step_provision.go
Owners: @hashicorp/packer

Rather than using reflection to grab the whole SSH config, for now just use the config convenience functions to get the majority of needed values
  common/step_provision.go
Owners: @hashicorp/packer

implement ID and Type values in the provisioner template info sharing
  builder/alicloud/ecs/step_create_instance.go
  builder/amazon/common/step_run_source_instance.go
  builder/amazon/common/step_run_spot_instance.go
  builder/digitalocean/step_create_droplet.go
  builder/docker/step_run.go
  builder/googlecompute/step_create_instance.go
  builder/hcloud/step_create_server.go
  builder/hyperone/step_create_vm.go
  builder/hyperv/common/step_clone_vm.go
  builder/hyperv/common/step_create_vm.go
  builder/jdcloud/step_create_instance.go
  builder/linode/step_create_linode.go
  builder/ncloud/step_create_public_ip_instance.go
  builder/ncloud/step_create_server_instance.go
  builder/oneandone/step_create_server.go
  builder/openstack/step_run_source_server.go
  builder/osc/common/step_run_source_vm.go
  builder/parallels/common/step_run.go
  builder/profitbricks/step_create_server.go
  builder/proxmox/step_start_vm.go
  builder/scaleway/step_create_server.go
  builder/tencentcloud/cvm/step_run_instance.go
  builder/triton/step_create_source_machine.go
  builder/ucloud/uhost/step_create_instance.go
  builder/vagrant/step_up.go
  builder/virtualbox/common/step_run.go
  builder/vmware/common/step_run.go
  builder/yandex/step_create_instance.go
  common/step_provision.go
Owners: @chhaj5236, @hashicorp/packer, @LKaemmerling, @m110, @gregorybrzeski, @ad-m, @taliesins, @XiaohanLiang, @remrain, @displague, @ctreatma, @stvnjacobs, @YuSungDuk, @jasmingacic, @marinsalinas, @carlpett, @sieben, @mvaude, @jqueuniet, @fflorens, @brmzkw, @sean-, @shawnmssu, @GennadySpb, @alexanderKhaustov, @seukyaso

implement ID and Type values in the provisioner template info sharing
  builder/alicloud/ecs/step_create_instance.go
  builder/amazon/common/step_run_source_instance.go
  builder/amazon/common/step_run_spot_instance.go
  builder/digitalocean/step_create_droplet.go
  builder/docker/step_run.go
  builder/googlecompute/step_create_instance.go
  builder/hcloud/step_create_server.go
  builder/hyperone/step_create_vm.go
  builder/hyperv/common/step_clone_vm.go
  builder/hyperv/common/step_create_vm.go
  builder/jdcloud/step_create_instance.go
  builder/linode/step_create_linode.go
  builder/ncloud/step_create_public_ip_instance.go
  builder/ncloud/step_create_server_instance.go
  builder/oneandone/step_create_server.go
  builder/openstack/step_run_source_server.go
  builder/osc/common/step_run_source_vm.go
  builder/parallels/common/step_run.go
  builder/profitbricks/step_create_server.go
  builder/proxmox/step_start_vm.go
  builder/scaleway/step_create_server.go
  builder/tencentcloud/cvm/step_run_instance.go
  builder/triton/step_create_source_machine.go
  builder/ucloud/uhost/step_create_instance.go
  builder/vagrant/step_up.go
  builder/virtualbox/common/step_run.go
  builder/vmware/common/step_run.go
  builder/yandex/step_create_instance.go
  common/step_provision.go
Owners: @chhaj5236, @hashicorp/packer, @LKaemmerling, @m110, @gregorybrzeski, @ad-m, @taliesins, @XiaohanLiang, @remrain, @displague, @ctreatma, @stvnjacobs, @YuSungDuk, @jasmingacic, @marinsalinas, @carlpett, @sieben, @mvaude, @jqueuniet, @fflorens, @brmzkw, @sean-, @shawnmssu, @GennadySpb, @alexanderKhaustov, @seukyaso

template functioin to let Provisioners access PACKER_RUN_UUID
  common/step_provision.go
Owners: @hashicorp/packer

template functioin to let Provisioners access PACKER_RUN_UUID
  common/step_provision.go
Owners: @hashicorp/packer

store ssh public and private keys on shared info
  common/step_provision.go
Owners: @hashicorp/packer

store ssh public and private keys on shared info
  common/step_provision.go
Owners: @hashicorp/packer

punctuation
  template/interpolate/funcs.go
Owners: @hashicorp/packer

CODEOWNERS:

* @hashicorp/packer

# builders

/builder/alicloud/                      @chhaj5236
/website/source/docs/builders/alicloud* @chhaj5236

/builder/azure/                      @paulmey
/website/source/docs/builders/azure* @paulmey

/builder/hyperv/                      @taliesins
/website/source/docs/builders/hyperv* @taliesins

/builder/jdcloud/                      @XiaohanLiang @remrain
/website/source/docs/builders/jdcloud* @XiaohanLiang @remrain

/builder/linode/                      @displague @ctreatma @stvnjacobs
/website/source/docs/builders/linode* @displague @ctreatma @stvnjacobs

/builder/lxc/                      @ChrisLundquist
/website/source/docs/builders/lxc* @ChrisLundquist

/builder/lxd/                      @ChrisLundquist
/website/source/docs/builders/lxd* @ChrisLundquist

/builder/oneandone/                      @jasmingacic
/website/source/docs/builders/oneandone* @jasmingacic

/builder/oracle/                      @prydie @owainlewis
/website/source/docs/builders/oracle* @prydie @owainlewis

/builder/profitbricks/                      @jasmingacic
/website/source/docs/builders/profitbricks* @jasmingacic

/builder/triton/                      @sean-
/website/source/docs/builders/triton* @sean-

/builder/ncloud/                      @YuSungDuk
/website/source/docs/builders/ncloud* @YuSungDuk

/builder/proxmox/                      @carlpett
/website/source/docs/builders/proxmox* @carlpett

/builder/scaleway/                      @sieben @mvaude @jqueuniet @fflorens @brmzkw
/website/source/docs/builders/scaleway* @sieben @mvaude @jqueuniet @fflorens @brmzkw

/builder/hcloud/                      @LKaemmerling
/website/source/docs/builders/hcloud* @LKaemmerling

/builder/hyperone/                      @m110 @gregorybrzeski @ad-m
/website/source/docs/builders/hyperone* @m110 @gregorybrzeski @ad-m

/builder/ucloud/                      @shawnmssu
/website/source/docs/builders/ucloud* @shawnmssu

/builder/yandex/                      @GennadySpb @alexanderKhaustov @seukyaso
/website/source/docs/builders/yandex* @GennadySpb @alexanderKhaustov @seukyaso

/builder/osc/                      @marinsalinas
/website/source/docs/builders/osc* @marinsalinas


# provisioners

/provisioner/ansible/                   @bhcleek
/provisioner/converge/                  @stevendborrelli

# post-processors

/post-processor/alicloud-import/        dongxiao.zzh@alibaba-inc.com
/post-processor/checksum/               v.tolstov@selfip.ru
/post-processor/exoscale-import/        @falzm @mcorbin
/post-processor/googlecompute-export/   crunkleton@google.com
/post-processor/vsphere-template/       nelson@bennu.cl
/post-processor/ucloud-import/          @shawnmssu
