Repository hashicorp/packer, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/packer, @chhaj5236, @paulmey, @taliesins, @XiaohanLiang, @remrain, @displague, @ctreatma, @stvnjacobs, @ChrisLundquist, @jasmingacic, @prydie, @owainlewis, @sean-, @YuSungDuk, @carlpett, @sieben, @mvaude, @jqueuniet, @fflorens, @brmzkw, @LKaemmerling, @m110, @gregorybrzeski, @ad-m, @shawnmssu, @GennadySpb, @alexanderKhaustov, @seukyaso, @marinsalinas, @bhcleek, @stevendborrelli, dongxiao.zzh@alibaba-inc.com, v.tolstov@selfip.ru, @falzm, @mcorbin, crunkleton@google.com, nelson@bennu.cl

CODEOWNERS:

* @hashicorp/packer

# builders

/builder/alicloud/                      @chhaj5236
/website/source/docs/builders/alicloud* @chhaj5236

/builder/azure/                      @paulmey
/website/source/docs/builders/azure* @paulmey

/builder/hyperv/                      @taliesins
/website/source/docs/builders/hyperv* @taliesins

/builder/jdcloud/                      @XiaohanLiang @remrain
/website/source/docs/builders/jdcloud* @XiaohanLiang @remrain

/builder/linode/                      @displague @ctreatma @stvnjacobs
/website/source/docs/builders/linode* @displague @ctreatma @stvnjacobs

/builder/lxc/                      @ChrisLundquist
/website/source/docs/builders/lxc* @ChrisLundquist

/builder/lxd/                      @ChrisLundquist
/website/source/docs/builders/lxd* @ChrisLundquist

/builder/oneandone/                      @jasmingacic
/website/source/docs/builders/oneandone* @jasmingacic

/builder/oracle/                      @prydie @owainlewis
/website/source/docs/builders/oracle* @prydie @owainlewis

/builder/profitbricks/                      @jasmingacic
/website/source/docs/builders/profitbricks* @jasmingacic

/builder/triton/                      @sean-
/website/source/docs/builders/triton* @sean-

/builder/ncloud/                      @YuSungDuk
/website/source/docs/builders/ncloud* @YuSungDuk

/builder/proxmox/                      @carlpett
/website/source/docs/builders/proxmox* @carlpett

/builder/scaleway/                      @sieben @mvaude @jqueuniet @fflorens @brmzkw
/website/source/docs/builders/scaleway* @sieben @mvaude @jqueuniet @fflorens @brmzkw

/builder/hcloud/                      @LKaemmerling
/website/source/docs/builders/hcloud* @LKaemmerling

/builder/hyperone/                      @m110 @gregorybrzeski @ad-m
/website/source/docs/builders/hyperone* @m110 @gregorybrzeski @ad-m

/builder/ucloud/                      @shawnmssu
/website/source/docs/builders/ucloud* @shawnmssu

/builder/yandex/                      @GennadySpb @alexanderKhaustov @seukyaso
/website/source/docs/builders/yandex* @GennadySpb @alexanderKhaustov @seukyaso

/builder/osc/                      @marinsalinas
/website/source/docs/builders/osc* @marinsalinas


# provisioners

/provisioner/ansible/                   @bhcleek
/provisioner/converge/                  @stevendborrelli

# post-processors

/post-processor/alicloud-import/        dongxiao.zzh@alibaba-inc.com
/post-processor/checksum/               v.tolstov@selfip.ru
/post-processor/exoscale-import/        @falzm @mcorbin
/post-processor/googlecompute-export/   crunkleton@google.com
/post-processor/vsphere-template/       nelson@bennu.cl
/post-processor/ucloud-import/          @shawnmssu

Don't cache when TargetPath is non-nil; this messes up use of the iso_target_path iso template option.
  common/step_download.go
Owners: @hashicorp/packer

Don't cache when TargetPath is non-nil; this messes up use of the iso_target_path iso template option.
  common/step_download.go
Owners: @hashicorp/packer

pick up dropped error
  common/step_download.go
Owners: @hashicorp/packer

pick up dropped error
  common/step_download.go
Owners: @hashicorp/packer

amazon-ebssurrogate: allow enabling ena/sr-iov on spot instances
  builder/amazon/common/step_modify_ebs_instance.go
  builder/amazon/ebssurrogate/builder.go
Owners: @hashicorp/packer

amazon-ebssurrogate: allow enabling ena/sr-iov on spot instances
  builder/amazon/common/step_modify_ebs_instance.go
  builder/amazon/ebssurrogate/builder.go
Owners: @hashicorp/packer

make generate
  post-processor/docker-tag/post-processor.hcl2spec.go
Owners: @hashicorp/packer

ISOConfig: when checksumming from a file; allow using iso_checksum to refecense said file
  common/iso_config.go
Owners: @hashicorp/packer

F-8351: Changed stuct to accept array and tag each artifact
  post-processor/docker-tag/post-processor.go
Owners: @hashicorp/packer

8351: Added tests for multiple docker tags
  builder/docker/driver_mock.go
  post-processor/docker-tag/post-processor_test.go
Owners: @hashicorp/packer

enable no_ephemeral for spot devices, clean up ranging behavior, update docs
  builder/amazon/common/step_run_source_instance.go
  builder/amazon/common/step_run_spot_instance.go
  builder/amazon/ebs/builder.go
  website/source/partials/builder/amazon/ebs/_Config-not-required.html.md
Owners: @hashicorp/packer

enable no_ephemeral for spot devices, clean up ranging behavior, update docs
  builder/amazon/common/step_run_source_instance.go
  builder/amazon/common/step_run_spot_instance.go
  builder/amazon/ebs/builder.go
  website/source/partials/builder/amazon/ebs/_Config-not-required.html.md
Owners: @hashicorp/packer

send to step run spot instance
  builder/amazon/ebs/builder.go
Owners: @hashicorp/packer

send to step run spot instance
  builder/amazon/ebs/builder.go
Owners: @hashicorp/packer

add unique kms case to permissions docs
  website/source/docs/builders/amazon.html.md
Owners: @hashicorp/packer

add unique kms case to permissions docs
  website/source/docs/builders/amazon.html.md
Owners: @hashicorp/packer

add docs about efi mode
  website/source/docs/builders/virtualbox-iso.html.md.erb
Owners: @hashicorp/packer

use shell struct in shell-local provisioner and post-processor.
  common/shell-local/config.go
  common/shell-local/config.hcl2spec.go
  common/shell-local/run.go
  common/shell/shell.go
  provisioner/powershell/provisioner.go
  provisioner/powershell/provisioner.hcl2spec.go
  provisioner/shell/provisioner.go
  provisioner/shell/provisioner.hcl2spec.go
  provisioner/windows-shell/provisioner.go
  provisioner/windows-shell/provisioner.hcl2spec.go
  website/source/docs/post-processors/shell-local.html.md
  website/source/docs/provisioners/shell-local.html.md.erb
Owners: @hashicorp/packer

use shell struct in shell-local provisioner and post-processor.
  common/shell-local/config.go
  common/shell-local/config.hcl2spec.go
  common/shell-local/run.go
  common/shell/shell.go
  provisioner/powershell/provisioner.go
  provisioner/powershell/provisioner.hcl2spec.go
  provisioner/shell/provisioner.go
  provisioner/shell/provisioner.hcl2spec.go
  provisioner/windows-shell/provisioner.go
  provisioner/windows-shell/provisioner.hcl2spec.go
  website/source/docs/post-processors/shell-local.html.md
  website/source/docs/provisioners/shell-local.html.md.erb
Owners: @hashicorp/packer

add docs about efi mode (#8400)
  website/source/docs/builders/virtualbox-iso.html.md.erb
Owners: @hashicorp/packer

add docs about efi mode (#8400)
  website/source/docs/builders/virtualbox-iso.html.md.erb
Owners: @hashicorp/packer

post-processor/docker-tag: Allow to tag an artifact with multiple tags (#8392)
  builder/docker/driver_mock.go
  post-processor/docker-tag/post-processor.go
  post-processor/docker-tag/post-processor.hcl2spec.go
  post-processor/docker-tag/post-processor_test.go
Owners: @hashicorp/packer

post-processor/docker-tag: Allow to tag an artifact with multiple tags (#8392)
  builder/docker/driver_mock.go
  post-processor/docker-tag/post-processor.go
  post-processor/docker-tag/post-processor.hcl2spec.go
  post-processor/docker-tag/post-processor_test.go
Owners: @hashicorp/packer

update documentation docs
  builder/amazon/common/block_device.go
  website/source/partials/builder/amazon/common/_BlockDevice.html.md
Owners: @hashicorp/packer

amazon docs: update block-device-configuration docs (#8395)
  builder/amazon/common/block_device.go
  website/source/partials/builder/amazon/common/_BlockDevice.html.md
Owners: @hashicorp/packer

amazon docs: update block-device-configuration docs (#8395)
  builder/amazon/common/block_device.go
  website/source/partials/builder/amazon/common/_BlockDevice.html.md
Owners: @hashicorp/packer

rename galaxy_command to galaxycommand
  website/source/docs/provisioners/ansible-local.html.md.erb
Owners: @hashicorp/packer

rename galaxy_command to galaxycommand
  website/source/docs/provisioners/ansible-local.html.md.erb
Owners: @hashicorp/packer

remove the already-included packer config from top level struct
  common/shell-local/config.go
Owners: @hashicorp/packer

remove the already-included packer config from top level struct
  common/shell-local/config.go
Owners: @hashicorp/packer

change galaxycommand to galaxy_command and add fixer
  fix/fixer.go
  fix/fixer_galaxy_command.go
  fix/fixer_galaxy_command_test.go
  provisioner/ansible-local/provisioner.go
  provisioner/ansible-local/provisioner.hcl2spec.go
Owners: @hashicorp/packer

change galaxycommand to galaxy_command and add fixer
  fix/fixer.go
  fix/fixer_galaxy_command.go
  fix/fixer_galaxy_command_test.go
  provisioner/ansible-local/provisioner.go
  provisioner/ansible-local/provisioner.hcl2spec.go
Owners: @hashicorp/packer

reset ansible-local documentation to include galaxy_command
  fix/fixer.go
  provisioner/ansible-local/provisioner.go
  website/source/docs/provisioners/ansible-local.html.md.erb
Owners: @hashicorp/packer

reset ansible-local documentation to include galaxy_command
  fix/fixer.go
  provisioner/ansible-local/provisioner.go
  website/source/docs/provisioners/ansible-local.html.md.erb
Owners: @hashicorp/packer

builder/osc: fix ssh host detection in Public Cloud and Nets
  builder/osc/bsu/builder.go
  builder/osc/bsusurrogate/builder.go
  builder/osc/bsuvolume/builder.go
  builder/osc/common/ssh.go
  builder/osc/common/state.go
  builder/osc/common/step_public_ip.go
  builder/osc/common/step_run_source_vm.go
Owners: @marinsalinas

builder/osc: fix ssh host detection in Public Cloud and Nets
  builder/osc/bsu/builder.go
  builder/osc/bsusurrogate/builder.go
  builder/osc/bsuvolume/builder.go
  builder/osc/common/ssh.go
  builder/osc/common/state.go
  builder/osc/common/step_public_ip.go
  builder/osc/common/step_run_source_vm.go
Owners: @marinsalinas

Update LXD directory upload command
  builder/lxd/communicator.go
Owners: @ChrisLundquist

avoid taking the address of a loop iterator var
  builder/amazon/common/run_config.go
Owners: @hashicorp/packer

builder/azure/common/template: remove unused TemplateBuilder.getResourceByType2()
  builder/azure/common/template/template_builder.go
Owners: @paulmey

builder/amazon: AmiFilterOptions.GetOwners: avoid taking the address of a loop iterator var (#8417)
  builder/amazon/common/run_config.go
Owners: @hashicorp/packer
