Repository hashicorp/packer, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/packer, @chhaj5236, @jen20, @boumenot, @taliesins, @ChrisLundquist, @jasmingacic, @prydie, @owainlewis, @sean-, @YuSungDuk, @sieben, @mvaude, @jqueuniet, @fflorens, @brmzkw, @LKaemmerling, @bhcleek, @stevendborrelli, dongxiao.zzh@alibaba-inc.com, v.tolstov@selfip.ru, crunkleton@google.com, nelson@bennu.cl

add powershell check to winrm communicator
  communicator/winrm/communicator.go
Owners: @hashicorp/packer

change to cmd
  communicator/winrm/communicator.go
Owners: @hashicorp/packer

amazon-ebs update simple example
  website/source/docs/builders/amazon-ebs.html.md
Owners: @hashicorp/packer

amazon-ebs update simple example
  website/source/docs/builders/amazon-ebs.html.md
Owners: @hashicorp/packer

amazon-ebs update simple example
  website/source/docs/builders/amazon-ebs.html.md
Owners: @hashicorp/packer

use map instead of object in docs for consistency
  website/source/docs/builders/hetzner-cloud.html.md
Owners: @hashicorp/packer

use map instead of object in docs for consistency
  website/source/docs/builders/hetzner-cloud.html.md
Owners: @hashicorp/packer

use map instead of object in docs for consistency
  website/source/docs/builders/hetzner-cloud.html.md
Owners: @hashicorp/packer

add a new breakpoint provisioner
  command/plugin.go
  provisioner/breakpoint/provisioner.go
Owners: @hashicorp/packer

add a new breakpoint provisioner
  command/plugin.go
  provisioner/breakpoint/provisioner.go
Owners: @hashicorp/packer

add a new breakpoint provisioner
  command/plugin.go
  provisioner/breakpoint/provisioner.go
Owners: @hashicorp/packer

docs
  website/source/docs/provisioners/breakpoint.html.md
Owners: @hashicorp/packer

docs
  website/source/docs/provisioners/breakpoint.html.md
Owners: @hashicorp/packer

docs
  website/source/docs/provisioners/breakpoint.html.md
Owners: @hashicorp/packer

add disable option to breakpoint provisioner
  provisioner/breakpoint/provisioner.go
  website/source/docs/provisioners/breakpoint.html.md
  website/source/layouts/docs.erb
Owners: @hashicorp/packer

add disable option to breakpoint provisioner
  provisioner/breakpoint/provisioner.go
  website/source/docs/provisioners/breakpoint.html.md
  website/source/layouts/docs.erb
Owners: @hashicorp/packer

add disable option to breakpoint provisioner
  provisioner/breakpoint/provisioner.go
  website/source/docs/provisioners/breakpoint.html.md
  website/source/layouts/docs.erb
Owners: @hashicorp/packer

fix empty return
  provisioner/breakpoint/provisioner.go
Owners: @hashicorp/packer

fix empty return
  provisioner/breakpoint/provisioner.go
Owners: @hashicorp/packer

fix empty return
  provisioner/breakpoint/provisioner.go
Owners: @hashicorp/packer

Update amazon-ebs.html.md
  website/source/docs/builders/amazon-ebs.html.md
Owners: @hashicorp/packer

Update amazon-ebs.html.md
  website/source/docs/builders/amazon-ebs.html.md
Owners: @hashicorp/packer

Update amazon-ebs.html.md
  website/source/docs/builders/amazon-ebs.html.md
Owners: @hashicorp/packer

fix bad interpolation exemption for volume_size
  builder/amazon/ebsvolume/builder.go
Owners: @jen20

fix bad interpolation exemption for volume_size
  builder/amazon/ebsvolume/builder.go
Owners: @jen20

fix bad interpolation exemption for volume_size
  builder/amazon/ebsvolume/builder.go
Owners: @jen20

Add DigitalOcean post-processor.
  builder/digitalocean/artifact.go
  builder/digitalocean/builder.go
  builder/digitalocean/step_snapshot.go
  builder/digitalocean/wait.go
  command/plugin.go
  post-processor/digitalocean-import/post-processor.go
  post-processor/digitalocean-import/post-processor_test.go
  website/source/docs/post-processors/digitalocean-import.html.md
  website/source/layouts/docs.erb
Owners: @hashicorp/packer

Add DigitalOcean post-processor.
  builder/digitalocean/artifact.go
  builder/digitalocean/builder.go
  builder/digitalocean/step_snapshot.go
  builder/digitalocean/wait.go
  command/plugin.go
  post-processor/digitalocean-import/post-processor.go
  post-processor/digitalocean-import/post-processor_test.go
  website/source/docs/post-processors/digitalocean-import.html.md
  website/source/layouts/docs.erb
Owners: @hashicorp/packer

Add DigitalOcean post-processor.
  builder/digitalocean/artifact.go
  builder/digitalocean/builder.go
  builder/digitalocean/step_snapshot.go
  builder/digitalocean/wait.go
  command/plugin.go
  post-processor/digitalocean-import/post-processor.go
  post-processor/digitalocean-import/post-processor_test.go
  website/source/docs/post-processors/digitalocean-import.html.md
  website/source/layouts/docs.erb
Owners: @hashicorp/packer

use Getenv instead of LookupEnv so users can set USER="" and HOME="" + lookup different username only if it is different thant the current username
  packer/config_file_unix.go
Owners: @hashicorp/packer

use Getenv instead of LookupEnv so users can set USER="" and HOME="" + lookup different username only if it is different thant the current username
  packer/config_file_unix.go
Owners: @hashicorp/packer

use Getenv instead of LookupEnv so users can set USER="" and HOME="" + lookup different username only if it is different thant the current username
  packer/config_file_unix.go
Owners: @hashicorp/packer

make code of homeDir, configFile & configDir not os specific anymore
  packer/config_file.go
  packer/config_file_unix.go
  packer/config_file_windows.go
Owners: @hashicorp/packer

make code of homeDir, configFile & configDir not os specific anymore
  packer/config_file.go
  packer/config_file_unix.go
  packer/config_file_windows.go
Owners: @hashicorp/packer

make code of homeDir, configFile & configDir not os specific anymore
  packer/config_file.go
  packer/config_file_unix.go
  packer/config_file_windows.go
Owners: @hashicorp/packer

use error groups so we can return errors
  provisioner/breakpoint/provisioner.go
Owners: @hashicorp/packer

use error groups so we can return errors
  provisioner/breakpoint/provisioner.go
Owners: @hashicorp/packer

use error groups so we can return errors
  provisioner/breakpoint/provisioner.go
Owners: @hashicorp/packer

azure: configuration for disk caching
  builder/azure/arm/config.go
  builder/azure/arm/config_test.go
  builder/azure/arm/template_factory.go
  builder/azure/common/template/template_builder.go
  builder/azure/common/template/template_builder_test.TestSharedImageGallery00.approved.json
  builder/azure/common/template/template_builder_test.go
  website/source/docs/builders/azure.html.md
Owners: @boumenot, @hashicorp/packer

azure: configuration for disk caching
  builder/azure/arm/config.go
  builder/azure/arm/config_test.go
  builder/azure/arm/template_factory.go
  builder/azure/common/template/template_builder.go
  builder/azure/common/template/template_builder_test.TestSharedImageGallery00.approved.json
  builder/azure/common/template/template_builder_test.go
  website/source/docs/builders/azure.html.md
Owners: @boumenot, @hashicorp/packer

CODEOWNERS:

* @hashicorp/packer

# builders

/builder/alicloud/                      @chhaj5236
/builder/amazon/ebssurrogate/           @jen20
/builder/amazon/ebsvolume/              @jen20
/builder/azure/                         @boumenot
/builder/hyperv/                        @taliesins
/builder/lxc/                           @ChrisLundquist
/builder/lxd/                           @ChrisLundquist
/builder/oneandone/                     @jasmingacic
/builder/oracle/                        @prydie @owainlewis
/builder/profitbricks/                  @jasmingacic
/builder/triton/                        @jen20 @sean-
/builder/ncloud/                        @YuSungDuk
/builder/scaleway/                      @sieben @mvaude @jqueuniet @fflorens @brmzkw
/builder/hcloud/                        @LKaemmerling

# provisioners

/provisioner/ansible/                   @bhcleek
/provisioner/converge/                  @stevendborrelli

# post-processors
/post-processor/alicloud-import/        dongxiao.zzh@alibaba-inc.com
/post-processor/checksum/               v.tolstov@selfip.ru
/post-processor/googlecompute-export/   crunkleton@google.com
/post-processor/vsphere-template/       nelson@bennu.cl
