Repository hashicorp/packer, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/packer, @chhaj5236, @paulmey, @taliesins, @XiaohanLiang, @remrain, @displague, @ctreatma, @stvnjacobs, @ChrisLundquist, @jasmingacic, @prydie, @owainlewis, @sean-, @YuSungDuk, @carlpett, @sieben, @mvaude, @jqueuniet, @fflorens, @brmzkw, @LKaemmerling, @m110, @gregorybrzeski, @ad-m, @shawnmssu, @GennadySpb, @alexanderKhaustov, @seukyaso, @marinsalinas, @bhcleek, @stevendborrelli, dongxiao.zzh@alibaba-inc.com, v.tolstov@selfip.ru, @falzm, @mcorbin, crunkleton@google.com, nelson@bennu.cl

CODEOWNERS:

* @hashicorp/packer

# builders

/builder/alicloud/                      @chhaj5236
/website/source/docs/builders/alicloud* @chhaj5236

/builder/azure/                      @paulmey
/website/source/docs/builders/azure* @paulmey

/builder/hyperv/                      @taliesins
/website/source/docs/builders/hyperv* @taliesins

/builder/jdcloud/                      @XiaohanLiang @remrain
/website/source/docs/builders/jdcloud* @XiaohanLiang @remrain

/builder/linode/                      @displague @ctreatma @stvnjacobs
/website/source/docs/builders/linode* @displague @ctreatma @stvnjacobs

/builder/lxc/                      @ChrisLundquist
/website/source/docs/builders/lxc* @ChrisLundquist

/builder/lxd/                      @ChrisLundquist
/website/source/docs/builders/lxd* @ChrisLundquist

/builder/oneandone/                      @jasmingacic
/website/source/docs/builders/oneandone* @jasmingacic

/builder/oracle/                      @prydie @owainlewis
/website/source/docs/builders/oracle* @prydie @owainlewis

/builder/profitbricks/                      @jasmingacic
/website/source/docs/builders/profitbricks* @jasmingacic

/builder/triton/                      @sean-
/website/source/docs/builders/triton* @sean-

/builder/ncloud/                      @YuSungDuk
/website/source/docs/builders/ncloud* @YuSungDuk

/builder/proxmox/                      @carlpett
/website/source/docs/builders/proxmox* @carlpett

/builder/scaleway/                      @sieben @mvaude @jqueuniet @fflorens @brmzkw
/website/source/docs/builders/scaleway* @sieben @mvaude @jqueuniet @fflorens @brmzkw

/builder/hcloud/                      @LKaemmerling
/website/source/docs/builders/hcloud* @LKaemmerling

/builder/hyperone/                      @m110 @gregorybrzeski @ad-m
/website/source/docs/builders/hyperone* @m110 @gregorybrzeski @ad-m

/builder/ucloud/                      @shawnmssu
/website/source/docs/builders/ucloud* @shawnmssu

/builder/yandex/                      @GennadySpb @alexanderKhaustov @seukyaso
/website/source/docs/builders/yandex* @GennadySpb @alexanderKhaustov @seukyaso

/builder/osc/                      @marinsalinas
/website/source/docs/builders/osc* @marinsalinas


# provisioners

/provisioner/ansible/                   @bhcleek
/provisioner/converge/                  @stevendborrelli

# post-processors

/post-processor/alicloud-import/        dongxiao.zzh@alibaba-inc.com
/post-processor/checksum/               v.tolstov@selfip.ru
/post-processor/exoscale-import/        @falzm @mcorbin
/post-processor/googlecompute-export/   crunkleton@google.com
/post-processor/vsphere-template/       nelson@bennu.cl
/post-processor/ucloud-import/          @shawnmssu

Update index.html.md.erb
  website/source/guides/hcl/component-object-spec/index.html.md.erb
Owners: @hashicorp/packer

Closes #8505 Add context to error messages
  post-processor/vsphere-template/step_mark_as_template.go
Owners: nelson@bennu.cl

docs ++
  website/source/docs/configuration/from-1.5/expressions.html.md
  website/source/docs/configuration/from-1.5/syntax-json.html.md
  website/source/docs/configuration/from-1.5/syntax.html.md
  website/source/layouts/docs.erb
Owners: @hashicorp/packer

docs ++
  website/source/docs/configuration/from-1.5/expressions.html.md
  website/source/docs/configuration/from-1.5/syntax-json.html.md
  website/source/docs/configuration/from-1.5/syntax.html.md
  website/source/layouts/docs.erb
Owners: @hashicorp/packer

Update website/source/partials/builders/_community_builders.html.md
  website/source/partials/builders/_community_builders.html.md
Owners: @hashicorp/packer

Update website/source/partials/builders/_community_builders.html.md
  website/source/partials/builders/_community_builders.html.md
Owners: @hashicorp/packer

Configure NAT interface before forwarded port mapping
  builder/virtualbox/common/step_forward_ssh.go
Owners: @hashicorp/packer

Configure NAT interface before forwarded port mapping
  builder/virtualbox/common/step_forward_ssh.go
Owners: @hashicorp/packer

use global next id
  builder/proxmox/step_start_vm.go
Owners: @carlpett

fix config pointers
  builder/cloudstack/builder.go
  builder/linode/builder.go
  builder/lxc/builder.go
  builder/lxd/builder.go
  builder/null/builder.go
  builder/oneandone/builder.go
  builder/oracle/classic/builder.go
  builder/oracle/oci/builder.go
  builder/parallels/pvm/builder.go
  builder/profitbricks/builder.go
  builder/scaleway/builder.go
  builder/vagrant/builder.go
  builder/virtualbox/ovf/builder.go
  builder/virtualbox/vm/builder.go
  builder/vmware/vmx/builder.go
Owners: @hashicorp/packer, @displague, @ctreatma, @stvnjacobs, @ChrisLundquist, @jasmingacic, @prydie, @owainlewis, @sieben, @mvaude, @jqueuniet, @fflorens, @brmzkw

fix config pointers
  builder/cloudstack/builder.go
  builder/linode/builder.go
  builder/lxc/builder.go
  builder/lxd/builder.go
  builder/null/builder.go
  builder/oneandone/builder.go
  builder/oracle/classic/builder.go
  builder/oracle/oci/builder.go
  builder/parallels/pvm/builder.go
  builder/profitbricks/builder.go
  builder/scaleway/builder.go
  builder/vagrant/builder.go
  builder/virtualbox/ovf/builder.go
  builder/virtualbox/vm/builder.go
  builder/vmware/vmx/builder.go
Owners: @hashicorp/packer, @displague, @ctreatma, @stvnjacobs, @ChrisLundquist, @jasmingacic, @prydie, @owainlewis, @sieben, @mvaude, @jqueuniet, @fflorens, @brmzkw

removed unused config puts
  builder/hyperv/iso/builder.go
  builder/hyperv/vmcx/builder.go
  builder/osc/bsuvolume/builder.go
  builder/virtualbox/vm/builder.go
  builder/vmware/vmx/builder.go
Owners: @taliesins, @marinsalinas, @hashicorp/packer

removed unused config puts
  builder/hyperv/iso/builder.go
  builder/hyperv/vmcx/builder.go
  builder/osc/bsuvolume/builder.go
  builder/virtualbox/vm/builder.go
  builder/vmware/vmx/builder.go
Owners: @taliesins, @marinsalinas, @hashicorp/packer

update changelog
  CHANGELOG.md
Owners: @hashicorp/packer

update changelog
  CHANGELOG.md
Owners: @hashicorp/packer

update jdcloud statebag to use pointers for config, to bring in line with other implementations
  builder/jdcloud/builder.go
  builder/jdcloud/step_create_instance.go
Owners: @XiaohanLiang, @remrain

update jdcloud statebag to use pointers for config, to bring in line with other implementations
  builder/jdcloud/builder.go
  builder/jdcloud/step_create_instance.go
Owners: @XiaohanLiang, @remrain

use pointer to config rather than config
  post-processor/vagrant-cloud/post-processor.go
  post-processor/vagrant-cloud/step_create_version.go
  post-processor/vagrant-cloud/step_release_version.go
  post-processor/vagrant-cloud/step_verify_box.go
Owners: @hashicorp/packer

use pointer to config rather than config
  post-processor/vagrant-cloud/post-processor.go
  post-processor/vagrant-cloud/step_create_version.go
  post-processor/vagrant-cloud/step_release_version.go
  post-processor/vagrant-cloud/step_verify_box.go
Owners: @hashicorp/packer

move osx code signing to before checksums are calculated
  scripts/dist.sh
Owners: @hashicorp/packer

move osx code signing to before checksums are calculated
  scripts/dist.sh
Owners: @hashicorp/packer

remove flaky test. It isn't very useful anyway given that we're slowly adding retries to the checks for lockfiles
  builder/virtualbox/common/step_shutdown_test.go
Owners: @hashicorp/packer

remove time-component from retry test; in underpowered CI builds, this can flake fairly often.
  builder/alicloud/ecs/client_test.go
Owners: @chhaj5236

update docs to mention ssh auth sock env var
  helper/communicator/config.go
  website/source/partials/helper/communicator/_SSH-not-required.html.md
Owners: @hashicorp/packer

abstract out CreateDummyBox
  post-processor/vagrant/post-processor.go
  post-processor/vagrant/util.go
Owners: @hashicorp/packer

add skip_image_validation arg to use an expired image as the soure image
  builder/alicloud/ecs/access_config.go
  builder/alicloud/ecs/builder.hcl2spec.go
  builder/alicloud/ecs/step_check_source_image.go
  post-processor/alicloud-import/post-processor.hcl2spec.go
  website/source/partials/builder/alicloud/ecs/_AlicloudAccessConfig-not-required.html.md
Owners: @chhaj5236, dongxiao.zzh@alibaba-inc.com, @hashicorp/packer

add skip_image_validation arg to use an expired image as the soure image
  builder/alicloud/ecs/access_config.go
  builder/alicloud/ecs/builder.hcl2spec.go
  builder/alicloud/ecs/step_check_source_image.go
  post-processor/alicloud-import/post-processor.hcl2spec.go
  website/source/partials/builder/alicloud/ecs/_AlicloudAccessConfig-not-required.html.md
Owners: @chhaj5236, dongxiao.zzh@alibaba-inc.com, @hashicorp/packer

remove time flaky time limited tests (#8522)
  builder/alicloud/ecs/client_test.go
  builder/virtualbox/common/step_shutdown_test.go
Owners: @chhaj5236, @hashicorp/packer

remove time flaky time limited tests (#8522)
  builder/alicloud/ecs/client_test.go
  builder/virtualbox/common/step_shutdown_test.go
Owners: @chhaj5236, @hashicorp/packer

update docs to mention ssh auth sock env var (#8523)
  helper/communicator/config.go
  website/source/partials/helper/communicator/_SSH-not-required.html.md
Owners: @hashicorp/packer

update docs to mention ssh auth sock env var (#8523)
  helper/communicator/config.go
  website/source/partials/helper/communicator/_SSH-not-required.html.md
Owners: @hashicorp/packer

link to guides in HCL docs
  website/source/docs/configuration/from-1.5/index.html.md
Owners: @hashicorp/packer

link to guides in HCL docs (#8526)
  website/source/docs/configuration/from-1.5/index.html.md
Owners: @hashicorp/packer

link to guides in HCL docs (#8526)
  website/source/docs/configuration/from-1.5/index.html.md
Owners: @hashicorp/packer

Remove config dependency inside StepImport
  builder/virtualbox/ovf/builder.go
  builder/virtualbox/ovf/step_import.go
  builder/virtualbox/ovf/step_import_test.go
Owners: @hashicorp/packer

Remove config dependency inside StepImport
  builder/virtualbox/ovf/builder.go
  builder/virtualbox/ovf/step_import.go
  builder/virtualbox/ovf/step_import_test.go
Owners: @hashicorp/packer

update changelog
  CHANGELOG.md
Owners: @hashicorp/packer

update changelog
  CHANGELOG.md
Owners: @hashicorp/packer

sort changelog
  CHANGELOG.md
Owners: @hashicorp/packer

sort changelog
  CHANGELOG.md
Owners: @hashicorp/packer
