Repository hashicorp/packer, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/packer, @chhaj5236, @paulmey, @taliesins, @XiaohanLiang, @remrain, @displague, @ctreatma, @stvnjacobs, @ChrisLundquist, @jasmingacic, @prydie, @owainlewis, @sean-, @YuSungDuk, @carlpett, @sieben, @mvaude, @jqueuniet, @fflorens, @brmzkw, @LKaemmerling, @m110, @gregorybrzeski, @ad-m, @shawnmssu, @GennadySpb, @alexanderKhaustov, @seukyaso, @marinsalinas, @bhcleek, @stevendborrelli, dongxiao.zzh@alibaba-inc.com, v.tolstov@selfip.ru, @falzm, @mcorbin, crunkleton@google.com, nelson@bennu.cl

CODEOWNERS:

* @hashicorp/packer

# builders

/builder/alicloud/                      @chhaj5236
/website/source/docs/builders/alicloud* @chhaj5236

/builder/azure/                      @paulmey
/website/source/docs/builders/azure* @paulmey

/builder/hyperv/                      @taliesins
/website/source/docs/builders/hyperv* @taliesins

/builder/jdcloud/                      @XiaohanLiang @remrain
/website/source/docs/builders/jdcloud* @XiaohanLiang @remrain

/builder/linode/                      @displague @ctreatma @stvnjacobs
/website/source/docs/builders/linode* @displague @ctreatma @stvnjacobs

/builder/lxc/                      @ChrisLundquist
/website/source/docs/builders/lxc* @ChrisLundquist

/builder/lxd/                      @ChrisLundquist
/website/source/docs/builders/lxd* @ChrisLundquist

/builder/oneandone/                      @jasmingacic
/website/source/docs/builders/oneandone* @jasmingacic

/builder/oracle/                      @prydie @owainlewis
/website/source/docs/builders/oracle* @prydie @owainlewis

/builder/profitbricks/                      @jasmingacic
/website/source/docs/builders/profitbricks* @jasmingacic

/builder/triton/                      @sean-
/website/source/docs/builders/triton* @sean-

/builder/ncloud/                      @YuSungDuk
/website/source/docs/builders/ncloud* @YuSungDuk

/builder/proxmox/                      @carlpett
/website/source/docs/builders/proxmox* @carlpett

/builder/scaleway/                      @sieben @mvaude @jqueuniet @fflorens @brmzkw
/website/source/docs/builders/scaleway* @sieben @mvaude @jqueuniet @fflorens @brmzkw

/builder/hcloud/                      @LKaemmerling
/website/source/docs/builders/hcloud* @LKaemmerling

/builder/hyperone/                      @m110 @gregorybrzeski @ad-m
/website/source/docs/builders/hyperone* @m110 @gregorybrzeski @ad-m

/builder/ucloud/                      @shawnmssu
/website/source/docs/builders/ucloud* @shawnmssu

/builder/yandex/                      @GennadySpb @alexanderKhaustov @seukyaso
/website/source/docs/builders/yandex* @GennadySpb @alexanderKhaustov @seukyaso

/builder/osc/                      @marinsalinas
/website/source/docs/builders/osc* @marinsalinas


# provisioners

/provisioner/ansible/                   @bhcleek
/provisioner/converge/                  @stevendborrelli

# post-processors

/post-processor/alicloud-import/        dongxiao.zzh@alibaba-inc.com
/post-processor/checksum/               v.tolstov@selfip.ru
/post-processor/exoscale-import/        @falzm @mcorbin
/post-processor/googlecompute-export/   crunkleton@google.com
/post-processor/vsphere-template/       nelson@bennu.cl
/post-processor/ucloud-import/          @shawnmssu

post-processor/docker-import: drop unused test functions (#8465)
  post-processor/docker-import/post-processor_test.go
Owners: @hashicorp/packer

post-processor/docker-import: drop unused test functions (#8465)
  post-processor/docker-import/post-processor_test.go
Owners: @hashicorp/packer

added the option to skip IAM instance profile validation
  builder/amazon/ebssurrogate/builder.go
  builder/amazon/ebsvolume/builder.go
  builder/amazon/instance/builder.go
Owners: @hashicorp/packer

adding version-override for chef-client provisioner
  provisioner/chef-client/provisioner.go
  provisioner/chef-client/provisioner.hcl2spec.go
  website/source/docs/provisioners/chef-client.html.md.erb
Owners: @hashicorp/packer

adding version-override for chef-client provisioner
  provisioner/chef-client/provisioner.go
  provisioner/chef-client/provisioner.hcl2spec.go
  website/source/docs/provisioners/chef-client.html.md.erb
Owners: @hashicorp/packer

prepare_changelog: Update regex to work with GNU grep
  scripts/prepare_changelog.sh
Owners: @hashicorp/packer

prepare_changelog: Update regex to work with GNU grep
  scripts/prepare_changelog.sh
Owners: @hashicorp/packer

only log when external plugin is used, since this is the much rarer event
  config.go
Owners: @hashicorp/packer

only log when external plugin is used, since this is the much rarer event
  config.go
Owners: @hashicorp/packer

remove timestamps from logger inside of subprocesses to prevent double logging; also remove some cruft and fix spelling in some logs
  main.go
Owners: @hashicorp/packer

remove timestamps from logger inside of subprocesses to prevent double logging; also remove some cruft and fix spelling in some logs
  main.go
Owners: @hashicorp/packer

Move port logging to inside of appropriate functions; log the actual plugin being called if it is part of the main packer binary, rather than the meaningless information 'packer'.
  packer/plugin/client.go
Owners: @hashicorp/packer

Move port logging to inside of appropriate functions; log the actual plugin being called if it is part of the main packer binary, rather than the meaningless information 'packer'.
  packer/plugin/client.go
Owners: @hashicorp/packer

Only log min and max port when connecting via TCP; move port determination inside of the TCP function
  packer/plugin/server.go
Owners: @hashicorp/packer

Only log min and max port when connecting via TCP; move port determination inside of the TCP function
  packer/plugin/server.go
Owners: @hashicorp/packer

typo
  packer/plugin/server.go
Owners: @hashicorp/packer

typo
  packer/plugin/server.go
Owners: @hashicorp/packer

added the option to skip IAM instance profile validation (#8457)
  builder/amazon/common/run_config.go
  builder/amazon/common/step_iam_instance_profile.go
  builder/amazon/ebs/builder.go
  builder/amazon/ebs/builder.hcl2spec.go
  builder/amazon/ebssurrogate/builder.go
  builder/amazon/ebsvolume/builder.go
  builder/amazon/instance/builder.go
  website/source/partials/builder/amazon/common/_RunConfig-not-required.html.md
Owners: @hashicorp/packer

added the option to skip IAM instance profile validation (#8457)
  builder/amazon/common/run_config.go
  builder/amazon/common/step_iam_instance_profile.go
  builder/amazon/ebs/builder.go
  builder/amazon/ebs/builder.hcl2spec.go
  builder/amazon/ebssurrogate/builder.go
  builder/amazon/ebsvolume/builder.go
  builder/amazon/instance/builder.go
  website/source/partials/builder/amazon/common/_RunConfig-not-required.html.md
Owners: @hashicorp/packer

post-processor/digitalocean-import: drop unused test functions
  post-processor/digitalocean-import/post-processor_test.go
Owners: @hashicorp/packer

post-processor/digitalocean-import: drop unused test functions
  post-processor/digitalocean-import/post-processor_test.go
Owners: @hashicorp/packer

Return exit code 1 when builder type is not found
  command/build.go
  command/build_test.go
  command/test-fixtures/build-only/not-found.json
Owners: @hashicorp/packer

Return exit code 1 when builder type is not found
  command/build.go
  command/build_test.go
  command/test-fixtures/build-only/not-found.json
Owners: @hashicorp/packer

Simplify testing template
  command/test-fixtures/build-only/not-found.json
Owners: @hashicorp/packer

Simplify testing template
  command/test-fixtures/build-only/not-found.json
Owners: @hashicorp/packer

Update _community_builders.html.md
  website/source/partials/builders/_community_builders.html.md
Owners: @hashicorp/packer

Update _community_builders.html.md
  website/source/partials/builders/_community_builders.html.md
Owners: @hashicorp/packer

Update _community_builders.html.md
  website/source/partials/builders/_community_builders.html.md
Owners: @hashicorp/packer

Update _community_builders.html.md
  website/source/partials/builders/_community_builders.html.md
Owners: @hashicorp/packer

Fix virtualbox-iso TestBuilderAcc_basic
  builder/virtualbox/iso/builder_acc_test.go
  builder/virtualbox/iso/test-fixtures/http/preseed.cfg
  builder/virtualbox/iso/test-fixtures/minimal.json
Owners: @hashicorp/packer

Make resources test folder a testdata folder
  builder/virtualbox/iso/builder_acc_test.go
  builder/virtualbox/iso/testdata/http/preseed.cfg
  builder/virtualbox/iso/testdata/minimal.json
Owners: @hashicorp/packer

pass struct of generated data into provision() call
  common/step_provision.go
  packer/plugin/provisioner.go
  packer/provisioner.go
  packer/provisioner_mock.go
  packer/provisioner_timeout.go
  packer/rpc/provisioner.go
  provisioner/ansible-local/provisioner.go
  provisioner/ansible/provisioner.go
  provisioner/breakpoint/provisioner.go
  provisioner/chef-client/provisioner.go
  provisioner/chef-solo/provisioner.go
  provisioner/converge/provisioner.go
  provisioner/file/provisioner.go
  provisioner/inspec/provisioner.go
  provisioner/powershell/provisioner.go
  provisioner/puppet-masterless/provisioner.go
  provisioner/puppet-server/provisioner.go
  provisioner/salt-masterless/provisioner.go
  provisioner/shell-local/provisioner.go
  provisioner/shell/provisioner.go
  provisioner/sleep/provisioner.go
  provisioner/windows-restart/provisioner.go
  provisioner/windows-shell/provisioner.go
Owners: @hashicorp/packer, @bhcleek, @stevendborrelli

skip shell local for now
  common/shell-local/config.go
Owners: @hashicorp/packer

get data sharing to a working state with the powershell provisioner
  builder/amazon/common/step_get_password.go
  builder/azure/arm/config.go
  builder/azure/arm/step_save_winrm_password.go
  builder/googlecompute/step_create_windows_password.go
  builder/oracle/oci/step_get_default_credentials.go
  common/shell-local/config.go
  common/step_provision.go
  helper/communicator/step_connect.go
  helper/communicator/step_connect_ssh.go
  helper/communicator/step_connect_winrm.go
  packer/hook.go
  packer/plugin/provisioner.go
  packer/provisioner.go
  packer/provisioner_mock.go
  packer/provisioner_timeout.go
  packer/rpc/provisioner.go
  provisioner/ansible-local/provisioner.go
  provisioner/ansible/provisioner.go
  provisioner/breakpoint/provisioner.go
  provisioner/chef-client/provisioner.go
  provisioner/chef-solo/provisioner.go
  provisioner/converge/provisioner.go
  provisioner/file/provisioner.go
  provisioner/inspec/provisioner.go
  provisioner/powershell/provisioner.go
  provisioner/puppet-masterless/provisioner.go
  provisioner/puppet-server/provisioner.go
  provisioner/salt-masterless/provisioner.go
  provisioner/shell-local/provisioner.go
  provisioner/shell/provisioner.go
  provisioner/sleep/provisioner.go
  provisioner/windows-restart/provisioner.go
  provisioner/windows-shell/provisioner.go
Owners: @hashicorp/packer, @paulmey, @prydie, @owainlewis, @bhcleek, @stevendborrelli

stub out generated func for validation
  common/step_provision.go
  template/interpolate/funcs.go
Owners: @hashicorp/packer

generated func now validates based on data provided in context, which needs to include the future values if it is to be interpolated properly.
  common/step_provision.go
  template/interpolate/funcs.go
Owners: @hashicorp/packer

pas data into provisioners well
  builder/amazon/common/step_get_password.go
  builder/azure/arm/config.go
  builder/azure/arm/step_save_winrm_password.go
  builder/googlecompute/step_create_windows_password.go
  builder/oracle/oci/step_get_default_credentials.go
  packer/rpc/provisioner.go
Owners: @hashicorp/packer, @paulmey, @prydie, @owainlewis

get data sharing to a working state with the powershell provisioner
  builder/amazon/common/step_get_password.go
  builder/azure/arm/config.go
  builder/azure/arm/step_save_winrm_password.go
  builder/googlecompute/step_create_windows_password.go
  builder/oracle/oci/step_get_default_credentials.go
  common/shell-local/config.go
  common/step_provision.go
  helper/communicator/step_connect.go
  helper/communicator/step_connect_ssh.go
  helper/communicator/step_connect_winrm.go
  packer/hook.go
  packer/plugin/provisioner.go
  packer/provisioner.go
  packer/provisioner_mock.go
  packer/provisioner_timeout.go
  packer/rpc/provisioner.go
  provisioner/ansible-local/provisioner.go
  provisioner/ansible/provisioner.go
  provisioner/breakpoint/provisioner.go
  provisioner/chef-client/provisioner.go
  provisioner/chef-solo/provisioner.go
  provisioner/converge/provisioner.go
  provisioner/file/provisioner.go
  provisioner/inspec/provisioner.go
  provisioner/powershell/provisioner.go
  provisioner/puppet-masterless/provisioner.go
  provisioner/puppet-server/provisioner.go
  provisioner/salt-masterless/provisioner.go
  provisioner/shell-local/provisioner.go
  provisioner/shell/provisioner.go
  provisioner/sleep/provisioner.go
  provisioner/windows-restart/provisioner.go
  provisioner/windows-shell/provisioner.go
Owners: @hashicorp/packer, @paulmey, @prydie, @owainlewis, @bhcleek, @stevendborrelli

skip shell local for now
  common/shell-local/config.go
Owners: @hashicorp/packer

pas data into provisioners well
  builder/amazon/common/step_get_password.go
  builder/azure/arm/config.go
  builder/azure/arm/step_save_winrm_password.go
  builder/googlecompute/step_create_windows_password.go
  builder/oracle/oci/step_get_default_credentials.go
  packer/rpc/provisioner.go
Owners: @hashicorp/packer, @paulmey, @prydie, @owainlewis
