Repository hashicorp/packer, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/packer, @chhaj5236, @jen20, @boumenot, @taliesins, @ChrisLundquist, @jasmingacic, @prydie, @owainlewis, @sean-, @YuSungDuk, @sieben, @mvaude, @jqueuniet, @fflorens, @brmzkw, @LKaemmerling, @bhcleek, @stevendborrelli, dongxiao.zzh@alibaba-inc.com, v.tolstov@selfip.ru, crunkleton@google.com, nelson@bennu.cl

CODEOWNERS:

* @hashicorp/packer

# builders

/builder/alicloud/                      @chhaj5236
/builder/amazon/ebssurrogate/           @jen20
/builder/amazon/ebsvolume/              @jen20
/builder/azure/                         @boumenot
/builder/hyperv/                        @taliesins
/builder/lxc/                           @ChrisLundquist
/builder/lxd/                           @ChrisLundquist
/builder/oneandone/                     @jasmingacic
/builder/oracle/                        @prydie @owainlewis
/builder/profitbricks/                  @jasmingacic
/builder/triton/                        @jen20 @sean-
/builder/ncloud/                        @YuSungDuk
/builder/scaleway/                      @sieben @mvaude @jqueuniet @fflorens @brmzkw
/builder/hcloud/                        @LKaemmerling

# provisioners

/provisioner/ansible/                   @bhcleek
/provisioner/converge/                  @stevendborrelli

# post-processors
/post-processor/alicloud-import/        dongxiao.zzh@alibaba-inc.com
/post-processor/checksum/               v.tolstov@selfip.ru
/post-processor/googlecompute-export/   crunkleton@google.com
/post-processor/vsphere-template/       nelson@bennu.cl

azure: configuration for disk caching
  builder/azure/arm/config.go
  builder/azure/arm/config_test.go
  builder/azure/arm/template_factory.go
  builder/azure/common/template/template_builder.go
  builder/azure/common/template/template_builder_test.TestSharedImageGallery00.approved.json
  builder/azure/common/template/template_builder_test.go
  website/source/docs/builders/azure.html.md
Owners: @boumenot, @hashicorp/packer

use alternate vsphere account in tests
  common/testing/utility.go
  iso/builder_acc_test.go
Owners: @hashicorp/packer

use alternate vsphere account in tests
  common/testing/utility.go
  iso/builder_acc_test.go
Owners: @hashicorp/packer

Added a new "temporaryDevices" key to the VMware builders' statebag in order to keep track of devices that were temporarily added during build and need to be removed later by StepCleanVMX.
  builder/vmware/iso/builder.go
  builder/vmware/vmx/builder.go
Owners: @hashicorp/packer

Added a new "temporaryDevices" key to the VMware builders' statebag in order to keep track of devices that were temporarily added during build and need to be removed later by StepCleanVMX.
  builder/vmware/iso/builder.go
  builder/vmware/vmx/builder.go
Owners: @hashicorp/packer

Added a new "temporaryDevices" key to the VMware builders' statebag in order to keep track of devices that were temporarily added during build and need to be removed later by StepCleanVMX.
  builder/vmware/iso/builder.go
  builder/vmware/vmx/builder.go
Owners: @hashicorp/packer

Updated StepConfigureVMX to add the floppy disk device to the "temporaryDevices" statebag so that StepCleanVMX can remove it later.
  builder/vmware/common/step_configure_vmx.go
Owners: @hashicorp/packer

Updated StepConfigureVMX to add the floppy disk device to the "temporaryDevices" statebag so that StepCleanVMX can remove it later.
  builder/vmware/common/step_configure_vmx.go
Owners: @hashicorp/packer

Updated StepConfigureVMX to add the floppy disk device to the "temporaryDevices" statebag so that StepCleanVMX can remove it later.
  builder/vmware/common/step_configure_vmx.go
Owners: @hashicorp/packer

Updated StepCreateVMX to add the CDROM device that packer uses to the "temporaryDevices" statebag so that StepCleanVMX can unmount its ISO later.
  builder/vmware/iso/step_create_vmx.go
Owners: @hashicorp/packer

Updated StepCreateVMX to add the CDROM device that packer uses to the "temporaryDevices" statebag so that StepCleanVMX can unmount its ISO later.
  builder/vmware/iso/step_create_vmx.go
Owners: @hashicorp/packer

Updated StepCreateVMX to add the CDROM device that packer uses to the "temporaryDevices" statebag so that StepCleanVMX can unmount its ISO later.
  builder/vmware/iso/step_create_vmx.go
Owners: @hashicorp/packer

don't set DetectZeroes if it's off, because some versions of QEMU don't support this option
  builder/qemu/step_run.go
Owners: @hashicorp/packer

don't set DetectZeroes if it's off, because some versions of QEMU don't support this option
  builder/qemu/step_run.go
Owners: @hashicorp/packer

don't set DetectZeroes if it's off, because some versions of QEMU don't support this option
  builder/qemu/step_run.go
Owners: @hashicorp/packer

update docs for detect-zero
  website/source/docs/builders/qemu.html.md.erb
Owners: @hashicorp/packer

update docs for detect-zero
  website/source/docs/builders/qemu.html.md.erb
Owners: @hashicorp/packer

update docs for detect-zero
  website/source/docs/builders/qemu.html.md.erb
Owners: @hashicorp/packer

Added knowledge of the "temporaryDevices" statebag to the StepCleanVMX tests for the VMware builders.
  builder/vmware/common/step_clean_vmx_test.go
  builder/vmware/common/step_test.go
Owners: @hashicorp/packer

Added knowledge of the "temporaryDevices" statebag to the StepCleanVMX tests for the VMware builders.
  builder/vmware/common/step_clean_vmx_test.go
  builder/vmware/common/step_test.go
Owners: @hashicorp/packer

Added knowledge of the "temporaryDevices" statebag to the StepCleanVMX tests for the VMware builders.
  builder/vmware/common/step_clean_vmx_test.go
  builder/vmware/common/step_test.go
Owners: @hashicorp/packer

reverts 406bf9c4aad7c925c3f5a837fe7f9c71169af098; this was incorrect interpretation of the intent of the inventoryDirectory template option
  provisioner/ansible/provisioner.go
Owners: @bhcleek

reverts 406bf9c4aad7c925c3f5a837fe7f9c71169af098; this was incorrect interpretation of the intent of the inventoryDirectory template option
  provisioner/ansible/provisioner.go
Owners: @bhcleek

reverts 406bf9c4aad7c925c3f5a837fe7f9c71169af098; this was incorrect interpretation of the intent of the inventoryDirectory template option
  provisioner/ansible/provisioner.go
Owners: @bhcleek

update changelog
  CHANGELOG.md
Owners: @hashicorp/packer

update changelog
  CHANGELOG.md
Owners: @hashicorp/packer

update changelog
  CHANGELOG.md
Owners: @hashicorp/packer

update version
  version/version.go
Owners: @hashicorp/packer

update version
  version/version.go
Owners: @hashicorp/packer

update version
  version/version.go
Owners: @hashicorp/packer

Replaced all instances of mitchellh/go-homedir with an implementation based on os/user.
  builder/azure/common/devicelogin.go
  builder/oracle/oci/config.go
  helper/communicator/config.go
  helper/communicator/step_connect_ssh.go
Owners: @boumenot, @prydie, @owainlewis, @hashicorp/packer

Removed mitchellh/go-homedir from vendor packages.
  vendor/github.com/mitchellh/go-homedir/LICENSE
  vendor/github.com/mitchellh/go-homedir/README.md
  vendor/github.com/mitchellh/go-homedir/homedir.go
  vendor/vendor.json
Owners: @hashicorp/packer

Changed the logic for when to actually prefix a path with a u.HomeDir so that it's only done when a non-absolute path is specified.
  builder/oracle/oci/config.go
  helper/communicator/config.go
Owners: @prydie, @owainlewis, @hashicorp/packer

Replaced the previous incorrect logic with an re-implementation of common.ExpandUser.
  builder/oracle/oci/config.go
  common/config.go
  helper/communicator/config.go
  helper/communicator/step_connect_ssh.go
Owners: @prydie, @owainlewis, @hashicorp/packer

Replaced all instances of mitchellh/go-homedir with an implementation based on os/user.
  builder/azure/common/devicelogin.go
  builder/oracle/oci/config.go
  helper/communicator/config.go
  helper/communicator/step_connect_ssh.go
Owners: @boumenot, @prydie, @owainlewis, @hashicorp/packer

Changed the logic for when to actually prefix a path with a u.HomeDir so that it's only done when a non-absolute path is specified.
  builder/oracle/oci/config.go
  helper/communicator/config.go
Owners: @prydie, @owainlewis, @hashicorp/packer

Removed mitchellh/go-homedir from vendor packages.
  vendor/github.com/mitchellh/go-homedir/LICENSE
  vendor/github.com/mitchellh/go-homedir/README.md
  vendor/github.com/mitchellh/go-homedir/homedir.go
  vendor/vendor.json
Owners: @hashicorp/packer

Replaced the previous incorrect logic with an re-implementation of common.ExpandUser.
  builder/oracle/oci/config.go
  common/config.go
  helper/communicator/config.go
  helper/communicator/step_connect_ssh.go
Owners: @prydie, @owainlewis, @hashicorp/packer

Replaced all instances of mitchellh/go-homedir with an implementation based on os/user.
  builder/azure/common/devicelogin.go
  builder/oracle/oci/config.go
  helper/communicator/config.go
  helper/communicator/step_connect_ssh.go
Owners: @boumenot, @prydie, @owainlewis, @hashicorp/packer

Removed mitchellh/go-homedir from vendor packages.
  vendor/github.com/mitchellh/go-homedir/LICENSE
  vendor/github.com/mitchellh/go-homedir/README.md
  vendor/github.com/mitchellh/go-homedir/homedir.go
  vendor/vendor.json
Owners: @hashicorp/packer
