Repository hashicorp/packer, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/packer, @chhaj5236, @paulmey, @taliesins, @XiaohanLiang, @remrain, @displague, @ctreatma, @stvnjacobs, @ChrisLundquist, @jasmingacic, @prydie, @owainlewis, @sean-, @YuSungDuk, @carlpett, @sieben, @mvaude, @jqueuniet, @fflorens, @brmzkw, @LKaemmerling, @m110, @gregorybrzeski, @ad-m, @shawnmssu, @GennadySpb, @alexanderKhaustov, @seukyaso, @marinsalinas, @bhcleek, @stevendborrelli, dongxiao.zzh@alibaba-inc.com, v.tolstov@selfip.ru, @falzm, @mcorbin, crunkleton@google.com, nelson@bennu.cl

make it clear we expect pem format not some other formate (#8344)
  builder/azure/common/client/config.go
  website/source/partials/builder/azure/common/client/_Config-not-required.html.md
Owners: @paulmey, @hashicorp/packer

make it clear we expect pem format not some other formate (#8344)
  builder/azure/common/client/config.go
  website/source/partials/builder/azure/common/client/_Config-not-required.html.md
Owners: @paulmey, @hashicorp/packer

fixed get copy region value (#8345)
  builder/tencentcloud/cvm/step_copy_image.go
  builder/tencentcloud/cvm/step_share_image.go
  go.mod
  go.sum
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/common/http/request.go
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/vpc/v20170312/client.go
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/vpc/v20170312/models.go
  vendor/modules.txt
Owners: @hashicorp/packer

fixed get copy region value (#8345)
  builder/tencentcloud/cvm/step_copy_image.go
  builder/tencentcloud/cvm/step_share_image.go
  go.mod
  go.sum
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/common/http/request.go
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/vpc/v20170312/client.go
  vendor/github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/vpc/v20170312/models.go
  vendor/modules.txt
Owners: @hashicorp/packer

getting-started/build-image: Remove reference to Redis install
  website/source/intro/getting-started/build-image.html.md
Owners: @hashicorp/packer

getting-started/build-image: Remove reference to Redis install
  website/source/intro/getting-started/build-image.html.md
Owners: @hashicorp/packer

website - add -moz-osx-font-smoothing for smooth firefox osx fonts
  website/source/assets/stylesheets/_global.scss
Owners: @hashicorp/packer

website - add -moz-osx-font-smoothing for smooth firefox osx fonts
  website/source/assets/stylesheets/_global.scss
Owners: @hashicorp/packer

make error messaging around ResourceNotReady better, update docs with other possible issues
  builder/amazon/common/state.go
  builder/amazon/common/step_cleanup_volumes.go
  builder/amazon/common/step_security_group.go
  website/source/docs/builders/amazon.html.md
Owners: @hashicorp/packer

fix after rebase
  builder/amazon/common/state.go
  website/source/docs/builders/amazon.html.md
Owners: @hashicorp/packer

update changelog.
  CHANGELOG.md
Owners: @hashicorp/packer

update changelog.
  CHANGELOG.md
Owners: @hashicorp/packer

builder/hcloud: handle dropped ssh errors
  builder/hcloud/step_create_sshkey.go
Owners: @LKaemmerling

make error messaging around ResourceNotReady better, update docs with other possible issues (#8349)
  builder/amazon/common/state.go
  builder/amazon/common/step_cleanup_volumes.go
  builder/amazon/common/step_security_group.go
  website/source/docs/builders/amazon.html.md
Owners: @hashicorp/packer

make error messaging around ResourceNotReady better, update docs with other possible issues (#8349)
  builder/amazon/common/state.go
  builder/amazon/common/step_cleanup_volumes.go
  builder/amazon/common/step_security_group.go
  website/source/docs/builders/amazon.html.md
Owners: @hashicorp/packer

go generate ./builder/qemu after #7676
  builder/qemu/builder.hcl2spec.go
Owners: @hashicorp/packer

go generate ./builder/qemu after #7676
  builder/qemu/builder.hcl2spec.go
Owners: @hashicorp/packer

builder/hcloud: handle dropped ssh errors
  builder/hcloud/step_create_sshkey.go
Owners: @LKaemmerling

builder/hcloud: handle dropped ssh errors
  builder/hcloud/step_create_sshkey.go
Owners: @LKaemmerling

builder/digitalocean: fix dropped error on RSA key generation
  builder/digitalocean/step_create_ssh_key.go
Owners: @hashicorp/packer

builder/digitalocean: fix dropped error on RSA key generation
  builder/digitalocean/step_create_ssh_key.go
Owners: @hashicorp/packer

update docs with note about ssh/winrm
  website/source/docs/builders/hyperv-iso.html.md.erb
Owners: @taliesins

update docs with note about ssh/winrm
  website/source/docs/builders/hyperv-iso.html.md.erb
Owners: @taliesins

ask for VM by name to reduce looping.
  common/powershell/powershell.go
Owners: @hashicorp/packer

ask for VM by name to reduce looping.
  common/powershell/powershell.go
Owners: @hashicorp/packer

try to add tar check before vagrant post proc
  post-processor/vagrant/post-processor.go
Owners: @hashicorp/packer

log errors in scanner and manually close logging pipe if we hit an error in the scanner
  log.go
Owners: @hashicorp/packer

log errors in scanner and manually close logging pipe if we hit an error in the scanner
  log.go
Owners: @hashicorp/packer

builder/ncloud: fix dropped error
  builder/ncloud/step_create_public_ip_instance.go
Owners: @YuSungDuk

builder/ncloud: fix dropped error
  builder/ncloud/step_create_public_ip_instance.go
Owners: @YuSungDuk

scripts: close file after error handling
  scripts/generate-plugins.go
Owners: @hashicorp/packer

scripts: close file after error handling
  scripts/generate-plugins.go
Owners: @hashicorp/packer

builder/amazon: Add helper function for checking against AWSError
  builder/amazon/common/access_config.go
  builder/amazon/common/helper_funcs.go
  builder/amazon/common/step_create_tags.go
  builder/amazon/common/step_pre_validate.go
  builder/amazon/common/step_run_source_instance.go
  builder/amazon/common/step_run_spot_instance.go
  builder/amazon/common/step_stop_ebs_instance.go
Owners: @hashicorp/packer

builder/amazon: Add helper function for checking against AWSError
  builder/amazon/common/access_config.go
  builder/amazon/common/helper_funcs.go
  builder/amazon/common/step_create_tags.go
  builder/amazon/common/step_pre_validate.go
  builder/amazon/common/step_run_source_instance.go
  builder/amazon/common/step_run_spot_instance.go
  builder/amazon/common/step_stop_ebs_instance.go
Owners: @hashicorp/packer

bumped to ubuntu 18.04
  Dockerfile
Owners: @hashicorp/packer

builder/lxc: fix dropped error
  builder/lxc/step_export.go
Owners: @ChrisLundquist

builder/lxc: fix dropped error
  builder/lxc/step_export.go
Owners: @ChrisLundquist

Fix error message when ovftool is missing
  builder/vmware/common/step_export.go
Owners: @hashicorp/packer

Fix error message when ovftool is missing
  builder/vmware/common/step_export.go
Owners: @hashicorp/packer

fix bug in step_region_copy
  builder/amazon/ebs/step_create_ami.go
Owners: @hashicorp/packer

CODEOWNERS:

* @hashicorp/packer

# builders

/builder/alicloud/                      @chhaj5236
/website/source/docs/builders/alicloud* @chhaj5236

/builder/azure/                      @paulmey
/website/source/docs/builders/azure* @paulmey

/builder/hyperv/                      @taliesins
/website/source/docs/builders/hyperv* @taliesins

/builder/jdcloud/                      @XiaohanLiang @remrain
/website/source/docs/builders/jdcloud* @XiaohanLiang @remrain

/builder/linode/                      @displague @ctreatma @stvnjacobs
/website/source/docs/builders/linode* @displague @ctreatma @stvnjacobs

/builder/lxc/                      @ChrisLundquist
/website/source/docs/builders/lxc* @ChrisLundquist

/builder/lxd/                      @ChrisLundquist
/website/source/docs/builders/lxd* @ChrisLundquist

/builder/oneandone/                      @jasmingacic
/website/source/docs/builders/oneandone* @jasmingacic

/builder/oracle/                      @prydie @owainlewis
/website/source/docs/builders/oracle* @prydie @owainlewis

/builder/profitbricks/                      @jasmingacic
/website/source/docs/builders/profitbricks* @jasmingacic

/builder/triton/                      @sean-
/website/source/docs/builders/triton* @sean-

/builder/ncloud/                      @YuSungDuk
/website/source/docs/builders/ncloud* @YuSungDuk

/builder/proxmox/                      @carlpett
/website/source/docs/builders/proxmox* @carlpett

/builder/scaleway/                      @sieben @mvaude @jqueuniet @fflorens @brmzkw
/website/source/docs/builders/scaleway* @sieben @mvaude @jqueuniet @fflorens @brmzkw

/builder/hcloud/                      @LKaemmerling
/website/source/docs/builders/hcloud* @LKaemmerling

/builder/hyperone/                      @m110 @gregorybrzeski @ad-m
/website/source/docs/builders/hyperone* @m110 @gregorybrzeski @ad-m

/builder/ucloud/                      @shawnmssu
/website/source/docs/builders/ucloud* @shawnmssu

/builder/yandex/                      @GennadySpb @alexanderKhaustov @seukyaso
/website/source/docs/builders/yandex* @GennadySpb @alexanderKhaustov @seukyaso

/builder/osc/                      @marinsalinas
/website/source/docs/builders/osc* @marinsalinas


# provisioners

/provisioner/ansible/                   @bhcleek
/provisioner/converge/                  @stevendborrelli

# post-processors

/post-processor/alicloud-import/        dongxiao.zzh@alibaba-inc.com
/post-processor/checksum/               v.tolstov@selfip.ru
/post-processor/exoscale-import/        @falzm @mcorbin
/post-processor/googlecompute-export/   crunkleton@google.com
/post-processor/vsphere-template/       nelson@bennu.cl
/post-processor/ucloud-import/          @shawnmssu
