Repository hashicorp/packer, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/packer, @chhaj5236, @paulmey, @taliesins, @XiaohanLiang, @remrain, @displague, @ctreatma, @stvnjacobs, @ChrisLundquist, @jasmingacic, @prydie, @owainlewis, @sean-, @YuSungDuk, @carlpett, @sieben, @mvaude, @jqueuniet, @fflorens, @brmzkw, @LKaemmerling, @m110, @gregorybrzeski, @ad-m, @shawnmssu, @GennadySpb, @alexanderKhaustov, @seukyaso, @marinsalinas, @bhcleek, @stevendborrelli, dongxiao.zzh@alibaba-inc.com, v.tolstov@selfip.ru, @falzm, @mcorbin, crunkleton@google.com, nelson@bennu.cl

CODEOWNERS:

* @hashicorp/packer

# builders

/builder/alicloud/                      @chhaj5236
/website/source/docs/builders/alicloud* @chhaj5236

/builder/azure/                      @paulmey
/website/source/docs/builders/azure* @paulmey

/builder/hyperv/                      @taliesins
/website/source/docs/builders/hyperv* @taliesins

/builder/jdcloud/                      @XiaohanLiang @remrain
/website/source/docs/builders/jdcloud* @XiaohanLiang @remrain

/builder/linode/                      @displague @ctreatma @stvnjacobs
/website/source/docs/builders/linode* @displague @ctreatma @stvnjacobs

/builder/lxc/                      @ChrisLundquist
/website/source/docs/builders/lxc* @ChrisLundquist

/builder/lxd/                      @ChrisLundquist
/website/source/docs/builders/lxd* @ChrisLundquist

/builder/oneandone/                      @jasmingacic
/website/source/docs/builders/oneandone* @jasmingacic

/builder/oracle/                      @prydie @owainlewis
/website/source/docs/builders/oracle* @prydie @owainlewis

/builder/profitbricks/                      @jasmingacic
/website/source/docs/builders/profitbricks* @jasmingacic

/builder/triton/                      @sean-
/website/source/docs/builders/triton* @sean-

/builder/ncloud/                      @YuSungDuk
/website/source/docs/builders/ncloud* @YuSungDuk

/builder/proxmox/                      @carlpett
/website/source/docs/builders/proxmox* @carlpett

/builder/scaleway/                      @sieben @mvaude @jqueuniet @fflorens @brmzkw
/website/source/docs/builders/scaleway* @sieben @mvaude @jqueuniet @fflorens @brmzkw

/builder/hcloud/                      @LKaemmerling
/website/source/docs/builders/hcloud* @LKaemmerling

/builder/hyperone/                      @m110 @gregorybrzeski @ad-m
/website/source/docs/builders/hyperone* @m110 @gregorybrzeski @ad-m

/builder/ucloud/                      @shawnmssu
/website/source/docs/builders/ucloud* @shawnmssu

/builder/yandex/                      @GennadySpb @alexanderKhaustov @seukyaso
/website/source/docs/builders/yandex* @GennadySpb @alexanderKhaustov @seukyaso

/builder/osc/                      @marinsalinas
/website/source/docs/builders/osc* @marinsalinas


# provisioners

/provisioner/ansible/                   @bhcleek
/provisioner/converge/                  @stevendborrelli

# post-processors

/post-processor/alicloud-import/        dongxiao.zzh@alibaba-inc.com
/post-processor/checksum/               v.tolstov@selfip.ru
/post-processor/exoscale-import/        @falzm @mcorbin
/post-processor/googlecompute-export/   crunkleton@google.com
/post-processor/vsphere-template/       nelson@bennu.cl
/post-processor/ucloud-import/          @shawnmssu

update to v1.5.1
  version/version.go
  website/config.rb
Owners: @hashicorp/packer

update to v1.5.1
  version/version.go
  website/config.rb
Owners: @hashicorp/packer

update to 1.5.2-dev
  version/version.go
Owners: @hashicorp/packer

update to 1.5.2-dev
  version/version.go
Owners: @hashicorp/packer

update plugin configspec docs
  website/source/docs/extending/custom-builders.html.md
  website/source/docs/extending/custom-post-processors.html.md
  website/source/docs/extending/custom-provisioners.html.md
Owners: @hashicorp/packer

update plugin configspec docs
  website/source/docs/extending/custom-builders.html.md
  website/source/docs/extending/custom-post-processors.html.md
  website/source/docs/extending/custom-provisioners.html.md
Owners: @hashicorp/packer

add SecurityGroupId when DescribeSecurityGroups if user specify SecurityGroupId
  builder/alicloud/ecs/step_config_security_group.go
Owners: @chhaj5236

add SecurityGroupId when DescribeSecurityGroups if user specify SecurityGroupId
  builder/alicloud/ecs/step_config_security_group.go
Owners: @chhaj5236

Parse out -PACKERSPACE- before looking for exec
  config.go
Owners: @hashicorp/packer

Parse out -PACKERSPACE- before looking for exec
  config.go
Owners: @hashicorp/packer

bug: Fixing diskSize parsing for libvirt postprocessor
  post-processor/vagrant/libvirt.go
Owners: @hashicorp/packer

Add source AMI owner ID/name to build template.
  builder/amazon/common/interpolate_build_info.go
  builder/amazon/common/interpolate_build_info_test.go
  website/source/docs/builders/amazon-chroot.html.md.erb
  website/source/docs/builders/amazon-ebs.html.md.erb
  website/source/docs/builders/amazon-ebssurrogate.html.md.erb
  website/source/docs/builders/amazon-ebsvolume.html.md.erb
  website/source/docs/builders/amazon-instance.html.md.erb
Owners: @hashicorp/packer

Add source AMI owner ID/name to build template.
  builder/amazon/common/interpolate_build_info.go
  builder/amazon/common/interpolate_build_info_test.go
  website/source/docs/builders/amazon-chroot.html.md.erb
  website/source/docs/builders/amazon-ebs.html.md.erb
  website/source/docs/builders/amazon-ebssurrogate.html.md.erb
  website/source/docs/builders/amazon-ebsvolume.html.md.erb
  website/source/docs/builders/amazon-instance.html.md.erb
Owners: @hashicorp/packer

cleaned up shell example for building the Packer VM
  website/source/docs/builders/googlecompute.html.md.erb
Owners: @hashicorp/packer

cleaned up example zone
  website/source/docs/builders/googlecompute.html.md.erb
Owners: @hashicorp/packer

Fixing panic in vagrant libvirt postprocessor caused by invalid format of DiskSize artifact attribute
  builder/qemu/builder.go
Owners: @hashicorp/packer

support aliyun profile
  builder/alicloud/ecs/access_config.go
  builder/alicloud/ecs/access_config_test.go
  builder/alicloud/ecs/builder.hcl2spec.go
  post-processor/alicloud-import/post-processor.hcl2spec.go
Owners: @chhaj5236, dongxiao.zzh@alibaba-inc.com

Fix external plugins path was blank
  config.go
Owners: @hashicorp/packer

Fix external plugins path was blank
  config.go
Owners: @hashicorp/packer

builder/virtualbox/common: remove unused url variable
  builder/virtualbox/common/step_download_guest_additions.go
Owners: @hashicorp/packer

support aliyun profile
  builder/alicloud/ecs/access_config.go
  builder/alicloud/ecs/access_config_test.go
  builder/alicloud/ecs/builder.hcl2spec.go
  post-processor/alicloud-import/post-processor.hcl2spec.go
  website/source/docs/builders/alicloud-ecs.html.md.erb
  website/source/partials/builder/alicloud/ecs/_AlicloudAccessConfig-not-required.html.md
  website/source/partials/builder/alicloud/ecs/_AlicloudAccessConfig-required.html.md
Owners: @chhaj5236, dongxiao.zzh@alibaba-inc.com, @hashicorp/packer

support aliyun profile
  builder/alicloud/ecs/access_config.go
  builder/alicloud/ecs/access_config_test.go
  builder/alicloud/ecs/builder.hcl2spec.go
  post-processor/alicloud-import/post-processor.hcl2spec.go
  website/source/docs/builders/alicloud-ecs.html.md.erb
  website/source/partials/builder/alicloud/ecs/_AlicloudAccessConfig-not-required.html.md
  website/source/partials/builder/alicloud/ecs/_AlicloudAccessConfig-required.html.md
Owners: @chhaj5236, dongxiao.zzh@alibaba-inc.com, @hashicorp/packer

support aliyun profile
  builder/alicloud/ecs/access_config.go
  builder/alicloud/ecs/access_config_test.go
  builder/alicloud/ecs/builder.hcl2spec.go
  post-processor/alicloud-import/post-processor.hcl2spec.go
  website/source/docs/builders/alicloud-ecs.html.md.erb
  website/source/partials/builder/alicloud/ecs/_AlicloudAccessConfig-not-required.html.md
  website/source/partials/builder/alicloud/ecs/_AlicloudAccessConfig-required.html.md
Owners: @chhaj5236, dongxiao.zzh@alibaba-inc.com, @hashicorp/packer

Add detail for ssh_interface option
  website/source/partials/builder/amazon/common/_RunConfig-not-required.html.md
Owners: @hashicorp/packer

correctly handle the diskSize property as a qemu size string
  post-processor/vagrant/libvirt.go
  post-processor/vagrant/libvirt_test.go
Owners: @hashicorp/packer

correctly handle the diskSize property as a qemu size string
  post-processor/vagrant/libvirt.go
  post-processor/vagrant/libvirt_test.go
Owners: @hashicorp/packer

fix: mispelled variables names in packer/build.go
  packer/build.go
Owners: @hashicorp/packer

fix: mispelled variables names in packer/build.go (#8568)
  packer/build.go
Owners: @hashicorp/packer

fix: mispelled variables names in packer/build.go (#8568)
  packer/build.go
Owners: @hashicorp/packer

fix crash when build.sources is set to an invalid name
  hcl2template/testdata/build/invalid_source_reference.pkr.hcl
  hcl2template/types.build.go
  hcl2template/types.build_test.go
Owners: @hashicorp/packer

fix crash when build.sources is set to an invalid name
  hcl2template/testdata/build/invalid_source_reference.pkr.hcl
  hcl2template/types.build.go
  hcl2template/types.build_test.go
Owners: @hashicorp/packer

HCL: deshadown warnings from Parser.Parse
  hcl2template/types.packer_config.go
Owners: @hashicorp/packer

HCL: deshadown warnings from Parser.Parse
  hcl2template/types.packer_config.go
Owners: @hashicorp/packer

add test case and fix the breaking ones
  hcl2template/parser.go
  hcl2template/testdata/build.pkr.hcl/basic.pkr.hcl
  hcl2template/types.build_test.go
  hcl2template/types.packer_config_test.go
  hcl2template/utils.go
Owners: @hashicorp/packer

add test case and fix the breaking ones
  hcl2template/parser.go
  hcl2template/testdata/build.pkr.hcl/basic.pkr.hcl
  hcl2template/types.build_test.go
  hcl2template/types.packer_config_test.go
  hcl2template/utils.go
Owners: @hashicorp/packer

better empty folder test
  hcl2template/testdata/empty/.gitkeep
  hcl2template/types.packer_config_test.go
Owners: @hashicorp/packer

better empty folder test
  hcl2template/testdata/empty/.gitkeep
  hcl2template/types.packer_config_test.go
Owners: @hashicorp/packer

builder/virtualbox/common: remove unused url variable (#8559)
  builder/virtualbox/common/step_download_guest_additions.go
Owners: @hashicorp/packer

builder/virtualbox/common: remove unused url variable (#8559)
  builder/virtualbox/common/step_download_guest_additions.go
Owners: @hashicorp/packer

remove unecessary inexistant block panic + add test
  hcl2template/parser.go
  hcl2template/testdata/unknown/block_type.pkr.hcl
  hcl2template/types.packer_config_test.go
Owners: @hashicorp/packer
