Repository hashicorp/packer, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/packer, @chhaj5236, @jen20, @boumenot, @taliesins, @ChrisLundquist, @jasmingacic, @prydie, @owainlewis, @sean-, @YuSungDuk, @sieben, @mvaude, @jqueuniet, @fflorens, @brmzkw, @LKaemmerling, @bhcleek, @stevendborrelli, dongxiao.zzh@alibaba-inc.com, v.tolstov@selfip.ru, crunkleton@google.com, nelson@bennu.cl

CODEOWNERS:

* @hashicorp/packer

# builders

/builder/alicloud/                      @chhaj5236
/builder/amazon/ebssurrogate/           @jen20
/builder/amazon/ebsvolume/              @jen20
/builder/azure/                         @boumenot
/builder/hyperv/                        @taliesins
/builder/lxc/                           @ChrisLundquist
/builder/lxd/                           @ChrisLundquist
/builder/oneandone/                     @jasmingacic
/builder/oracle/                        @prydie @owainlewis
/builder/profitbricks/                  @jasmingacic
/builder/triton/                        @jen20 @sean-
/builder/ncloud/                        @YuSungDuk
/builder/scaleway/                      @sieben @mvaude @jqueuniet @fflorens @brmzkw
/builder/hcloud/                        @LKaemmerling

# provisioners

/provisioner/ansible/                   @bhcleek
/provisioner/converge/                  @stevendborrelli

# post-processors
/post-processor/alicloud-import/        dongxiao.zzh@alibaba-inc.com
/post-processor/checksum/               v.tolstov@selfip.ru
/post-processor/googlecompute-export/   crunkleton@google.com
/post-processor/vsphere-template/       nelson@bennu.cl

be clearer in docker docs on TMP dirs
  website/source/docs/builders/docker.html.md
Owners: @hashicorp/packer

add option to test registry for certain keys to make sure windows is done with a reboot cycle
  provisioner/windows-restart/provisioner.go
  website/source/docs/provisioners/windows-restart.html.md
Owners: @hashicorp/packer

add option to test registry for certain keys to make sure windows is done with a reboot cycle
  provisioner/windows-restart/provisioner.go
  website/source/docs/provisioners/windows-restart.html.md
Owners: @hashicorp/packer

add option to test registry for certain keys to make sure windows is done with a reboot cycle
  provisioner/windows-restart/provisioner.go
  website/source/docs/provisioners/windows-restart.html.md
Owners: @hashicorp/packer

Add note about using ssh_interface for WinRM
  website/source/docs/templates/communicator.html.md
Owners: @hashicorp/packer

Add note about using ssh_interface for WinRM
  website/source/docs/templates/communicator.html.md
Owners: @hashicorp/packer

Add note about using ssh_interface for WinRM
  website/source/docs/templates/communicator.html.md
Owners: @hashicorp/packer

revert changes to docker entrypoint; since this is a backwards-breaking change it needs to wait for a minor release
  builder/docker/config.go
Owners: @hashicorp/packer

revert changes to docker entrypoint; since this is a backwards-breaking change it needs to wait for a minor release
  builder/docker/config.go
Owners: @hashicorp/packer

revert changes to docker entrypoint; since this is a backwards-breaking change it needs to wait for a minor release
  builder/docker/config.go
Owners: @hashicorp/packer

only fail on keep_registerd validation if the artifact isn't coming from the vsphere template pp
  post-processor/vsphere-template/post-processor.go
Owners: nelson@bennu.cl

Revert "revert changes to docker entrypoint; since this is a backwards-breaking change it needs to wait for a minor release"
  builder/docker/config.go
Owners: @hashicorp/packer

Revert "revert changes to docker entrypoint; since this is a backwards-breaking change it needs to wait for a minor release"
  builder/docker/config.go
Owners: @hashicorp/packer

Revert "revert changes to docker entrypoint; since this is a backwards-breaking change it needs to wait for a minor release"
  builder/docker/config.go
Owners: @hashicorp/packer

Also update docs
  website/source/docs/builders/docker.html.md
Owners: @hashicorp/packer

Also update docs
  website/source/docs/builders/docker.html.md
Owners: @hashicorp/packer

Also update docs
  website/source/docs/builders/docker.html.md
Owners: @hashicorp/packer

Elevated support for chef-client provisioner
  provisioner/chef-client/provisioner.go
  website/source/docs/provisioners/chef-client.html.md
Owners: @hashicorp/packer

Elevated support for chef-client provisioner
  provisioner/chef-client/provisioner.go
  website/source/docs/provisioners/chef-client.html.md
Owners: @hashicorp/packer

Elevated support for chef-client provisioner
  provisioner/chef-client/provisioner.go
  website/source/docs/provisioners/chef-client.html.md
Owners: @hashicorp/packer

s/provider/provisioner/
  website/source/docs/provisioners/puppet-masterless.html.md
  website/source/docs/provisioners/puppet-server.html.md
Owners: @hashicorp/packer

s/provider/provisioner/
  website/source/docs/provisioners/puppet-masterless.html.md
  website/source/docs/provisioners/puppet-server.html.md
Owners: @hashicorp/packer

s/provider/provisioner/
  website/source/docs/provisioners/puppet-masterless.html.md
  website/source/docs/provisioners/puppet-server.html.md
Owners: @hashicorp/packer

add new copy_in_compare flag so users can set the copy var to whatever they need in order to get the compatibility report to work.
  builder/hyperv/common/driver.go
  builder/hyperv/common/driver_mock.go
  builder/hyperv/common/driver_ps_4.go
  builder/hyperv/common/step_clone_vm.go
  builder/hyperv/vmcx/builder.go
  common/powershell/hyperv/hyperv.go
  website/source/docs/builders/hyperv-vmcx.html.md.erb
Owners: @taliesins, @hashicorp/packer

add new copy_in_compare flag so users can set the copy var to whatever they need in order to get the compatibility report to work.
  builder/hyperv/common/driver.go
  builder/hyperv/common/driver_mock.go
  builder/hyperv/common/driver_ps_4.go
  builder/hyperv/common/step_clone_vm.go
  builder/hyperv/vmcx/builder.go
  common/powershell/hyperv/hyperv.go
  website/source/docs/builders/hyperv-vmcx.html.md.erb
Owners: @taliesins, @hashicorp/packer

add new copy_in_compare flag so users can set the copy var to whatever they need in order to get the compatibility report to work.
  builder/hyperv/common/driver.go
  builder/hyperv/common/driver_mock.go
  builder/hyperv/common/driver_ps_4.go
  builder/hyperv/common/step_clone_vm.go
  builder/hyperv/vmcx/builder.go
  common/powershell/hyperv/hyperv.go
  website/source/docs/builders/hyperv-vmcx.html.md.erb
Owners: @taliesins, @hashicorp/packer

Fix previous change in patch #7030
  common/powershell/hyperv/hyperv.go
Owners: @hashicorp/packer

Fix previous change in patch #7030
  common/powershell/hyperv/hyperv.go
Owners: @hashicorp/packer

Fix previous change in patch #7030
  common/powershell/hyperv/hyperv.go
Owners: @hashicorp/packer

revert the hddorder being added to the vmx template, since it's breaking things for some of our users.
  builder/vmware/iso/step_create_vmx.go
Owners: @hashicorp/packer

revert the hddorder being added to the vmx template, since it's breaking things for some of our users.
  builder/vmware/iso/step_create_vmx.go
Owners: @hashicorp/packer

revert the hddorder being added to the vmx template, since it's breaking things for some of our users.
  builder/vmware/iso/step_create_vmx.go
Owners: @hashicorp/packer

Revert "Fix previous change introduced in patch #7030"
  common/powershell/hyperv/hyperv.go
Owners: @hashicorp/packer

Revert "Fix previous change introduced in patch #7030"
  common/powershell/hyperv/hyperv.go
Owners: @hashicorp/packer

Revert "Fix previous change introduced in patch #7030"
  common/powershell/hyperv/hyperv.go
Owners: @hashicorp/packer

azure: fix snapshot regression
  builder/azure/arm/builder.go
  builder/azure/arm/config.go
  builder/azure/arm/config_test.go
  builder/azure/arm/step_snapshot_data_disks.go
  builder/azure/arm/step_snapshot_data_disks_test.go
  builder/azure/arm/step_snapshot_os_disk.go
  builder/azure/arm/step_snapshot_os_disk_test.go
Owners: @boumenot

azure: fix snapshot regression
  builder/azure/arm/builder.go
  builder/azure/arm/config.go
  builder/azure/arm/config_test.go
  builder/azure/arm/step_snapshot_data_disks.go
  builder/azure/arm/step_snapshot_data_disks_test.go
  builder/azure/arm/step_snapshot_os_disk.go
  builder/azure/arm/step_snapshot_os_disk_test.go
Owners: @boumenot

azure: fix snapshot regression
  builder/azure/arm/builder.go
  builder/azure/arm/config.go
  builder/azure/arm/config_test.go
  builder/azure/arm/step_snapshot_data_disks.go
  builder/azure/arm/step_snapshot_data_disks_test.go
  builder/azure/arm/step_snapshot_os_disk.go
  builder/azure/arm/step_snapshot_os_disk_test.go
Owners: @boumenot
